/*
Theme Name: dangtho
Theme URI: http://wordpress.org/;
Author: tho dang hoang
Author URI: http://wordpress.org/
Description: Create wordpress template using html files
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: dangtho
*/

#categories-3 ul {
  display:  flex;
  flex-wrap: wrap;
  padding: 1.25rem;
}

.cat-item {
  width: 50%;
  list-style: none;
}

.page-item:first-child a {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.comment-respond {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: 1.5rem 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.form-submit {display: none;}

.c-inlineblock {
  display: inline-block;
  margin-bottom: 0;
}

.comment-list li {
  margin-bottom: 1.5rem;
  list-style: none;
}

.comment-list li:last-child {margin-bottom: 0;}

.comment-notes {margin: 10px 0 0 19px;}

.comment-author img {border-radius: 30px;}

.comment-form-url {display: none;}

.comment-form-email, .comment-form-author {margin-left: 22px;}

.logged-in-as {
  padding: 1.15rem 0 0 1.15rem;
  margin-bottom: 0;
}

.comment-author .fn {
  margin-left: 11px;
  font-weight: bold;
  font-size: 1.25rem;
  font-style: normal;
}

.says { display: none; }

.comment-meta {margin-left: 66px;}

.comment-data p {margin-left: 24px;}

.div-comment-4 p {margin-left: 13px;}

.comment-body p {
  margin-bottom: 0;
  margin-left: 66px;
}

.reply {margin-left: 64px;}

.children {
  margin-top: 20px;
  margin-left: 26px;
}

/*use for post*/
.comment-list {margin-bottom: 20px;}

/*use for img*/
.card-img-top {height: auto;}
