@charset "UTF-8";
.l-flex, .c-top3__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*------------------------------------------
*@mixin
------------------------------------------*/
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1440px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
    font-size: 1.2rem;
  }
}

/*----------------------------------------------
	Headline
----------------------------------------------*/
.l-wrap {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .l-wrap {
    width: 100%;
  }
}

/*------------------------------------------------
  flex
------------------------------------------------*/
/*------------------------------------------------
@layout header
------------------------------------------------*/
.l-header_top .c-logo {
  margin-bottom: 78px;
}

@media only screen and (max-width: 767px) {
  .l-header_top .c-logo {
    margin-bottom: 59px;
  }
}

.l-header_top .c-text1 {
  margin-bottom: 80px;
}

.l-header_top .c-text1 h1 {
  margin-bottom: 50px;
}

.l-header_sweets .c-logo {
  margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  .l-header_sweets .c-logo {
    margin-bottom: 59px;
  }
}

.l-header_sweets .c-text1 {
  margin-bottom: 80px;
}

.l-header_sweets .c-text1 h1 {
  margin-bottom: 50px;
}

/*------------------------------------------------
@layout for main title
------------------------------------------------*/
.l-main-title1 {
  margin-bottom: 41px;
}

@media only screen and (max-width: 767px) {
  .l-main-title1 {
    margin-bottom: 43px;
  }
}

/*------------------------------------------------
@layout component c-top3
------------------------------------------------*/
.l-top3 .c-main-btn1 {
  width: 30%;
  margin-top: 35px;
}

@media only screen and (max-width: 767px) {
  .l-top3 .c-main-btn1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-top: 26px;
  }
}

.l-top3 .c-top3__title1 {
  margin-bottom: 20px;
}

.l-top3 .mid {
  margin: 0 42px;
}

@media only screen and (max-width: 767px) {
  .l-top3 .mid {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .l-top3 .c-top3__box1 {
    margin-bottom: 38px;
  }
  .l-top3 .c-top3__box1:last-child {
    margin-bottom: 0;
  }
}

/*---------------------------------------------
  Component show following divice size.
---------------------------------------------*/
@media only screen and (max-width: 768px) {
  .c-pc {
    display: none;
  }
}

.c-sp {
  display: none;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block;
  }
}

.c-sp--inline {
  display: none;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block;
  }
}

/*-----------------------------------------
  menu Smartphone
-----------------------------------------*/
.c-menuSP {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 20px;
  right: 28px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 28px;
  height: 2px;
  background: #642200;
  margin: 7px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 999;
  display: none;
  background: rgba(255, 255, 255, 0.84);
}

.c-menulistSP ul {
  margin-top: 102px;
}

.c-menulistSP li {
  position: relative;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #642200;
  font-size: 1.8rem;
  padding: 17px 15px;
}

.c-menulistSP .c-nav__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 42%;
  margin: 24px auto 0;
}

.c-menulistSP .c-nav__child li img {
  width: 34px;
  height: 34px;
}

.c-menulistSP .c-nav__child a {
  padding: 0;
}

/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(3px, 2px);
          transform: rotate(45deg) translate(3px, 2px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(11px, -10px);
          transform: rotate(-45deg) translate(11px, -10px);
}

/*-----------------------------------------------
@Table
-----------------------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  border: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  width: 209px;
  background: #f6f6f6;
  font-weight: normal;
  border-right: 1px solid #d4d4d4;
}

.c-table1 table tr > th, .c-table1 table tr td {
  padding: 19px 20px 18px;
}

/*---------------------------------------------
*Header for all pages
---------------------------------------------*/
.c-header__inner {
  position: relative;
  display: block;
}

/*-------------------------------------------
@header for page Top
-------------------------------------------*/
.c-header__top .c-slider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .c-header__top .c-slider {
    height: auto;
    padding: 0;
  }
}

.c-header__top .c-slider img {
  width: 100%;
  height: 100%;
}

.c-header__top .c-content {
  position: absolute;
  display: block;
  width: 1000px;
  margin: 13% auto 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-header__top .c-content {
    width: 100%;
    margin: 36% auto 0;
  }
}

.c-header__top .c-text1 {
  font-size: 1.4rem;
  color: #fff;
}

.c-header__top .c-text1 h1 {
  font-size: 3.6rem;
  letter-spacing: 7px;
  font-family: Yu Mincho;
}

@media only screen and (max-width: 767px) {
  .c-header__top .c-text1 img.c-sp__img1 {
    width: 87%;
  }
}

@media only screen and (max-width: 767px) {
  .c-header__top .c-logo img {
    width: 110px;
  }
}

/*-------------------------------------------
@header for page Sweets
-------------------------------------------*/
.c-header__sweets .c-header__inner {
  height: 518px;
  background: url(../img/sweets/header_sweets.jpg) no-repeat left top;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-header__sweets .c-header__inner {
    height: 314px;
    background: url(../img/sweets/header_sweets2.jpg) no-repeat left top;
    background-size: cover;
  }
}

.c-header__sweets .c-content {
  position: absolute;
  display: block;
  width: 1000px;
  margin: 120px auto 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-header__sweets .c-content {
    width: 100%;
    margin: 86px auto 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-header__sweets .c-logo img {
    width: 110px;
  }
}

/*-------------------------------------------
@navigation
-------------------------------------------*/
.c-main-nav {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  width: 66%;
  margin: 0 auto;
}

.c-main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-main-nav a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}

.c-main-nav a:hover {
  opacity: 0.6;
}

.c-main-nav a:not(last-child) {
  margin-left: 10px;
}

.c-main-nav a img {
  width: 36px;
  height: 36px;
}

.c-main-nav .c-nav__child {
  position: relative;
  left: 12px;
}

/*-------------------------------------------
@class for lists
-------------------------------------------*/
.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*-------------------------------------------
@button class for all
-------------------------------------------*/
.c-btn1 a {
  display: block;
  text-decoration: none;
}

.c-main-btn1 {
  display: inline-block;
  width: 220px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .c-main-btn1 {
    width: 100%;
  }
}

.c-main-btn1 a {
  color: #fff;
  background: #642200;
  padding: 4px 0;
  font-size: 1.6rem;
  border: 2px solid #642200;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media only screen and (max-width: 767px) {
  .c-main-btn1 a {
    padding: 7px 0;
    font-size: 1.5rem;
  }
}

.c-main-btn1 a:hover {
  color: #642200;
  background: none;
}

/*--------------------------------------------
@main title use for all page
--------------------------------------------*/
.c-main-title1 h2 {
  font-family: Yu Mincho;
  font-size: 3.6rem;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 17px;
  color: #642200;
}

@media only screen and (max-width: 767px) {
  .c-main-title1 h2 {
    font-size: 2.0rem;
    margin-bottom: 15px;
  }
}

.c-main-title1 h3 {
  font-family: Myriad Pro;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #642200;
}

/*-------------------------------------------
@copyright
-------------------------------------------*/
.c-copyright {
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
}

/*-------------------------------------------
@footer
-------------------------------------------*/
.c-footer {
  display: block;
  position: relative;
  padding: 70px 0 90px;
  background: url(../img/footer_about.jpg) no-repeat top left;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-footer {
    padding: 50px 0 60px;
  }
}

.c-footer__inner {
  position: relative;
}

.c-footer .c-logo img {
  width: 69px;
  height: 83px;
}

.c-footer .c-contact {
  width: 50%;
  margin: 30px auto;
  font-size: 13px;
  color: #fff;
  padding: 30px 0;
  line-height: 2.5;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-contact {
    width: 90%;
    padding: 25px 0;
  }
}

.c-footer .c-contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background: #fff;
}

.c-footer .c-contact:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background: #fff;
}

.c-footer .c-links1 {
  margin-bottom: 33px;
}

.c-footer .c-links1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-footer .c-links1 a img {
  width: 36px;
  height: 36px;
}

.c-footer .c-links1 .mid {
  margin: 0 10px;
}

/*-------------------------------------------
@component top1
-------------------------------------------*/
.c-top1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-top1 {
    display: block;
  }
}

.c-top1 .c-box1 {
  width: 50%;
  height: 424px;
  display: block;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-top1 .c-box1 {
    width: 100%;
    height: 281px;
  }
}

.c-top1 .c-box1--bg1 {
  background: url(../img/bg_bake1.jpg) no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-top1 .c-box1--bg1 {
    background: url(../img/sp-bg_bake1.jpg) no-repeat center center;
    background-size: cover;
  }
}

.c-top1 .c-box1--bg2 {
  background: url(../img/bg_bake2.jpg) no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-top1 .c-box1--bg2 {
    background: url(../img/sp-bg_bake2.jpg) no-repeat center center;
    background: cover;
  }
}

.c-top1 .c-content1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 520px;
  margin: 0 auto;
  padding: 35px 70px;
  text-align: left;
  color: #642200;
  -webkit-transform: translate(0, 38%);
          transform: translate(0, 38%);
  background: rgba(249, 248, 247, 0.8);
}

@media only screen and (max-width: 767px) {
  .c-top1 .c-content1 {
    width: 90%;
    max-width: 275px;
    padding: 30px 20px;
    text-align: center;
    -webkit-transform: translate(0, 17%);
            transform: translate(0, 17%);
  }
}

.c-top1 .c-content1 h2 {
  margin: 20px 0 25px;
  font-size: 3.6rem;
  font-family: Yu Mincho;
}

@media only screen and (max-width: 767px) {
  .c-top1 .c-content1 h2 {
    font-size: 2.0rem;
    line-height: 1.6;
    margin: 24px 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-top1 .c-content1 h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.c-top1 .c-content1 .img1 {
  position: absolute;
  top: -18px;
  right: 36px;
}

@media only screen and (max-width: 767px) {
  .c-top1 .c-content1 .img1 {
    display: none;
  }
}

/*-------------------------------------------
@component top3
-------------------------------------------*/
@media only screen and (max-width: 767px) {
  .c-top3 {
    padding: 0 20px;
  }
}

.c-top3__flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-top3__flex {
    display: block;
  }
}

.c-top3__title1 h3 {
  display: inline-block;
  padding-bottom: 4px;
  font-weight: 500;
  color: #642200;
  border-bottom: 1px solid;
}

.c-top3__list1 .c-top3__card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .c-top3__list1 .c-top3__card1 {
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .c-top3__list1 .c-top3__img1 {
    width: 80px;
    text-align: left;
  }
  .c-top3__list1 .c-top3__img1 img {
    width: 100%;
    height: 100%;
  }
}

.c-top3__list1 .c-top3__info {
  padding: 7px 15px 6px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .c-top3__list1 .c-top3__info {
    width: 62%;
    padding: 15px 14px;
  }
}

.c-top3__list1 .date {
  color: #642200;
  margin-bottom: 10px;
}

.c-top3__box1 {
  position: relative;
  width: 30%;
}

@media only screen and (max-width: 767px) {
  .c-top3__box1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
}
