.p-top2 .c-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*------------------------------------------
*@mixin
------------------------------------------*/
/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*-------------------------------------------
@private component page Index
-------------------------------------------*/
.p-top2 {
  position: relative;
  padding: 90px 0;
  background: #fff3e1;
}

@media only screen and (max-width: 767px) {
  .p-top2 {
    padding: 60px 0;
  }
}

.p-top2__special1 {
  position: relative;
  color: #642200;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

@media only screen and (max-width: 767px) {
  .p-top2__special1 {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: center;
    margin-bottom: 44px;
  }
}

.p-top2__special1 h2 {
  font-family: Yu Mincho;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 10px;
}

@media only screen and (max-width: 767px) {
  .p-top2__special1 h2 {
    font-size: 2.0rem;
    letter-spacing: 5px;
    font-weight: bold;
  }
}

.p-top2__special1 .p-point {
  font-size: 1.4rem;
  margin-left: 12px;
}

@media only screen and (max-width: 767px) {
  .p-top2__special1 .p-point {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -26px;
    margin-left: auto;
    font-size: 11px;
    font-weight: bold;
  }
}

.p-top2 .c-box1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .p-top2 .c-box1 {
    display: block;
  }
}

.p-top2 .c-content1 {
  display: block;
  position: relative;
  width: 86%;
  padding-top: 20px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .p-top2 .c-content1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.p-top2 .c-content1 .c-text1 {
  margin-bottom: 20px;
  line-height: 2.1;
  color: #424242;
}

.p-top3 {
  position: relative;
  display: block;
  padding: 90px 0;
  background: #ff9c46;
}

@media only screen and (max-width: 767px) {
  .p-top3 {
    padding: 60px 0;
  }
}

/*-------------------------------------------
@private component page sweets
-------------------------------------------*/
.p-sweets1 {
  position: relative;
  padding: 84px 0 86px;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 {
    padding: 60px 20px 60px;
  }
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .c-box1 > .l-flex {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .c-box1 .c-img1 img {
    width: 150px;
  }
}

.p-sweets1 .c-box1--reverse .l-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-sweets1 .c-box1 .c-content1 {
  text-align: left;
  line-height: 2.2;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .c-box1 .c-content1 {
    line-height: 1.8;
  }
}

.p-sweets1 .c-box1 .c-content1 h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #642200;
  margin-bottom: 15px;
  line-height: 1.7;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .c-box1 .c-content1 h3 {
    margin: 28px 0 20px;
    font-size: 1.5rem;
  }
}

.p-sweets1 .c-box1 .c-content1--pl1 {
  padding-left: 50px;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .c-box1 .c-content1--pl1 {
    padding: 0;
  }
}

.p-sweets1 .c-box1 .c-content1--pr1 {
  padding-right: 50px;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .c-box1 .c-content1--pr1 {
    padding: 0;
  }
}

.p-sweets1 .c-box1 .c-main-btn1 {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .c-box1 .c-main-btn1 {
    margin-top: 29px;
  }
}

.p-sweets1 .p-line {
  margin: 68px 0 67px;
  border: 0.7px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 .p-line {
    margin: 27px 0;
  }
}

.p-sweets2 {
  position: relative;
  padding: 87px 0 90px;
  background: #fafafa;
}

@media only screen and (max-width: 767px) {
  .p-sweets2 {
    padding: 60px 20px 60px;
  }
}

.p-sweets2 .c-box1 .c-img1 img {
  width: 100%;
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .p-sweets2 .c-box1 .c-img1 img {
    height: auto;
  }
}

.p-sweets2 .c-box1 h2 {
  margin-bottom: 9px;
  padding-bottom: 17px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #642200;
  border-bottom: 1px dotted #642200;
}

@media only screen and (max-width: 767px) {
  .p-sweets2 .c-box1 h2 {
    margin-bottom: 14px;
    padding-bottom: 14px;
    font-size: 1.5rem;
  }
}

.p-sweets2 .c-box1 .c-content1 {
  padding: 48px 80px 0;
  text-align: left;
  line-height: 2.0;
}

@media only screen and (max-width: 767px) {
  .p-sweets2 .c-box1 .c-content1 {
    padding: 28px 0 0;
    line-height: 1.8;
  }
}

.p-sweets2 .c-box1 .c-content1 p:not(:last-child) {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .p-sweets2 .c-box1 .c-content1 p:not(:last-child) {
    margin-bottom: 0;
  }
}

.p-sweets3 {
  padding: 90px 0;
}

@media only screen and (max-width: 767px) {
  .p-sweets3 {
    padding: 60px 20px 60px;
  }
}

.p-sweets3 .c-box1 .c-list1__card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32%;
  padding: 36px 16px;
  text-align: left;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .p-sweets3 .c-box1 .c-list1__card1 {
    width: auto;
  }
  .p-sweets3 .c-box1 .c-list1__card1:not(:last-child) {
    margin-bottom: 25px;
  }
}

.p-sweets3 .c-box1 .c-list1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .p-sweets3 .c-box1 .c-list1 {
    display: block;
  }
}

.p-sweets3 .c-box1 .c-voice1 {
  text-align: center;
}

.p-sweets3 .c-box1 .c-voice1 img {
  width: 52px;
  height: 66px;
}

.p-sweets3 .c-box1 .c-info1 {
  line-height: 2.1;
  font-size: 1.4rem;
}

.p-sweets3 .c-box1 .c-info1 h3 {
  margin: 30px 0 20px;
  padding-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #642200;
  border-bottom: 2px dotted #ccc;
}

.p-sweets3 .c-box1 .c-main-btn1 {
  margin-top: 48px;
}

@media only screen and (max-width: 767px) {
  .p-sweets3 .c-box1 .c-main-btn1 {
    margin-top: 25px;
  }
}

.p-sweets3 .c-box1 .c-main-btn1 a {
  padding: 6px 0;
}

@media only screen and (max-width: 767px) {
  .p-sweets3 .c-box1 .c-main-btn1 a {
    padding: 5px 0;
  }
}
