@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/

/*--------------------------------------------------
  index.html
--------------------------------------------------*/
.p {
  //-----------------------
  &-top1 {
    //---------------------
    margin-bottom: 55px;
    //---------------------
    @include respond-to(768) {
      width: 280px;
      margin: 30px auto 30px;
      //-------------------
      .l-grid1 {display: block;}
      //-------------------
      .c-top1-boximg1 {
        margin-bottom: 10px;
        &:last-child {margin-bottom: 0;}
       }
      //-------------------
      &--mtSP1 {margin-top: 30px;}
      //-------------------
    }
    //---------------------
  }
  //-----------------------
  &-top2 {
    margin-bottom: 77px;
    //-------------------------
    @include respond-to(768) {
      width: 280px;
      margin: 0 auto 30px;
      &--mtSP1 {margin-top: 30px;}
      .c-top2--mb2 {margin-bottom: 0;}
    }
    //-------------------------
    &--ml1 {
      margin-left: 107px;
      //-----------------------
      @include ie() {
        width: 730px;
        //-----------------------
        @include respond-to(768) {
          width: auto;
        }
        //-----------------------
      }
      //-----------------------
      @include respond-to(768) {
        margin-left: 0;
      }
      //-----------------------
    }
    //-------------------------
    &--mb1 {
      margin-bottom: 36px;
      @include respond-to(768) {
        margin-bottom: 21px;
      }
    }
    //---------------------------
    &-btn1 {
      margin-top: 39px;
      margin-left: 27px;
      @include respond-to(768) {
        position: relative;
        display: block;
        padding: 20px 21px;
        margin-top: 0;
        margin-left: 0;
        text-align: left;
        a {
          text-decoration: none;
          color: #333333;
        }
      }
      //-----------------------
    }
    //-------------------------
    &-btn2 {
      margin-top: 37px;
      margin-left: -3px;
      //-----------------------
      @include respond-to(768) {
        position: relative;
        display: block;
        padding: 20px 21px;
        margin-top: 0;
        margin-left: 0;
        text-align: left;
        a {
          text-decoration: none;
          color: #333333;
        }
      }
      //-----------------------
    }
    //-------------------------
    &__mtit1 {
      text-align: left;
      //-------------------------
      @include respond-to(768) {
        text-align: center;
        img {width: 198px;}
      }
      //-------------------------
      &:before {
        content: url(../img/i-scrossline2.png);
        margin-right: 15px;
        position: relative;
        //-----------------------
        @include respond-to(768) {
          display: block;
          margin-right: 0;
          left: 0;
          zoom: 58%;
          -moz-transform: scale(0.58,0.58);
          //---------------------
          @include ie() {
            margin-left: 31%;
          }
          //---------------------
        }
        //-----------------------
      }
      //-----------------------
    }
    //-------------------------
    &__mtit2 {
      text-align: left;
      //-------------------------
      @include respond-to(768) {
        text-align: center;
        img {width: 140px;}
      }
      //-------------------------
      &:before {
        content: url(../img/i-scrossline2.png);
        margin-right: 14px;
        position: relative;
        //--------------------------
        @include respond-to(768) {
          display: block;
          left: 0;
          zoom: 58%;
          -moz-transform: scale(0.58,0.58);
          margin-right: 0;
          //---------------------
          @include ie() {
            margin-left: 31%;
          }
          //---------------------
        }
        //---------------------
      }
    }
    //-------------------------
    &-link1 {
      position: relative;
      display: block;
      text-decoration: none;
      color: #000000;
      @include respond-to(768) {
        padding: 20px 41px 20px 21px;
        border-bottom: 1px solid #d6d6d6;
        //-------------------
        .c-top2--mb1 {margin-bottom: 0;}
      }
      //---------------------
    }
    //-------------------------
    &--size1 {
      width: 568px;
      @include respond-to(768) {width: auto;}
    }
  }
  //-----------------------
  &-top3 {
    text-align: left;
    padding: 58px 0 54px;
    border-top: 1px solid #0075a9;
    border-bottom: 1px solid #e8e8e8;
    background: #f8f8f8;
    //---------------------
    h2 {
      font-size: 1.5rem;
      color: #003567;
    }
    //---------------------
    &--mb1 {margin-bottom: 36px;}
    //---------------------
    .c-abstractionbox {
      margin-left: 62px;
      &:first-child {margin-left: 0;}
    }
    //---------------------
    &--poleft1 {
      position: relative;
      left: 28px;
    }
    //---------------------
  }
  //-----------------------
  &-top4 {
    padding: 40px 0 36px;
    background: #ffffff;
    @include respond-to(768) {
      padding: 30px 0;
      border-top: 2px solid #0075a9;
      .c-linkimg {
        width: 280px;
        margin: 0 auto;
        .l-flexbox {flex-wrap: wrap;}
        li {
          &:nth-child(2n) { margin-bottom: 10px; }
          img {width: 135px;}
        }
      }
      //-------------------
    }
    //-------------------
  }
  //-----------------------
}

/*--------------------------------------------------
  transport.html
--------------------------------------------------*/
.p {
  //----------------------------
  &-trans1 {
    margin-top: 22px;
    //--------------------------
    &-item1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    //--------------------------
    &--mb1 { margin-bottom: 20px; }
    //--------------------------
    .c-trans1__mtit1 {margin-bottom: 34px;}
    //--------------------------
    &__posline1 {
      .c-imgbox1__info:before {left: 49%;}
    }
    //--------------------------

    &__img1bigpc {
      @include respond-to(1280) {
        width: 590px;
        height: 286px;
      }
      //------------------------
    }
    &__img2bigpc {
      height: 445px;
      @include respond-to(1280) {
        width: 285px;
        height: 286px;
      }
      //------------------------
    }
    //--------------------------
    &__img3bigpc {
      @include respond-to(1280) {
        width: 285px;
      }
      //------------------------
    }
  }
  //end p-trans1----------------
  &-trans2 {
    margin-top: 50px;
    margin-bottom: 50px;
    //--------------------------
    &--mb1 {margin-bottom: 35px;}
    //--------------------------
    &-btn1 {
      position: relative;
      top: 5px;
    }
    //--------------------------
    &-btn2 {
      position: relative;
      top: 10px;
    }
    //--------------------------
  }
  //end p-trans2----------------
  &-trans3 {margin-bottom: 77px;}
  //end p-trans3----------------
  &-trans4 {
    background: url(../img/transport/bg.jpg);
    padding: 41px 0 36px;
    //--------------------------
    &__boxphone {
      width:  232px;
      margin-left:  20px;
      text-align:  right;
      //------------------------
      .c-btn1 {margin-bottom: 4px;}
      //------------------------
    }
    //--------------------------
    &__title1 {
      h2 {font-size: 2.0rem;}
    }
    //--------------------------
  }
  //end p-trans4----------------
  &-trans5 {
    &--mt1 {margin-top: 20px;}
    &--mb1 {margin-bottom: 22px;}
  }
  //--------------------------
}
