header:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-top {
  position: absolute;
  right: 0;
  top: 0;
}

/*------------------------------------------------------------
	private element
------------------------------------------------------------*/
.p-index1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-index1-news1 {
  padding: 14px 14px 9px 0;
  position: relative;
}

.p-index1-bg1 {
  position: absolute;
  background: url(../img/i-bgnews.png) no-repeat;
  width: 453px;
  height: 100%;
  top: 0;
  left: -371px;
  z-index: -1;
}

.p-index1-news2 {
  padding: 11px 0 12px 44px;
}

.p-index1 .l--flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}

.p-index2 {
  padding: 51px 0 53px;
  background: url(../img/i-banner1.jpg) repeat top;
}

.p-index2-ban1 h2 {
  margin-top: 11px;
}

.p-index3 {
  margin-bottom: 8px;
  padding: 39px 0 30px;
  background: url(../img/i-bgabout.jpg) no-repeat;
  background-size: 100% 100%;
}

.p-index4 {
  height: 370px;
  overflow: hidden;
}

.p-index4-bg1 {
  height: 370px;
  background: url(../img/i-bgcross.png) no-repeat;
  position: absolute;
  width: 978px;
  z-index: -1;
  left: -128px;
}

.p-index5 {
  height: 370px;
  margin: 10px 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
}

.p-index5 .c-index-boxtext1 {
  left: 0;
}

.p-index5 .c-index__img {
  left: 413px;
  top: -152px;
}

.p-index5-bg1 {
  height: 370px;
  background: url(../img/i-flowbg.png) no-repeat;
  position: absolute;
  width: 978px;
  z-index: -1;
  left: -371px;
}

.p-index6 {
  margin-bottom: 9px;
}

.p-index6 .c-index__img {
  left: -373px;
  top: -105px;
}

/*---------------------------------
  profile.html
---------------------------------*/
.p-profile1 .c-banner {
  background: url(../img/profile/i-banner1.jpg) no-repeat;
}

.p-profile1 .c-title1__img1 {
  margin-bottom: 15px;
}

.p-profile2 {
  margin-bottom: 80px;
}

.p-profile2 .c-h2 {
  margin-bottom: 36px;
}

.p-profile2 .c-table1 {
  width: 700px;
  margin: 0 auto;
  text-align: left;
}

.p-profile2 .c-btn1 {
  display: inline-block;
  margin-top: 43px;
}

.p-profile3 {
  margin-bottom: 77px;
}

.p-profile3 .c-h2 {
  margin-bottom: 35px;
}

.p-profile3 iframe {
  width: 100%;
  height: 400px;
}

.p-profile3-mapinfo {
  margin-top: 24px;
  text-align: left;
  color: #333333;
}

.p-profile3-mapinfo p {
  margin-bottom: 5px;
}

.p-profile3-mapinfo p:last-child {
  margin-bottom: 0;
}

.p-profile3-mapinfo p img {
  margin-right: 8px;
}

/*---------------------------------
  business.html
---------------------------------*/
.p-business1 .c-banner {
  background: url(../img/business/i-banner1.jpg) no-repeat;
}

.p-business1 .c-title1__img1 {
  margin-bottom: 17px;
}

.p-business2 {
  margin-bottom: 76px;
}

.p-business2 .c-h2 {
  margin-bottom: 37px;
}

.p-business2 .c-imgtext1 {
  margin-bottom: 40px;
}

.p-business2 .c-imgtext1 :last-child {
  margin-bottom: 0;
}

/*---------------------------------
  work.html
---------------------------------*/
.p-work1 .c-banner {
  background: url(../img/work/i-banner1.jpg) no-repeat;
}

.p-work1 .c-title1__img1 {
  margin-bottom: 17px;
}

.p-work1 .c-title1 {
  margin-left: -3px;
}

.p-work2 {
  margin-bottom: 50px;
}

.p-work2 .c-h2 {
  margin-bottom: 35px;
}

/*---------------------------------
  flow.html
---------------------------------*/
.p-flow1 .c-banner {
  background: url(../img/flow/i-banner1.jpg) no-repeat;
}

.p-flow1 .c-title1__img1 {
  margin-bottom: 17px;
}

.p-flow1 .c-title1 {
  margin-left: -3px;
}

.p-flow2 {
  margin-bottom: 107px;
  color: #333333;
}

.p-flow2 .c-h2 {
  margin-bottom: 37px;
}

.p-flow2 .c-boxflow1 {
  margin-bottom: 41px;
}

.p-flow2 .c-boxflow1 .l--flex {
  margin-bottom: 0;
}

.p-flow2 .c-boxflow1:last-child {
  margin-bottom: 0;
}

.p-flow2 .c-boxflow1:last-child .c-boxflow1-tit1:after {
  content: '';
}

.p-flow2-boximg {
  background: #269eca;
  padding: 20px 19px 20px 20px;
  margin-top: 21px;
}

.p-flow2-boximg a:first-child {
  margin-right: 6px;
}

/*------------------------------
  commitment.html
-------------------------------*/
.p-commit1 .c-banner {
  background: url(../img/commit/i-banner1.jpg) no-repeat;
}

.p-commit1 .c-title1__img1 {
  margin-bottom: 17px;
}

.p-commit1 .c-title1 {
  margin-left: -3px;
}

.p-commit1 h2 {
  margin-left: 6px;
}

.p-commit2 {
  margin-bottom: 43px;
}

.p-commit2 .c-h2 {
  margin-bottom: 32px;
}

.p-commit2 .c-boxtext1 p {
  margin-bottom: 28px;
  line-height: 1.7;
}

.p-commit2 .c-boxtext1 p:last-child {
  margin-bottom: 0;
}

.p-commit3 {
  margin-bottom: 78px;
}

.p-commit3 .c-commit3 {
  margin-bottom: 59px;
}

.p-commit3 .c-commit3:last-child {
  margin-bottom: 0;
}

/*------------------------------
  contact.html
-------------------------------*/
.p-contact1 .c-banner {
  background: url(../img/contact/i-banner1.jpg) no-repeat;
}

.p-contact1 .c-title1__img1 {
  margin-bottom: 17px;
}

.p-contact1 .c-title1 {
  margin-left: -3px;
}

.p-contact2 {
  margin-bottom: 42px;
}

.p-contact2 .c-h2 {
  margin-bottom: 32px;
}

.p-contact2 .c-boxtext1 p {
  margin-bottom: 28px;
  line-height: 1.7;
}

.p-contact2 .c-boxtext1 p:last-child {
  margin-bottom: 0;
}

.p-contact3 {
  display: block;
  margin-bottom: 80px;
}

.p-contact3 .c-table1 {
  width: 700px;
  margin: 0 auto;
  text-align: left;
}

.p-contact3 .c-checkbox1 {
  display: inline-block;
  margin-right: 58px;
}
