@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
  min-width: 1120px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 15px;
	text-align: center;
  color: #393C45;
  //-----------------------------
  @include respond-to(750) {
    min-width: 100%;
		font-size: 13px;
	}
  //-----------------------------
}

//-------------------------------
button:hover, a:hover {
  //opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
  transition-timing-function: ease-in;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l-wrap {
  display: block;
  width: 980px;
  height: auto;
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
  @include respond-to(750) {
    max-width: 100%;
    padding: 0;
  }
}
//----------------------------------------------
.l-flexbox {
  display: flex;
  justify-content: space-between;
  //----------------------------
  &--acenter {align-items: center;}
  //----------------------------
  &--aend {align-items: flex-end;}
  //----------------------------
  &--reverse { flex-direction: row-reverse; }
  //----------------------------
  &--start { justify-content: flex-start; }
  //----------------------------
  &--center { justify-content: center; }
  //----------------------------
  &--wrap { flex-wrap: wrap; }
  //----------------------------
  &--spblock {
    @include respond-to(750) {display: block;}
  }
  //------------------------------------------
}

/*
*layout advance
*/
.l-advance1 {
  //---------------------------------
  .l-boxinfo1 {
    //-------------------------------
    &--mtb1 {
      margin: 97px 0 0 42px;
      //-----------------------------
      @include respond-to(750) {
        margin: 317px auto 0 auto;
      }
    }
    //-------------------------------
    &--mtb2 {
      margin: 71px 0 0 57px;
      //------------------------------
      @include respond-to(750) {
        margin: 303px auto 0 auto;
      }
      //-----------------------------
    }
    //-------------------------------
    &__obj1 {
      margin: 55px 0 0 42px;
      padding-bottom: 90px;
      //-----------------------------
      @include respond-to(750) {
        margin: 232px auto 0 auto;
        padding-bottom: 29px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  .l-text1 {
    //-------------------------------
    &--mb1 {
      margin-bottom: 24px;
    }
    //-------------------------------
    &--mb2 {
      margin-bottom: 39px;
    }
    //-------------------------------
    &--mb3 {
      margin-bottom: 41px;
      //-----------------------------
      @include respond-to(750) {
        margin-bottom: 27px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*
*layout adsbox1
*/
.l-top5__adsbox1 {
  //---------------------------------
  .l-ml1 {
    margin-left: 75px;
    //-------------------------------
    @include respond-to(750) {
      margin: 0 auto;
    }
    //-------------------------------
  }
  //---------------------------------
  .l-ml2 {
    margin-left: 44px;
    //-------------------------------
    @include respond-to(750) {
      margin: 0 auto;
    }
    //-------------------------------
  }
  //---------------------------------
}

/*
*layout footer
*/
.l-footer {
  //---------------------------------
  .l-mb51 {
    margin-bottom: 51px;
    //-------------------------------
    @include respond-to(750) {
      margin-bottom: 33px;
    }
    //-------------------------------
  }
  //---------------------------------
  .l-mb1 { margin-top: 4px; }
  //---------------------------------
  .c-list__link1 {
    margin-right: 58px;
    //-------------------------------
    @include respond-to(750) {
      margin-right: 0;
    }
    //-------------------------------
  }
  //---------------------------------
  .c-footer__boxlogo1 {
    margin-right: -14px;
    //-------------------------------
    @include respond-to(750) {
      margin-right: 0;
      margin-top: 6px;
    }
    //-------------------------------
  }
  //---------------------------------
  .l-list1 {
    .c-footer__card1 { margin-bottom: 33px; }
  }
  //---------------------------------
}

//-----------------------------------
//use library AOS to make animation for img
[data-aos="mask-anime"] {
  opacity: 0;
  //---------------------------------
  &:before {
    content: '';
    width: 0;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
  }
  //----------------------------------
  &.aos-animate {
    opacity: 1;
    &:before {
      animation: title_mask_img cubic-bezier(0.215, 0.57, 0.255, 1) 1.5s;
    }
    //--------------------------------
  }
  //----------------------------------
}

//use for create mask will run over the img box
@keyframes title_mask_img {
  0% {
    width: 100%;
    margin-left: -100%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    margin-left: 100%;
  }
}
