/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  display: block;
  width: 940px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*----------------------------------
  p-about
------------------------------------*/
.p-about1 {
  display: block;
  position: relative;
}

.p-about2 {
  padding: 60px 0 69px;
  background: -webkit-gradient(linear, left top, right top, from(#f8f1e3), to(#fdf5e6));
  background: -webkit-linear-gradient(left, #f8f1e3, #fdf5e6);
  background: linear-gradient(to right, #f8f1e3, #fdf5e6);
}

.p-about2 .c-box1 h2 {
  margin: 30px 0 19px;
  letter-spacing: 4px;
}

.p-about2 .c-box1__text1 {
  margin-bottom: 20px;
}

.p-about3 {
  padding: 76px 0 118px;
  background: #e5f5e9;
  position: relative;
  font-size: 18px;
}

.p-about3 h2 {
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 34px;
}

.p-about3 p {
  margin-bottom: 60px;
  letter-spacing: 4px;
}

.p-about4 {
  background: url(../img/top/i-bgcolor1.jpg) repeat;
}

.p-about4 p {
  margin-bottom: 36px;
}

/*---------------------------------------
  Event
---------------------------------------*/
.p-event1 .c-banner {
  background: url(../img/event/h-bg1.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-event2 {
  overflow: hidden;
}

.p-event2 h1 {
  margin-bottom: 36px;
}

.p-event2 .l--flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-event2 .c-event1-box1 {
  padding-left: 0;
  padding-right: 20px;
}

.p-event2__imgre1 {
  position: relative;
  right: -11px;
}

.p-event3 {
  padding: 54px 0 20px;
}

.p-event3 h1 {
  margin-top: 3px;
  margin-bottom: 38px;
  padding-bottom: 14px;
}

.p-event4 {
  padding-bottom: 65px;
  padding-top: 61px;
}

.p-event4 h1 {
  margin-top: -4px;
  margin-bottom: 39px;
}

/*---------------------------------------
  Top
---------------------------------------*/
.p-top1 {
  margin-top: 30px;
  padding-bottom: 60px;
}

.p-top1 .c-ad1, .p-top1 .c-ad2 {
  height: 150px;
  margin-top: 21px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .p-top1 .c-ad1, .p-top1 .c-ad2 {
    width: 460px;
  }
}

.p-top1 .c-ad1 .c-btncheck1 {
  margin: 111px 0 0 272px;
  width: 130px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0 0;
  font-size: 12px;
}

.p-top1 .c-ad2 .c-btncheck1 {
  margin: 97px 185px 0 0;
  padding: 7px 20px;
  margin: 99px 181px 0 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-top2 {
  padding: 70px 0 77px;
  background: url(../img/top/i-bgcolor2.jpg) repeat;
}

.p-top2 .l--flex img {
  border-radius: 5px;
}

.p-top2 .c-box-face {
  margin: 20px 0;
}

.p-top2 .c-boxi1__text1 {
  height: 75px;
  padding: 22px 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-top2 .c-boxi1__text1 h2 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.p-top2 .l-grid5 {
  margin-top: -5px;
}

.p-top2 .c-boxi1:nth-child(1) h2,
.p-top2 .c-boxi1:nth-child(2) h2 {
  font-size: 18px;
  margin-top: 4px;
}

.p-top2 .c-boxi1:nth-child(3) h2, .p-top2 .c-boxi1:nth-child(4) h2 {
  font-size: 16px;
  margin-top: -4px;
}

.p-top2 .c-boxi1:last-child .c-boxi1__text1 {
  padding: 13px 7px;
}

.p-class1 .c-banner {
  background: url(../img/class/h-bg1.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-class2 {
  margin: 43px 0 79px;
}

.p-class3 {
  margin-bottom: 42px;
}

.p-class3 .c-box3__text {
  border-radius: 5px 0 0 5px;
}

.p-class4 {
  margin-bottom: 40px;
}

.p-class4 .c-box4 {
  width: 222px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
}

.p-class5 {
  margin-bottom: 57px;
  text-align: left;
}

.p-class5 h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 24px;
  letter-spacing: 4px;
}

.p-class5 h3:before {
  content: '';
  display: inline-block;
  position: relative;
  top: -7px;
  width: 29px;
  height: 5px;
  margin-right: 20px;
  background: #fab445;
}

.p-class5__textleft {
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 3px;
}

.p-class5__textleft h2 {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 9px;
  border-bottom: 2px solid black;
  margin-bottom: 26px;
  letter-spacing: 4px;
}

.p-class5 .c-list1 {
  margin-left: 16px;
  margin-bottom: 37px;
  margin-top: 9px;
}

.p-class5 .c-list2 {
  margin-top: 20px;
  letter-spacing: 3px;
  text-align: justify;
}

.p-class5 .c-box4 {
  width: 460px;
  padding: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-class5--mar1 {
  margin-top: 24px !important;
  margin-bottom: 22px !important;
  margin-left: 34px !important;
  letter-spacing: 2px;
}

.p-class5--mar2 {
  margin-top: 67px !important;
  margin-bottom: 44px !important;
  margin-left: 32px !important;
  letter-spacing: 2px;
}

.p-class5--mar2 li:first-child .c--marlist2 {
  margin-left: 13px;
}

.p-class6 {
  margin-bottom: 63px;
}

.p-class6 .c-banbr h2 {
  margin-bottom: 25px;
  margin-left: 103px;
}

table {
  width: 940px;
  border-collapse: collapse;
}

th, td {
  padding: 24px 15px;
  font-weight: 400;
  border: 1px solid #00634b;
  text-align: center;
}

th {
  padding: 19px 22px;
  border: 1px solid #fff;
  background: #00634b;
  color: #fff;
}

.bg {
  background: #e5f5e9 !important;
}

.sTxt {
  font-size: 14px;
}

.rTxt {
  text-align: right;
}

.lTxt {
  text-align: left;
}
