@charset "UTF-8";
/*********************************************************************************
*
*　General
*
**********************************************************************************/
* {
  margin: 0 0;
  padding: 0 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 0;
  padding: 0 0;
  font-size: 1.4rem;
  color: #3c3c3c;
}

.bx-wrapper {
  border: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/*********************************************************************************
*
* Common
*
**********************************************************************************/
.c-flex, .c-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list li {
  padding: 10px 0;
}

.c-list li:before {
  content: "\f0da";
  font-family: "fontAwesome";
  color: #90c132;
  margin-right: 10px;
}

.c-list li:hover {
  color: #90c132;
}

.c-list li:hover a {
  text-decoration: underline;
}

.c-title {
  font-size: 2rem;
  color: #90c132;
  text-align: center;
}

.c-title:after {
  content: "";
  display: block;
  width: 200px;
  margin: 5px auto 0;
  border-top: 2px dotted #90c132;
}

.c-title--sub:after {
  width: 150px;
}

.c-title--page {
  font-size: 3.2rem;
  margin-bottom: 50px;
}

.c-title--block {
  font-size: 1.6rem;
  border-bottom: 1px dotted #3c3c3c;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.c-btn {
  border: 1px solid #90c132;
  color: #90c132;
  font-size: 1.4rem;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
}

.c-btn--small {
  line-height: 25px;
  width: 120px;
  margin: 0 auto;
}

.c-btn--small:before {
  content: "\f0da";
  font-family: "fontAwesome";
  color: inherit;
  margin-right: 5px;
}

.c-btn:hover {
  background-color: #90c132;
  color: #fff;
  border-bottom: 1px solid #3c3c3c;
}

.c-widget {
  margin-bottom: 30px;
}

.c-widget__title {
  background-color: #90c132;
  width: 100%;
  padding: 7px 0;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  border-bottom: 1px solid #3c3c3c;
}

.c-search form {
  width: 190px;
  margin-top: 10px;
  position: relative;
}

.c-search input[type=text] {
  width: 146px;
  height: 36px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ccc;
  padding: 0 35px 0 5px;
}

.c-search input[type=submit] {
  width: 35px;
  height: 36px;
  position: absolute;
  right: 2px;
  top: 1px;
  text-indent: 40px;
  background: url(../img/icon_search.png) no-repeat center #90c132;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.c-grouplink {
  margin: 30px auto 70px;
}

.c-grouplink--2 {
  overflow: hidden;
}

.c-grouplink--2 a:nth-child(2) {
  margin: 0 0 !important;
  float: right;
}

.c-grouplink a {
  display: inline-block;
}

.c-grouplink a:nth-child(2) {
  margin: 0 11px;
}

.c-label {
  padding: 5px 20px;
  display: inline-block;
  background-color: #90c132;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 3px;
}

.c-label--white {
  background-color: #fff;
  color: #3c3c3c;
  font-size: 1.4rem;
}

.c-pnav {
  margin-top: 70px;
  text-align: center;
}

.c-pnav a {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  background-color: #fff;
  border: 1px solid #90c132;
  text-align: center;
}

.c-pnav a.first:before {
  content: "\f100";
  font-family: "fontAwesome";
}

.c-pnav a.last:before {
  content: "\f101";
  font-family: "fontAwesome";
}

.c-pnav a:hover, .c-pnav a.active {
  background-color: #90c132;
  border: 1px solid #90c132;
  color: #fff;
}

/*********************************************************************************
*
* Component
*
**********************************************************************************/
.c-header {
  padding: 20px 0;
}

.c-header__top {
  overflow: hidden;
}

.c-header__top .logo {
  float: left;
}

.c-header__top .contact {
  width: 200px;
  float: right;
}

.c-nav ul {
  padding: 20px 0;
}

.c-nav li {
  width: 190px;
  text-align: center;
  position: relative;
  padding: 0 5px;
}

.c-nav li:hover a, .c-nav li.active a {
  background-color: #90c132;
  color: #fff;
}

.c-nav li:before {
  position: absolute;
  left: 0;
  top: 0px;
  content: url(../img/menu_00.png);
}

.c-nav li:last-child:after {
  position: absolute;
  right: 0;
  top: 0px;
  content: url(../img/menu_00.png);
}

.c-nav li a {
  display: block;
  padding: 10px 0;
}

.c-access__inner {
  width: auto;
  margin-bottom: 30px;
  border: 2px solid #90c132;
  border-radius: 5px;
}

.c-access__items .c-title {
  margin-bottom: 20px;
}

.c-access__items:first-child {
  padding: 50px;
  width: 396px;
}

.c-access__items:last-child {
  width: 500px;
}

.c-access__items p {
  line-height: 30px;
  text-align: center;
}

.c-access__items p span:first-child {
  margin-right: 30px;
}

.c-footer {
  border-top: 2px solid #90c132;
  margin-top: 100px;
}

.c-footer__logo {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
}

.c-footer__link {
  background-color: #90c132;
  color: #fff;
  font-size: 1.2rem;
  padding: 30px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.c-footer ul {
  text-align: center;
}

.c-footer li {
  display: inline-block;
  padding: 5px 10px;
}

.c-footer li a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.c-footer li a:hover {
  text-decoration: underline;
}

.c-footer .copyright {
  background-color: #90c132;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  padding: 20px 0;
}

/*********************************************************************************
*
* Layout
*
**********************************************************************************/
.l-container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.l-sidebar {
  width: 190px;
  float: left;
}

.l-main {
  width: 760px;
  float: right;
}

.l-btn {
  text-align: center;
}

/*********************************************************************************
*
* Project
*
**********************************************************************************/
.p-toppics {
  padding-bottom: 50px;
}

.p-toppics__list {
  width: 650px;
  margin: 20px auto;
}

.p-toppics__list li {
  padding: 15px 0;
}

.p-toppics__list span, .p-toppics__list a {
  display: inline-block;
}

.p-toppics__list a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.p-toppics__list .datepost {
  width: 100px;
  color: #90c132;
  font-size: 1.2rem;
}

.p-toppics__list .cat {
  width: 150px;
  font-size: 1.2rem;
}

.p-single .single_title {
  font-size: 1.6rem;
}

.p-single .single_info {
  border-bottom: 1px dotted #90c132;
  padding: 10px 0 5px;
  margin-bottom: 30px;
}

.p-single .single_info span:nth-child(1) {
  color: #90c132;
}

.p-single .single_info span:nth-child(2) {
  float: right;
}

.p-single .single_info a {
  float: right;
}

.p-single .single_info a:hover {
  text-decoration: underline;
}

.p-single .single_content h3 {
  border-bottom: 1px solid #3c3c3c;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 5px;
}

.p-single .single_content p {
  padding-bottom: 20px;
}

.p-single .groupbtn {
  margin-top: 50px;
}

.p-single .groupbtn li {
  display: block;
  width: 50%;
  float: left;
  line-height: 50px;
  background-color: #ececec;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #90c132;
}

.p-single .groupbtn li + li a {
  border-left: 1px solid #fff;
}

.p-single .groupbtn .prev_link a:before {
  content: "\f100";
  font-family: "fontAwesome";
  margin-right: 10px;
}

.p-single .groupbtn .next_link {
  text-align: right;
}

.p-single .groupbtn .next_link a:after {
  content: "\f101";
  font-family: "fontAwesome";
  margin-left: 10px;
}

.p-single .groupbtn a {
  display: block;
  padding: 0 20px;
}

.p-single .groupbtn a:hover {
  background-color: #90c132;
  color: #fff;
}

.p-service {
  line-height: 1.6;
}

.p-service__top {
  text-align: center;
  padding: 0px 0 50px;
}

.p-service__top .label_content {
  font-size: 2rem;
  padding: 15px 0 30px;
}

.p-service .service_items {
  background-color: #90c132;
  padding: 30px 50px;
  margin-bottom: 30px;
  border-radius: 5px;
}
