body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.c-wrap {
  position: relative;
  width: 950px;
  margin: 10px auto;
}

.card-container {
  cursor: pointer;
  height: 150px;
  position: relative;
  width: 150px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
}

.card--transX:hover { transform: rotateX(180deg); }

.back--transX { transform: rotateX(180deg); }

.card--transY:hover { transform: rotateY(180deg); }

.back--transY { transform: rotateY(180deg); }

.card--transY1:hover { transform: rotateY(-180deg); }

.back--transY1 { transform: rotateY(-180deg); }

.l-flexbox {
  display: flex;
  justify-content: space-around;
}
