@charset "UTF-8";
.l-bg3:after, .c-contact:after, .c-menu:after {
  display: block;
  clear: both;
  content: "";
}

.c-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

a, button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
.u-text--blue1 {
  color: #3b75b5 !important;
}

.u-text--gray {
  color: #a8a8a8;
  border-bottom: 1px solid #a8a8a8 !important;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1090px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------------------
  Layout Shouwa project
------------------------------------------------------------*/
.l {
  /*------------------------------------------------------------
  Layout page index.html(shouwa project)
  ------------------------------------------------------------*/
  /*------------------------------------------------------------
  Layout page news.html(shouwa project)
  ------------------------------------------------------------*/
}

.l--left {
  float: left;
}

.l--right {
  float: right;
}

.l-bg1 {
  background: #e7f5ff;
  margin-bottom: 94px;
}

.l-bg2 {
  margin-bottom: 80px;
  overflow: hidden;
  height: 353px;
}

.l-bg3 {
  padding: 80px 0;
  margin-bottom: 74px;
  background: #f5f5f5;
  overflow: hidden;
  height: 353px;
  position: relative;
}

.l-bg3 .c-box1 p {
  margin-bottom: 85px;
}

.l-bg4 {
  display: block;
  padding: 37px 0 33px;
  background-color: #003c7f;
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.l-banner--mb100 {
  margin-bottom: 100px;
}

.l-news2--mb1 {
  margin-bottom: 119px !important;
}

.l-news2--mb2 {
  margin-bottom: 116px !important;
}

.l-news2--mb3 {
  margin-bottom: 171px !important;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
  Component index
------------------------------------------------------------*/
.c-box--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 736px) {
  .c-box {
    display: block;
  }
}

/*------------------------------------------------------------
  Component index
------------------------------------------------------------*/
.c-head__text1 {
  color: white;
  text-align: left;
  padding: 9px 0;
  font-size: 1.3rem;
  float: left;
}

.c-contact {
  padding-top: 4px;
  text-align: left;
  color: white;
  font-size: 1.12rem;
}

.c-contact li {
  padding-left: 7px;
  display: inline-block;
  vertical-align: middle;
}

.c-contact li:first-child {
  padding-top: 1px;
  padding-left: 0;
}

.c-contact li:last-child {
  padding-left: 16px;
}

.c-menu {
  padding: 15px 0 8px;
  background: #ffffff;
}

.c-nav1 {
  float: right;
  padding-top: 6px;
}

.c-nav1 ul {
  height: 43px;
  background: url(../img/line-menu.png) no-repeat right 1px;
}

.c-nav1 ul li {
  float: left;
  padding: 0 1px;
  background: url(../img/line-menu.png) no-repeat left top;
}

.c-nav1 ul li:first-child {
  padding-left: 3px;
}

.c-nav1 ul a {
  display: block;
}

.c-nav1 ul .menu1-hover:hover a {
  background: url(../img/menu1-hover.png) no-repeat left top;
}

.c-nav1 ul .menu2-hover:hover a {
  background: url(../img/menu2-hover.png) no-repeat left top;
}

.c-nav1 ul .menu3-hover:hover a {
  background: url(../img/menu3-hover.png) no-repeat left top;
}

.c-nav1 ul .menu4-hover:hover a {
  background: url(../img/menu4-hover.png) no-repeat left top;
}

.c-nav1 ul .menu5-hover:hover a {
  background: url(../img/menu5-hover.png) no-repeat left top;
}

.c-nav1 ul .menu6-hover:hover a {
  background: url(../img/menu6-hover.png) no-repeat left top;
}

.c-banner {
  background: url(../img/slide.jpg) no-repeat left top;
  background-size: 100% 100%;
  height: 757px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 76px;
}

.c-banner h1 {
  margin-left: 590px;
}

.c-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 115px 0 0;
  padding: 29px 0;
}

.c-news-col1 {
  padding: 0 34px 0 0;
  text-align: center;
}

.c-news-col1 h2 {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 19px;
  color: black;
  text-align: center;
}

.c-news-col1 h3 {
  margin: 12px 0;
  font-size: 11px;
  color: #4677a9;
}

.c-news-col2 {
  padding-left: 39px;
}

.c-news-col2 dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  padding-bottom: 24px;
}

.c-news-col2 dl dt {
  color: #0361a7;
}

.c-news-col2 dl dd {
  margin-left: 47px;
  padding-bottom: 0px;
  font-weight: 500;
  border-collapse: collapse;
}

.c-news-col2 dl dd:last-child {
  padding-bottom: 0;
}

.c-box1 {
  width: 478px;
  font-size: 14px;
  text-align: left;
  letter-spacing: 1px;
}

.c-box1__text1 {
  margin-top: 19px;
  margin-bottom: 37px;
}

.c-box1--right {
  float: right;
}

.c-box1 h2 {
  margin-bottom: 17px;
}

.c-box1--auto {
  width: auto !important;
}

.c-box2 {
  width: 761px;
  float: right;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.c-box2--left {
  float: left;
}

.c-box2--trans0 {
  -webkit-transform: none;
          transform: none;
}

.c-fbanner img {
  width: 100%;
}

.c-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  color: white;
  font-size: 12px;
}

.c-footer-box1 p {
  margin-top: 13px;
}

.c-footer-box1 img {
  width: 342px;
  height: 64px;
}

.c-footer-box2 {
  border-left: 1px solid #608fbf;
  padding-left: 27px;
  margin-left: -44px;
}

.c-footer .c-list a {
  text-decoration: none;
  color: white;
}

/*------------------------------------------------------------
  Component table
------------------------------------------------------------*/
.c-list1 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-company__text {
  text-align: left;
  font-size: 1.4rem;
}

/*-----------------------------------------------
Table
-----------------------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  border-top: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  width: 179px;
  color: #0361a7;
  background: #e7f5ff;
  padding: 22px 0 22px 41px;
}

.c-table1 table tr td {
  padding-left: 40px;
}

/*------------------------------------------------------------
  Component banner2
------------------------------------------------------------*/
.c-banner2 {
  height: 277px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 76px;
}

.c-banner2 h1 {
  margin: 34px auto 0 4px;
}

/*------------------------------------------------------------
  Component business
------------------------------------------------------------*/
.c-business1 {
  text-align: left;
  font-size: 1.4rem;
  padding: 39px 40px 32px;
  border: 1px solid #009fbb;
}

.c-business1__text {
  width: 523px;
}

.c-business1__text h2 {
  font-size: 2.2rem;
  color: #025995;
  margin-bottom: 13px;
}

.c-business1__text h2 > .smallbox {
  position: relative;
  width: 18px;
  height: 18px;
  background: #009fbb;
  margin-right: 5px;
  margin-top: 0;
  display: inline-block;
  top: 1px;
}

.c-business1__text p {
  margin-bottom: 19px;
}

.c-business1__text p:last-child {
  margin-bottom: 0;
}

/*-----------------------------------------------------
  form
-----------------------------------------------------*/
.c-form1 table {
  border-bottom: none;
}

.c-form1 table tr {
  border-top: none;
}

.c-form1 table tr > th {
  background: none;
  width: 157px;
  padding: 22px 0 22px 2px;
}

.c-form1 table td {
  padding-left: 0px !important;
}

.c-form1 table td:nth-of-type(1) {
  width: 42px;
  padding-right: 34px;
}

.c-form1 table td input[type="text"] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 55px;
  padding: 0 20px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  border: none;
}

.c-form1 table td input.u-contact1__input1 {
  width: 133px;
  margin: 0 8px 0;
}

.c-form1 table td select {
  width: 177px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 46px;
  padding: 0 17px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  border: none;
  background: url(../img/contact/arrow.png) no-repeat 147px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
}

.c-form1 table td:last-child {
  padding-left: 0 !important;
}

.c-form1 table textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 15px;
  resize: none;
  border: none;
}

.c-btn2 {
  background: #0362a8;
  color: white;
  padding: 2px 7px;
  text-decoration: none;
}

.c-btn2--gray {
  background: #8c8b8b;
}
