header:after {
  display: block;
  clear: both;
  content: "";
}

.wrap {
  position: relative;
}

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  display: block;
  width: 1082px;
  height: auto;
  margin: 0 auto;
  z-index: 999;
}

header {
  width: 100%;
  background: #015294;
  padding: 4px 0 6px;
}

footer {
  position: relative;
  font-size: 12px;
}

.copy-right {
  text-align: left;
  color: #608fbf;
  font-size: 1.4rem;
  background-color: #002f64;
  padding: 13px 0;
}

.btn-top {
  position: absolute;
  right: 91px;
  top: 164px;
}

/*------------------------------------------------------------
	private element
------------------------------------------------------------*/
/*------------------------------------------------------------
  index.html
------------------------------------------------------------*/
.p-index1 {
  margin-bottom: 131px;
}

.p-index1 .c-box1 p {
  line-height: 1.9rem;
  margin-bottom: 91px;
}

.p-index1 .c-box1 h2 {
  margin-bottom: 21px;
}

.p-index1 .c-box2 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.p-index2 .c-box1 h2 {
  margin-left: 5px;
}

.p-index2 .c-box1 p {
  margin-left: 8px;
}

.p-index2 .c-btn1 {
  margin-left: 7px;
}

.p-index2__box1 {
  width: 736px;
  position: absolute;
}

/*------------------------------------------------------------
  news
------------------------------------------------------------*/
.p-news1 .c-banner {
  height: 277px;
  margin-bottom: 118px;
  background: url(../img/news/slide.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-news1 .c-banner h1 {
  margin: 34px auto 0 4px;
}

.p-news2-tit1 {
  display: block;
  text-align: left;
  margin-bottom: 26px;
}

.p-news2-tit1 p {
  font-size: 1.7rem;
  color: #009fbb;
  font-weight: bold;
}

.p-news2-tit1 p > img {
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.p-news2 h2 {
  margin-bottom: 9px;
  font-size: 2.0rem;
  color: #025995;
  padding-bottom: 7px;
  border-bottom: 1px solid #025995;
}

.p-news2 .l--flex {
  margin-bottom: 0;
}

.p-news2 .c-box1__text1 {
  width: 590px;
  height: auto;
  font-size: 1.4rem;
  text-align: left;
  margin: 0;
}

.p-news2 .c-box1__text1 p {
  margin-bottom: 16px;
}

.p-news2 .c-box1__text1 p:last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------
  company
------------------------------------------------------------*/
.p-company1 .c-banner {
  height: 277px;
  margin-bottom: 118px;
  background: url(../img/company/slide.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-company1 .c-banner h1 {
  margin: 32px auto 0 4px;
}

.p-company2 {
  margin-bottom: 80px;
}

.p-company2 p {
  margin-bottom: 18px;
}

.p-company2 h1 {
  margin-bottom: 38px;
}

.p-company2__img1 {
  text-align: right;
  margin-top: 50px;
}

.p-company3 {
  padding: 78px 0;
  background: #f7f7f7;
}

.p-company3 .c-table1 {
  margin-top: 24px;
}

.p-company3 .c-table1 table tr:nth-of-type(4) > td {
  padding-left: 37px;
  padding-bottom: 18px;
  line-height: 21px;
}

.p-company4 {
  margin: 80px auto 74px;
}

.p-company4 .c-list1 {
  margin-top: 30px;
  margin-bottom: 51px;
}

.p-company4 .c-list1__text {
  margin-top: 4px;
}

.p-company4 .c-list1:last-child {
  margin-bottom: 0;
}

.p-company5 {
  padding: 80px 0 130px;
  background: #f7f7f7;
}

.p-company5 #map {
  margin-top: 11px;
}

.p-company5 iframe {
  width: 100%;
  margin-top: 13px;
}

.p-company2 h2, .p-company3 h2, .p-company4 h2, .p-company5 h2 {
  margin-bottom: 18px;
}

/*------------------------------------------------------------
  business
------------------------------------------------------------*/
.p-business1 {
  margin-bottom: 120px;
}

.p-business1 .c-banner2 {
  background: url(../img/business/slide.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-business2 {
  margin-bottom: 80px;
}

.p-business2 .l--flex {
  margin-bottom: 0;
}

.p-business2--mb1 {
  margin-bottom: 131px;
}

/*------------------------------------------------------------
  case
------------------------------------------------------------*/
.p-case1 {
  margin-bottom: 120px;
}

.p-case1 .c-banner2 {
  background: url(../img/case/slide.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-case2 {
  margin-bottom: 78px;
}

.p-case2 .c-list1 {
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-case2 .c-list1 li {
  margin-top: -2px;
}

.p-case2 .c-list1 li:nth-of-type(odd) {
  margin-left: 40px;
  margin-right: 40px;
}

.p-case3 {
  margin-bottom: 80px;
}

.p-case3--mb1 {
  margin-bottom: 122px;
}

.p-case3 h1 {
  font-size: 23px;
  color: #025995;
  padding-bottom: 9px;
  margin-bottom: 59px;
  border-bottom: 1px solid #025995;
}

.p-case3 h2 {
  font-size: 23px;
  color: #025995;
  padding: 12px 18px;
  margin-bottom: 27px;
  text-align: left;
  background: #e1f0fa;
}

.p-case3 .c-table1 {
  text-align: left;
  font-size: 1.4rem;
  width: 570px;
}

.p-case3 table {
  border-bottom: 1px solid #d8d7d7;
}

.p-case3 table tr {
  border-top: 1px solid #d8d7d7;
}

.p-case3 table tr > th {
  width: 105px;
  padding: 18px 0 16px 28px;
  background: none;
}

.p-case3 table tr > td {
  padding-left: 25px;
}

.p-case3 .l--flex {
  margin-bottom: 0;
}

/*------------------------------------------------------------
  recruit
------------------------------------------------------------*/
.p-recruit1 {
  margin-bottom: 120px;
}

.p-recruit1 .c-banner2 {
  background: url(../img/recruit/slide.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-recruit2 {
  margin-bottom: 88px;
  text-align: left;
  font-size: 1.4rem;
}

.p-recruit2 .c-box1__text1 {
  margin: 0;
  width: 671px;
}

.p-recruit2 .c-box1__text1 p {
  margin-bottom: 18px;
}

.p-recruit2 .c-box1__text1 h2 {
  margin-bottom: 17px;
}

.p-recruit3 {
  margin-bottom: 87px;
  padding: 74px 0;
  background: #f7f7f7;
}

.p-recruit3 table td {
  padding-bottom: 20px;
}

.p-recruit3 table td > span {
  display: block;
  margin-bottom: -2px;
}

.p-recruit4 {
  text-align: left;
  padding: 36px 41px;
  background: url(../img/recruit/i-img2.jpg) no-repeat top;
  margin-bottom: 58px;
  height: 243px;
}

.p-recruit4 h1 {
  margin-bottom: 27px;
}

.p-recruit4 button {
  border-radius: 4px;
}

/*------------------------------------------------------------
  contact
------------------------------------------------------------*/
.p-contact1 {
  margin-bottom: 114px;
}

.p-contact1 .c-banner2 {
  background: url(../img/contact/slide.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.p-contact1 .c-banner2 h1 {
  margin-left: 9px;
}

.p-contact2 {
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 80px;
}

.p-contact2 p {
  margin-bottom: 15px;
}

.p-contact2 h2 {
  padding-left: 2px;
  margin-bottom: 8px;
}

.p-contact3 {
  padding: 72px 0 89px;
  text-align: left;
  font-size: 1.4rem;
  background: #f7f7f7;
}

.p-contact3 h2 {
  padding-left: 1px;
}

.p-contact3 .c-checkbox1 {
  display: inline-block;
  margin-right: 58px;
}

.p-contact4 {
  margin: 50px 0 129px 43px;
}
