@charset "UTF-8";
.c-taishin2__info1:after, .c-dannetu2__info1:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Img show on Smartphone creen
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 960px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
    font-size: 1.2rem;
  }
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

a {
  text-decoration: none;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flexbox--acenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flexbox--aEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.l-flexbox--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.l-flexbox--flexstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-flexbox--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-flexbox--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .l-flexbox--spblock {
    display: block;
  }
}

.l-box--posRelative {
  position: relative;
}

.l-copyright {
  margin-left: -3px;
  letter-spacing: 1px;
}

/*------------------------------------------------
  layout for banner in index.html
------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .l-banner1 {
    margin-top: 88px;
  }
}

/*------------------------------------------------
  layout for ads Box in index.html
------------------------------------------------*/
.l-ads .c-ads__line {
  margin-bottom: 27px;
}

@media only screen and (max-width: 768px) {
  .l-ads .c-ads__line {
    margin-bottom: 14px;
  }
}

/*------------------------------------------------------------
  Headline
------------------------------------------------------------*/
.c-wrap {
  display: block;
  width: 960px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-wrap {
    width: 100%;
  }
}

/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .c-pc {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-menuSP {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -10px;
  right: 10px;
  width: 46px;
  height: 47px;
  padding-top: 12px;
  cursor: pointer;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #73C3C4;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 44%;
  height: 1px;
  background: #73C3C4;
  margin: 5px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: fixed;
  top: 0;
  right: -65%;
  width: 182px;
  height: 100%;
  padding-top: 30px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background: #73C3C4;
}

.c-menulistSP--show {
  display: block;
  right: 0;
  opacity: 1;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .c-menulistSP {
    display: none;
  }
}

.c-menulistSP li {
  position: relative;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 13px;
  padding: 19px 29px;
}

/*----------------------------------
  header SP
----------------------------------*/
.c-headSP {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 17px 15px;
  text-align: left;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.c-headSP-btn1 {
  margin-right: 7px;
}

.c-headSP-btn1 img {
  width: 62px;
}

.c-headSP__logo img {
  width: 138px;
}

/*---------------------------------
*button component
---------------------------------*/
.c-btn1 {
  display: inline-block;
}

.c-btn1 a {
  display: block;
}

.c-btn1__imghead1 img {
  width: 207px;
  height: 44px;
}

.c-btn1__imghead2 img {
  width: 208px;
  height: 44px;
}

.c-btn1__img1 img {
  width: 403px;
  height: 84px;
}

@media only screen and (max-width: 768px) {
  .c-btn1__img1 img {
    width: 202px;
    height: 42px;
  }
}

/*---------------------------------
*Index's component
---------------------------------*/
@media only screen and (max-width: 768px) {
  .c-infoBox__cardImg img {
    width: 84px;
  }
}

.c-infoBox__cardInfo {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .c-infoBox__cardInfo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 65%;
    margin-right: 2px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .c-infoBox__cardInfo {
    width: 64%;
  }
}

.c-infoBox__cardInfo a {
  text-decoration: none;
  color: #000;
}

.c-infoBox__cardInfo h3 {
  font-size: 24px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .c-infoBox__cardInfo h3 {
    font-size: 18px;
  }
}

.c-infoBox__cardInfo .l--mb1 {
  margin-bottom: 8px;
}

.c-infoBox__tel {
  position: relative;
  font-size: 35px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 768px) {
  .c-infoBox__tel {
    font-size: 25px;
    line-height: 1.4;
  }
}

.c-infoBox__tel:before {
  content: url(../img/i-telimg1.svg);
  position: absolute;
  top: 2px;
  left: 0;
  width: 44px;
  margin-right: 3px;
  vertical-align: baseline;
}

@media only screen and (max-width: 768px) {
  .c-infoBox__tel:before {
    top: 3px;
    -webkit-transform: scale(0.71);
            transform: scale(0.71);
    -webkit-transform-origin: 0;
            transform-origin: 0;
    -moz-transform: scale(0.71);
  }
}

.c-infoBox__tel > span {
  margin-left: 50px;
}

@media only screen and (max-width: 768px) {
  .c-infoBox__tel > span {
    margin-left: 34px;
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .c-infoBox__tel > span {
    margin-left: 36px;
  }
}

/*---------------------------------
*header component(for pc)
---------------------------------*/
.c-header__logo {
  display: inline-block;
  margin-left: -15px;
}

@media only screen and (max-width: 768px) {
  .c-header__logo {
    margin-left: -2px;
  }
}

.c-header__logo .c-box1 .c-img1 {
  margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .c-header__logo .c-box1 .c-img1 {
    margin-bottom: 3px;
  }
}

.c-header__logo .c-box1 .c-img1 img {
  width: 349px;
  height: 54px;
}

@media only screen and (max-width: 768px) {
  .c-header__logo .c-box1 .c-img1 img {
    width: 150px;
    height: 27px;
  }
}

@media only screen and (max-width: 768px) {
  .c-header__logo .c-box2 .c-img1 {
    margin-right: 2px;
  }
}

.c-header__logo .c-box2 .c-img1 img {
  width: 83px;
}

@media only screen and (max-width: 768px) {
  .c-header__logo .c-box2 .c-img1 img {
    width: 36px;
  }
}

.c-header__logo .c-box2 .c-img2 img {
  width: 261px;
}

@media only screen and (max-width: 768px) {
  .c-header__logo .c-box2 .c-img2 img {
    width: 115px;
  }
}

.c-headPC1 {
  padding: 37px 0 27px;
}

.c-headPC1-btn1 {
  position: absolute;
  right: 4px;
  top: 89px;
}

.c-headPC1-btn1 img {
  width: 220px;
}

.c-head2 {
  position: relative;
  padding: 18px 0 8px;
}

.c-head2-logo {
  text-align: left;
}

.c-head2-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-head2-menu li {
  margin-right: 25px;
}

.c-head2-menu li a:before {
  content: url(../img/i-arrow1.png);
  position: relative;
  top: -2px;
  margin-right: 7px;
}

.c-head2-menu li:nth-child(1) img {
  width: 99px;
}

.c-head2-menu li:nth-child(2) img {
  width: 38px;
}

.c-head2-menu li:nth-child(3) img {
  width: 115px;
}

.c-head2-menu a {
  text-decoration: none;
}

.c-head2-menubox1 {
  position: relative;
  top: -14px;
  left: -4px;
  white-space: nowrap;
}

.c-head2-btn1 {
  position: relative;
  top: -4px;
}

.c-head2__imgText {
  position: relative;
  text-align: left;
}

.c-head2__imgText img {
  width: 363px;
  height: 13px;
}

@media only screen and (max-width: 768px) {
  .c-head2__imgText img {
    width: 150px;
    height: 19px;
  }
}

.c-head2__imgText--mb1 {
  margin-bottom: 2px;
}

.c-head2__mainimg1 img {
  width: 64px;
}

@media only screen and (max-width: 768px) {
  .c-head2__mainimg1 img {
    width: 36px;
  }
}

.c-head2__mainimg1 .l-flexbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-head2__mainimg1--mb1 {
  margin-bottom: 7px;
}

@media only screen and (max-width: 768px) {
  .c-head2__mainimg1--mb1 {
    margin-bottom: 3px;
  }
}

.c-head2__childimg1 {
  display: inline-block;
}

.c-head2__childimg1 img {
  width: 64px;
}

@media only screen and (max-width: 768px) {
  .c-head2__childimg1 img {
    width: 36px;
    vertical-align: middle;
  }
}

.c-head2__childimg1--mr1 {
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .c-head2__childimg1--mr1 {
    margin-right: 2px;
  }
}

.c-head2__childimg2 img {
  width: 196px;
}

@media only screen and (max-width: 768px) {
  .c-head2__childimg2 img {
    width: 115px;
  }
}

.c-headSP .c-logo {
  display: inline-block;
  margin-left: -15px;
}

@media only screen and (max-width: 768px) {
  .c-headSP .c-logo {
    margin-left: -2px;
  }
}

/*---------------------------------
*banner
---------------------------------*/
.c-banner1 {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-banner1 > img {
  width: 100%;
}

.c-banner1-boxinfo1 {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: left;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxinfo1 {
    left: 8%;
  }
}

.c-banner1-boxinfo1 img {
  width: 100%;
}

.c-banner1-boxinfo1--size1 {
  width: 20%;
  max-width: 401px;
  height: 44%;
  max-height: 180px;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxinfo1--size1 {
    width: 56%;
    height: 37%;
    max-width: 100%;
    max-height: 100%;
  }
}

.c-banner1-boxinfo1--size1 h2 {
  margin-bottom: 10%;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxinfo1--size1 h2 {
    margin-bottom: 7%;
  }
}

.c-banner1-boxinfo1--size2 {
  width: 23%;
  height: 44%;
  max-width: 453px;
  max-height: 193px;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxinfo1--size2 {
    width: 71%;
    height: 44%;
    max-width: 100%;
    max-height: 100%;
  }
}

.c-banner1-boxinfo1--size3 {
  width: 30%;
  max-width: 584px;
  height: 42%;
  max-height: 219px;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxinfo1--size3 {
    width: 78%;
    height: 40%;
    max-width: 100%;
    max-height: 100%;
  }
}

.c-banner1-boxinfo1--mb2 {
  margin-bottom: 7%;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxinfo1--mb2 {
    margin-bottom: 4%;
  }
}

.c-banner1-boxinfo1--mb3 {
  margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxinfo1--mb3 {
    margin-bottom: 5%;
  }
}

.c-banner1-boxText1 {
  position: absolute;
  top: 112px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxText1 {
    margin-left: 30px;
  }
}

.c-banner1-boxText1--mb1 {
  margin-bottom: 39px;
}

@media only screen and (max-width: 768px) {
  .c-banner1-boxText1--mb1 {
    margin-bottom: 20px;
  }
}

.c-banner1-boxText1--mb2 {
  margin-bottom: 26px;
}

.c-banner1--size1 {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .c-banner1--size1 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .c-banner1__img2infil {
    width: 120%;
  }
}

.c-banner1__img2dannetu {
  width: 69%;
}

@media only screen and (max-width: 768px) {
  .c-banner1__img2dannetu {
    width: 71%;
  }
}

/*---------------------------------
*title
---------------------------------*/
.c-title1--mb1 {
  margin-bottom: 26px;
}

@media only screen and (max-width: 768px) {
  .c-title1--mb1 {
    margin-bottom: 16px;
  }
}

.c-title1--mb2 {
  margin-bottom: 36px;
}

@media only screen and (max-width: 768px) {
  .c-title1--mb2 {
    margin-bottom: 16px;
  }
}

.c-title1__img1 img {
  width: 164px;
  height: 84px;
}

@media only screen and (max-width: 768px) {
  .c-title1__img1 img {
    width: 84px;
    height: 44px;
  }
}

.c-title1__maintitleimg2 img {
  width: 386px;
  height: 82px;
}

@media only screen and (max-width: 768px) {
  .c-title1__maintitleimg2 img {
    width: 192px;
    height: 40px;
  }
}

.c-title1__maintitleimg3 img {
  width: 247px;
  height: 82px;
}

@media only screen and (max-width: 768px) {
  .c-title1__maintitleimg3 img {
    width: 123px;
    height: 40px;
  }
}

/*---------------------------------
*list1
---------------------------------*/
.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*---------------------------------
*footer
---------------------------------*/
.c-footer {
  padding: 64px 0;
  color: #ffffff;
  background: #73C6C7;
}

@media only screen and (max-width: 768px) {
  .c-footer {
    padding: 32px 20px;
  }
}

.c-footer-list1 {
  width: 716px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .c-footer-list1 {
    width: auto;
    max-width: 358px;
  }
}

.c-footer-list1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .c-footer-list1 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-footer-list1--mb1 {
  margin-bottom: 55px;
}

@media only screen and (max-width: 768px) {
  .c-footer-list1--mb1 {
    margin-bottom: 24px;
  }
}

.c-footer-li__img1 img {
  width: 59px;
  height: 21px;
}

@media only screen and (max-width: 768px) {
  .c-footer-li__img1 img {
    width: 29px;
    height: 10px;
  }
}

.c-footer-li__img2 img {
  width: 117px;
  height: 22px;
}

@media only screen and (max-width: 768px) {
  .c-footer-li__img2 img {
    width: 57px;
    height: 11px;
  }
}

.c-footer-li__img3 img {
  width: 50px;
  height: 23px;
}

@media only screen and (max-width: 768px) {
  .c-footer-li__img3 img {
    width: 25px;
    height: 12px;
  }
}

.c-footer-li__img4 img {
  width: 150px;
  height: 23px;
}

@media only screen and (max-width: 768px) {
  .c-footer-li__img4 img {
    width: 71px;
    height: 12px;
  }
}

.c-copyright {
  font-size: 12px;
  font-weight: 100;
  font-family: "ヒラギノ角ゴシック Pro";
}

@media only screen and (max-width: 768px) {
  .c-copyright {
    font-size: 9px;
  }
}

.c-copyright a {
  text-decoration: none;
  color: white;
}

.c-copyright--bigtext {
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .c-copyright--bigtext {
    font-size: 9px;
  }
}

/*---------------------------------
*other
---------------------------------*/
@media only screen and (max-width: 768px) {
  .c-btnSP img {
    width: 125px;
  }
}

/*---------------------------------
  info Box Component
---------------------------------*/
.c-infoBox {
  margin-bottom: 72px;
}

@media only screen and (max-width: 768px) {
  .c-infoBox-list1 .c-list1 {
    display: block;
  }
  .c-infoBox__cardImg img {
    width: 90px;
  }
  .c-infoBox__nonelineSP {
    border-bottom: none !important;
  }
}

.c-infoBox-guildBox1 {
  height: 80px;
  padding: 15px 27px;
  border: 2px solid #73C6C7;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .c-infoBox-guildBox1 {
    max-width: 330px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    padding: 18px 16px;
  }
}

.c-infoBox-guildText {
  font-size: 14px;
  text-align: left;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media only screen and (max-width: 768px) {
  .c-infoBox-guildText {
    font-size: 12px;
  }
}

.c-infoBox-guildImg {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .c-infoBox-guildImg img {
    width: 100%;
  }
}

.c-infoBox__card {
  width: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 0 20px;
  border-top: 1px solid #A2A2A2;
}

@media only screen and (max-width: 768px) {
  .c-infoBox__card {
    width: auto;
    max-width: 330px;
    margin: 0 auto;
    padding: 24px 0 20px;
  }
}

.c-infoBox__card__botline {
  border-bottom: 1px solid #A2A2A2;
}

.c-infoBox__btn1 {
  margin: 57px 0;
}

@media only screen and (max-width: 768px) {
  .c-infoBox__btn1 {
    margin: 25px 0;
  }
}

/*---------------------------------
  Ads Box Component
---------------------------------*/
.c-ads {
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .c-ads {
    max-width: 684px;
    margin: 0 auto;
    padding: 0 14px;
  }
}

@media only screen and (max-width: 768px) {
  .c-ads__box1 {
    margin: 0 auto;
    padding: 0 9px 10px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.c-ads__box1 .c-box1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 468px;
  height: 100%;
  padding: 19px 15px 41px;
  border: 2px solid #73C6C7;
  font-size: 18px;
  line-height: 35px;
}

@media only screen and (max-width: 768px) {
  .c-ads__box1 .c-box1 {
    width: auto;
    max-width: 323px;
    margin: 0 auto;
    font-size: 12px;
    text-align: left;
    padding: 15px 15px 20px;
    line-height: 1.7;
    border: 1px solid #73C6C7;
  }
}

.c-ads__box1 .c-box1 h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .c-ads__box1 .c-box1 h2 {
    font-size: 15px;
  }
}

.c-ads__title1 {
  margin: 32px 0 39px;
  letter-spacing: 4px;
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .c-ads__title1 {
    margin: 8px 0 22px;
  }
}

.c-ads__title2 {
  margin: 12px 0 26px;
  letter-spacing: 3px;
  line-height: 43px;
}

@media only screen and (max-width: 768px) {
  .c-ads__title2 {
    margin: 0 0 6px;
    line-height: 1.6;
  }
}

.c-ads__line {
  width: 89%;
  border: 1px solid #73C6C7;
}

@media only screen and (max-width: 768px) {
  .c-ads__line {
    width: 100%;
    border: 0.5px solid #73C6C7;
  }
}

.c-ads__line--mb1 {
  margin-bottom: 27px;
}

@media only screen and (max-width: 768px) {
  .c-ads__line--mb1 {
    margin-bottom: 14px;
  }
}

.c-ads__linebg1, .c-ads__linebg2 {
  position: absolute;
  width: 114px;
  height: 246px;
}

.c-ads__linebg1 {
  top: 128px;
  left: -137px;
  background: url(../img/i-linebg1.png) no-repeat;
}

.c-ads__linebg2 {
  top: 120px;
  right: -165px;
  background: url(../img/i-linebg2.png) no-repeat;
}

/*---------------------------------
  Taishin Component
---------------------------------*/
.c-taishin2-mainbox {
  display: block;
  position: relative;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .c-taishin2-mainbox {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .c-taishin2__imgSP1 {
    width: 100%;
  }
  .c-taishin2__imgSP1--mt1 {
    margin-top: 12px;
  }
}

.c-taishin2__text {
  font-size: 24px;
  line-height: 1.75;
  text-align: justify;
  padding: 0 4px;
}

@media only screen and (max-width: 768px) {
  .c-taishin2__text {
    font-size: 12px;
    padding: 0;
  }
}

.c-taishin2__info1 {
  padding: 26px 0 0 11px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-taishin2__info1 {
    padding: 13px 0 0 0;
  }
}

.c-taishin2__info1 h3 {
  font-size: 32px;
  line-height: 1.3;
}

@media only screen and (max-width: 768px) {
  .c-taishin2__info1 h3 {
    font-size: 15px;
  }
}

.c-taishin2__info1 .p-mb1 {
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .c-taishin2__info1 .p-mb1 {
    margin-bottom: 12px;
  }
}

.c-taishin2__img1 {
  float: right;
  margin-left: 22px;
  margin-top: 10px;
}

.c-taishin2__listImg--mt1 {
  margin-top: 38px;
}

@media only screen and (max-width: 768px) {
  .c-taishin2__listImg--mt1 {
    margin-top: 16px;
  }
}

/*---------------------------------
  Point component
---------------------------------*/
.c-point1 {
  text-align: left;
  position: relative;
}

.c-point1 h2 {
  margin-bottom: 14px;
}

@media only screen and (max-width: 768px) {
  .c-point1 h2 {
    margin-bottom: 5px;
  }
}

.c-point1 h2 img {
  width: 126px;
}

@media only screen and (max-width: 768px) {
  .c-point1 h2 img {
    width: 52px;
    vertical-align: baseline;
  }
}

.c-point1 h2:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto auto auto;
  background: #73C3C4;
}

@media only screen and (max-width: 768px) {
  .c-point1 h2:before {
    width: 2px;
    top: -2px;
  }
}

.c-point1:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: url(../img/taishin/i-linebot1.png) repeat-x left top;
}

.c-point1__img--ml1 {
  margin-left: 24px;
}

@media only screen and (max-width: 768px) {
  .c-point1__img--ml1 {
    margin-left: 7px;
  }
}

/*---------------------------------
  infil Component
---------------------------------*/
.c-infil2-list1 {
  padding: 0 23px;
}

@media only screen and (max-width: 768px) {
  .c-infil2-list1 {
    padding: 0 0 0 17px;
  }
  .c-infil2-list1 .c-list1 {
    display: block;
  }
}

.c-infil2-boxcaro1 {
  position: relative;
  padding: 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/infil/i-bg1.png) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .c-infil2-boxcaro1 {
    padding: 12px 12px;
  }
}

.c-infil2-boxcaro1__inner {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 37px 30px;
}

@media only screen and (max-width: 768px) {
  .c-infil2-boxcaro1__inner {
    padding: 25px 23px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .c-infil2-mainbox {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-infil2-mainbox--mb1 {
  margin-bottom: 57px;
}

@media only screen and (max-width: 768px) {
  .c-infil2-mainbox--mb1 {
    margin-bottom: 26px;
  }
}

.c-infil2__info1 {
  padding: 37px 0 0;
}

@media only screen and (max-width: 768px) {
  .c-infil2__info1 {
    padding-top: 12px;
  }
}

.c-infil2__info1 h2 {
  font-size: 33px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .c-infil2__info1 h2 {
    font-size: 15px;
  }
}

.c-infil2__info1--mb1 {
  margin-bottom: 39px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__info1--mb1 {
    margin-bottom: 17px;
  }
}

.c-infil2__info1--ml1 {
  margin-left: 21px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__info1--ml1 {
    margin-left: 0;
  }
}

.c-infil2__info1--mb2 {
  margin-bottom: 46px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__info1--mb2 {
    margin-bottom: 15px;
  }
}

.c-infil2__card {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-infil2__card--mb1SP {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .c-infil2__bigimg1 {
    width: 241px;
  }
}

.c-infil2__lb1 {
  position: absolute;
  top: -18px;
  left: -20px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__lb1 {
    top: -5px;
    left: -24px;
  }
}

.c-infil2__lb1--size1 {
  width: 96px;
  height: 97px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__lb1--size1 {
    width: 90px;
    height: 90px;
  }
}

.c-infil2__lb1--size2 {
  width: 134px;
  height: 135px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__lb1--size2 {
    width: 107px;
    height: 107px;
  }
}

.c-infil2__lb1--pos1 {
  top: -22px;
  left: -22px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__lb1--pos1 {
    top: -4px;
    left: -24px;
  }
}

@media only screen and (max-width: 768px) {
  .c-infil2__triangle1 img {
    width: 33px;
  }
}

.c-infil2__triangle1--mtb1 {
  margin: 30px 0 29px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__triangle1--mtb1 {
    margin: 14px 0 10px;
  }
}

.c-infil2__triangle1--mtb2 {
  margin: 21px 0 29px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__triangle1--mtb2 {
    margin: 15px 0 13px;
  }
}

.c-infil2__linebot1 {
  position: relative;
}

.c-infil2__linebot1:after {
  content: '';
  height: 7px;
  background: url(../img/infil/i-linebot1.png) repeat-x;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  width: 100%;
}

.c-infil2-titlebox {
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 191px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 3px solid #73C6C7;
}

@media only screen and (max-width: 768px) {
  .c-infil2-titlebox {
    top: -9px;
    width: 91px;
    font-size: 14px;
    padding: 3px 0;
    border: 2px solid #73C6C7;
  }
}

.c-infil2__text2 {
  font-size: 27px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .c-infil2__text2 {
    font-size: 13px;
    line-height: 1.7;
  }
}

.c-infil2__text1 {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  line-height: 1.7;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__text1 {
    font-size: 13px;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 345px) {
  .c-infil2__text1 {
    font-size: 12px;
  }
}

.c-infil2__text1--mb1 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .c-infil2__text1--mb1 {
    margin-bottom: 25px;
  }
}

/*---------------------------------
  dannetu Component
---------------------------------*/
.c-dannetu2-mainbox {
  display: block;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2-mainbox {
    margin-right: 0;
  }
}

.c-dannetu2-mainbox--mb1 {
  margin-bottom: 77px;
}

.c-dannetu2-mainbox--mb2 {
  margin-bottom: 107px;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2-mainbox {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__imgSP1 {
    width: 100%;
  }
  .c-dannetu2__imgSP1--mt1 {
    margin-top: 12px;
  }
}

.c-dannetu2__h3--mb1 {
  margin-bottom: 14px;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__h3--mb1 {
    margin-bottom: 12px;
  }
}

.c-dannetu2__h3--mb2 {
  margin-bottom: 26px;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__h3--mb2 {
    margin-bottom: 12px;
  }
}

.c-dannetu2__text {
  font-size: 25px;
  line-height: 1.75;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__text {
    font-size: 12px;
    padding: 0;
  }
}

.c-dannetu2__info1 {
  padding: 28px 0 0 18px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__info1 {
    padding: 13px 0 0 0;
    text-align: justify;
  }
}

.c-dannetu2__info1 h3 {
  font-size: 34px;
  line-height: 1.3;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__info1 h3 {
    font-size: 15px;
  }
}

.c-dannetu2__img1 {
  float: right;
}

.c-dannetu2__img1--mlt1 {
  margin-left: 38px;
  margin-top: 14px;
}

.c-dannetu2__listImg--mt1 {
  margin-top: 38px;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__listImg--mt1 {
    margin-top: 16px;
  }
}

.c-dannetu2__btn1--mt1 {
  margin-top: 74px;
}

@media only screen and (max-width: 768px) {
  .c-dannetu2__btn1--mt1 {
    margin-top: 32px;
  }
}
