@charset "UTF-8";
/*
*container
*/
/*
*flex between css
*/
/*
*select-box
*/
/*
*previous button and next button(Type One)
*/
/*
*Custom scrollbar
*/
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: Meiryo, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1422px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
  background: url(../img/bg-layout.jpg) repeat;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 100%;
    font-size: 1.2rem;
  }
}

/*--------------------------------------
  layout container
--------------------------------------*/
.l-container {
  display: block;
  width: 1422px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
}

/*--------------------------------------
  layout wrap
--------------------------------------*/
.l-wrap {
  display: block;
  width: 1422px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .l-wrap {
    width: 100%;
  }
}

/*---------------------------------------
  layout header
---------------------------------------*/
.l-header .l-box1__child1 .basket {
  margin-right: 50px;
}

@media only screen and (max-width: 767px) {
  .l-header .l-box1__child1 .basket {
    margin-right: 0;
  }
}

.l-header .l-box1__child1 .select1:not(:last-child) {
  margin-right: 12px;
}

.l-header .l-box2__child1 .c-link1 {
  margin-bottom: 20px;
}

.l-header .box2 {
  margin-top: 20px;
}

.l-header .c-navigation {
  margin-top: 71px;
}

/*
*Layout main title
*/
.l-maintitle1 {
  margin-bottom: 35px;
}

@media only screen and (max-width: 767px) {
  .l-maintitle1 {
    margin-bottom: 13px;
  }
}

/*
*Layout main contact
*/
.l-contact .social-app {
  margin-left: 199px;
}

@media only screen and (max-width: 767px) {
  .l-contact .social-app {
    margin-left: 0;
    margin-top: 10px;
    text-align: left;
  }
}

@-webkit-keyframes showNavmenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showNavmenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*--------------------------------------------------
  Component show following divice size.
--------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .showPC {
    display: none;
  }
}

.showSP {
  display: none;
}

@media only screen and (max-width: 768px) {
  .showSP {
    display: block;
  }
}

.showSP--inline {
  display: none;
}

@media only screen and (max-width: 768px) {
  .showSP--inline {
    display: inline-block;
  }
}

/*---------------------------
  menu Smartphone
---------------------------*/
.c-menuSP {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 70px;
  padding-top: 2px;
  cursor: pointer;
  background: #3b3737;
  border-right: 1px solid #9a9898;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 34px;
  height: 2px;
  background: #fff;
  margin: 11px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: absolute;
  top: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  display: none;
  background: #8e8a8a;
}

.c-menulistSP li {
  position: relative;
  border-top: 1px solid #ccc;
}

.c-menulistSP li:first-child {
  border-top: none;
}

.c-menulistSP a {
  position: relative;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #000;
  font-size: 1.4rem;
  padding: 15px 15px;
}

.c-menulistSP a .fa-chevron-down {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.1rem;
  color: #fff;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.c-menulistSP a .offSub {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.c-menulistSP .c-sub__nav li:last-child {
  border-bottom: none;
}

.c-menulistSP .c-sub__nav li:first-child {
  border-top: 1px solid #ccc;
}

.c-menulistSP .c-sub__nav a {
  position: relative;
  padding-left: 20px;
}

.c-menulistSP .c-sub__nav a::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  display: block;
  top: 50%;
  left: 7px;
  background: #000;
}

.c-menulistSP .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 35px;
}

.c-menulistSP .select-box .select1 {
  margin-right: 30px;
}

.c-menulistSP .select-box .select1 select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95px;
  height: auto;
  padding: 4px 6px;
  font-size: 1.2rem;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url(../img/bg-select1.png);
  background-repeat: no-repeat;
  background-position: right 8px top 12px;
  border: 1px solid #663333;
}

@media only screen and (max-width: 767px) {
  .c-menulistSP .select-box .select1 select {
    width: 95px;
    height: auto;
    padding: 4px 6px;
    font-size: 1.2rem;
    background-position: right 5px top 6px;
  }
}

.c-menulistSP .select-box .select2 select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 131px;
  height: auto;
  padding: 4px 6px;
  font-size: 1.2rem;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url(../img/bg-select1.png);
  background-repeat: no-repeat;
  background-position: right 8px top 12px;
  border: 1px solid #663333;
}

@media only screen and (max-width: 767px) {
  .c-menulistSP .select-box .select2 select {
    background-position: right 5px top 6px;
  }
}

/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(10px, 10px);
          transform: rotate(45deg) translate(10px, 10px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

/*-----------------------------------------
* main navigation
-----------------------------------------*/
.c-navigation {
  display: block;
  position: relative;
}

.c-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-navigation a {
  position: relative;
  display: block;
  padding: 5px 20px 5px;
  text-align: left;
  text-decoration: none;
  color: #663333;
  font-weight: bold;
  font-size: 2.0rem;
  border-right: 1px solid #858271;
}

.c-navigation li {
  padding-bottom: 33px;
}

.c-navigation li:first-child a {
  padding-left: 0;
}

.c-navigation li:hover {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.c-navigation li:hover a:after {
  content: url(../img/triangle2.png);
  display: block;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  z-index: 999;
  -webkit-animation: showNavmenu 1.2s ease;
          animation: showNavmenu 1.2s ease;
}

/*-----------------------------------------
* main sub menu
-----------------------------------------*/
.c-navigation_sub {
  display: none;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 55px;
  padding: 32px;
  z-index: 2;
  left: 0;
  right: 0;
  background: url(../img/bg-layout.jpg) repeat;
  -webkit-box-shadow: 0px 14px 19px #544b4b;
          box-shadow: 0px 14px 19px #544b4b;
}

.c-navigation_sub .c1-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-navigation_sub .c-sub__box1 {
  position: relative;
  width: 440px;
  height: 498px;
}

.c-navigation_sub .c-sub__box1 .c-sub__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-navigation_sub .c-sub__box1 .c-sub__list1 h2 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: bold;
  color: #663333;
}

.c-navigation_sub .c-sub__box1 .c-sub__list1 ul {
  display: block;
}

.c-navigation_sub .c-sub__box1 .c-sub__list1 li {
  border-right: 0;
  padding-bottom: 0;
  margin-bottom: 12px;
}

.c-navigation_sub .c-sub__box1 .c-sub__list1 li a:after {
  content: "";
}

.c-navigation_sub .c-sub__box1 .c-sub__list1 a {
  font-weight: 500;
  padding: 1px 10px;
  font-size: 1.3rem;
  text-decoration: underline;
  border: none;
}

.c-navigation_sub .c-sub__box1 .c-sub__list1 a:hover {
  color: #fff;
  text-decoration: none;
  background: #663333;
}

.c-navigation_sub .c-sub__box1 .c-sub__img1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.c-navigation_sub .c-sub__box1 .c-sub__img1 img {
  width: 100%;
}

.c-navigation_sub .c-sub__box1 .c-sub__img1:hover {
  opacity: 0.7;
  cursor: pointer;
}

.c-navigation_sub .c-sub__box2 {
  position: relative;
  width: 325px;
  text-align: left;
}

.c-navigation_sub .c-sub__box2__link {
  font-size: 1.3rem;
  color: #000;
  font-weight: 500;
  padding: 0;
  border-right: none;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.c-navigation_sub .c-sub__box2__link:after {
  content: "" !important;
  width: 0;
  height: 0;
}

.c-navigation_sub .c-sub__box2__link:hover {
  opacity: 0.6;
}

.c-navigation_sub .c-sub__title h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #663333;
  line-height: 1.5;
}

.c-navigation_sub .c-sub__text {
  line-height: 1.7;
  text-align: justify;
  padding-right: 14px;
}

.c-navigation_sub .l-many--mb1 {
  margin-bottom: 20px;
}

.c-navigation_sub .l-mr1 {
  margin-right: 40px;
}

.c-navigation_sub .l-mr2 {
  margin-right: 100px;
}

.c-navigation_sub .l-mr3 {
  margin-right: 140px;
}

.c-navigation_sub .l-sub__box2 .c-sub__img {
  margin: 15px 0;
}

/*-----------------------------------------
* Main Visual
-----------------------------------------*/
.mainVisual {
  display: block;
  position: relative;
  margin-top: -160px;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .mainVisual {
    margin-top: -56px;
  }
}

.mainVisual .c-slider {
  display: block;
  position: relative;
}

.mainVisual .c-slider .slick-track {
  height: 671px;
}

@media only screen and (max-width: 767px) {
  .mainVisual .c-slider .slick-track {
    height: 215px;
  }
}

.mainVisual .c-slider__img img {
  width: 100%;
  height: 100%;
}

.mainVisual .c-slider .slick-prev {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin: 0 auto;
  padding: 7px;
  background: rgba(120, 115, 115, 0.788235);
  top: 50%;
  display: block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  left: 90px;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .mainVisual .c-slider .slick-prev {
    width: 25px;
    height: 25px;
    left: 10%;
  }
}

.mainVisual .c-slider .slick-next {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin: 0 auto;
  padding: 7px;
  background: rgba(120, 115, 115, 0.788235);
  top: 50%;
  display: block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  right: 90px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .mainVisual .c-slider .slick-next {
    width: 25px;
    height: 25px;
    right: 10%;
  }
}

.mainVisual .c-banner {
  display: block;
  position: absolute;
  top: 29%;
  right: 47%;
  margin: 0 auto;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .mainVisual .c-banner {
    display: block;
    position: absolute;
    top: 26%;
    right: inherit;
    left: 16%;
  }
}

.mainVisual .c-banner__img {
  width: 86%;
  max-width: 659px;
}

@media only screen and (max-width: 767px) {
  .mainVisual .c-banner__img {
    width: 70%;
    max-width: 330px;
  }
}

.mainVisual .c-banner__img img {
  width: 100%;
}

.mainVisual .c-banner__text1 {
  padding: 6px 14px 14px;
  text-align: left;
  font-size: 3.0rem;
  color: white;
  font-weight: 500;
  line-height: 1.2;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 134, 0.78)), to(rgba(255, 85, 151, 0.619608)));
  background: -webkit-linear-gradient(left, rgba(255, 0, 134, 0.78), rgba(255, 85, 151, 0.619608));
  background: linear-gradient(to right, rgba(255, 0, 134, 0.78), rgba(255, 85, 151, 0.619608));
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

@media only screen and (max-width: 767px) {
  .mainVisual .c-banner__text1 {
    width: 251px;
    padding: 0 5px 3px;
    text-align: left;
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 767px) {
  .mainVisual .c-banner__text1 img {
    width: 100%;
  }
}

.mainVisual .l-mb1 {
  margin: 30px 0 0 34px;
}

@media only screen and (max-width: 767px) {
  .mainVisual .l-mb1 {
    margin: 12px 0 0 -6px;
  }
}

/*-----------------------------------------
*list 
-----------------------------------------*/
.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*-----------------------------------------
* main title
-----------------------------------------*/
.c-maintitle1 {
  position: relative;
  display: block;
  padding-bottom: 10px;
  font-family: Kozuka Gothic Pro;
  text-align: left;
  color: #663333;
  border-bottom: 7px solid #663333;
}

@media only screen and (max-width: 767px) {
  .c-maintitle1 {
    padding-bottom: 5px;
    border-bottom: 4px solid #663333;
  }
}

.c-maintitle1 h2 {
  font-family: Kozuka Gothic Pro;
  font-size: 3.6rem;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-maintitle1 h2 {
    font-size: 1.8rem;
  }
}

.c-maintitle1 span {
  font-size: 2.0rem;
}

@media only screen and (max-width: 767px) {
  .c-maintitle1 span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .c-maintitle1__img1 img {
    width: 205px;
  }
}

@media only screen and (max-width: 767px) {
  .c-maintitle1__img2 img {
    width: 195px;
  }
}

@media only screen and (max-width: 767px) {
  .c-maintitle1__img3 img {
    width: 265px;
  }
}

/*-----------------------------------------
* button
-----------------------------------------*/
.c-btn1 {
  display: inline-block;
  cursor: pointer;
}

.c-btn1 a {
  display: block;
}

/*-----------------------------------------
* Header
-----------------------------------------*/
.c-header {
  position: relative;
  display: block;
  padding-bottom: 77px;
  background: url(../img/bg-header.png) repeat-x left top;
  background-size: cover;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-header {
    padding-bottom: 45px;
  }
}

.c-header .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
}

.c-header .box1 .small-title {
  text-align: left;
  font-size: 1.6rem;
  color: #663333;
}

.c-header .box1__child1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.c-header .box1__child1 .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header .box1__child1 .select-box .select1 select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  height: 35px;
  padding: 6px 10px;
  font-size: 1.3rem;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url(../img/bg-select1.png);
  background-repeat: no-repeat;
  background-position: right 8px top 12px;
  border: 1px solid #663333;
}

.c-header .box1__child1 .select-box .select2 select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 199px;
  height: 35px;
  padding: 6px 10px;
  font-size: 1.3rem;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url(../img/bg-select1.png);
  background-repeat: no-repeat;
  background-position: right 8px top 12px;
  border: 1px solid #663333;
}

.c-header .box1__child1 .basket {
  position: relative;
}

.c-header .box1__child1 .basket p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  background: #434343;
  border-radius: 33px;
}

.c-header .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header .box2__child1 {
  position: relative;
  top: 15px;
}

.c-header .box2__child1 .c-link1 {
  text-align: left;
}

.c-header .box2__child1 .c-link1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header .box2__child1 .c-link1 li:not(:last-child) {
  margin-right: 30px;
}

.c-header .box2__child1 .c-link1 a {
  color: #000;
  text-align: left;
  text-decoration: none;
  display: block;
}

.c-header .box2__child1 .c-link1 a:hover {
  text-decoration: underline;
}

.c-header .box2__child1 .c-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header .box2__child1 .c-search input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  padding: 15px 20px;
  height: 50px;
  border: 1px solid #ccc;
}

.c-header .box2__child1 .c-search select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  padding: 15px 20px;
  height: 50px;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url(../img/bg-select1.png);
  background-repeat: no-repeat;
  background-position: right 13px top 19px;
  border: 1px solid #ccc;
}

.c-header .box2__child1 .c-search .btn-search {
  width: 50px;
  height: 50px;
  background: #8fc43d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.c-header .box2__child1 .c-search .btn-search:hover {
  opacity: 0.8;
}

.c-header .box2__child1 .c-search .btn-search .fa-search {
  font-size: 1.7rem;
  color: #fff;
}

.c-header .box2 .logo1 {
  text-align: left;
}

.c-header .plant {
  position: absolute;
  bottom: -36px;
  right: 0;
  z-index: 1;
}

.c-header .sp-header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #3b3737;
}

.c-header .sp-header .list-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-header .sp-header .list-action .basket {
  position: relative;
}

.c-header .sp-header .list-action .basket img {
  width: 40px;
  height: 40px;
}

.c-header .sp-header .list-action .basket p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0px;
  font-size: 1.4rem;
  margin: 0 auto 13px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #434343;
  border-radius: 33px;
}

.c-header .sp-header .list-action .btn-search {
  background: #3b3737;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  background-position: right 10px top 10px;
}

.c-header .sp-header .list-action .btn-search:hover {
  opacity: 0.8;
}

.c-header .sp-header .list-action .btn-search .fa-search {
  font-size: 3.0rem;
  color: #fff;
}

.c-header .sp-header .list-action .list-sub1 {
  padding: 9px 16px;
  border-left: 1px solid #9a9898;
  cursor: pointer;
}

.c-header .sp-header .logo1 {
  width: 73%;
  margin: 35px auto 20px;
}

.c-header .sp-header .logo1 img {
  width: 100%;
}

.c-header .sp-header .form-search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  display: none;
  margin-top: 12px;
}

.c-header .sp-header .form-search .form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-header .sp-header .form-search input {
  width: 90%;
  padding: 10px 5px;
  font-size: 1.3rem;
}

.c-header .sp-header .form-search .btn-search {
  width: 10%;
  min-width: 50px;
  background: #8fc43d;
  color: #fff;
}

/*-----------------------------------------
* footer
-----------------------------------------*/
.c-footer {
  position: relative;
  display: block;
  padding: 60px 0 90px;
}

@media only screen and (max-width: 767px) {
  .c-footer {
    padding: 30px 20px 45px;
  }
}

.c-footer__inner {
  text-align: left;
  display: block;
  width: 1422px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-footer__inner {
    width: 100%;
  }
}

.c-footer__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 {
    display: block;
  }
}

.c-footer__box1 .box1:not(:last-child) {
  position: relative;
  width: 20%;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .box1:not(:last-child) {
    width: auto;
    margin-bottom: 20px;
  }
}

.c-footer__box1 .box1:last-child {
  position: relative;
  width: 30%;
}

@media only screen and (max-width: 767px) {
  .c-footer__box1 .box1:last-child {
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__title1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #663333;
    cursor: pointer;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__title1 .img-text1 {
    width: 230px;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__title1 .img-text2 {
    width: 190px;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__title1 .img-text3 {
    width: 166px;
  }
}

.c-footer__list1 {
  display: inline-block;
}

.c-footer__list1 li {
  display: block;
}

.c-footer__list1 a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #000;
  margin-bottom: 14px;
}

.c-footer__list1 a:hover {
  text-decoration: underline;
}

.c-footer__contact .c-phone__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-footer__contact .c-phone__img {
  margin-right: 10px;
}

.c-footer__plus {
  width: 15px;
  height: 15px;
  top: 3px;
  right: 0;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-footer__plus .plus__1, .c-footer__plus .plus__2 {
  width: 100%;
  height: 2px;
  background: #663333;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-footer__plus .plus__1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.c-footer__plus .plus__2 {
  margin-top: -49%;
}

.c-footer .is-open .plus__1 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.c-footer .is-open .plus__2 {
  width: 0;
}

.c-footer .l-mr1 {
  margin-right: 85px;
}

@media only screen and (max-width: 767px) {
  .c-footer .l-mr1 {
    margin-right: 0;
  }
}

.c-footer .l-mr2 {
  margin-right: 160px;
}

@media only screen and (max-width: 767px) {
  .c-footer .l-mr2 {
    margin-right: 0;
  }
}

.c-footer .copyright {
  margin-top: 40px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 767px) {
  .c-footer .copyright {
    margin-top: 50px;
    text-align: center;
  }
}

.c-footer .l-many-title1 {
  margin-bottom: 21px;
}

.c-footer .l-mb1 {
  margin-bottom: 24px;
}

.c-footer__contact .c-phone__box1 {
  margin: 14px 0 18px;
}

@media only screen and (max-width: 767px) {
  .c-footer__contact .c-phone__box1 {
    margin: 9px 0 9px;
  }
}

.c-footer__contact .c-phone__box2 {
  line-height: 1.7;
}

.c-footer__contact .c-phone__box2 p:not(:last-child) {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .c-footer__contact .c-phone__box2 p:not(:last-child) {
    margin-bottom: 15px;
  }
}

/*public main component*/
/*-----------------------------------------
* Product
-----------------------------------------*/
.c-product {
  position: relative;
  display: block;
}

.c-product .c-list1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-product .c-list1__card {
  width: 345px;
  margin: 10px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .c-product .c-list1__card {
    width: 300px;
  }
}

.c-product .c-list1__card h3 {
  color: #663333;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .c-product .c-list1__card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}

.c-product .c-list1__text {
  padding: 20px 0;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .c-product .c-list1__text {
    margin-bottom: 10px;
  }
}

.c-product .c-list1_icons {
  text-align: left;
}

.c-product .c-list1_icons .icon1 {
  margin-right: 10px;
}

.c-product .c-list1_icons .icon1 img {
  display: inline;
}

.c-product .c-list1_icons a {
  text-decoration: none;
}

.c-product .c-list1_tags {
  position: relative;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 14px 0;
}

.c-product .c-list1_tags .c-tag1 a {
  margin-left: 4px;
  text-decoration: none;
  color: #663333;
  padding-bottom: 1px;
  border-bottom: 1px solid #663333;
}

.c-product .c-list1_tags .c-tag1 .fas, .c-product .c-list1_tags .c-tag1 .far {
  color: #663333;
}

.c-product .c-list1_tags .c-tag1:not(:last-child) {
  position: relative;
  margin-right: 11px;
}

.c-product .c-list1__img img {
  width: 100%;
}

.c-product__btn1 {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  height: 40px;
  text-align: center;
  background: #8fc43d;
  border-radius: 22px;
  cursor: pointer;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.c-product__btn1:hover {
  opacity: 0.8;
}

.c-product__btn1 a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

.c-product__btn1 .fa-arrow-right {
  margin-left: 6px;
  font-size: 1.5rem;
}

.c-product .c-prev {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin: 0 auto;
  padding: 7px;
  background: #8fc43d;
  top: -55px;
  display: block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  right: 40px;
}

@media only screen and (max-width: 767px) {
  .c-product .c-prev {
    width: 25px;
    height: 25px;
    top: -28px;
    right: 30px;
  }
}

.c-product .c-next {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin: 0 auto;
  padding: 7px;
  background: #663333;
  top: -55px;
  display: block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .c-product .c-next {
    width: 25px;
    height: 25px;
    top: -28px;
  }
}

/*-----------------------------------------
* Contact component
-----------------------------------------*/
.c-contact {
  padding: 17px 0;
  background: #663333;
}

@media only screen and (max-width: 767px) {
  .c-contact {
    padding: 10px 20px;
  }
}

.c-contact .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-contact .box1 {
    display: block;
  }
}

.c-contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-contact .contact-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-contact .contact-form label {
  color: #fff;
  font-size: 1.8rem;
  margin-right: 18px;
}

@media only screen and (max-width: 767px) {
  .c-contact .contact-form label {
    width: 100%;
    margin-right: 0;
    font-size: 1.4rem;
    text-align: left;
  }
}

.c-contact .contact-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 374px;
  height: 35px;
  padding: 10px;
  font-size: 1.6rem;
  border: none;
}

@media only screen and (max-width: 767px) {
  .c-contact .contact-form input {
    width: 88%;
    height: 30px;
    margin: 10px 0;
  }
}

.c-contact .contact-form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 57px;
  height: 35px;
  color: #fff;
  background: #8fc43d;
}

@media only screen and (max-width: 767px) {
  .c-contact .contact-form button {
    width: 12%;
    height: 30px;
  }
}

.c-contact .social-app label {
  color: #fff;
  font-size: 1.8rem;
  margin-right: 35px;
}

@media only screen and (max-width: 767px) {
  .c-contact .social-app label {
    margin-right: 18px;
    text-align: left;
    font-size: 1.4rem;
  }
}

.c-contact .social-app a {
  text-align: left;
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  font-size: 2.8rem;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .c-contact .social-app a {
    font-size: 2.0rem;
  }
}

.c-contact .social-app a:hover {
  color: #8fc43d;
}

.c-contact .social-app .wifi .fa-wifi {
  position: relative;
  top: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
