@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}
//------------------------------------
.wrap {
  display: block;
  width: 940px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/

/*----------------------------------
  p-about
------------------------------------*/
//p-about1---------------------------
.p-about1 {
  display:  block;
  position: relative;
}

//p-about2---------------------------
.p-about2 {
  padding: 60px 0 69px;;
  background: linear-gradient(to right, #f8f1e3 , #fdf5e6);
  .c-box1 {
    h2 {
      margin: 30px 0 19px;
      letter-spacing: 4px;
    }
  }
  .c-box1__text1 { margin-bottom: 20px; }
}

//p-about3-----------------------------
.p-about3 {
  padding: 76px 0 118px;
  background: #e5f5e9;
  position:  relative;
  font-size: 18px;
  h2 {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 34px;
  }
  p {
    margin-bottom: 60px;
    letter-spacing: 4px;
  }
}

//p-about4-----------------------------
.p-about4 {
  //background: linear-gradient(to right, #f8f1e3 , #fdf5e6);
  background: url(../img/top/i-bgcolor1.jpg) repeat;
  p { margin-bottom: 36px; }
}

/*---------------------------------------
  Event
---------------------------------------*/

.p {
  //----------------------------------
  &-event1 {
    //----------------------------------
    .c-banner {
      background: url(../img/event/h-bg1.jpg) no-repeat left top;
      background-size: 100% 100%;
    }
    //----------------------------------
  }
  //----------------------------------
  &-event2 {
    overflow: hidden;
    h1 { margin-bottom: 36px; }
    //--------------------------
    .l--flex { flex-direction: row-reverse; }
    //--------------------------
    .c-event1-box1 {
      padding-left:  0;
      padding-right:  20px;
    }
    //----------------------------------
    &__imgre1 {
      position: relative;
      right: -11px;
    }
  }
  //----------------------------------
  &-event3 {
    padding: 54px 0 20px;
    h1 {
      margin-top: 3px;
      margin-bottom: 38px;
      padding-bottom: 14px;
    }
  }
  //----------------------------------
  &-event4 {
    padding-bottom: 65px;
    padding-top: 61px;
    h1 {
      margin-top: -4px;
      margin-bottom: 39px;
    }
  }
  //----------------------------------
}

/*---------------------------------------
  Top
---------------------------------------*/
.p {
  //-----------------------------
  &-top1 {
    margin-top: 30px;
    padding-bottom: 60px;
    .c-ad1, .c-ad2 {
      height: 150px;
      margin-top: 21px;
      //------------------------
      @include ie() {
        width: 460px;
      }
    }
    .c-ad1 {
      .c-btncheck1 {
      margin: 111px 0 0 272px;
      width: 130px;
      height: 30px;
      box-sizing: border-box;
      padding: 5px 0 0;
      font-size: 12px;}
    }
    .c-ad2 {
      .c-btncheck1 {
        margin: 97px 185px 0 0;
        padding: 7px 20px;
        margin: 99px 181px 0 0;
        font-size: 12px;
        box-sizing: border-box;
      }
    }
    //-----------------------------
  }
  //--------------------------------
  &-top2 {
    padding: 70px 0 77px;
    background:  url(../img/top/i-bgcolor2.jpg) repeat;
    //----------------------
    .l--flex img { border-radius: 5px; }
     //---------------------
    .c-box-face { margin: 20px 0; }
    //----------------------
    .c-boxi1__text1 {
      height: 75px;
      padding: 22px 7px;
      box-sizing: border-box;
      //------------------------------
      h2 {
        font-size:  18px;
        margin-bottom: 0;
        margin-top:  0;
      }
      //------------------------------
    }
    //-----------------------
    .l-grid5 { margin-top: -5px; }
    //-----------------------
    .c-boxi1 {
      &:nth-child(1) h2,
      &:nth-child(2) h2 {
        font-size: 18px;
        margin-top: 4px;
      }
      //------------------------------
      &:nth-child(3) h2, &:nth-child(4) h2 {
        font-size: 16px;
        margin-top: -4px;
      }
      //------------------------------
      &:last-child {
        .c-boxi1__text1 { padding: 13px 7px;}
      }
    }
  }
  //--------------------------------
}

//class-------------------------------------
.p {
  &-class1 {
    //----------------------------------
    .c-banner {
      background: url(../img/class/h-bg1.jpg) no-repeat left top;
      background-size: 100% 100%;
    }
    //----------------------------------
  }
  &-class2 {
    margin: 43px 0 79px;
  }
  &-class3 {
    margin-bottom: 42px;
    .c-box3__text { border-radius: 5px 0 0 5px; }
  }
  //----------------------------------
  &-class4 {
    margin-bottom:  40px;
    .c-box4 {
      width: 222px;
      box-sizing:  border-box;
      padding: 25px;
    }
    //-----------------------
  }
  //-----------------------
  &-class5 {
    margin-bottom: 57px;
    text-align:  left;
    //-----------------------------
      h3 {
        font-weight: bold;
        font-size:  20px;
        margin-bottom: 24px;
        letter-spacing: 4px;
        //---------------------------
        &:before {
          content:  '';
          display:  inline-block;
          position:  relative;
          top: -7px;
          width: 29px;
          height: 5px;
          margin-right: 20px;
          background: #fab445;
        }
        //---------------------------
      }
    //-----------------------------
    &__textleft {
      margin-bottom: 20px;
      text-align:  left;
      letter-spacing: 3px;
      //-----------------------------
      h2 {
        display:  inline-block;
        font-size:  20px;
        padding-bottom:  9px;
        border-bottom: 2px solid black;
        margin-bottom: 26px;
        letter-spacing: 4px;
      }
      //-----------------------------
    }
    //-----------------------------
    .c-list1 {
      margin-left: 16px;
      margin-bottom: 37px;
      margin-top: 9px;
    }
    //---------------------------
    .c-list2 {
      margin-top: 20px;
      letter-spacing: 3px;
      text-align: justify;
    }
    //---------------------------
    .c-box4 {
      width: 460px;
      padding: 26px;
      box-sizing:  border-box;
    }
    //---------------------------
    &--mar1 {
      // margin-top: 27px !important;
      // margin-bottom: 27px!important;
      margin-top: 24px !important;
      margin-bottom: 22px !important;
      margin-left: 34px !important;
      letter-spacing: 2px;
    }
    //---------------------------
    &--mar2 {
      margin-top: 67px !important;
      margin-bottom: 44px !important;
      margin-left: 32px !important;
      letter-spacing: 2px;
      li:first-child .c--marlist2 {margin-left: 13px;}
    }
    //---------------------------
  }
  //--------------------------
  &-class6 {
    margin-bottom:  63px;
    .c-banbr {
      h2 {
        margin-bottom: 25px;
        margin-left: 103px;
      }
    }
  }
}

//table page class---------------------
table{
  width: 940px;
  border-collapse: collapse;
}
th, td{
  padding: 24px 15px;
  //padding: 15px 20px;
  font-weight: 400;
  border: 1px solid #00634b;
  text-align: center
}
th{
  padding: 19px 22px;
  //padding: 15px 20px;
  border: 1px solid #fff;
  background: #00634b;
  color: #fff
}
.bg{ background: #e5f5e9 !important}
.sTxt{ font-size: 14px}
.rTxt{ text-align: right}
.lTxt{ text-align: left}
