@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 960px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 15px;
	text-align: center;
  //-----------------------------
  @include respond-to(768) {
		min-width: 100%;
    font-size: 1.2rem;
	}
  //-----------------------------
}

//-------------------------------
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.7s;
  transition-timing-function: ease-in;
}

//-------------------------------
a { text-decoration: none; }

/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  //------------------------------
  &-flexbox {
    display: flex;
    justify-content: space-between;
    //----------------------------
    &--acenter {align-items: center;}
    //----------------------------
    //should not use many bro tags like list below: :(
    &--aEnd {align-items: flex-end;}
    //----------------------------
    &--reverse { flex-direction: row-reverse; }
    //----------------------------
    &--flexstart { justify-content: flex-start; }
    //----------------------------
    &--center { justify-content: center; }
    //----------------------------
    &--wrap { flex-wrap: wrap; }
    //----------------------------
    &--spblock {
      @include respond-to(768) {display: block;}
    }
    //----------------------------
  }
  //------------------------------
  &-box {
    &--posRelative { position: relative; }
  }
  //-------------------------------
  &-copyright {
    margin-left: -3px;
    letter-spacing: 1px;
  }
  //-------------------------------
}

/*------------------------------------------------
  layout for banner in index.html
------------------------------------------------*/
.l-banner1 {
  @include respond-to(768) {
    margin-top: 88px;
  }
}

/*------------------------------------------------
  layout for ads Box in index.html
------------------------------------------------*/
.l-ads {
  //---------------------------------
  .c-ads__line {
    margin-bottom: 27px;
    @include respond-to(768) { margin-bottom: 14px; }
  }
  //---------------------------------
}
