@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1000px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.4rem;
	text-align: center;
  color: #333333;
	@include respond-to(768) {
		min-width: 100%;
    //font-size: 1.2rem;
	}
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  &--hidden { overflow: hidden; }
  //-----------------------------------------
  &--flex {
    display: flex;
    justify-content: space-between;
  }
  //--------------------------------------
  &--left { float: left; }
  &--right { float: right; }
  &--reverse { flex-direction: row-reverse; }
  &-spblock {
    @include respond-to(768) {display: block;}
  }
  //------------------------------
}

/*------------------------------------------------
  grid
------------------------------------------------*/
.l {
  &-grid1 {
    display:  grid;
    grid-template-columns: 229px 229px 229px 229px;
    grid-column-gap: 28px;
    @include respond-to(768) {
      grid-template-columns: 135px 135px;
      grid-column-gap: 21px;
      grid-row-gap: 25px;
    }
    //-------------------------
    @include ie() {
      display: flex;
      justify-content: space-between;
      //-----------------------
      @include respond-to(768) {
        flex-wrap: wrap;
        //---------------------
        &--item1 {margin-bottom: 20px;}
        //-----------------------
      }
      //-----------------------
    }
    //-------------------------
    &--item1{
      @include respond-to(768) {
        img {width: 135px;}
      }
      a { display: block; }
    }
    //-------------------------
  }
  //end grid1------------------------------
  &-grid2 {
    display:  grid;
    grid-template-columns: 312px 312px 312px;
    grid-column-gap: 30px;
    overflow: hidden;
    text-align: left;
    @include respond-to(768) {
      grid-template-columns: auto;
    }
    //-------------------------
    @include ie() {
      display: flex;
      justify-content: space-between;
      //--------------------------
      @include respond-to(768) { display: block; }
      //--------------------------
      &--item1 {
        width: 315px;
      }
      //--------------------------
    }
    //----------------------------
    &--item1{
      //----------------------
      .c-mtitle__tit1 {margin-bottom: 4px;}
      //----------------------
      @include respond-to(768) {
        &:nth-child(1) .c-mtitle__tit1 img { width: 94px; }
        &:nth-child(2) .c-mtitle__tit1 img { width: 122px; }
        &:nth-child(3) {
          //-----------------------
          .c-mtitle__tit1 {
            margin-bottom: 0;
            img { width: 172px; }
          }
          //-----------------------
        }
        //----------------------
        .c-mtitle__tit1 { margin-bottom: 9px; }
        //----------------------
      }
      //----------------------
    }
    //----------------------------
  }
  //end grid2------------------------------
  &--mb112 { margin-bottom: 121px; }
  &-content--mt17 {
    margin-top: 8px;
    @include respond-to(768) { margin-top: -6px; }
  }
  //----------------------------------------
}
