@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u {
  &-locate1 {margin-right: 10px;}
  //----------------------------
  &-text--red { color: red; }
  //----------------------------
  &-text1 {
    //----------------------------
    &--blue{color: #4471c6;}
    //----------------------------
  }
  //----------------------------
  &-bg--red {background: rgba(225, 57, 57, 0.11)!important;}
  //----------------------------
}

//smartphone img text
@include respond-to(768) {
  //----------------------------
  .u {
    &-imgtext1 {width: 220px;}
    &-imgtext2 {width: 139px!important;}
    &-imgtext3 {width: 77px!important;}
    &-imgtext4 {width: 108px !important;}
    &-imgtext5 {width: 92px !important;}
    &-imgtext6 {width: 158px !important;}
    &-imgtext7 {width: 95px !important;}
  }
  //-------------------------------
}