@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

.c-wrap {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) { width: 100%;}
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*--------------------------------------------------
  Component index
----------------------------------------------------*/

.c {
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(768) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(768) { display: none!important; }
    }
    //-----------------------------------
  }
  //show on smartphone---------------------------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(768) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(768) { display: inline-block!important; }
    }
    //------------------------------------------
    &-listbtn {
      text-align:  center;
      //---------------------------
      a {
        display: inline-block!important;
        margin:  0 auto;
        padding-top: 0px!important;
        text-align:  center;
        //---------------------------
        &:first-child {
          padding-top: 30px!important;
          padding-bottom: 15px;
        }
        //---------------------------
        &:last-child { margin-bottom: 15px; }
        //---------------------------
        img { width:  290px; }
      }
      //---------------------------
    }
    //end listbtn-----------------
  }
  //-------------------
  &-menuSP {
    position: absolute;
    box-sizing: border-box;
    top: 11px;
    right: 14px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
    z-index: 9999;
    background: #4471c6;
    border-radius: 4px;
    //--------------------
    &__1, &__2, &__3 {
      width: 15px;
      height: 2px;
      background: #fff;
      margin: 5px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //---------------------------
  }
  //---------------------------
  &-menulistSP {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    display: none;
    background: rgba(68, 113, 198, 0.65);
    //----------------------------
    li {
      position: relative;
      border-top: 1px solid #7998ce;
    }
    //----------------------------
    a {
      text-decoration: none;
      display: block;
      text-align: left;
      color: #ffffff;
      font-size: 1.4rem;
      padding: 19px 15px;
      //---------------------------
      @include respond-to(768) {
        font-size: 1.5rem;
      }
      //---------------------------
    }
    //----------------------------
  }
  //------------------------
  &--bordertop { border-top: 1px solid #ccc; }
  //---------------------------
  &-textdeco1 {
    color: #4471c6;
    //-----------------------
    &:after {
      content: '';
      width: 55px;
      height: 1px;
      margin: 11px auto 0;
      background: #4471c6;
      display:  block;
      @include respond-to(768) { width: 25px; }
    }
    //-----------------------
  }
  //end textdeco1-----------------------
  &-mbanner1 {
    height: 600px;
    background: url(../img/banner1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    //-------------------------------
    @include respond-to(768) {
      height: auto;
      background: none;
    }
    //--------------------------------
    &__textimg {
      position: absolute;
      top: 150px;
      background: rgba(68, 113, 198, 0.76);
      //----------------------------
      @include respond-to(768) {
        position: relative;
        top: -81px;
        margin: 0 auto;
        background: none;
        text-align: center;
        display: block;
        img { width: 291px; }
      }
      //----------------------------
    }
    //end textimg---------------------
    &__spbg {
      position: relative;
      width:  100%;
    }
    //end spbg---------------------
  }
  //end main banner1------------------
  &-mbanner2 {
    //------------------------
    @include respond-to(768) {
      &--padcent { padding: 0 20px; }
    }
    //------------------------
    &-tit1 {
      //--------------------------
      h2 {
        margin-bottom: 6px;
        //--------------------------
        @include respond-to(768) { margin-bottom: 5px;}
        //--------------------------
      }
      //---------------------------
    }
    //end title1--------------------
  }
  //end mbanner2------------------
  &-h {
    position: relative;
    display: block;
    height: auto;
    padding: 25px 0;
    z-index: 999;
    @include cf;
    @include respond-to(768) { padding: 16px 0; }
    //-------------------
    &-list1 {
      //----------------------
      ul { display: flex; }
      //----------------------
      li {
        margin-right: 20px;
        &:last-child { margin-right: 0;}
      }
      //----------------------
    }
    //-------------------
  }
  //end c-header------------
  &-navi {
    //---------------------------
    ul {
      display: flex;
      height: 70px;
      justify-content: space-between;
      background: url(../img/linemenu.png) no-repeat left;
    }
    //---------------------------
    li {
      width: 165px;
      box-sizing: boder-box;
      font-size: 1.6rem;
      box-sizing: border-box;
      background: url(../img/linemenu.png) no-repeat right;
      //--------------------------
      &:hover a {
        color: white;
        background: #4471c6;
      }
      //--------------------------
    }
    //----------------------------
    a {
      box-sizing: border-box;
      display: block;
      padding: 23px 0;
      color: black;
      text-decoration: none;
    }
  }
  //end c-navi----------------
  &-sptext {
    &--left {
      @include respond-to(768) {text-align: left;}
    }
    //----------------------------
    &--width290 {
      @include respond-to(768) {
        width: 290px;
        margin: 0 auto;
      }
      //----------------------
    }
    //----------------------
  }
  //end sptext--------------------
  &-list1 {
    display: flex;
    flex-wrap: wrap;
    &--col3 {
      .c-list1__card:nth-child(4n+1) {margin-left: 30px;}
      .c-list1__card:nth-child(3n+1) {margin-left: 0;}
      .c-list1__card:nth-child(4n+1) {margin-left: 0;}
    }
    //end col3---------------------
    &__card { margin-left: 30px; }
    &__img1 { position: relative; }
    &__info {
      color: white;
      background: #4471c6;
    }
    //end info----------------------
    &__text {
      padding: 19px 0 12px;
      line-height: 1.7;
      position: relative;
      @include respond-to(768) {
        padding: 13px 0 10px;
        line-height: unset;
      }
      h3 {
        margin-bottom: 7px;
        font-size: 20px;
        //-----------------------
        @include respond-to(768) {
          margin-bottom: 2px;
          img {width: 98px; }
        }
        //-----------------------
      }
      //-----------------------
    }
    //end text---------------------
    &--col4 {
      .c-list1__card:nth-child(4n+1) { margin-left: 0px;}
      .c-list1__card { margin-left: 29px; }
    }
    //end col4----------------------
  }
  //end c-list1-------------------
  &-btn1 {
    display: inline-block;
    //----------------------------
    a { display:  block;}
    //----------------------------
    @include respond-to(768) {
      img { width: 290px; }
    }
    //----------------------------
  }
  /*----------------------------
    c-sparrow1.menu's arrows(sp)
  ----------------------------*/
  &-sparrow1 {
    position:  absolute;
    right: 14px;
    top: 23px;
    img { width: 15px; }
  }
  /*----------------------------
    c-sphead.header(sp)
  ----------------------------*/
  &-sphead {
    //---------------------------
    &__img1 {
      margin-top: 7px;
      margin-left: 15px;
      img { width: 215px; }
    }
    //---------------------------
    &__text {
      font-size: 1.0rem;
      text-align: left;
      padding: 11px 16px 6px;
      border-bottom: 2px solid #e5e5e5;
    }
    //-------------------------
  }
  /*----------------------------
    c-f.Footer component
  ----------------------------*/
  &-f {
    padding: 28px 0;
    background: #4471c6;
    color: #f6f8fc;
    font-size: 1.4rem;
    //------------------------
    @include respond-to(768) {
      padding: 0;
      border-top: 2px solid #4471c6;
      background: none;
      padding-bottom: 0;
    }
    //-----------------------
    &-listpc {
      margin-bottom: 14px;
      .l--flex {
        justify-content: center;
      }
      //------------------------------
      li {
        position: relative;
        border-left: 1px solid white;
        //----------------------------
        &:first-child { border-left: none; }
      }
      //------------------------------
      a {
        display: block;
        padding: 0 13px 0 10px;
        color: #f6f8fc;
        text-decoration: none;
        &:hover {text-decoration: underline;}
      }
      //---------------------------------
    }
    //end listpc--------------------
    &-listsp {
      margin-bottom: 14px;
      @include respond-to(768) {
        margin: 0 auto;
      }
      .l--flex {
        justify-content: center;
        @include respond-to(768) {
          flex-wrap: wrap;
          justify-content: end;
        }
      }
      //------------------------------
      li {
        position: relative;
        border-left: 1px solid white;
        @include respond-to(768) {
          width: 130px;
          border: none;
          box-sizing: border-box;
          text-align: left;
          margin-bottom: 33px;
          &:nth-child(2n) { margin-left: 28px; }
        }
        //----------------------------
        &:first-child { border-left: none; }
      }
      //------------------------------
      a {
        display: block;
        padding: 0 13px 0 10px;
        color: #f6f8fc;
        text-decoration: none;
        //---------------------
        @include respond-to(768) {
          padding: 0;
          color: #333333;
        }
        //---------------------
      }
      //-----------------------
    }
    //end listsp-------------------
  }
  /*----------------------------
    c-ftable(sp)
  ----------------------------*/
  &-ftable {
    table {
      width:  100%;
      height: auto;
      border-spacing: 0;
      border-collapse: collapse;
    }
    //--------------------------
    a {padding: 16px 15px 20px;}
    //--------------------------
    td {
      width: 50%;
      box-sizing: border-box;
      position: relative;
      &:first-child {border-right: 1px solid #dddddd;}
      //------------------------
    }
    //---------------------------
    tr {
      text-align:  left;
      border-bottom: 1px solid #ddd;
    }
    //----------------------------
    .c-sparrow2 {
      position: absolute;
      right: 14px;
      top: 16px;
      img { width: 15px; }
    }
    //----------------------------
    &-btn1 {
      position:  relative;
      text-align:  center;
      img { width: 15px; }
    }
  }
  /*----------------------------
    c-copyright
  ----------------------------*/
  &-copyright {
    margin-left: -5px;
    font-size: 1.0rem;
    @include respond-to(768) {
      padding: 7px 0;
      background: #4471c6;
    }
  }
  /*----------------------------
    c-contactbox
  ----------------------------*/
  &-contactbox {
    padding: 62px 0 60px;
    color: #585550;
    border-top: 1px solid #cccccc;
    @include respond-to(768) {
      padding: 46px 0 36px;
      p { font-size: 1.3rem; }
    }
    //-----------------------------
    h2 {
      margin-bottom: 11px;
      @include respond-to(768) {
        margin-bottom: 6px;
        img { width: 224px; }
      }
    }
    //--------------------------
    &-box1 {
      margin-top:  38px;
      @include respond-to(768) { margin-top: 27px; }
      //----------------------------
      h3 {
        font-size: 1.6rem;
        margin-bottom:  13px;
        @include respond-to(768) {
          font-size: 1.4rem;
          margin-bottom:  8px;
        }
      }
      //----------------------------
    }
    //end box1----------------------
    &-list1 {
      a {
        position: relative;
        left: -11px;
        text-decoration: none;
        &:last-child { left: 6px; }
        @include respond-to(768) {
          left: 0;
          margin: 0 auto;
          &:first-child img {
            width: 290px;
            margin: 0 auto 10px;
          }
          &:last-child {
            left: 0;
            img { width: 140px; }
          }
        }
        //----------------------
      }
      //----------------------
    }
    //-----------------------------
  }
  //end contactbox-------------
  &-hr {
    width:  100%;
    height:  15px;
    margin: 31px 0;
    background:  url(../img/company/sp-line1.png) repeat-x;
    background-size: 100% 100%;
    //------------------------
    &--mbt1 { margin: 28px 0 22px; }
    &--mbt2 { margin: 24px 0 28px; }
    //--------------------------
  }
  //----------------------------
}

/*-----------------------------
  company component
------------------------------*/
.c {
  //-------------------------
  &-spcomp3--mb1 {margin-bottom: 31px;}
  //-------------------------
  &-company6 {
    //-------------------------
    &-box1 {
      box-sizing: border-box;
      padding: 18px 18px 13px;
      line-height: 1.6;
      height: 100%;
      background: #e9eff2;
    }
    //-------------------------
  }
  //-------------------------
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c {
  &-table1 {
    text-align: left;
    table {
      width:  100%;
      height:  auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse:  collapse;
      tr {
        width: 100%;
        vertical-align: text-top;
        border: 1px solid #d4d4d4;
        &>th {
          width: 209px;
          background: #f6f6f6;
          font-weight: normal;
          border-right: 1px solid #d4d4d4;
        }
        &>th,td { padding: 19px 20px 18px; }
      }
    }
  }
}


/*--------------------------------
  banner and breadcrumb
--------------------------------*/
.c {
  //------------------------------
  &-banner1 {
    display: block;
    height: 240px;
    background-size: cover!important;
    @include respond-to(768) {
      height: 150px;
    }
    &__title {
      padding-top: 94px;
      color: white;
      @include respond-to(768){
        padding-top: 54px;
        h2 {
          font-size: 1.4rem;
          font-weight: normal;
          img { width: 109px; }
        }
      }
      //----------------------
    }
    &--mt10 {
      display:  block;
      margin-top: 8px;
    }
    //------------------------
    h2 { font-weight: normal; }
  }
  //end banner1--------------------
  &-breadcrumb1 {
    padding: 30px 0 58px;
    //-----------------------------
    ul {display: flex;}
    li {
      line-height: 1;
      font-size: 1.2rem;
      //---------------------------
      &:after {
        content: ">";
        display: inline-block;
        margin: 0 5px 0 2px;
      }
      //---------------------------
      &:last-child:after { content: ""; }
      //---------------------------
      a {
        color: #4471c6;
        text-decoration: none;
        &:hover {text-decoration: underline;}
      }
      //---------------------------
    }
    //-----------------------------
  }
  //end breadcrumb1----------------
}

/*----------------------------
  navi component
----------------------------*/
.c {
  //--------------------
  &-navi1 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @include respond-to(768) {
      width:  291px;
      margin: 30px auto 0;
      a {padding: 6px 0 6px !important;}
      li:last-child a {margin-left: 14px!important;}
    }
    //------------------
    ul {display: flex;}
    //------------------
    li {
      position: relative;
      //----------------
      &:after {
          content: '';
          width: 1px;
          height: 20px;
          background: #ccc;
          display: inline-block;
          position: absolute;
          top: 19px;
          right: 0;
        @include respond-to(768) {
          height: 19px;
          top: 6px;
          right: -8px;
        }
        //------------------
      }
      //----------------
      &:first-child a {padding-left: 0;}
      //----------------
      &:last-child:after { width: 0; }
    }
    //------------------
    a {
      display:  block;
      color: #4471c6;
      padding: 19px 21px 15px 19px;
      text-decoration: none;
      img {
        vertical-align:  middle;
        margin-left: 5px;
      }
      //------------------
    }
    //-------------------
  }
  //end navi1--------------------
}

/*----------------------------
  business component
----------------------------*/
.c {
  &-business1 {
    &-box1 {
      text-align: left;
      @include respond-to(768) {
        width: 291px;
        margin: 44px auto 0;
        //--------------------
        .c-business1__img {
          img { width: 291px; }
        }
        //--------------------
      }
      //--------------------
    }
    //--------------------
    &__text1 {
      width: 448px;
      line-height:  1.6;
      //--------------------
      @include respond-to(768) {
        width: auto;
        margin-top: 14px;
      }
      //-----------------------
      h3 {
        color: #4471c6;
        font-size: 1.4rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #4471c6;
        margin-bottom: 20px;
        @include respond-to(768) {
          padding-bottom: 5px;
          margin-bottom: 13px;
          font-weight: 500;
        }
        //------------------
      }
      //--------------------
      h4 {
        color:  #4471c6;
        font-weight: 500;
      }
      //--------------------
      p {margin-bottom: 12px;}
      //--------------------
    }
    //--------------------
    &-list1 {
      //---------------------
      li {
        text-indent: -8px;
        padding-left: 9px;
        @include respond-to(768) {padding-right: 10px;}
        //------------------
        &::before {
          content: url(../img/business/i-dot.png);
          margin-right: 4px;
          color: #4471c6;
        }
        //------------------
        &:last-child { margin-bottom: 0; }
      }
      //---------------------
    }
    //---------------------
  }
  //----------------------------
  &-medallist {
    margin-top: 27px;
    @include respond-to(768) {
      margin-top: 11px;
    }
  }
  //---------------------------
  &-medal {
    width:  227px;
    padding: 18px 0 20px;
    border: 1px solid #4471c6;
    border-radius: 5px;
    box-sizing:  border-box;
    //----------------------
    @include respond-to(768) {
      width: auto;
      padding: 9px 0;
      margin-bottom: 15px;
      border-radius: 2px;
      &:last-child { margin-bottom: 0; }
      &__img {
        img { width: 15px; }
      }
      //-----------------------
    }
    //----------------------
    &__img {
      margin-right: 10px;
      @include respond-to(768) {
        margin-right: 6px;
      }
      //---------------------
    }
    //---------------------
  }
  //end medal----------------------------
}

/*-------------------------
  title component
-------------------------*/
.c {
  //-------------------------
  &-mtitle {
    //----------------------------
    &__tit1 {
      font-size: 1.8rem;
      //--------------------------
      img {vertical-align: middle;}
      //--------------------------
      @include respond-to(768) {
        margin-bottom: 12px!important;
        font-size: 1.4rem;
      }
      //--------------------------
      &:before {
        content: url(../img/business/i-icon1.png);
        display: inline-flex;
        width: 14px;
        height: 14px;
        margin-right: 2px;
        vertical-align: middle;
        align-items: center;
        //------------------------
      }
      //------------------------
    }
    //----------------------------
    &__tit2 {
      font-size:  1.6rem;
      font-weight:  500;
      //--------------------------
      &::before {
        content: url(../img/business/i-dot.png);
        margin-right: 4px;
        color: #4471c6;
      }
      //--------------------------
    }
    //----------------------------
    &--mb1 {margin-bottom: 24px;}
    &--mb2 {margin-bottom: 14px;}
    &--mb3 {margin-bottom: 30px;}
  }
  //------------------------------
}

/*---------------------------
  equipment component
---------------------------*/
.c {
  //-----------------------
  &-equipment2 {
    //---------------------
    &__text {
      margin-top:  17px;
      line-height: 1.6;
    }
    //---------------------
    &-box1 {
      width: 484px;
      display: block;
    }
    //---------------------
  }
  //-----------------------
}

/*---------------------------
  strength component
---------------------------*/
.c {
  &-strength3 {
    //---------------------
    &__text1 {
      width: 445px;
      text-align: left;
    }
    //---------------------
    &-box1 {
      margin-bottom: 122px;
      &:last-child {margin-bottom: 0;}
    }
    //--------------------
  }
  //---------------------
}

/*-----------------------------------------------------
  form
-----------------------------------------------------*/
.c {
  //-------------------------------------
  &-form1 {
    //------------------------------------------------
    table {
      border-bottom: 1px solid #e5e5e5;
      //------------------------------------------------
      tr {
        border-top: 1px solid #e5e5e5;
        //------------------------------------------------
        &>th {
          vertical-align: top;
          width: 249px;
          box-sizing: border-box;
          padding: 20px;
        }
      }
      //------------------------------------------------
      td {
        padding: 18px 21px 20px 21px !important;
        //------------------------------------------------
        input[type="text"] {
          width:  100%;
          box-sizing:  border-box;
          height:  29px;
          padding: 9px 10px;
          font-size: 1.4rem;
          margin-bottom: 10px;
          border: 1px solid #dddddd;
          &:last-child {margin-bottom: 0;}
        }
        //----------------------------------------------
        select {
          width: 150px;
          box-sizing:  border-box;
          height:  29px;
          padding: 0 17px;
          font-size: 1.4rem;
          margin-bottom: 10px;
          border: none;
          background: url(../img/contact/arrow.png) no-repeat 134px 10px;
          appearance: none;
          color: #a0a0a0;
          background-color: white;
          border: 1px solid #dddddd;
          //--------------------------------------------
          &::-ms-expand { display: none; }
          //--------------------------------------------
        }
        //----------------------------------------------
        //&:last-child { padding-left: 0 !important; }
      }
      //------------------------------------------------
      textarea {
        width: 100%;
        box-sizing:  border-box;
        resize: none;
        border: 1px solid #dddddd;
      }
    }
  }
  //-------------------------------------
  &-btn2 {
    display: inline-block;
    background: #d66363;
    font-size: 11px;
    color: white;
    padding: 1px 5px;
    text-decoration: none;
    &--gray { background: #999999; }
  }
  //----------------------------
  &-btn3 {
    display: inline-block;
    text-align:  center;
    margin: 50px auto 0;
  }
  //-----------------------------
}

/*--------------------------------
  contact.html
--------------------------------*/
.c {
  //-----------------------
  &-hrr {
    width: 100%;
    height: 1px;
    background: #bdbdbd;
    position: absolute;
    top: 18px;
    z-index: -1;
  }
  //-----------------------
  &-contact {
    //---------------------------
    &--w1 {width: 150px!important;}
    //-------------------------
    &--w2 {
      display: block;
      width: 420px!important;
    }
    //-----------------
  }
  //-------------------
}


/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(6px, 6px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(4px, -4px);}
}

/*---------------------------
  active menu
---------------------------*/
.active {
  a {
    background: #4471c6!important;
    color: white!important;
  }
}
