@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/

/*--------------------------------------------------
  top.html
--------------------------------------------------*/
.p {
  //--------------------------
  &-top1 {
    position: relative;
    top: -31px;
    margin-bottom: 29px;
    @include respond-to(768) {
      top: 0;
      margin-top: -57px;
      //----------------------
      .c-list1 {
        display: block;
        width: 290px;
        margin: 0 auto;
      }
      //----------------------
      .c-list1__card {
        margin-left: 0;
        margin-bottom: 16px;
      }
      //----------------------
      .c-list1__img1 img { width: 290px; }
    }
    &__mtext1 {
      margin-bottom: 60px;
      padding: 17px 20px;
      text-align: left;
      background: #e9eff2;
      @include respond-to(768) {
        width: 290px;
        margin: 0 auto 25px;
        padding: 0;
        box-sizing: border-box;
        background: none;
      }
    }
    //end mtext1--------------
    &__smtext1 {
      margin-right: 15px;
      @include respond-to(768) {
        margin-right: 0!important;
      }
      //---------------------
      &:before {
        content: '';
        width: 1px;
        height: 13px;
        position: relative;
        background: #333333;
        margin: 0 17px 0 11px;
        display: inline-block;
        top: 2px;
        @include respond-to(768) {
          width: 0;
          height: 0;
          margin: 0;
        }
        //-------------------
      }
      //---------------------
    }
    //end smtext1-------------
    .c-sparrow2 {
      position:  absolute;
      top: 26px;
      right: 13px;
      img { width: 17px; }
    }
    //end smartphone arrow2------------
  }
  //end top1------------------
  &-top2 {
    line-height: 1.6;
    @include respond-to(768) { margin-top: 45px; }
    .c-mbanner2 {
      height: 561px;
      background: url(../img/i-bg1.jpg) no-repeat left top;
      background-size: cover;
      //-------------------------
      @include respond-to(768) {
        height: auto;
        background: none;
        .c-mbanner2-tit1 h2 {
          //margin-bottom: 6px;
          img { width: 134px; }
        }
        //----------------------
      }
      //------------------------
    }
    //end mbanner2------------------
    .c-mbanner2__textimg {
      position: absolute;
      right: 0;
      top: 60px;
      width: 534px;
      box-sizing: border-box;
      padding: 49px 57px;
      background: white;
      //-------------------------
      @include respond-to(768) {
        position: relative;
        width: 290px;
        margin: 0 auto;
        padding: 30px 0;
        top: -79px;
      }
      //-------------------------
    }
    //end c-mbanner2__textimg-------
    .c-mbanner2-tit2 {
      margin: 30px 0 17px;
      @include respond-to(768) {
        margin: 14px 0 11px;
        h2>img { width: 180px; }
      }
      //----------------------------
    }
    .c-btn1 {
      margin-top: 26px;
      margin-left: -10px;
      @include respond-to(768) {
        margin-top: 3px;
        margin-left: 0;
      }
    }
    //---------------------------
    .u-text1--blue {
      font-size:  1.6rem;
      @include respond-to(768) { font-size: 1.4rem; }
    }
  }
  //end top2------------------------
  &-top3 {
    padding: 60px 0;
    background: #e9eff2;
    @include respond-to(768) {
      margin-top: -80px;
      padding: 61px 0 45px;
    }
    &__mtit1 {
      margin-bottom: 30px;
      //---------------------------
      @include respond-to(768) {
        margin-bottom: 14px;
        //---------------------------
        h2 {
          margin-bottom: 1px;
          img { width: 130px; }
        }
        //---------------------------
      }
      //---------------------------
    }
    //end c-list-info-------------------
    .c-list1 {
      margin-bottom: 26px;
      @include respond-to(768) {
        width: 290px;
        margin: 0 auto -3px;
        &--col4 {
          .c-list1__card:nth-child(4n+1){ margin: 0 auto 15px; }
          .c-list1__card {
            width: 100%;
            margin: 0 auto 15px;
          }
        }
        //---------------------------
        &__img1 img { width: 290px; }
      }
      //-----------------------------
      &__text {
        padding: 15px 0 13px;
        @include respond-to(768) {padding: 10px 0;}
      }
      //----------------------------
      &__info {
        color:  black;
        font-weight:  normal;
        font-size:  1.6rem;
        background: #ffffff;
      }
      //------------------------
    }
    //------------------------
    .c-btn1 {
      margin-top: 28px;
      margin-left: -10px;
      @include respond-to(768) {
        margin-top: 10px;
        margin-left: 0;
      }
      //---------------------------
    }
    //------------------------------
  }
  //end top3------------------------
  &-top5 {
    iframe {
      width: 100%;
      height: 494px;
      @include respond-to(768) {height: 250px;}
    }
  }
  //end top5----------------------
}

/*-------------------------------------------
  company.html
--------------------------------------------*/
.p {
  //----------------------------
  &-company1 {
    //--------------------------
    .c-banner1 {
      background: url(../img/company/ban-bg1.jpg) no-repeat;
      background-size: cover;
      @include respond-to(768) {
        background: url(../img/company/sp-bg1.jpg) no-repeat;
      background-size: cover;
      }
      //------------------------
    }
    //--------------------------
  }
  //end company1----------------
  &-company2 {
    margin-bottom: 119px;
    //---------------------------
    @include respond-to(768) {
      width: 290px;
      margin:38px auto 27px;
      //----------------------
      .l-grid1 {margin: 0 auto 14px!important;}
      //----------------------
      .u-text--red {
        text-align: left;
        font-size: .9rem;
      }
    }
    //---------------------------
    h2 {
      margin-bottom: 30px;
      @include respond-to(768) {
        margin-bottom: 25px;
        img { width: 55px; }
        //--------------------------
      }
    }
    //-------------------------
    .l-grid1 { margin: 24px 0 30px; }
  }
  //end company2----------------------------
  &-company3 {
    margin-bottom: 120px;
    //------------------------------
    @include respond-to(768) { margin-bottom: 0; }
    //---------------------------
    .c-textdeco1 {
      margin-bottom: 30px;
      //---------------------------
      @include respond-to(768) {
        margin-bottom: 21px;
        img { width: 76px; }
      }
      //---------------------------
    }
    //------------------------------
  }
  //end company3-------------------
  &-company4 {
    margin-bottom: 118px;
    //-----------------------------
    @include respond-to(768) { margin-bottom: 0; }
    .c-textdeco1 {
      margin-bottom: 33px;
      @include respond-to(768) {
        margin-bottom: 27px;
        img { width: 76px; }
      }
    }
    //-----------------------------
    iframe {
      width:  100%;
      height:  500px;
      margin-bottom: 28px;
    }
    //----------------------------
    .c-textdeco1:after {margin-top: 14px;}
  }
  //end company5------------------
  &-company5 {
    margin-bottom:  121px;
    @include respond-to(768) { margin-bottom: 0; }
    //------------------------------
    .c-textdeco1 {
      margin-bottom: 30px;
      @include respond-to(768) {
        //margin-bottom: 21px;
        img { width: 76px; }
      }
    }
    //------------------------------
  }
  //end company6------------------------------
  &-company6 {
    margin-bottom: 59px;
    //------------------------------------
    @include respond-to(768) {
      width: 290px;
      margin-bottom: -8px;
      margin-left: auto;
      margin-right: auto;
    }
    //------------------------------------
    .c-textdeco1 {
      margin-bottom: 31px;
      @include respond-to(768) {
        margin-bottom: 24px;
        img { width: 76px; }
      }
    }
    &--mtb1 { margin: 59px 0 28px; }
  }
  //end company6----------------------
}

/*---------------------------
  company smartphone
---------------------------*/
.p {
  //--------------------------
  &-spcompany1 {
    //------------------------
    @include respond-to(768) {
      background: url(../img/company/sp-bg2.jpg) no-repeat;
      background-size: cover;
      //----------------------
      .c-banner1__title{
        padding-top: 58px;
        //--------------------
        h2 {img { width: 127px; }}
      }
      //----------------------
    }
    //------------------------
  }
  //---------------------------
  &-spcompany2 {
    margin-bottom: 34px;
    background: url(../img/company/sp-bg3.jpg) no-repeat;
    background-size: cover;
    //----------------------
    .c-banner1__title{
      padding-top: 58px;
      //--------------------
      h2 {img { width: 134px; }}
    }
    //------------------------
  }
  //title and list selectbox-------------
  &-spcompany3 {
    &-tit1 img {width: 265px;}
    &-tit2 img {width: 93px;}
    &-tit3 img {width: 213px;}
    &-tit4 img {width: 110px;}
    &-tit5 img {width: 111px;}
    //-------------------------
    &-listbox {
      width: 290px;
      margin: 0 auto;
      text-align: left;
      //-----------------------
      .c-mtitle__tit1 {
        margin-bottom: 9px;
        &:nth-child(1) img { width: 185px; }
        &:nth-child(2) img{ width: 217px; }
        &:nth-child(3){
          margin-bottom: 0;
          img{ width: 203px; }
        }
        //----------------------
      }
      //-----------------------
    }
    //end list selectbox-----------
  }
  //---------------------------
  &-spcompany4 {
    margin-bottom: 23px;
    background: url(../img/company/sp-bg4.jpg) no-repeat;
    background-size: cover;
    //------------------------
  }
  //---------------------------
  &-spcompany5 {
    margin-bottom: 32px;
    background: url(../img/company/sp-bg5.jpg) no-repeat;
    background-size: cover;
    //---------------------
    .c-banner1__title{
      padding-top: 58px;
      //--------------------
      h2 {img { width: 109px; }}
    }
    //------------------------
  }
  //end spcompany5------------
}

/*-----------------------------
  business.html
-----------------------------*/
.p {
  //----------------------------
  &-business1 {
    //--------------------------
    @include respond-to(768) {
      .c-banner1--mt10 {
        display: block;
        margin-top: 0px;
      }
      //------------------------
    }
    //--------------------------
    .c-banner1 {
      background: url(../img/business/ban-bg1.jpg) no-repeat;
      &-title {margin-left: 11px;}
      @include respond-to(768) {
        background: url(../img/business/sp-bg1.jpg) no-repeat;
      background-size: cover;
      }
      //------------------------
    }
    //--------------------------
    .c-banner1__title {
      margin-left: 9px;
      //----------------------
      @include respond-to(768) {
        margin-left: 5px;
        padding-top: 57px;
      }
      //----------------------
    }
    //-------------------------
  }
  //end business2---------------
  &-business2 {
    margin: 65px 0 126px;
    @include respond-to(768) {
      margin: 45px 0;
    }
    &-tit1 {
      margin-bottom: 54px;
      font-size: 1.8rem;
      @include respond-to(768) {
        margin-bottom: -23px;
        font-size: 1.6rem;
        h2 {
          //--------------------
          img {width: 181px;}
          //--------------------
        }
        //--------------------
      }
      .c-textdeco1 {
        margin-bottom: 25px;
        @include respond-to(768) {
          margin-bottom: 15px;
        }
        //-----------------------
        &:after {
          margin-top: 18px;
          //-----------------------
          @include respond-to(768) {
            margin-top: 10px;
          }
          //-----------------------
        }
        //----------------------
      }
      //----------------------
    }
    //--------------------------
  }
  //--------------------------
  &-business3 {
    margin-bottom: 60px;
    @include respond-to(768) {
      margin-bottom: 30px;
      .c-textdeco1 h2 img {width: 162px;}
    }
    &-tit1 {
      margin-bottom: 70px;
      @include respond-to(768) {
        margin-bottom: 30px;
      }
    }
  }
  //---------------------------
  &--mb1 {
    margin-bottom: 102px;
    //------------------------
    @include respond-to(768) {
      margin-bottom: 44px;
    }
    //------------------------
  }
  //------------------------
}

.c-medal.l--flex {
  justify-content: center;
  align-items:  center;
}

/*----------------------
  equipment.html
----------------------*/
.p {
  //-------------------------
  &-equipment1 {
    //------------------------
    .c-banner1 {
    background: url(../img/equipment/banner-bg1.jpg) no-repeat;
      //------------------------
      &__title {
        margin-left: 4px;
        padding-top: 92px;
        padding-left: 5px;
      }
      //------------------------
    }
    //------------------------
  }
  //---------------------------
  &-equipment2 {
    margin: 58px 0 60px;
    text-align: left;
    //-------------------------
    h2 {font-weight: 500;}
    //-------------------------
    &--mb1 {margin-bottom: 117px;}
    //-------------------------
    .c-mtitle__tit2 {margin-bottom: 5px;}
    //-------------------------
  }
  //---------------------------
}

/*----------------------------
  strength.html
----------------------------*/
.p {
  //-------------------------
  &-strength1 {
    //------------------------
    .c-banner1 {
    background: url(../img/strength/ban-bg1.jpg) no-repeat;
      //------------------------
      &__title {
        margin-left: 42px;
        padding-top: 92px;
      }
      //------------------------
    }
    //------------------------
  }
  //---------------------------
  &-strength2 {
    margin-bottom: 114px;
    //-------------------------
    &-box1 {margin-top: 33px;}
  }
  //end strength2--------------
  &-strength3 {
    margin-bottom:  76px;
    .c-textdeco1 {
      margin-bottom: 30px;
      &:after {margin-top: 14px;}
    }
    //-------------------------
  }
  //---------------------------
}

/*----------------------------
  employment.html
----------------------------*/
.p {
  &-employment1 {
    //------------------------
    .c-banner1 {
    background: url(../img/employment/ban-bg1.jpg) no-repeat;
      //------------------------
      &__title {
        padding-top: 92px;
      }
      //------------------------
    }
    //------------------------
  }
  //---------------------------
  &-employment2 {
    margin-bottom: 118px;
    //------------------------
    .c-textdeco1 {margin-bottom: 30px;}
    //------------------------
    p {
      margin-bottom: 22px;
      &:last-child {margin-bottom: 0;}
    }
    //------------------------
    &-box1 {
      width: 617px;
      margin: 0 auto;
    }
    //------------------------
    &-tb1 {
      //------------------------
      .c-table1 {
        th, td {
          padding: 18px 20px 12px;
          line-height: 1.6;
        }
        tr {vertical-align: middle;}
      }
      //------------------------
    }
    //------------------------
    &--mt1 { margin-top: 30px; }
    //--------------------------
    &--mb1 {margin-bottom: 120px;}
  }
  //end employment2-------------
  &-employment3 {
    margin-bottom: 57px;
    .c-textdeco1 {margin-bottom:  30px;}
    //-------------------------
    p {margin-bottom: 25px;}
    //-------------------------
    &-list1 {
      width: 657px;
      margin: 0 auto 10px;
    }
    //------------------------
  }
  //---------------------------
}

/*---------------------------
  contact.html
---------------------------*/
.p {
  &-contact1 {
    //------------------------
    .c-banner1 {
    background: url(../img/contact/ban-bg1.jpg) no-repeat;
      //------------------------
      &__title {padding-top: 92px;}
      //------------------------
    }
    //------------------------
  }
  //---------------------------
  &-contact-active {
    color: #4471c6!important;
    //--------------------------
    .p-contact3-num {
      border-color: #4471c6;
    }
    //--------------------------
  }
  //---------------------------
  &-contact2 {
    margin-bottom: 82px;
    //------------------------
    .c-textdeco1 {margin-bottom: 38px;}
    //------------------------
    p {
      margin-bottom: 22px;
      &:last-child {margin-bottom: 0;}
    }
    //------------------------
    &-tb1 {
      //------------------------
      .c-table1 {
        th, td {
          padding: 18px 20px 12px;
          line-height: 1.6;
        }
        tr {vertical-align: middle;}
      }
      //------------------------
    }
    //------------------------
    &--mt1 { margin-top: 30px; }
    //--------------------------
    &--mb1 {margin-bottom: 120px;}
  }
  //----------------------------
  &-contact3 {
    width: 319px;
    margin: 0 auto 23px 345px;
    position: relative;
    //--------------------------
    &-box1 {
      background: white;
      color: #bdbdbd;
      //-----------------------
      p {font-size: 1.9rem;}
      //-----------------------
      &::after {
        width: 11px;
        height: 30px;
        background:  #ccc;
        display:  inline-block;
        position: absolute;
      }
      //------------------------
    }
    //--------------------------
    &-num {
      width: 38px;
      height: 38px;
      padding-top: 3px;
      font-size: 1.8rem;
      border: 1px solid #bdbdbd;
      border-radius: 57px;
      box-sizing: border-box;
      margin-bottom: 3px;
    }
    //--------------------------
  }
  //----------------------------
  &-contact4 {
    margin-bottom: 57px;
    //--------------------------
    .u-text--red {margin-bottom: 10px;}
    //--------------------------
    .c-table1 th {
      //padding-bottom: 23px;
      vertical-align: middle;
    }
    //--------------------------
    .c-btn1 {margin-top: 27px;}
    //--------------------------
  }
  //----------------------------
}
