@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-text1--orange {
  color: #f15024;
}

.u-text1--blue {
  color: #3d61b2;
}

.u-text1--green {
  color: #62a836;
}

.u-text1--pink {
  color: #e0aab7;
}

.u-elephant1 {
  width: 148px;
}

/*---------------------------------
img Top
----------------------------------*/
.u-Top4__img1 {
  width: 126px;
}

.u-Top4__img2 {
  width: 200px;
}

.u-Top4__img3 {
  width: 164px;
}

.u-Top4__img4 {
  width: 181px;
}

.u-Top4__img5 {
  width: 139px;
}

.u-Top4__img6 {
  width: 62px;
}

.u-Top4__img7 {
  width: 70px;
}

.u-Top4__img8 {
  width: 214px;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 990px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 100%;
    font-size: 1.3rem;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

button:hover, a:hover {
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l-wrap {
  display: block;
  width: 990px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .l-wrap {
    width: 100%;
  }
}

.l--hidden {
  overflow: hidden;
}

.l-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flexbox--acenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flexbox--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.l-flexbox--flexstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-flexbox--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-flexbox--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .l-flexbox--spblock {
    display: block;
  }
}

.l-box--posRelative {
  position: relative;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(-17px);
            transform: translateY(-17px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translateY(-17px);
            transform: translateY(-17px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.01, 1.06);
            transform: scale(1.01, 1.06);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.01, 1.06);
            transform: scale(1.01, 1.06);
  }
}

@-webkit-keyframes zoomdemo {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3);
  }
}

@keyframes zoomdemo {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(3, 3);
            transform: scale(3, 3);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c-pc {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 767px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-menuSP {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 11px;
  right: 14px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  cursor: pointer;
  z-index: 9999;
  background: #72bfd4;
  border-radius: 4px;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 15px;
  height: 2px;
  background: #fff;
  margin: 5px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: absolute;
  width: 100%;
  top: 68px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  display: none;
  background: rgba(114, 191, 212, 0.87);
  overflow-x: hidden;
}

.c-menulistSP li {
  position: relative;
  border-top: 1px solid #5c9f98;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 19px 15px;
}

@media only screen and (max-width: 768px) {
  .c-menulistSP a {
    font-size: 1.5rem;
  }
}

.c-sphead {
  position: fixed;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.c-sphead__img1 {
  text-align: left;
}

.c-sphead__img1 img {
  width: 181px;
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

/*-------------------------------
*btn
-------------------------------*/
.c-btn1 {
  display: inline-block;
}

.c-btn1 a {
  color: #333;
  display: block;
  text-decoration: none;
}

.c-btn1__type1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 221px;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #50717a;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .c-btn1__type1 {
    width: 200px;
    padding: 9px 0;
  }
}

/*-------------------------------
*list
-------------------------------*/
.c-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-list2__info {
  text-align: left;
}

/*-------------------------------
*navigation for PC
-------------------------------*/
.c-naviPC li:hover .c-naviPC-subMenu {
  display: block !important;
}

.c-naviPC-subMenu {
  display: none !important;
  position: absolute;
  z-index: 1;
  background: #fff6f4;
}

.c-naviPC-subMenu li {
  margin-right: 0;
  text-align: left;
}

.c-naviPC-subMenu a {
  padding: 10px;
  font-size: 1.3rem;
}

.c-naviPC-subMenu a img {
  vertical-align: middle;
  margin-right: 8px;
}

.c-naviPC--size1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 164px;
}

/*-------------------------------
*img box
-------------------------------*/
.c-imgbox1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 180px;
  height: 174px;
  background: url(../img/i-frame1.png) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .c-imgbox1 {
    width: 183px;
    margin: 0 auto 10px;
  }
}

.c-imgbox1:hover .c-imgbox1__child {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.c-imgbox1__child {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.c-imgbox1__child--bg1 {
  background: url(../img/i-child1.jpg) no-repeat;
  background-size: cover;
}

.c-imgbox1__child--bg2 {
  background: url(../img/i-food1.jpg) no-repeat;
  background-size: cover;
}

/*-------------------------------
*header
-------------------------------*/
.c-h1 {
  position: relative;
  height: 501px;
  background: url(../img/h-banner1.jpg) no-repeat top left;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .c-h1 {
    height: 350px;
  }
}

.c-h1__text {
  position: absolute;
  top: 341px;
  left: 6px;
}

@media only screen and (max-width: 767px) {
  .c-h1__text {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 149px;
  }
  .c-h1__text img {
    width: 250px;
  }
}

.c-h2 {
  padding: 30px 0 26px;
}

.c-banner1 {
  display: block;
  height: 250px;
  background-size: cover !important;
}

/*-------------------------------
*flower icon
-------------------------------*/
.c-flowers1 {
  position: fixed;
  right: 24px;
  top: 69px;
  z-index: 99;
}

.c-flowers1--pos1 {
  top: 228px;
}

.c-flowers1__obj2 {
  position: relative;
  top: 65px;
  left: 4px;
}

.c-flowers1__obj1:hover img, .c-flowers1__obj2:hover img {
  -webkit-animation: swinging 2.5s ease-in-out infinite;
          animation: swinging 2.5s ease-in-out infinite;
}

/*-------------------------------
*contact
-------------------------------*/
.c-contact1 {
  position: absolute;
  right: 0;
}

.c-contact1 a {
  display: inline-block;
  text-align: left;
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.c-contact1--mTop {
  margin: -12px auto 81px;
}

.c-contact1--pos1 {
  right: 27px;
  top: 34px;
}

.c-contact1__link1 img, .c-contact1__link2 img {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 7px;
}

.c-contact1__link1 {
  font-size: 1.6rem !important;
  margin-right: 10px;
}

.c-contact2 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-contact2-box1 > .l-flexbox {
    display: block;
  }
}

.c-contact2-bgBox {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

.c-contact2-bgBox .l-flexbox {
  height: 100%;
}

.c-contact2-bgBox--bg1 {
  width: 50%;
  height: 100%;
  background: #68a3b3;
}

.c-contact2-bgBox--bg2 {
  width: 50%;
  height: 100%;
  background: #46c4dc;
}

.c-contact2-smbox1, .c-contact2-smbox2 {
  width: 50%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  line-height: 1.7;
}

@media only screen and (max-width: 767px) {
  .c-contact2-smbox1, .c-contact2-smbox2 {
    width: 100%;
  }
}

.c-contact2-smbox1 {
  padding: 25px 5px;
}

@media only screen and (max-width: 767px) {
  .c-contact2-smbox1 {
    background: #68a3b3;
    padding: 18px 10px;
  }
}

.c-contact2-smbox2 {
  padding: 31px 0 20px 46px;
}

@media only screen and (max-width: 767px) {
  .c-contact2-smbox2 {
    background: #46c4dc;
    padding: 15px 10px;
  }
}

.c-contact2-smbox2 h2 {
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.c-contact2-smbox2 h2:before {
  content: '';
  width: 5px;
  height: 25px;
  background: #fff;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.c-contact2-smbox2 h3 {
  margin-bottom: 5px;
}

.c-contact2-smbox2 p {
  font-size: 1.4rem;
  line-height: 1.8;
}

@media only screen and (max-width: 767px) {
  .c-contact2-smbox2 p {
    font-size: 1.3rem;
  }
}

.c-contact2-telText {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: -5px;
}

.c-contact2__text--mtb1 {
  margin: 25px 0 11px;
}

@media only screen and (max-width: 767px) {
  .c-contact2__text--mtb1 {
    margin: 12px 0 5px;
  }
}

.c-contact2__h3--mt1 {
  margin-top: 28px;
}

@media only screen and (max-width: 767px) {
  .c-contact2__h3--mt1 {
    margin-top: 14px;
  }
}

.c-contact3 {
  padding: 38px 0;
  background: #65bdcc;
}

@media only screen and (max-width: 767px) {
  .c-contact3 {
    padding: 19px 0 15px;
  }
  .c-contact3-box1 > .l-flexbox {
    display: block;
  }
}

.c-contact3-smbox1, .c-contact3-smbox2 {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 16px 0;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .c-contact3-smbox1, .c-contact3-smbox2 {
    width: 100%;
    padding: 8px 0;
  }
}

.c-contact3__title1 {
  letter-spacing: 2px;
}

.c-contact3-smbox1 h2 {
  font-size: 4.3rem;
  letter-spacing: 4px;
}

@media only screen and (max-width: 767px) {
  .c-contact3-smbox1 h2 {
    font-size: 2.5rem;
    margin: 8px 0;
  }
}

.c-contact3-smbox2 p {
  letter-spacing: 2px;
}

.c-contact3-btn1 {
  margin-top: 18px;
  margin-left: -9px;
  border-radius: 3px;
  background: #e74857;
}

@media only screen and (max-width: 767px) {
  .c-contact3-btn1 {
    margin-top: 9px;
    margin-left: 0;
  }
}

.c-contact3-btn1 a {
  color: #fff !important;
  padding: 13px 26px;
}

@media only screen and (max-width: 767px) {
  .c-contact3-btn1 a {
    padding: 7px 16px;
  }
}

/*-------------------------------
*navigation
-------------------------------*/
.c-naviPC ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-naviPC a {
  display: block;
  text-decoration: none;
  color: #333;
}

.c-naviPC a h2 {
  margin-bottom: 6px;
}

.c-naviPC a h3 {
  font-weight: 500;
}

.c-naviPC li {
  position: relative;
  margin-bottom: 10px;
  margin-right: 53px;
}

.c-naviPC li:last-child {
  margin-right: 0;
}

.c-naviPC li:hover .c-naviPC__bg-1 {
  background: url(../img/i-flowerbg1-hover.png) no-repeat;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.c-naviPC li:hover .c-naviPC__bg-2 {
  background: url(../img/i-flowerbg2-hover.png) no-repeat;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.c-naviPC li:hover .c-naviPC__bg-3 {
  background: url(../img/i-flowerbg3-hover.png) no-repeat;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.c-naviPC li:hover .c-naviPC__bg-4 {
  background: url(../img/i-flowerbg4-hover.png) no-repeat;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.c-naviPC li:hover .c-naviPC__bg-5 {
  background: url(../img/i-flowerbg5-hover.png) no-repeat;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.c-naviPC li:hover .c-naviPC__bg-6 {
  background: url(../img/i-flowerbg6-hover.png) no-repeat;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.c-naviPC__bg {
  width: 51px;
  height: 51px;
  position: absolute;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.c-naviPC__bg-1 {
  background: url(../img/i-flowerbg1.png) no-repeat;
  top: -15%;
  left: 30%;
}

.c-naviPC__bg-2 {
  background: url(../img/i-flowerbg2.png) no-repeat;
  top: -15%;
  left: 11%;
}

.c-naviPC__bg-3 {
  background: url(../img/i-flowerbg3.png) no-repeat;
  top: -15%;
  left: 22%;
}

.c-naviPC__bg-4 {
  top: -15%;
  left: 27%;
  background: url(../img/i-flowerbg4.png) no-repeat;
}

.c-naviPC__bg-5 {
  top: -15%;
  left: 15%;
  background: url(../img/i-flowerbg5.png) no-repeat;
}

.c-naviPC__bg-6 {
  top: -22%;
  left: 26%;
  background: url(../img/i-flowerbg6.png) no-repeat;
}

/*-------------------------------
*main title
-------------------------------*/
.c-maintitle1 {
  font-size: 2.5rem;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .c-maintitle1 {
    font-size: 2.2rem;
  }
}

.c-maintitle1 h3 {
  font-size: 1.5rem;
  color: #64c7e1;
  margin-top: 6px;
  letter-spacing: 2px;
}

.c-maintitle1--mb1 {
  margin-bottom: 46px;
}

@media only screen and (max-width: 767px) {
  .c-maintitle1--mb1 {
    margin-bottom: 23px;
  }
}

.c-maintitle1--mb2 {
  margin-bottom: 54px;
}

@media only screen and (max-width: 767px) {
  .c-maintitle1--mb2 {
    margin-bottom: 27px;
  }
}

/*-------------------------------
*top component
-------------------------------*/
.c-top5-dateBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-top5__label1 {
  margin-right: 15px;
  color: #fff;
  background: #41c9e3;
  border-radius: 5px;
  padding: 3px 6px;
}

.c-top5__label2 {
  font-size: 1.3rem;
  color: #cccccc;
  vertical-align: middle;
}

/*-------------------------------
*breadcrumb
-------------------------------*/
.c-breadcrumb1 {
  padding: 61px 0 66px;
}

.c-breadcrumb1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumb1 li {
  line-height: 1;
  font-size: 1.2rem;
  color: #878787;
}

.c-breadcrumb1 li a {
  color: #46c4dc;
}

.c-breadcrumb1 li:after {
  content: ">";
  display: inline-block;
  margin: 0 16px 0 24px;
}

.c-breadcrumb1 li:last-child:after {
  content: '';
}

/*-------------------------------
*footer
-------------------------------*/
.c-f {
  padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .c-f {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .c-f-list1 .l-flexbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-f-list1 a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 17px 10px;
}

.c-f-list1 li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 159px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-f-list1 li {
    width: 50%;
  }
}

.c-f-list1 li:before {
  content: '';
  width: 5px;
  height: 25px;
  vertical-align: middle;
  background: #fff;
  position: absolute;
  left: 0;
  top: 15px;
}

@media only screen and (max-width: 767px) {
  .c-f-list1 li:before {
    width: 0;
  }
}

.c-f-list1 li:last-child:after {
  content: '';
  width: 5px;
  height: 25px;
  vertical-align: middle;
  background: #fff;
  position: absolute;
  right: 0;
  top: 15px;
}

@media only screen and (max-width: 767px) {
  .c-f-list1 li:last-child:after {
    width: 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-f-list2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 402px;
    margin: 0 auto 15px;
    padding: 0 10px;
  }
}

.c-f-list2 li {
  margin-right: 13px;
}

.c-f-list2 li a {
  display: block;
  color: #a0a0a0;
  text-decoration: none;
}

.c-f-box1 {
  background: #ebf3f6;
}

.c-f-box2 {
  padding: 42px 5px 36px;
  border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 767px) {
  .c-f-box2 {
    padding: 21px 5px 18px;
  }
  .c-f-box2 > .l-flexbox {
    display: block;
  }
}

.c-f-box2 .l-flexbox {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.c-f-box3 {
  padding: 27px 0;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #a0a0a0;
}

@media only screen and (max-width: 767px) {
  .c-f-box3 {
    padding: 13px 0;
  }
  .c-f-box3 > .l-flexbox {
    display: block;
  }
}

.c-f__logo1 img {
  width: 205px;
}

.c-f__text1 {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.7;
  margin-left: 30px;
}

@media only screen and (max-width: 767px) {
  .c-f__text1 {
    margin: 20px 0 0 0;
    font-size: 1.2rem;
    text-align: center;
  }
}

/*-------------------------------
*flag
-------------------------------*/
.c-flatright {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

.c-flatleft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
