/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*---------------------------------
*index.html
---------------------------------*/
.p-top1 {
  position: relative;
  padding-top: 29px;
  height: 570px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/i-bgball1.jpg) no-repeat left top;
  background-size: 100%;
}

@media only screen and (max-width: 767px) {
  .p-top1 {
    margin-top: 30px;
    padding: 15px 10px 0;
    height: auto;
  }
}

.p-top1 h2 {
  font-size: 3.2rem;
  line-height: 52px;
  margin-bottom: 26px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 767px) {
  .p-top1 h2 {
    margin-bottom: 13px;
    font-size: 2.4rem;
    line-height: 30px;
  }
}

.p-top1-boxinfo1 {
  line-height: 30px;
}

.p-top1-boxinfo1--mb1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .p-top1-boxinfo1--mb1 {
    margin-bottom: 15px;
  }
}

.p-top1-boxinfo1--mb2 {
  margin-bottom: 29px;
}

@media only screen and (max-width: 767px) {
  .p-top1-boxinfo1--mb2 {
    margin-bottom: 15px;
  }
}

.p-top1-btn1 {
  width: 275px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -1px;
  border: 1px solid #e74857;
}

@media only screen and (max-width: 767px) {
  .p-top1-btn1 {
    width: 250px;
    margin-left: 0;
  }
}

.p-top1-btn1 a {
  padding: 7px 0;
  color: #e74857;
}

.p-top1--absolute {
  position: absolute;
  z-index: 1;
}

.p-top1__ball1 {
  top: -13px;
  left: -279px;
  -webkit-animation: updown ease-in-out 1.1s infinite alternate;
          animation: updown ease-in-out 1.1s infinite alternate;
}

.p-top1__ball2 {
  bottom: -60px;
  left: -88px;
  -webkit-animation: updown ease-in-out 1s infinite alternate;
          animation: updown ease-in-out 1s infinite alternate;
}

.p-top1__ball3 {
  bottom: -135px;
  left: -301px;
  -webkit-animation: updown ease-in-out .7s infinite alternate;
          animation: updown ease-in-out .7s infinite alternate;
}

.p-top1__ball4 {
  top: -16px;
  right: -306px;
  -webkit-animation: updown ease-in-out .9s infinite alternate;
          animation: updown ease-in-out .9s infinite alternate;
}

.p-top1__ball5 {
  bottom: -136px;
  right: -124px;
  -webkit-animation: updown ease-in-out .8s infinite alternate;
          animation: updown ease-in-out .8s infinite alternate;
}

.p-top2 {
  margin-top: -56px;
  margin-bottom: 70px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .p-top2 {
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .p-top2__img1 img {
    width: 300px;
  }
  .p-top2__info {
    background: rgba(177, 231, 225, 0.82);
  }
}

.p-top2-box1 {
  margin-left: -302px;
}

@media only screen and (max-width: 767px) {
  .p-top2-box1 {
    margin-left: 0;
  }
  .p-top2-box1 > .l-flexbox {
    display: block;
  }
}

.p-top2__guildCard {
  width: 242px;
  min-width: 239px;
  padding: 50px 0 10px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #41c9e3;
}

@media only screen and (max-width: 767px) {
  .p-top2__guildCard {
    width: auto;
    padding: 24px 0;
    margin-bottom: 20px;
  }
}

.p-top2__mainTitle {
  position: relative;
  left: 100px;
  width: 90px;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

@media only screen and (max-width: 767px) {
  .p-top2__mainTitle {
    position: relative;
    left: 0;
    text-align: center;
    width: auto;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .p-top2__mainTitle {
    height: 176px;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 767px), only screen and (-ms-high-contrast: none) and (max-width: 767px) {
  .p-top2__mainTitle {
    height: auto;
  }
}

.p-top2__mainTitle h2 {
  font-size: 2.5rem;
}

.p-top2__mainTitle .p-point {
  font-size: 1.5rem;
  color: #8bdef0;
  margin-left: 12px;
}

@media only screen and (max-width: 767px) {
  .p-top2__mainTitle .p-point {
    margin-left: 0;
  }
}

.p-top2__guildText {
  position: relative;
  display: inline-block;
  margin-top: 108px;
  margin-left: 27px;
}

.p-top2__guildText:after {
  content: url(../img/i-arrow1.png);
  position: absolute;
  top: 14px;
  left: 0;
}

.p-top2__info--topline1 {
  border-top: 3px solid #f15024;
}

.p-top2__info--topline2 {
  border-top: 3px solid #3d61b2;
}

.p-top2__info--topline3 {
  border-top: 3px solid #62a836;
}

.p-top2__info--topline4 {
  border-top: 3px solid #f091a9;
}

.p-top2__info__text1 {
  height: 142px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 17px;
  text-align: left;
}

.p-top2__info__text1 h2 {
  line-height: 1.3;
  margin-bottom: 10px;
}

.p-top2__info__text1--pb1 {
  padding-bottom: 31px;
}

.p-top2__info__text1--pb2 {
  padding-bottom: 30px;
}

.p-top2__info__text1--pb3 {
  padding-bottom: 33px;
}

.p-top2__label {
  padding: 8px 0;
  color: #fff;
  text-align: left;
  background: #98d1b8;
}

.p-top2__label--bg1 {
  background: #9da9cb;
}

.p-top2__label--bg2 {
  background: #e0aab7;
}

.p-top2__label--bg3 {
  background: #e7cc6d;
}

.p-top2__smallImg1 {
  width: 39px;
  height: 39px;
}

.p-top2__smallImg--ml1 {
  margin-right: 10px;
}

.p-top2__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-top2__card {
    width: 300px;
    margin: 0 auto 14px;
  }
}

.p-top3 {
  position: relative;
  margin-bottom: 140px;
}

@media only screen and (max-width: 767px) {
  .p-top3 {
    margin-bottom: 70px;
  }
  .p-top3__img1 img {
    width: 230px;
  }
}

.p-top3-box1 {
  padding: 0 16px;
}

@media only screen and (max-width: 767px) {
  .p-top3-box1 {
    padding: 0;
  }
  .p-top3-box1 .l-flexbox {
    display: block;
  }
}

.p-top3--mb1 {
  margin-top: 73px;
}

@media only screen and (max-width: 767px) {
  .p-top3--mb1 {
    margin-top: 35px;
  }
}

.p-top3__img1 {
  margin-bottom: 20px;
}

.p-top3__info1 {
  padding: 0 18px;
  text-align: left;
  line-height: 24px;
}

@media only screen and (max-width: 767px) {
  .p-top3__info1 {
    padding: 0 9px;
  }
}

.p-top3__labelBox1 {
  position: relative;
  margin-top: 20px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .p-top3__labelBox1 {
    margin-top: 10px;
    font-size: 1.3rem;
  }
}

.p-top3__labelBox1--mtl1 {
  margin-top: 45px;
  margin-left: 3px;
}

@media only screen and (max-width: 767px) {
  .p-top3__labelBox1--mtl1 {
    margin-top: 22px;
  }
}

.p-top3__labelBox1 p {
  margin-bottom: 5px;
}

.p-top3__card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
}

@media only screen and (max-width: 767px) {
  .p-top3__card1 {
    margin: 0 auto 35px;
  }
}

.p-top3__label1 {
  padding: 3px 7px;
  background: #b6dc5c;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 16px;
  border-radius: 5px;
}

.p-top3__label1--bg2 {
  background: #9da9cb;
}

.p-top4 {
  padding-bottom: 67px;
  margin-bottom: 73px;
  border-bottom: 1px solid #dddddd;
}

@media only screen and (max-width: 767px) {
  .p-top4 {
    padding-bottom: 33px;
    margin-bottom: 36px;
  }
}

.p-top4-list1 {
  padding: 0 84px;
  margin-top: -2px;
}

@media only screen and (max-width: 767px) {
  .p-top4-list1 {
    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
  }
  .p-top4-list1 > .l-flexbox {
    display: block;
  }
  .p-top4-list1 a {
    display: block;
    margin-bottom: 20px;
  }
}

.p-top4-link1--mt1 {
  margin-top: 31px;
}

.p-top4-link1--mr1 {
  margin-right: 49px;
}

@media only screen and (max-width: 767px) {
  .p-top4-link1--mr1 {
    margin-right: 0;
  }
}

.p-top4-link1--mr2 {
  margin-right: 48px;
}

@media only screen and (max-width: 767px) {
  .p-top4-link1--mr2 {
    margin-right: 0;
  }
}

.p-top4--mt1 {
  margin-top: 80px;
}

@media only screen and (max-width: 767px) {
  .p-top4--mt1 {
    margin-top: 40px;
  }
}

.p-top5 {
  margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
  .p-top5 {
    margin-bottom: 45px;
  }
}

.p-top5-list1 {
  padding: 0 3px;
}

@media only screen and (max-width: 767px) {
  .p-top5-list1 .c-list2 {
    display: block;
  }
}

.p-top5-list1--mt1 {
  margin-top: 58px;
}

@media only screen and (max-width: 767px) {
  .p-top5-list1--mt1 {
    margin-top: 29px;
  }
}

.p-top5--mt1 {
  margin-top: 80px;
}

@media only screen and (max-width: 767px) {
  .p-top5--mt1 {
    margin-top: 30px;
  }
}

.p-top5__imgbox {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-top5__imgbox {
    width: 183px;
    margin: 0 auto 10px;
  }
}

.p-top5__imgbox:hover .p-top5__img, .p-top5__imgbox:hover .p-top5__img1 {
  -webkit-animation: zoom 3s ease-in-out alternate;
          animation: zoom 3s ease-in-out alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.p-top5__img {
  width: 181px;
  height: 171px;
  margin-left: 1px;
}

.p-top5__img1 {
  width: 180px;
  height: 172px;
  margin-left: 1px;
}

.p-top5__frame1 {
  width: 186px;
  position: absolute;
  top: -8px;
  left: 0px;
}

.p-top5__info {
  margin-top: -6px;
  margin-left: 15px;
  padding-right: 20px;
}

@media only screen and (max-width: 767px) {
  .p-top5__info {
    margin-top: 0;
    margin-left: 0;
    padding-right: 0;
  }
}

.p-top5__info h2 {
  font-size: 1.6rem;
  margin: 17px 0;
}

.p-top5__info p {
  letter-spacing: 1px;
}

.p-top5__card {
  width: 493px;
}

@media only screen and (max-width: 767px) {
  .p-top5__card {
    width: auto;
    padding: 0 10px;
    margin-bottom: 35px;
  }
  .p-top5__card > .l-flexbox {
    display: block;
  }
}

.p-top6 {
  position: relative;
  height: 400px;
  background: #ccc;
}

.p-top6 iframe {
  width: 100%;
  height: 100%;
}

.p-top6 .l-wrap {
  height: 100%;
}

.p-top6-flower1 {
  position: absolute;
  top: -48px;
  left: -255px;
}

.p-top7 {
  margin: 68px 0;
}

@media only screen and (max-width: 767px) {
  .p-top7 {
    margin: 45px 0;
  }
  .p-top7-box1 .l-flexbox {
    display: block;
  }
}

.p-top7-dt1 {
  margin-right: 40px;
}

@media only screen and (max-width: 767px) {
  .p-top7-list1 {
    width: 300px;
    margin: 0 auto;
  }
}

.p-top7-list1 dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0 0;
}

.p-top7-smbox1 {
  padding-left: 5px;
}

.p-top7-smbox2 {
  position: relative;
  left: -5px;
}

@media only screen and (max-width: 767px) {
  .p-top7-smbox2 {
    left: 0;
    max-width: 489px;
    margin: 20px auto 0;
  }
  .p-top7-smbox2 img {
    width: 100%;
  }
}

.p-top7__title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 13px;
}

@media only screen and (max-width: 767px) {
  .p-top7__title1 {
    width: 300px;
    margin: 0 auto 6px;
  }
}

.p-top7__title1 h2 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 767px) {
  .p-top7__title1 h2 {
    font-size: 1.8rem;
  }
}

.p-top7__new {
  color: #72cbe3;
  margin-left: 22px;
}

@media only screen and (max-width: 767px) {
  .p-top7__new {
    margin-left: 29px;
  }
}

.p-top7__guildtext1 {
  margin-left: 142px;
}

@media only screen and (max-width: 767px) {
  .p-top7__guildtext1 {
    margin-left: 51px;
  }
}

.p-top7__guildtext1:after {
  content: "\f105";
  font-family: FontAwesome;
  color: #72cbe3;
  margin-left: 10px;
}

/*---------------------------------
*about.html
---------------------------------*/
.p-about1 .c-banner1 {
  background: url(../img/about/i-banner.jpg) no-repeat;
}

@media only screen and (max-width: 767px) {
  .p-about1 .c-banner1 {
    background-size: 100% 100% !important;
    height: 150px;
  }
}

.p-about2 {
  position: relative;
  padding-bottom: 191px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .p-about2 {
    padding-bottom: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .p-about2-link1 {
    display: inline-block;
  }
  .p-about2-link1 > a {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.p-about2-link1 a {
  text-decoration: none;
  color: #878787;
}

.p-about2-link1--ml1 {
  margin-right: 60px;
}

@media only screen and (max-width: 767px) {
  .p-about2-link1--ml1 {
    margin-right: 30px;
  }
}

.p-about2--absolute {
  position: absolute;
  z-index: -1;
}

.p-about2--bg1 {
  top: 0;
  left: -307px;
}

.p-about2--bg2 {
  right: -248px;
  top: 164px;
}

.p-about2--bg3 {
  bottom: 11px;
  left: -255px;
}

.p-about2-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .p-about2-content1 {
    display: block;
  }
}

.p-about2-infoContent1 {
  margin-left: 40px;
  text-align: left;
  padding-top: 79px;
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .p-about2-infoContent1 {
    margin-left: 0;
    padding: 20px 10px 0;
    font-size: 1.4rem;
  }
}

.p-about2-infoContent1 h2 {
  font-size: 3.2rem;
  line-height: 55px;
  letter-spacing: 3px;
  text-indent: -16px;
}

@media only screen and (max-width: 767px) {
  .p-about2-infoContent1 h2 {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.7;
  }
}

.p-about2-infoContent1 p {
  line-height: 1.8;
}

.p-about2-infoContent1--mb1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .p-about2-infoContent1--mb1 {
    margin-bottom: 15px;
  }
}

.p-about2-infoContent1--mtb1 {
  margin: 33px 0 10px;
}

@media only screen and (max-width: 767px) {
  .p-about2-infoContent1--mtb1 {
    margin: 17px 0 10px;
  }
}

.p-about2__mtitle {
  margin-top: 21px;
  margin-bottom: 17px;
  padding: 0 10px;
}

.p-about2__mtitle h2 {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 11px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 767px) {
  .p-about2__mtitle h2 {
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 5px;
  }
}

.p-about2__imgContent1 {
  margin-left: 4px;
}

@media only screen and (max-width: 767px) {
  .p-about2__imgContent1 {
    margin-left: 0;
  }
  .p-about2__imgContent1 img {
    width: 154px;
  }
}

.p-about2__arrow1:before {
  content: "\f103";
  font-family: FontAwesome;
  color: #72cbe3;
  margin-right: 10px;
}

.p-about3 {
  position: relative;
  padding: 80px 0 82px;
}

@media only screen and (max-width: 767px) {
  .p-about3 {
    padding: 40px 0 41px;
  }
}

.p-about3-box1 {
  margin: 0 5px;
  background: #e3f4f9;
}

@media only screen and (max-width: 767px) {
  .p-about3-box1 {
    margin: 0;
  }
}

.p-about3__text1 {
  text-align: left;
  padding: 44px 35px 30px 39px;
  line-height: 1.97;
  letter-spacing: -1px;
}

@media only screen and (max-width: 767px) {
  .p-about3__text1 {
    padding: 22px 18px 15px 20px;
    line-height: 1.7;
  }
}

.p-about3__text1 h2 {
  font-size: 2.1rem;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
  margin-bottom: 25px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 767px) {
  .p-about3__text1 h2 {
    font-size: 2.0rem;
    padding-bottom: 5px;
    margin-bottom: 13px;
  }
}

.p-about3__text1--mb1 {
  margin-bottom: 17px;
}

@media only screen and (max-width: 767px) {
  .p-about3__text1--mb1 {
    margin-bottom: 9px;
  }
}
