@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans JP", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-text1--gray {
  color: #838080;
}

.u-text1--font13 {
  font-size: 13px;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1252px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
  background: url(../img/bg.jpg) repeat left top;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l--hidden {
  overflow: hidden;
}

.l-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flexbox--acenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flexbox--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .l-flexbox--spblock {
    display: block;
  }
}

/*-----------------------------------------------
Old css(need avoid)
-----------------------------------------------*/
.l-h--text1 {
  padding: 7px 0 0 22px;
  font-size: 15px;
  letter-spacing: 2px;
}

.l-maintitle--pt1 {
  padding-top: 180px;
}

.l-maintitle--mb1 {
  margin-bottom: 26px;
}

.l-menu--mt1 {
  margin-top: 56px;
}

.l-menu-p--mt1 {
  margin-top: 5px;
}

.l-top1-listimg1 {
  margin-left: -372px;
}

.l-top1--mt1 {
  margin-top: -124px;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-wrap {
  display: block;
  width: 1252px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-wrap {
    width: 100%;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-menuSP {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 11px;
  right: 14px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  cursor: pointer;
  z-index: 9999;
  background: #4471c6;
  border-radius: 4px;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 15px;
  height: 2px;
  background: #fff;
  margin: 5px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  display: none;
  background: rgba(68, 113, 198, 0.65);
}

.c-menulistSP li {
  position: relative;
  border-top: 1px solid #7998ce;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 19px 15px;
}

@media only screen and (max-width: 768px) {
  .c-menulistSP a {
    font-size: 1.5rem;
  }
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  border: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  width: 209px;
  background: #f6f6f6;
  font-weight: normal;
  border-right: 1px solid #d4d4d4;
}

.c-table1 table tr > th, .c-table1 table tr td {
  padding: 19px 20px 18px;
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

/*-------------------------------------
  header
-------------------------------------*/
.c-h {
  position: relative;
  overflow: hidden;
  height: 799px;
}

.c-h--bg {
  position: absolute;
  top: 0;
  left: -373px;
  z-index: -1;
}

.c-h-box1 {
  position: fixed;
  width: 100%;
  font-size: 18px;
  color: #dbe8df;
  background: rgba(122, 172, 159, 0.76);
  z-index: 1;
}

.c-h-contact1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-h-contact1 li {
  border-right: 1px solid #7aada0;
}

.c-h-contact1 li:last-child {
  border-right: none;
}

.c-h-contact1 li a {
  display: block;
  padding: 10px 20px 5px;
  background: #49917f;
}

.c-h-maintitle h2 {
  font-family: "Noto Serif", serif;
  font-size: 37px;
  font-weight: 300;
  color: #49917f;
}

/*-------------------------------------
  menu and contact
-------------------------------------*/
.c-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-menu li {
  margin-right: 30px;
}

.c-menu li:last-child {
  margin-right: 0;
}

.c-menu a {
  display: block;
  color: #49907e;
  font-size: 16px;
  text-decoration: none;
}

.c-contact1 {
  position: relative;
  padding: 30px 0 144px;
}

.c-contact1 h3 {
  padding: 50px 0;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  color: #49917f;
}

.c-contact1--bg1 {
  position: absolute;
  top: -61px;
  left: 144px;
}

/*-------------------------------------
  footer
-------------------------------------*/
.c-f {
  padding-top: 67px;
  background: url(../img/f-bg1.jpg) no-repeat;
  background-size: cover;
}

.c-f h2 {
  font-weight: 300;
  font-size: 18px;
  color: #756a60;
  letter-spacing: 2px;
}

.c-f-list1 {
  width: 560px;
  margin: 66px auto 64px;
}

.c-f-item1Text1 {
  padding-top: 10px;
  font-size: 16px;
}

/*-------------------------------------
  other
-------------------------------------*/
.c-copyright {
  padding: 11px 0;
  font-size: 12px;
  color: #f9fbfa;
  letter-spacing: 1px;
  background: rgba(149, 185, 177, 0.67);
}

.c-btntop {
  position: absolute;
  top: -129px;
  right: 27px;
}

/*-------------------------------------
  top4 component
-------------------------------------*/
.c-top4__maintitle1 {
  font-size: 13px;
  text-align: left;
  color: #589887;
}

.c-top4__maintitle2 {
  font-size: 15px;
  text-align: right;
  color: #589887;
}

.c-top4__estheticImg1 img {
  width: 250px;
  height: 160px;
}

.c-top4--estheticPtb1 {
  padding: 7px 0 30px;
}

.c-top4__estheticText1 {
  font-size: 15px;
  text-align: left;
  color: #474338;
}
