/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-top1 {
  position: relative;
  margin-bottom: 148px;
  overflow: hidden;
}

.p-top2 {
  margin-bottom: 31px;
}

.p-top2-boxtext1 p {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 3px;
  color: #393939;
}

.p-top2-list1 {
  position: relative;
  width: 921px;
  margin-left: auto;
  margin-right: auto;
}

.p-top2-list1--mt1 {
  margin-top: 64px;
}

.p-top2--mb1 {
  margin-bottom: 40px;
}

.p-top2-bg1 {
  position: absolute;
  z-index: -1;
  top: -59px;
  left: -48px;
}

.p-top3 {
  width: 904px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 160px;
  padding: 51px 22px 40px 35px;
  background: url(../img/i-qcbg1.png) no-repeat top left;
}

.p-top3-listtext1 {
  margin-bottom: 10px;
}

.p-top3-listtext1 h2 {
  font-family: "Noto Serif", serif;
  font-size: 34px;
}

.p-top3__maintext2 {
  padding: 3px 0;
  font-weight: 100;
  letter-spacing: 1px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.p-top3__maintext3 {
  width: 302px;
  height: 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 0;
  font-size: 16px;
  font-weight: 200;
  color: #dbe7e4;
  background: #49917f;
}

.p-top3-listtext2 {
  margin-bottom: 26px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}

.p-top3-listtext3 {
  margin-left: -8px;
  padding: 12px 22px 12px;
  background: #e9e9e9;
}

.p-top3-listtext3 li:after {
  content: url(../img/i-arrow1.png);
  position: relative;
  margin: 0 2px 0 4px;
  bottom: 0;
}

.p-top3-listtext3 li:last-child:after {
  content: '';
}

.p-top3__typetext1 {
  position: relative;
  top: -19px;
  font-size: 18px;
  font-weight: 300;
  color: #4b4647;
}

.p-top3 .u-text1--font13 {
  font-weight: 300;
  margin-top: 7px;
}

.p-top4 {
  position: relative;
  overflow: hidden;
  padding-bottom: 120px;
}

.p-top4-mainbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 81px 146px 80px;
  border: 5px solid #6c6969;
}

.p-top4__leaves1 {
  position: absolute;
  top: -135px;
  left: -230px;
  z-index: -1;
}

.p-top4__leaves2 {
  position: absolute;
  top: 365px;
  right: -404px;
  z-index: -1;
}

.p-top4-mtext1 {
  margin: 30px 0 115px;
  font-family: "Noto Serif", serif;
  font-size: 23px;
  letter-spacing: 2px;
}

.p-top4-boxtitle1--mb1 {
  margin-bottom: 46px;
}

.p-top4-box2--mt1 {
  margin-top: 123px;
}

.p-top4-tel1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 460px;
  margin: 90px auto 113px;
}

.p-top4-telLabel1 {
  margin-bottom: 12px;
  padding: 6px 0;
  font-size: 16px;
  color: #614d40;
  border-bottom: 1px solid;
  border-top: 1px solid;
  letter-spacing: 1px;
}

.p-top4__leaves3 {
  position: absolute;
  top: 1305px;
  right: -203px;
  z-index: -1;
}

.p-top4__leaves4 {
  position: absolute;
  right: -189px;
  bottom: -174px;
  z-index: -1;
}

.p-top4-ad {
  margin-left: -33px;
}

.p-top5 {
  margin-bottom: 83px;
}

.p-top5-map {
  width: 48%;
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-top5-map iframe {
  width: 100%;
  height: 100%;
}

.p-top5-access {
  width: 52%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 96px 0 0 53px;
  text-align: left;
  background: url(../img/i-bggirl1.jpg) no-repeat;
  background-size: cover;
}

.p-top5-access h3 {
  font-family: "Noto Serif", serif;
  font-size: 24px;
  color: #727064;
}

.p-top5--mbt1 {
  margin: 37px 0 61px;
}

.p-top5-box1 h4 {
  font-size: 18px;
  color: #5c4e42;
  margin-bottom: 22px;
}

.p-top5-box1 p {
  margin-bottom: 22px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #5c4e42;
}

.p-top5-box1 p:last-child {
  margin-bottom: 0;
}
