@charset "UTF-8";
.l-list1--flex:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
.u-num1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 736px) {
  .u-num1 {
    font-size: 3rem;
  }
}

.u-num2 {
  font-size: 2.4rem;
}

@media only screen and (max-width: 736px) {
  .u-num2 {
    font-size: 1.95rem;
    font-weight: bold;
  }
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-gray {
  background: #434A54 !important;
  color: #FFF;
}

.u-red {
  color: #F00;
  font-weight: bold;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.6;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  border-bottom: 1px solid #ccc;
}

header .c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .c-list1 li {
  margin-left: 20px;
}

header .c-list1 a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}

/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer {
  margin-top: 30px;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l-menu {
  height: 95px;
}

.l--hidden {
  overflow: hidden;
}

.l-bg--gray {
  width: 100%;
  height: 100%;
  background: #cacaca;
  position: absolute;
  opacity: 0.3;
}

.l-list1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .l-list1--block {
    display: block;
  }
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l--left {
  float: left;
  margin-bottom: 10px;
}

.l-box1--mt10 {
  margin-top: 36px;
}

.l-arrow2 {
  margin: 0 8px 0 13px;
}

.l-main {
  width: 800px;
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .l-main {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.l-btn1--right {
  text-align: right;
}

.l-btn1--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .l-btn1--center {
    padding-left: 10px;
    padding-right: 10px;
  }
  .l-btn1--center div {
    width: 48%;
  }
  .l-btn1--center div:last-child {
    margin-left: 2%;
  }
  .l-btn1--center .c-btn1 a {
    min-width: 100%;
  }
}

.l-btn1--center .c-btn1:first-child {
  margin-right: 30px;
}

@media only screen and (max-width: 767px) {
  .l-btn1--center .c-btn1:first-child {
    margin-right: 0;
  }
}

.l-btn1--between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .l-btn1--between {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-btn1--between div {
    width: 48%;
  }
  .l-btn1--between div:last-child {
    margin-left: 2%;
  }
  .l-btn1--between .c-btn1 a {
    min-width: 100%;
  }
}

.l-side {
  width: 220px;
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .l-side {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.l-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1050px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-content {
    width: auto;
    display: block;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

/*--------------------------------------------------
  Component index
----------------------------------------------------*/
.c-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-menuSP {
  width: 30px;
  height: 30px;
  top: 11px;
  right: 10px;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 100%;
  height: 5px;
  background: #000;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.c-menulistSP {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  background: white;
}

.c-menulistSP li {
  border-bottom: 1px solid #CCC;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 10px 10px;
}

.c-list1__img2 {
  margin-right: 10px;
}

/*------------------------------------------
  navigation
-----------------------------------------*/
.c-gnavi {
  border-bottom: 1px solid #ccc;
}

.c-gnavi ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid #CCC;
}

.c-gnavi li {
  width: 25%;
  border-right: 1px solid #CCC;
}

.c-gnavi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  text-decoration: none;
  font-size: 1.4rem;
  background: #EFEFEF;
  color: #333;
}

.c-breadcrumb1 {
  padding: 10px 10px;
}

.c-breadcrumb1 ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumb1 ul {
    width: auto;
  }
}

.c-breadcrumb1 li {
  line-height: 1;
  font-size: 1.2rem;
}

.c-breadcrumb1 a {
  color: #333;
}

.c-breadcrumb1 a:after {
  content: "›";
  display: inline-block;
  margin: 0 7px;
}

.c-breadcrumb1--botline {
  border-bottom: 1px solid #ccc;
}

.c-breadcrumb1--topline {
  border-top: 1px solid #CCC;
}

.c-title1, .c-title2, .c-title3 {
  margin: 40px 0 20px 0;
  padding: 6px 0 6px 15px;
  text-align: left;
  line-height: 1;
  font-size: 1.3rem;
  border-radius: 5px;
}

.c-title1 {
  font-size: 1.6rem;
  background: #000;
  color: #FFF;
}

.c-title2 {
  background: #888;
  color: #FFF;
  padding-left: 30px;
}

.c-title3 {
  background: #DDD;
  color: #000;
  padding-left: 35px;
}

.c-title2, .c-title3 {
  margin-top: 20px;
}

.c-title4 {
  line-height: 1;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .c-title4 {
    padding: 0 10px;
  }
}

.c-title4 .c-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
}

@media only screen and (max-width: 767px) {
  .c-title4 .c-wrap {
    height: 70px;
  }
}

.c-title4 h2 {
  font-size: 2.2rem;
}

@media only screen and (max-width: 767px) {
  .c-title4 h2 {
    font-size: 1.6rem;
  }
}

.c-title4 p {
  margin-top: 8px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .c-title4 p {
    font-size: 1.2rem;
  }
}

.c-btn1 a {
  display: inline-block;
  min-width: 200px;
  padding: 13px 0;
  background: #FC6E51;
  border-radius: 30px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: #FFF;
}

.c-btn1--color1 a {
  background: #37BC9B;
}

.c-btn1--color2 a {
  background: #3BAFDA;
}

.c-h1 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding: 4px;
  padding-left: 15px;
  border-left: 8px solid #8CC152;
}

.c-h1--color1 {
  border-left-color: #F6BB42;
}

.c-h1--color2 {
  border-left-color: #E9573F;
}

.c-h1--textcolor1 {
  color: #DA4453;
}

.c-h1--textcolor2 {
  color: #3BAFDA;
}

.c-h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.c-h2--color1 {
  color: #8cc152;
  border-bottom-color: #8CC152;
}

@media only screen and (max-width: 767px) {
  .c-h2 {
    font-size: 1.4rem;
  }
}

.c-list2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-list2 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-list2 li {
  width: 180px;
}

@media only screen and (max-width: 767px) {
  .c-list2 li {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 10px;
  }
  .c-list2 li:nth-child(2n + 1) {
    margin-left: 0;
  }
}

.c-list2 a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  background: #4FC1E9;
  color: #FFF;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-list2 a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  margin: -4px 7px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-boximg1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #CCC;
  padding: 15px;
}

.c-boximg1__img1 {
  width: 150px;
  margin-right: 10px;
}

.c-boximg1__text1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-boximg1__text1 p {
  font-size: 1.2rem;
}

.c-boximg1__text1 h3 {
  font-size: 2.0rem;
  font-weight: normal;
}

.c-boximg1--bg1 {
  background: #F5F7FA;
}

.c-boximg1--round {
  border-radius: 10px;
}

.c-boximg1--imgright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-boximg1--imgright .c-boximg1__img1 {
  margin-right: 0;
  margin-left: 10px;
}

.c-list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list3__card1 {
  width: 185px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.c-list3__card1:nth-child(4n+1) {
  margin-left: 0px;
}

@media only screen and (max-width: 767px) {
  .c-list3__card1 {
    width: 49%;
    margin-left: 2%;
  }
  .c-list3__card1:nth-child(2n + 1) {
    margin-left: 0;
  }
}

.c-list3__info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .c-list3__img1 img {
    width: 100%;
    height: auto;
  }
}

.c-list3__img2 {
  width: 50px;
  margin-right: 10px;
}

.c-list3__text1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-list3__text1 h3 {
  font-size: 1.4rem;
}

.c-list3__text1 p {
  font-size: 1.2rem;
}

.c-list3--col3 .c-list3__card1 {
  width: 253px;
}

.c-list3--col3 .c-list3__card1:nth-child(4n + 1) {
  margin-left: 20px;
}

.c-list3--col3 .c-list3__card1:nth-child(3n + 1) {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .c-list3--col3 .c-list3__card1 {
    width: 49%;
    margin-left: 2%;
  }
  .c-list3--col3 .c-list3__card1:nth-child(4n + 1) {
    margin-left: 2%;
  }
  .c-list3--col3 .c-list3__card1:nth-child(3n+1) {
    margin-left: 2%;
  }
  .c-list3--col3 .c-list3__card1:nth-child(2n+1) {
    margin-left: 0;
  }
}

.c-list4 ul {
  margin-left: 1.7rem;
}

.c-list4 ul li {
  list-style-type: disc;
  font-size: 1.4rem;
}

.c-list4 ol {
  margin-left: 1.7rem;
}

.c-list4 ol li {
  list-style-type: decimal;
  font-size: 1.4rem;
}

.c-list5 ul {
  border-top: 1px solid #CCC;
}

.c-list5 ul li {
  border-bottom: 1px solid #CCC;
}

.c-list5 a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem;
}

.c-list6 li:first-child {
  margin-top: 0;
}

.c-list6 li {
  margin-top: 15px;
}

.c-table1 table {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 100%;
  border-collapse: collapse;
}

.c-table1 thead th {
  background: #8CC152;
  color: #FFF;
  font-size: 1.4rem;
}

.c-table1 th, .c-table1 td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}

.c-table1 tbody th {
  font-weight: normal;
  font-size: 1.4rem;
  background: #E6E9ED;
}

.c-table1 tbody td {
  text-align: center;
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .c-table1--sp th, .c-table1--sp td {
    display: block;
  }
}

.c-line1 {
  position: relative;
}

.c-line1 hr {
  height: 0;
  border: 0;
  border-top: 1px solid #CCC;
  text-align: center;
}

.c-line1 hr:after {
  content: '§';
  display: inline-block;
  position: absolute;
  margin-top: -0.7rem;
  margin-left: -0.7rem;
  padding: 0 10px;
  background: #FFF;
  color: #bbb;
  font-size: 1.4rem;
  left: 50%;
  top: 50%;
  line-height: 1;
}

.c-mess1 {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 30px 10px;
}

.c-mess1 p {
  text-align: center;
  font-size: 1.4rem;
}

.c-mess1--color1 {
  border-color: #37BC9B;
  background: #48CFAD;
  color: white;
}

.c-frame1 {
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-bottom: 30px;
}

.c-frame1__title1 {
  border-bottom: 1px solid #CCC;
  padding: 12px 10px;
  background: #E6E9ED;
}

.c-frame1__title1 p {
  font-size: 1.4rem;
  line-height: 1;
}

.c-frame1__body {
  padding: 13px 10px;
}

.c-foot {
  border-top: 1px solid #CCC;
  background: #EFEFEE;
  padding: 30px 0;
}

@media only screen and (max-width: 767px) {
  .c-foot {
    padding: 15px 10px 5px 10px;
  }
}

.c-foot__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1050px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .c-foot__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
  }
  .c-foot__inner .c-foot__block {
    width: 48%;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.c-foot p {
  font-weight: bold;
  font-size: 1.4rem;
}

.c-foot li {
  margin-top: 6px;
}

.c-foot a {
  text-decoration: none;
  color: #000;
}

.c-copyright {
  padding: 20px 0;
  border-top: 1px solid #CCC;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  .c-copyright {
    font-size: 1.0rem;
    padding: 10px 0;
  }
}

.c-headSP {
  border-bottom: 1px solid #CCC;
  background: #FFF;
  height: 60px;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
