@charset "UTF-8";
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  display: block;
  width: 1440px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .wrap {
    width: 100%;
  }
}

.wrap__inner1 {
  width: 1068px;
  margin: 0 auto;
  display: block;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .wrap__inner1 {
    width: 100%;
  }
}

.wrap__index1 {
  z-index: 1;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-shin1 {
  position: relative;
  background: url(../img/bg.jpg) repeat;
  opacity: 1;
  display: block;
  padding: 60px 0 123px;
}

@media only screen and (max-width: 768px) {
  .p-shin1 {
    padding: 60px 0 50px;
    margin: -43px 0;
  }
  .p-shin1 .wrap__index1 {
    width: 300px;
  }
  .p-shin1-spbox1 img {
    width: 300px;
  }
}

.p-shin1-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-shin1-list1 .c-box1:first-child {
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  .p-shin1-list1 {
    margin-top: 15px;
  }
  .p-shin1-list1 .c-box1 img {
    width: 146px;
  }
  .p-shin1-list1 .c-box1:first-child {
    margin: 0;
  }
}

.p-shin1 .c-box1 {
  background: none;
}

.p-shin1 .c-btn1 {
  margin-top: 42px;
}

@media only screen and (max-width: 768px) {
  .p-shin1 .c-btn1 img {
    width: 100%;
  }
}

.p-shin2 {
  margin-top: 120px;
  margin-bottom: 118px;
}

.p-shin2 .c-box1 {
  border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .p-shin2 {
    margin: 93px 0 31px;
  }
  .p-shin2 .c-box1 {
    border: none;
    background: none;
  }
  .p-shin2 .l--flex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .p-shin2 .l-arrow2 {
    width: 15px;
    margin: 14px auto 0 -18px;
  }
  .p-shin2 .c-y1__text1 {
    margin: 15px 0 9px;
  }
  .p-shin2 .c-y1__text1 img {
    width: 99px;
  }
  .p-shin2 .c-arrow1 {
    width: 137px;
    padding: 6px 0;
    font-size: 1.3rem;
  }
  .p-shin2 .c-y1__img1 {
    width: 63px;
  }
}

.p-shin2 .c-title1 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p-shin2 .c-title1 {
    margin-bottom: 28px;
  }
}

.p-shin2 .c-table1 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .p-shin2 .c-table1 {
    border-left: none;
    border-right: none;
  }
}

.p-shin2 .c-table1 tr:nth-child(even) {
  background: #f8f8f8;
}

.p-shin2 .c-table1 tr:nth-child(odd) {
  background: #FFF;
}

@media only screen and (max-width: 768px) {
  .p-shin2 .c-table1 tr:nth-child(even) {
    background: none;
  }
  .p-shin2 .c-table1 tr:nth-child(odd) {
    background: none;
  }
}

.p-shin2 .wrap__inner1 {
  padding: 32px 0;
}

@media only screen and (max-width: 768px) {
  .p-shin2 .wrap__inner1 {
    width: 302px;
    padding: 20px 0 30px;
  }
}

.p-shin2 .c-y1:last-child {
  margin-right: 3px;
}

.p-shin2-link1 {
  text-align: left;
  margin-top: 25px;
  font-size: 1.5rem;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .p-shin2-link1 {
    margin: 15px auto 0;
    text-align: center;
  }
  .p-shin2-link1 .c-btn2 {
    display: block;
    width: 280px;
    margin: 0 auto;
  }
  .p-shin2-link1 .p-shin2-link1__text1 {
    margin: 11px auto 15px;
    display: block;
    width: 261px;
    font-size: 1.2rem;
  }
}

.p-shin2-link1 .c-btn2--green {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .p-shin2-link1 .c-btn2--green {
    margin: 0 auto;
  }
}

.p-shin2-link1 .c-btn2--blue {
  margin: 0 18px;
}

@media only screen and (max-width: 768px) {
  .p-shin2-link1 .c-btn2--blue {
    margin: 0 auto;
  }
}

.p-shin2 .c-tab1 .wrap__inner1 {
  width: 320px;
  padding-bottom: 0;
}

.p-shin3 {
  position: relative;
  height: 786px;
  background: url(../img/i-rebg.png) no-repeat top;
  color: white;
  font-size: 18px;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .p-shin3 {
    height: auto;
    background: none;
    background-size: contain;
  }
  .p-shin3 .c-shin1-btn1 {
    font-size: 1.4rem;
  }
}

.p-shin3 .p-shin3-bg1 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
}

.p-shin3 .wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  top: 180px;
  left: 23px;
}

@media only screen and (max-width: 768px) {
  .p-shin3 .wrap {
    position: absolute;
    left: 0;
    top: 66px;
    margin-top: 0;
  }
}

.p-shin3 h1 {
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 54px;
}

@media only screen and (max-width: 768px) {
  .p-shin3 h1 {
    margin-bottom: 28px;
    font-size: 2.8rem;
  }
}

.p-shin3 h1 img {
  margin-right: 13px;
}

@media only screen and (max-width: 768px) {
  .p-shin3 h1 img {
    width: 165px;
    display: block;
    margin: 0 auto 10px;
  }
}

.p-shin3 h3 {
  font-size: 3.2rem;
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .p-shin3 h3 {
    font-size: 1.6rem;
  }
}

.p-shin3 .l--flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .p-shin3 .l--flex {
    display: block;
  }
}

.p-shin3--mb1 {
  margin-bottom: 26px;
}

@media only screen and (max-width: 768px) {
  .p-shin3--mb1 {
    margin-bottom: 22px;
    padding: 0 10%;
    font-size: 1.2rem;
  }
}

.p-shin3-btn1 {
  padding: 32px 125px;
}

.p-shin3-btn1 img {
  margin-right: 10px;
  vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
  .p-shin3-btn1 {
    padding: 15px 80px;
  }
  .p-shin3-btn1 img {
    width: 15px;
    margin-right: 6px !important;
  }
}

.p-shin3-btn2 {
  padding: 21px 97px;
  margin-right: 43px;
  font-size: 1.5rem;
}

.p-shin3-btn2 img {
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .p-shin3-btn2 {
    display: block;
    padding: 8px 83px;
    margin: 0 auto;
  }
  .p-shin3-btn2 img {
    width: 115px;
  }
}

.p-shin3 .wrap__inner1 {
  width: 924px;
}

.p-shin3 .wrap__inner1 p {
  margin-top: 12px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  line-height: 18px;
  margin-left: -53px;
}

@media only screen and (max-width: 768px) {
  .p-shin3 .wrap__inner1 p {
    margin-left: 0;
    font-size: 1.0rem;
  }
}

@media only screen and (max-width: 768px) {
  .p-shin3 .wrap__inner1 {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .p-shin3-box1 {
    margin-top: 10px;
  }
}

.p-shin4 {
  margin-top: -20px;
  position: relative;
  display: block;
}

@media only screen and (max-width: 768px) {
  .p-shin4 {
    margin-top: 40px;
  }
}

.p-shin4 .c-title1 {
  margin-bottom: 50px;
}

.p-shin4 .c-title1 img {
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .p-shin4 .c-title1 {
    margin-bottom: 25px;
  }
  .p-shin4 .c-title1 img {
    width: 181px;
    margin-right: 5px;
  }
}

.p-shin4-box1 {
  width: 1003px;
  padding: 30px 32px 37px;
  margin: 0 auto;
  background: white;
  text-align: left;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .p-shin4-box1 {
    width: 91%;
    max-width: 350px;
    padding: 15px 16px;
    font-size: 1.2rem;
    border: none;
  }
  .p-shin4-box1 .l--flex {
    display: block;
  }
  .p-shin4-box1 .c-box1__img1 img {
    width: 135px;
    display: block;
    margin: 0 auto;
  }
}

.p-shin4__textb1 {
  display: block;
  font-weight: 300;
  margin-left: 29px;
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .p-shin4__textb1 {
    margin: 0;
  }
}

.p-shin4__textb1 h3 {
  margin-bottom: 14px;
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .p-shin4__textb1 h3 {
    text-align: center;
    color: #3c3c3c;
    margin: 15px 0;
    font-size: 1.6rem;
  }
}

.p-shin4_textb2 {
  margin-top: 21px;
  background: #f0f0f0;
  padding: 19px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .p-shin4_textb2 {
    padding: 13px 30px;
  }
}

.p-shin4_textb2 li {
  text-indent: -.7em;
  margin-bottom: 10px;
}

.p-shin4_textb2 li::before {
  content: "• ";
  margin-right: 2px;
  color: #33c49d;
}

.p-shin4_textb2 li:last-child {
  margin-bottom: 0;
}

.p-shin5 {
  margin: 118px 0 117px;
  font-size: 1.5rem;
  display: block;
}

@media only screen and (max-width: 768px) {
  .p-shin5 {
    margin: 50px 0;
  }
  .p-shin5 .c-list1 {
    width: 288px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .p-shin5 .c-list1__img {
    width: 136px;
  }
  .p-shin5 .c-list1__card1 {
    margin-bottom: 15px;
  }
  .p-shin5 .c-list1__info p {
    margin: 42px 0;
    color: red;
    font-size: .9rem;
  }
}

.p-shin5 .c-title1 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p-shin5 .c-title1 {
    margin-bottom: 25px;
  }
  .p-shin5 .c-title1 img {
    width: 126px;
    margin-right: 6px;
  }
}

.p-shin6 {
  height: 616px;
  font-size: 1.5rem;
  color: white;
  text-align: left;
}

.p-shin6 .l--hidden {
  height: 616px;
}

@media only screen and (max-width: 768px) {
  .p-shin6 {
    height: auto;
  }
  .p-shin6 .l--hidden {
    height: auto;
    overflow: unset;
  }
  .p-shin6 .wrap {
    width: 91%;
    max-width: 350px;
  }
}

.p-shin6 h2 {
  font-size: 5.7rem;
  color: black;
  font-weight: 100;
}

@media only screen and (max-width: 768px) {
  .p-shin6 h2 {
    margin-bottom: 24px;
    font-size: 2.8rem;
    text-align: center;
  }
}

.p-shin6 table {
  width: auto;
  color: white;
}

@media only screen and (max-width: 768px) {
  .p-shin6 table {
    width: 95%;
    margin: 0 auto;
  }
}

.p-shin6 table tr {
  vertical-align: text-top;
  border-bottom: 1px solid #636f75;
}

.p-shin6 table tr td {
  padding: 9px 0;
  line-height: 21px;
}

@media only screen and (max-width: 768px) {
  .p-shin6 table tr td {
    padding: 5px 0;
  }
}

.p-shin6 table tr td:nth-of-type(2) {
  text-align: left;
  border: none;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .p-shin6 table tr td:nth-of-type(2) {
    padding-left: 0;
    font-size: 1.2rem;
    font-weight: 100;
  }
}

.p-shin6 table tr td:first-child {
  width: 154px;
}

.p-shin6 table tr td:first-child img {
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .p-shin6 table tr td:first-child {
    padding-bottom: 0;
    font-size: 1.4rem;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .p-shin6 table tr td {
    display: block;
    text-align: center !important;
  }
  .p-shin6 table tr:last-child {
    border-bottom: none;
  }
}

.p-shin6 .c-map {
  position: absolute;
  left: -240px;
  top: 117px;
}

.p-shin6 .c-map iframe {
  width: 1106px;
  height: 480px;
}

@media only screen and (max-width: 768px) {
  .p-shin6 .c-map {
    position: relative;
    top: 0;
    left: 0;
  }
  .p-shin6 .c-map img {
    width: 100%;
  }
  .p-shin6 .c-map iframe {
    width: 100%;
    height: 340px;
  }
}

.p-shin6 .c-contact2 {
  position: relative;
  right: -901px;
  top: -41px;
  padding: 83px 60px 70px;
}

@media only screen and (max-width: 768px) {
  .p-shin6 .c-contact2 {
    width: 100%;
    right: 0;
    top: 0;
    padding: 25px 12px;
  }
}

.p-shin6 .c-contact2--bg {
  content: url(../img/i-bgcontact.png);
  width: 760px;
  height: 417px;
  position: absolute;
  z-index: -1;
  top: 101px;
  left: 840px;
}

.p-shin7 {
  margin-top: 77px;
  padding: 103px 0 97px;
  background: #eeeeee;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .p-shin7 {
    margin-top: 40px;
    padding: 40px 0;
    font-size: 1.2rem;
  }
  .p-shin7 small {
    display: block;
    margin: 0 16px;
    text-align: center;
  }
}

.p-shin7 h2 {
  margin-bottom: 14px;
}

@media only screen and (max-width: 768px) {
  .p-shin7 h2 {
    margin-bottom: 7px;
  }
  .p-shin7 h2 img {
    width: 181px;
  }
}

.p-shin7 h3 {
  font-size: 3.2rem;
  color: #aeaeae;
  font-weight: 100;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p-shin7 h3 {
    margin-bottom: 22px;
    font-size: 1.6rem;
  }
}
