@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1160px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.4rem;
	text-align: center;
  @include respond-to(768) {
		min-width: 100%;
    font-size: 1.2rem;
	}
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
img:hover, button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.7s;
  transition-timing-function: ease-in;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  &--hidden { overflow: hidden; }
  //------------------------------
  &-flexbox {
    display: flex;
    justify-content: space-between;
    //----------------------------
    &--acenter {align-items: center;}
    //----------------------------
    &--reverse { flex-direction: row-reverse; }
    //----------------------------
    &--flexstart { justify-content: flex-start; }
    //----------------------------
    &--center { justify-content: center; }
    //----------------------------
    &--wrap { flex-wrap: wrap; }
    //----------------------------
    &--spblock {
      @include respond-to(768) {display: block;}
    }
    //----------------------------
  }
  //------------------------------
  &-box {
    &--posRelative { position: relative; }
  }
  //-------------------------------
}

/*--------------------------------------------------
  bsxSlider css
--------------------------------------------------*/
.c-slider1--type1 .bx-wrapper {
  width: 1460px!important;
  max-width: none!important;
  //-------------------------------------
  @include respond-to(768) {
    width: auto!important;
    max-width: 100%!important;
    margin-left: 0;
  }
  //-------------------------------------
}

.bx-prev, .bx-next { display: none; }

.bx-wrapper {
  border: none;
  background: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background: #22963c;
  position: relative;
  @include respond-to(768) {
    width: 6px;
    height: 6px;
    margin: 0 5px;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #22963c;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover:after,
.bx-wrapper .bx-pager.bx-default-pager a.active:after,
.bx-wrapper .bx-pager.bx-default-pager a:focus:after {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #22963a;
  position:  absolute;
  border-radius: 10px;
  left: -4px;
  top: -4px;
  @include respond-to(768) {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    left: -7px;
    top: -2px;
  }
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -21px;
  width: 100%;
}

.bx-wrapper {
  //----------------------------------
  @include respond-to(768) {
    margin-bottom: 25px;
  }
  //----------------------------------
}
