@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u {
  &-text1 {
    &--ml1 { margin-left: 50px; }
  }
}
@include respond-to(768) {
  //---------------------------
  .u-top__mtitle1 { width: 200px; }
  //---------------------------
  .u-top__mtitle2 { width: 86px; }
  //---------------------------
  .u-top__community1 { width: 200px; }
  //---------------------------
  .u-top__community2 { width:120px; }
  //---------------------------
  .u-top__mtitle3 { width: 150px; }
  //---------------------------
  .u-top__gallery { width: 90px; }
  //---------------------------
  .u-top__mtitle4 { width: 190px; }
  //---------------------------
  .u-top__info { width: 80px; }
  //---------------------------
}
