@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p {
  //---------------------------------
  &-top1 {
    margin: 13px 0 98px;
    //-------------------------------
    @include respond-to(768) {
      padding: 0 14px;
      margin: 10px 0 45px;
    }
    //-------------------------------
    &-news {
      text-align: left;
      //-----------------------------
      h2 {
        font-size: 1.8rem;
        //---------------------------
        @include respond-to(768) {
          font-size: 1.5rem;
        }
        //---------------------------
      }
      //-----------------------------
      h3 {
        margin-bottom: 6px;
        color: #bd0000;
        font-size: 1.1rem;
        //---------------------------
        @include respond-to(768) {
          font-size: 1.0rem;
        }
      }
      //-----------------------------
    }
    //end news-----------------------
    &__newsText {
      font-size: 1.3rem;
      margin-left: 21px;
      //-----------------------------
      @include respond-to(768) {
        font-size: 1.2rem;
        margin-left: 10px;
      }
      //-----------------------------
    }
    //-------------------------------
    &-list {
      margin-top: 15px;
      text-align: left;
      @include respond-to(768) {
        margin-top: 10px;
      }
      //-----------------------------
      dl {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 2px 9px;
        border-top: 2px dotted #cfcfcf;
        //---------------------------
        &:last-child {
          border-bottom: 2px dotted #cfcfcf;
        }
        //---------------------------
        dd {
          font-size: 1.3rem;
          color: #7d7d7d;
          //-------------------------
          @include respond-to(768) {
            font-size: 1.2rem;
          }
          //-------------------------
        }
        //---------------------------
      }
      //-----------------------------
    }
    //end list-----------------------
    &-dt1 {
      width: 87px;
      box-sizing: border-box;
      padding-right: 10px;
      //-----------------------------
      @include respond-to(768) {
        width: auto;
        font-size: 1.2rem;
      }
      //-----------------------------
    }
    //-------------------------------
    &-dt2 {
      width: 96px;
      box-sizing: border-box;
      @include respond-to(768) {width: 74px; }
    }
    //-------------------------------
    &-label {
      display: inline-block;
      width: 74px;
      padding: 4px 1px;
      text-align: center;
      color: white;
      font-size: 1.1rem;
      //-----------------------------
      @include respond-to(768) {
        width: 55px;
        font-size: 0.9rem;
      }
      //-----------------------------
      &--color1 {background: #f78d6c;}
      &--color2 {background: #51c571;}
      &--color3 {background: #68b4ce;}
    }
    //-------------------------------
  }
  //end top1-------------------------
  &-top2 {
    margin-bottom: 91px;
    @include respond-to(768) {margin-bottom: 45px;}
  }
  //end top2-------------------------
  &-top3 {
    margin-bottom: 92px;
    @include respond-to(768) {margin-bottom: 45px;}
  }
  //end top3-------------------------
  &-top4 {
    overflow: hidden;
    padding-bottom: 101px;
    @include respond-to(768) {
      padding-bottom: 45px;
    }
    //-------------------------------
    &-imgbox1 {
      margin-left: -150px;
      @include respond-to(768) {
        margin-left: 0;
        img { width: 100%; }
      }
      &--mb1 {
        margin-bottom: 48px;
        @include respond-to(768) {
          margin-bottom: 12px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end top4-------------------------
  &-top5 {
    padding-bottom: 74px;
    //-------------------------------
    @include respond-to(768) {
      padding-bottom: 45px;
    }
    //-------------------------------
    &-label {
      box-sizing: border-box;
      display: inline-block;
      width: 54px;
      height: 17px;
      padding: 2px 0;
      text-align: center;
      text-transform: uppercase;
      color: white;
      background: #bd0000;
      @include ie() {padding: 4px 0;}
      //-----------------------------
      &--ml1 {
        margin-left: 53px;
        //---------------------------
        @include respond-to(768) {
          margin-left: 30px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  about.html
-----------------------------------*/
.p {
  //---------------------------------
  &-about1 {
    margin: 57px 0 103px;
    //-------------------------------
    @include respond-to(768) {
      margin: 26px 0 51px;
      //-----------------------------
      &-box1 {
        padding:0 10px;
        .l-flexbox {display: block;}
      }
      //-----------------------------
    }
    //-------------------------------
    &__img {
      margin-right: 20px;
      //-----------------------------
      @include respond-to(768) {
        margin: 0 auto 15px;
        //---------------------------
        img {
          width: 300px;
          margin: 0 auto;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &__text {
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.8;
      text-indent: 20px;
      //-----------------------------
      @include respond-to(768) {
        font-size: 1.3rem;
      }
      //-----------------------------
    }
    //-------------------------------
    &__author {
      margin-top: 20px;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: right;
      //-----------------------------
      @include respond-to(768) {
        margin-top: 10px;
        font-size: 1.5rem;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end about1-----------------------
  &-about2 {
    margin-bottom: 87px;
    //-------------------------------
    @include respond-to(768) {
      margin-bottom: 43px;
      //-----------------------------
      &__img {
        img { width: 100%; }
      }
      //-----------------------------
    }
    //-------------------------------
    &__imgbox1 { position: relative; }
    //-------------------------------
    &-box1 {
      //-----------------------------
      p {
        margin-top: 20px;
        text-align: left;
        line-height: 1.8;
        font-size: 1.5rem;
        //---------------------------
        @include respond-to(768) {
          padding: 0 10px;
          font-size: 1.3rem;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &-btnlink1--pad {padding: 0 20px;}
    //-------------------------------
  }
  //end about2-----------------------
  &-about3 {
    margin-bottom: 96px;
    //-------------------------------
    @include respond-to(768) {
      margin-bottom: 48px;
    }
    //-------------------------------
    .p-about3-box1 {
      padding: 28px 0 25px;
      border: 1px solid #888888;
      @include respond-to(768) {
        margin: 0 10px;
        padding: 14px 0 12px;
      }
    }
    //-------------------------------
    &__mtext {
      padding-bottom: 25px;
      text-align: left;
      text-indent: 13px;
      font-size: 1.5rem;
      line-height: 1.6;
      //border-bottom: 1px solid #a8a8a8;
      //-------------------------------
      @include respond-to(768) {
        padding: 0 10px 12px;
        font-size: 1.3rem;
      }
      //-------------------------------
      &--mb1 {
        margin-bottom: 29px;
        @include respond-to(768) {
          margin-bottom: 20px;
        }
      }
      //-------------------------------
    }
    //end mtext------------------------
    &-line1 {
      background: #a8a8a8;
      //-------------------------------
      &--mt1 { margin-top: 23px; }
      //-------------------------------
    }
    //---------------------------------
  }
  //end about3-------------------------
  &-about4 {
    margin-bottom: 96px;
    //---------------------------------
    @include respond-to(768) {
      margin-bottom: 50px;
      //-------------------------------
      .p-about4__blockSP {
        width: 320px;
        margin: 0 auto;
        .l-flexbox {display: block;}
      }
      //-------------------------------
    }
    //---------------------------------
    &_content {
      font-size: 1.5rem;
      text-align: left;
    }
    //---------------------------------
    &-box1, &-box2 {
      width: 50%;
      box-sizing: border-box;
      @include respond-to(768) {
        width: 100%;
        padding: 0 10px;
      }
    }
    //---------------------------------
    &-box1--mb1 { margin-bottom: 15px; }
    //---------------------------------
    &-btnlink1--pad { padding: 0 10px; }
    //---------------------------------
  }
  //end about4-------------------------
  &-about5 {
    margin-bottom: 101px;
    //---------------------------------
    @include respond-to(768) {
      margin-bottom: 50px;
      //-------------------------------
      .p-about5__img {
        img {width: 100%;}
      }
      //-------------------------------
    }
    //---------------------------------
    &-btnlink1--pad { padding: 0 45px; }
    //---------------------------------
  }
  //end about5-------------------------
  &-about6 {
    //---------------------------------
    &-box1 {
      margin-bottom: 100px;
      //-------------------------------
      @include respond-to(768) {
        margin-bottom: 50px;
        //-----------------------------
        .l-flexbox {
          display: block;
        }
        //-----------------------------
        .p-about6__img {
          img {width: 300px;}
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    &__text {
      font-size: 1.5rem;
      line-height: 1.7;
      text-align: left;
      //------------------------------
      @include respond-to(768) {
        width: 320px;
        box-sizing: border-box;
        margin:10px auto 0;
        padding: 0 10px;
        font-size: 1.3rem;
      }
      //------------------------------
    }
    //--------------------------------
    &__link1 {
      margin-top: 18px;
      //------------------------------
      @include respond-to(768) {
        margin-top: 10px;
      }
      //------------------------------
    }
    //--------------------------------
  }
  //----------------------------------
}

/*------------------------------------
  agriculture.html
------------------------------------*/
.p {
  //----------------------------------
  &-agriculture1 {
    display: block;
    margin: 56px 0 89px;
    position: relative;
    //------------------------------
      @include respond-to(768) {
        margin: 28px 0 44px;
      }
    //--------------------------------
    &-banner {
      position: relative;
      overflow: hidden;
      //------------------------------
      @include respond-to(768) {
        img { width: 100%; }
      }
      //------------------------------
      &--mb1 {
        margin-bottom: 25px;
        //------------------------------
        @include respond-to(768) {
          margin-bottom: 15px;
        }
        //------------------------------
      }
      //------------------------------
    }
    //--------------------------------
    &__text1 {
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.7;
      //------------------------------
      @include respond-to(768) {
        padding: 0 10px;
        font-size: 1.3rem;
        line-height: 1.6;
      }
      //------------------------------
      p {
        text-indent: 16px;
        line-height: 1.8;
      }
      //------------------------------
      &--mt1 {
        margin-top: 29px;
        //------------------------------
        @include respond-to(768) {
          margin-top: 19px;
        }
        //------------------------------
      }
      //------------------------------
      &--mb1 {
        margin-bottom: 17px;
        //------------------------------
        @include respond-to(768) {
          margin-bottom: 12px;
        }
        //------------------------------
      }
      //------------------------------
      &--mb2 { margin-bottom: 12px; }
      //------------------------------
    }
    //--------------------------------
  }
  //end agriculture1------------------
  &-agriculture2 {
    margin-bottom: 43px;
    //--------------------------------
    &-box1 {
      //------------------------------
      @include respond-to(768) {
        .l-flexbox {display: block;}
      }
      //------------------------------
    }
    //--------------------------------
    &-btnlink1--pad1 {
      padding: 0 20px;
    }
    //--------------------------------
    &__text1 {
      margin-left: 40px;
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.7;
      //----------------------------
      @include respond-to(768) {
        margin: 35px 0 0 0;
        padding: 0 10px;
        font-size: 1.3rem;
        line-height: 1.6;
      }
      //------------------------------
      p {
        padding-bottom: 13px;
        &:last-child { padding-bottom: 0; }
      }
      //------------------------------
    }
    //--------------------------------
  }
  //end agriculture2------------------
}

/*------------------------------------
  community.html
------------------------------------*/
.p {
  //---------------------------------
  &-community1 {
    margin-top: 58px;
    @include respond-to(768) {
      margin-top: 45px;
    }
    //-------------------------------
  }
  //---------------------------------
  &-community2 {
    margin-top: 65px;
    //-------------------------------
    @include respond-to(768) {
      margin-top: 45px;
    }
    //-------------------------------
  }
  //---------------------------------
  &-community3 {
    margin: 65px 0 62px;
    //-------------------------------
    @include respond-to(768) {
      margin: 45px 0;
    }
    //-------------------------------
    &__text1 {
      &--pad1 {
        padding-right: 40px;
        @include respond-to(768) {
          padding-right: 0;
        }
        //---------------------------
      }
      //-----------------------------
      &--ml1 { margin-left: 30px; }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  workplace.html
-----------------------------------*/
.p {
  //---------------------------------
  &-workplace1 {
    margin: 81px 0 46px;
    //-------------------------------
    @include respond-to(768) {
      margin: 40px 0 46px;
      //-------------------------------
      &-box1 {
        box-sizing: border-box;
        max-width: 586px;
        margin: 0 auto;
      }
      //-------------------------------
      .l-flexbox {
        //justify-content: center;
      }
      //-------------------------------
    }
    //-------------------------------
    &-btnlink1--pad1 { padding: 0 21px; }
  }
  //---------------------------------
}

/*-----------------------------------
  member.html
-----------------------------------*/
.p {
  //---------------------------------
  &-member1 {
    margin: 56px 0 60px;
    //-------------------------------
    @include respond-to(768) {
      margin: 45px 0;
    }
    //-------------------------------
    &-box1 {
      //-----------------------------
      &--mt1 {
        margin-top: 18px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  recruit.html
-----------------------------------*/
.p {
  //---------------------------------
  &-recruit1 {
    margin-top: 60px;
    //-------------------------------
    @include respond-to(768) {
      margin-top: 45px;
    }
    //-------------------------------
    &-text1 {
      display: block;
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.7;
      //-------------------------------
      @include respond-to(768) {
        padding: 0 10px;
        font-size: 1.3rem;
        line-height: 1.6;
      }
      //-----------------------------
      h2 { font-size: 1.6rem; }
      //-----------------------------
      &--mb1 { margin-bottom: 16px; }
      //-----------------------------
      &--mtb1 {
        margin: 21px 0 13px;
        //---------------------------
        @include respond-to(768) {
          margin: 10px 0 6px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  &-recruit2 {
    //&-table1--tb1 { padding: 40px 0!important; }
  }
  //---------------------------------
  &-recruit4 {
    margin-bottom: 100px;
    //-------------------------------
    @include respond-to(768) {
      margin-bottom: 45px;
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  sitemap.html
-----------------------------------*/
.p {
  &-sitemap1 {
    margin-top: 59px;
    //-------------------------------
    @include respond-to(768) {
      margin-top: 45px;
    }
    //-------------------------------
    &-content1 {
      margin-top: -6px;
      //-----------------------------
      @include respond-to(768) {
        &--pb2, &--pb3, &--pb4,
        &--pb5, &--pb6 { padding-bottom: 36px!important; }
      }
      /*-----------------------------
      *padding, margin
      -----------------------------*/
      &--pb1 {
        padding-bottom: 36px;
      }
      //-----------------------------
      &--pb2 {
        padding-bottom: 42px;
      }
      //-----------------------------
      &--pb3 {
        padding-bottom: 175px;
      }
      //-----------------------------
      &--pb4 {
        padding-bottom: 160px;
      }
      //-----------------------------
      &--pb5 {
        padding-bottom: 179px;
      }
      //-----------------------------
      &--pb6 {
        padding-bottom: 93px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  topics.html
-----------------------------------*/
.p {
  &-topics1 {
    margin: 60px 0 132px;
    @include respond-to(768) {
      margin: 30px 0 60px;
    }
    //-------------------------------
    &__text1 {
      //-----------------------------
      font-size: 1.3rem;
      text-align: left;
      line-height: 1.7;
      @include respond-to(768) {
        padding: 0 10px;
      }
      //-----------------------------
      &--mtb1 {
        margin: -15px 0 98px;
        @include respond-to(768) {
          margin: 10px 0 46px;;
        }
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  access.html
-----------------------------------*/
.p {
  //---------------------------------
  &-access1 {
    margin: 56px 0 103px;
    //---------------------------
    @include respond-to(768) {
      margin: 45px 0 60px;
    }
    //-------------------------------
    &-map1 {
      box-sizing: border-box;
      position: relative;
      width: 581px;
      height: 415px;
      @include respond-to(768) {
        width: 100%;
        max-width: 560px;
        height: 208px;
        margin: 0 auto;
      }
      //-----------------------------
      iframe {
        width: 100%;
        height: 100%;
      }
      //-----------------------------
    }
    //-------------------------------
    &__text1 {
      @include respond-to(768) {
        margin-top: 20px;
        text-align: center;
      }
      //-----------------------------
      h2 {
        margin-bottom: 15px;
      }
      //-----------------------------
      &--mb1 {
        margin-bottom: 25px;
      }
      //-----------------------------
      &--mr1 {
        margin-right: 21px;
        //---------------------------
        @include respond-to(768) {
          margin-right: 0;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  links.html
-----------------------------------*/
.p{
  //---------------------------------
  &-links1 {
    margin: 61px 0 480px;
    @include respond-to(768) {
      margin: 45px 0 60px;
    }
  }
  //---------------------------------
}

/*-----------------------------------
  ja_kyosai.html, bank.html
-----------------------------------*/
.p {
  &-kyosai1, &-bank1 {
    margin: 57px 0 495px;
    //-------------------------------
    @include respond-to(768) { margin: 45px 0 60px; }
    //-------------------------------
    &-box1 {
      margin-top: 54px;
      font-weight: 600;
      letter-spacing: 2px;
      //-----------------------------
      @include respond-to(768) {
        margin-top: 27px!important;
      }
      //-----------------------------
    }
    //-------------------------------
    &--mb1 {
      margin-bottom: 25px;
      @include respond-to(768) { margin-bottom: 15px; }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  privacy.html
-----------------------------------*/
.p {
  //---------------------------------
  &-privacy1 {
    margin: 56px 0 100px;
    @include respond-to(768) {
      margin: 45px 0 60px;
    }
    //-------------------------------
    &-box1 {
      &--mb0 {
        margin-top: -5px;
      }
      //-------------------------------
      &--mb1 {
        margin-bottom: 23px;
        @include respond-to(768) {
          margin-bottom: 14px;
        }
      }
      //-------------------------------
      &--mb2 {
        margin-bottom: 49px;
        @include respond-to(768) {
          margin-bottom: 24px;
        }
      }
      //-------------------------------
    }
    //-------------------------------
    &-link1 {
      font-weight: bold;
      .c-arrowimg { margin-left: 10px; }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  regular.html
-----------------------------------*/
.p {
  //---------------------------------
  &-regular1 {
    margin: 56px 0 100px;
    @include respond-to(768) {
      margin: 45px 0 60px!important;
    }
    //-------------------------------
    &-tr1 {
      vertical-align: text-top!important;
      font-size: 1.6rem!important;
      border: 1px solid #727272!important;
      //----------------------------
      @include respond-to(768) {
        font-size: 1.3rem!important;
      }
    }
    //-------------------------------
    &-th1, &-td1 {
      padding: 18px 29px !important;
      @include ie() {
        text-align: left!important;
      }
      //-----------------------------
      @include respond-to(768) {
        padding: 9px 14px !important;
      }
      //-----------------------------
    }
    //-------------------------------
    &-th1 {
      background: #e6e6e6!important;
      border-right: none!important;
      //-----------------------------
      @include respond-to(768) {
        width: 119px!important;
      }
      //-----------------------------
    }
    //-------------------------------
    &-td1 {
      color: #000000 !important;
      line-height: 1.6!important;
      //-----------------------------
      &--color1 { color: #8d8d8d!important; }
      //-----------------------------
      &--linebottom { text-decoration: underline; }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  brand1.html
-----------------------------------*/
.p {
  //---------------------------------
  &-brand1 {
    margin: 56px 0 98px;
    @include respond-to(768) {
      margin: 45px 0 49px;
    }
    //-------------------------------
    &-box1 {
      //-----------------------------
      @include respond-to(768) {
        padding: 0 10px;
      }
      //-----------------------------
      &--mtb1 {
        margin: 0 0 45px;
        //---------------------------
        @include respond-to(768) {
          margin-bottom: 22px;
        }
      }
      //-----------------------------
    }
    //-------------------------------
    &-text1 {
      text-align: left;
      font-size: 1.5rem;
      line-height: 1.7;
      @include respond-to(768) { font-size: 1.3rem; }
    }
    //-------------------------------
  }
  //---------------------------------
  &-brand2 {
    margin-bottom: 65px;
    //-------------------------------
    @include respond-to(768) {
      margin-bottom: 45px;
      .c-brand2__text1--mr1 {
        margin-right: 0;
      }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  brand2.html
-----------------------------------*/
.p {
  &-brandSecond1 {
    margin: 56px 0 42px;
    @include respond-to(768) {
      margin: 45px 0 45px;
    }
    //-------------------------------
    &__text1 {
      h2 {
        font-size: 1.6rem;
      }
      //-----------------------------
      &--mb1 {
        margin-bottom: 21px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  &-brandSecond2 {
    margin-bottom: 66px;
    //-------------------------------
    @include respond-to(768) {
      margin-bottom: 33px;
    }
  }
  //---------------------------------
}

/*-----------------------------------
  brand3.html
-----------------------------------*/
.p {
  &-brandThird2 {
    margin-bottom: 67px;
    @include respond-to(768) { margin-bottom: 50px; }
    &-h2 {
      //-----------------------------
      &--mb1 {
        margin-bottom: 20px;
        @include respond-to(768) { margin-bottom: 10px; }
      }
      //-----------------------------
      &--mb2 {
        margin-bottom: 24px;
        @include respond-to(768) { margin-bottom: 12px; }
      }
      //-----------------------------
    }
    //-------------------------------
    &-box1 {
      margin-top: 31px;
      font-size: 13px;
      h2 {margin-bottom: 7px;}
      //-----------------------------
      @include respond-to(768) { margin-top: 15px; }
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  book.html
-----------------------------------*/
.p {
  //---------------------------------
  &-book1 {
    margin: 56px 0 69px;
    //-------------------------------
    @include respond-to(768) {
      margin: 45px 0 60px;
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  youth.html
-----------------------------------*/
.p {
  &-youth1 {
    margin: 56px 0 65px;
    //-------------------------------
    @include respond-to(768) {
      margin: 45px 0 60px;
    }
    //-------------------------------
    &-list1 {
      //-----------------------------
      @include respond-to(768) {
        //---------------------------
        .c-list2__card {
          width: 266px;
          margin: 0 auto 18px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  senior.html
-----------------------------------*/
.p {
  //---------------------------------
  &-senior1 {
    margin: 56px 0 69px;
    //-------------------------------
    @include respond-to(768) {
      margin: 45px 0 60px;
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  senior.html
-----------------------------------*/
.p {
  //---------------------------------
  &-woman1 {
    margin: 56px 0 69px;
    //-------------------------------
    @include respond-to(768) {
      margin: 45px 0 60px;
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  photogallery1.html.
  photogallery2.html.
  photogallery3.html.
-----------------------------------*/
.p {
  //---------------------------------
  &-galleryFirst1 {
    margin: 56px 0 50px;
    //-------------------------------
    @include respond-to(768) {
      margin: 45px 0;
    }
    //-------------------------------
    &-list1 {
      //-----------------------------
      .c-list2__card {
        margin-bottom: 52px;
        //---------------------------
        @include respond-to(768) {
          margin-bottom: 18px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
  recipe.html
-----------------------------------*/
.p {
  //---------------------------------
  &-recipe1 {
    margin: 55px 0 73px;
    @include respond-to(768) {
      margin: 45px 0 40px;
    }
    //-------------------------------
    &-box1 {
      box-sizing: border-box;
      width: 510px;
      position: relative;
      //-----------------------------
      @include respond-to(768) {
        width: 100%;
        max-width: 530px;
        margin: 0 auto;
        padding: 0 10px;
      }
      //-----------------------------
    }
    //-------------------------------
    &-list1 {
      //-----------------------------
      &--mb1 {
        margin-bottom: 43px!important;
        @include respond-to(768) {
          margin-bottom: 18px!important;
        }
      }
      //-----------------------------
      .c-list2__card {
        width: 360px;
        margin: 0 0 25px 32px;
        &:nth-of-type(3n+1) {margin-left: 0;}
        //---------------------------
        @include respond-to(768) {
          width: 100%;
          margin: 0 0 16px 0;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &--mt1 {
      margin-top: 39px;
    }
    //-------------------------------
    &__mtitle1 {
      margin-bottom: 16px;
      text-align: left;
      font-size: 1.6rem;
      @include respond-to(768) {
        font-size: 1.4rem;
        text-align: center;
      }
      //-----------------------------
      h2 {
        font-size: 2.0rem;
        @include respond-to(768) {
          font-size: 1.8rem;
        }
      }
      //-----------------------------
      &--mb1 { margin-bottom: 4px; }
      //-----------------------------
    }
    //-------------------------------
    &__img1 {
      img { width: 100%; }
    }
    //-------------------------------
    &__text1 {
      text-align: left;
      p {line-height: 1.7;}
      @include respond-to(768) {
        //
      }
    }
    //-------------------------------
    &__label1 {
      display: inline-block;
      padding: 3px 19px 2px;
      color: #ffffff;
      background: #e2750c;
      //-----------------------------
      &--mtb1 {
        margin: 14px 0 8px;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  &-recipe2 {
    margin-bottom: 71px;
    @include respond-to(768) {
      margin-bottom: 60px;
    }
  }
  //---------------------------------
}

