@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';

// Color-----------------------------
$white: #fff;
$black: #000;
$green1: #00aa9d;
$blue1: #91d6d1;
$blue2: #00a9e8;
$brown1: #781111;
$green2: #00df1f;
$gray1: #cccccc;