@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function

/*---------------------------------------
  Private element
---------------------------------------*/

/////////////////////////////////////////
/*----------------Top------------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-top1
---------------------------------------*/
.p-top1 {
  display: block;
  position: relative;
  padding: 50px 0 86px;
  background: url(../img/bg1.jpg) repeat;
  //-----------------------------------------
  @include respond-to(767) { padding: 35px 0 88px; }
  //-----------------------------------------
  &__title1 {
    display: block;
    position: relative;
    //---------------------------------------
    @include respond-to(767) { padding: 0 25px; }
    //---------------------------------------
    .title1 {
      box-sizing: border-box;
      width: 500px;
      height: 95px;
      margin: 0 auto 44px;
      padding: 14px 0;
      border: 2px solid #acdeda;
      border-radius: 2px;
      //---------------------------------------
      @include respond-to(767) {
        width: auto;
        height: auto;
        margin-bottom: 20px;
      }
      //---------------------------------------
      h2 {
        color: #fff;
        font-size: 2.6rem;
        //------------------------------------
        @include respond-to(767) {
          font-size: 1.6rem;
        }
        //------------------------------------
      }
      //----------------------------------------
      &__sm1 {
        display: block;
        margin-bottom: 11px;
        font-size: 2.0rem;
        font-weight: bold;
        color: #95d3cd;
        //------------------------------------
        @include respond-to(767) {
          font-size: 1.6rem;
          margin-bottom: 7px;
        }
        //------------------------------------
      }
      //---------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__box1 {
    position: relative;
    display: block;
  }
  //-----------------------------------------
  &__list {
    position: relative;
    //---------------------------------------
    .slick-track{ display: flex !important; }
    //---------------------------------------
    .slick-slide { height: inherit !important; }
    //---------------------------------------
    .slick-dots {
      position: absolute;
      bottom: -44px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      //--------------------------------------
      @include respond-to(767) { bottom: -40px; }
      //--------------------------------------
      li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0px 15px 0 0;
        padding: 0;
        cursor: pointer;
        //------------------------------------
        @include respond-to(767) {
          width: 10px;
          height: 10px;
        }
        //------------------------------------
        &:last-child {
          margin-right: 0;
        }
        //------------------------------------
        button {
          font-size: 0;
          line-height: 0;
          display: block;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
          //----------------------------------
          &:before {
            font-size: 6px;
            line-height: 20px;
            position: absolute;
            top: 2px;
            left: 0;
            width: 10px;
            height: 10px;
            content: '';
            background: #fff;
            text-align: center;
            border-radius: 90px;
            //--------------------------------
            @include respond-to(767) {
              width: 9px;
              height: 9px;
            }
            //--------------------------------
          }
          //----------------------------------
        }
        //------------------------------------
      }
      //--------------------------------------
      .slick-active {
        button {
          position: relative;
          top: 2px;
          width: 10px;
          height: 10px;
          padding: 0;
          background: black;
          border-radius: 10px;
          //----------------------------------
          @include respond-to(767) {
            top: 0px;
            width: 9px;
            height: 9px;
            border-radius: 20px;
          }
          //----------------------------------
          &:before {
            content: "";
            top: -6px;
            left: -6px;
            font-size: 1.3rem;
            width: 20px;
            height: 20px;
            background: none;
            border: 1px solid #000;
            //----------------------------------
            @include respond-to(767) {
              top: -5px;
              left: -5px;
              width: 17px;
              height: 17px;
            }
            //----------------------------------
          }
          //----------------------------------
        }
      }
      //--------------------------------------
    }
    //----------------------------------------
  }
  //-----------------------------------------
  &__prev {
    position: absolute;
    top: 41%;
    left: 3%;
    width: 70px;
    height: 70px;
    z-index: 1;
    background: rgba(51, 51, 51, 0.85);
    cursor: pointer;
    //---------------------------------------
    @include respond-to(767) { display: none!important; }
    //---------------------------------------
    &:hover { opacity: 0.8; }
    //---------------------------------------
  }
  //-----------------------------------------
  &__next {
    position: absolute;
    top: 41%;
    right: 3%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: rgba(51, 51, 51, 0.85);
    //---------------------------------------
    @include respond-to(767) { display: none!important; }
    //---------------------------------------
    &:hover { opacity: 0.8; }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-card1 {
    width: 332px;
    height: 100%;
    margin: 15px 7px;
    //---------------------------------------
    @include respond-to(767) {
      width: 230px;
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*---------------------------------------
 p-top2
---------------------------------------*/
.p-top2 {
  display: block;
  position: relative;
  padding: 50px 0 77px;
  background: url(../img/bg2.jpg) repeat;
  //---------------------------------------
  @include respond-to(767) {
    width: auto;
    height: auto;
    padding: 35px 15px 41px;
  }
  //-----------------------------------------
  &__title1 {
    position: relative;
    //---------------------------------------
    @include respond-to(767) { padding: 0 15px; }
    //---------------------------------------
    .title1 {
      display: block;
      box-sizing: border-box;
      width: 500px;
      height: 95px;
      margin: 0 auto 46px;
      padding: 14px 0;
      border: 2px solid $black;
      border-radius: 3px;
      //-------------------------------------
      @include respond-to(767) {
        width: auto;
        height: auto;
        margin-bottom: 30px;
        border: 1px solid $black;
      }
      //---------------------------------------
      &__sm {
        display: block;
        font-size: 2.0rem;
        font-weight: bold;
        color: $green1;
        margin-bottom: 11px;
        //-------------------------------------
        @include respond-to(767) {
          margin-bottom: 7px;
          font-size: 1.4rem;
        }
        //-------------------------------------
      }
      //---------------------------------------
      h2 {
        font-size: 2.6rem;
        //-------------------------------------
        @include respond-to(767) { font-size: 1.6rem; }
        //-------------------------------------
      }
      //------------------------------------- 
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__text1 {
    width: 33%;
    text-align: justify;
    line-height: 1.6;
    margin: 0 auto 48px;
    //---------------------------------------
    @include respond-to(767) {
      width: auto;
      text-align: center;
      font-size: 1.4rem;
      margin-bottom: 30px;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__list1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    //---------------------------------------
    @include respond-to(767) {
      display: block;
      max-width: 500px;
      margin: 0 auto;
    }
    //---------------------------------------
    .list1__link1 {
      display: block;
      width: 49%;
      max-width: 567px;
      margin-left: 30px;
      margin-bottom: 35px;
      position: relative;
      text-align: left;
      transition: all ease 0.4s;
      @include cf;
      //-------------------------------------
      @include respond-to(767) {
        width: auto;
        margin: 0 auto 25px;
      }
      //-------------------------------------
      &:hover { opacity: 0.8; }
      //-------------------------------------
      &:nth-child(2n + 1) {
        margin-left: 0;
        //-----------------------------------
        @include respond-to(767) { margin-left: auto; }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
    .list1__card1 {
      box-sizing: border-box;
      width: 100%;
      //-------------------------------------
      .card1__img1 {
        width: 53%;
        float: left;
        //-----------------------------------
        @include respond-to(767) {
          display: block;
          //---------------------------------
          img { width: 100%; } 
          //---------------------------------
        }
        //-----------------------------------
      }
      //-------------------------------------
      .card1__box2 {
        box-sizing: border-box;
        width: 287px;
        float: right;
        margin-top: -189px;
        color: $black;
        background: $white;
        padding: 25px 17px 30px;
        box-shadow: 0px 5px 11px #b6c6c6;
        //-----------------------------------
        @include respond-to(767) {
          width: 61%;
          min-height: 160px;
          float: right;
          margin-top: -30%;
          background: #fff;
          padding: 15px 10px 20px;
          box-shadow: 3px 4px 7px #abb3b3;
        }
        //-----------------------------------
        h3, h4, h5, h6 {
          font-size: 1.8rem;
          margin-bottom: 7px;
          letter-spacing: -1px;
          //---------------------------------
          @include respond-to(767) {
            font-size: 1.4rem;
            letter-spacing: 0;
            line-height: 1.3;
          }
          //---------------------------------
        }
        //-----------------------------------
        .small-text1 {
          display: block;
          font-size: 1.2rem;
          margin-bottom: 9px;
          //---------------------------------
          @include respond-to(767) {
            margin-bottom: 7px;
            font-size: 1.1rem;
          }
          //---------------------------------
        }
        //-----------------------------------
        .tag1 {
          display: inline-block;
          text-decoration: none;
          color: $black;
          padding: 5px 11px;
          font-size: 1.2rem;
          background: #ccc;
          border-radius: 19px;
          margin-top: 27px;
          //---------------------------------
          @include respond-to(767) {
            margin-top: 15px;
            padding: 2px 8px 3px;
            font-size: 1.1rem;
          }
          //---------------------------------
        }
        //-----------------------------------
      }
      //-------------------------------------
      .card1__text1 {
        font-weight: bold;
        color: $green1;
        line-height: 1.5;
        //-----------------------------------
        @include respond-to(767) { font-size: 1.2rem; }
        //---------------------------------[[
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .p-mt1 {
    margin-top: -4px;
    //---------------------------------------
    @include respond-to(767) { margin-top: 10px; }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*---------------------------------------
 p-top3
---------------------------------------*/
.p-top3 {
  display: block;
  position: relative;
  padding: 50px 0 116px;
  overflow: hidden;
  //-----------------------------------------
  @include respond-to(767) { padding: 35px 15px 19%; }
  //-----------------------------------------
  &__inner {
    position: relative;
    width: 1416px;
    margin: 0 auto;
    //---------------------------------------
    @include respond-to(767) { width: 100%; }
    //---------------------------------------
  }
  //-----------------------------------------
  &__box1 {
    box-sizing: border-box;
    display: block;
    width: 780px;
    margin: 0 auto;
    //---------------------------------------
    @include respond-to(767) { width: 100%; }
    //---------------------------------------
  }
  //-----------------------------------------
  .book-bg {
    position: absolute;
    top: 93px;
    left: -23px;
    //---------------------------------------
    @include respond-to(767) { display: none; }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-listpost {
    margin-bottom: 50px;
    //---------------------------------------
    @include respond-to(767) { margin-bottom: 35px; }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*---------------------------------------
 p-top4
---------------------------------------*/
.p-top4 {
  display: block;
  position: relative;
  height: 401px;
  padding: 10px 0;
  background: #f8b616;
  //---------------------------------------
  @include respond-to(767) {
    height: auto;
    padding: 10px 0 45px;
  }
  //-----------------------------------------
  &__inner {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 1416px;
    margin: 0 auto;
    //---------------------------------------
    @include respond-to(767) { width: auto; }
    //---------------------------------------
  }
  //-----------------------------------------
  &__box1 {
    left: 28%;
    text-align: center;
    z-index: 2;
    //---------------------------------------
    @include respond-to(767) { left: auto; }
    //---------------------------------------
    .box1__text1 {
      margin-top: -31px;
      margin-bottom: 50px;
      font-size: 1.7rem;
      //-------------------------------------
      @include respond-to(767) {
        margin: -8% 0 25px;
        padding: 0 15px;
        font-size: 1.3rem;
        letter-spacing: -1px;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__btn1 {
    display: inline-block;
    position: absolute;
    top: 294px;
    left: 0;
    right: 0;
    //---------------------------------------
    @include respond-to(767) {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      display: block;
      margin-top: 25px;
    }
    //---------------------------------------
    .btn1__inner {
      @include respond-to(767) {
        margin-left: 24px;
        margin-right: 24px;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .po-absolute {
    position: absolute;
    //---------------------------------------
    @include respond-to(767) { position: relative; }
    //---------------------------------------
  }
  //-----------------------------------------
  .box1__img1 {
    position: relative;
    top: -74px;
    left: -7px;
    //---------------------------------------
    @include respond-to(767) {
      top: 0;
      left: auto;
      transform: translate(0, -39%);
      width: 80%;
      margin: 0 auto;
      //-------------------------------------
      img { width: 100%; }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__box2 {
    position: relative;
    //---------------------------------------
    @include respond-to(767) { display: flex; }
    //---------------------------------------
    .box2__img1 {
      left: 0;
      z-index: 0;
      //-------------------------------------
      @include respond-to(767) {
        width: 50%;
        img { width: 100%; }
      }
      //-------------------------------------
    }
    //---------------------------------------
    .box2__img2 {
      right: 0;
      //-------------------------------------
      @include respond-to(767) {
        right: auto;
        width: 50%;
        img { width: 100%; }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/////////////////////////////////////////
/*----------------News-----------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-news1
---------------------------------------*/
.p-news1 {
  position: relative;
  padding: 39px 0 132px;
  //-------------------------------------
  @include respond-to(767) { padding: 20px 0 35px; }
  //-------------------------------------
  &__inner {
    position: relative;
    display: block;
  }
  //-------------------------------------
  &__box1 {
    position: relative;
    display: block;
    margin: 78px 0 0;
    //-----------------------------------
    @include respond-to(767) { margin: 20px 0 0; }
    //-----------------------------------
  }
  //-------------------------------------
  .c-listpost {
    width: 780px;
    margin: 0 auto;
    //-----------------------------------
    @include respond-to(767) {
      width: auto;
      padding: 0 15px;
    }
    //-----------------------------------
  }
  //-------------------------------------
  .c-listpost__item {
    //-----------------------------------
    &:first-child { border-top: none; }
    //-----------------------------------
    &:last-child { border-bottom: none; }
    //-----------------------------------
  }
  //-------------------------------------
}

/////////////////////////////////////////
/*------------News single--------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-news-single1
---------------------------------------*/
.p-news-single1 {
  position: relative;
  box-sizing: border-box;
  width: 780px;
  margin: 0 auto;
  padding: 66px 0 132px;
  font-size: 1.5rem;
  //-------------------------------------
  @include respond-to(767) {
    width: 100%;
    padding: 29px 0 35px;
    font-size: 1.3rem;
  }
  //-------------------------------------
  &__title1 {
    padding: 0 20px 30px;
    position: relative;
    text-align: left;
    //-------------------------------------
    @include respond-to(767) { padding: 0 15px 25px; }
    //-----------------------------------
    h2 {
      font-size: 2.4rem;
      //---------------------------------
      @include respond-to(767) { font-size: 1.8rem; }
      //---------------------------------
    }
    //-----------------------------------
    h4 {
      font-size: 1.5rem;
      color: #781111;
      font-weight: 500;
      margin-bottom: 11px;
      //---------------------------------
      @include respond-to(767) {
        font-size: 1.3rem;
        margin-bottom: 8px;
      }
      //---------------------------------
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__content1 {
    padding: 27px 20px 145px;
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    //-----------------------------------
    @include respond-to(767) { padding: 25px 15px 35px; }
    //-----------------------------------
    p {
      margin-bottom: 44px;
      //---------------------------------
      @include respond-to(767) { margin-bottom: 15px; }
      //---------------------------------
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__btn1 {
    margin-top: 30px;
    //-----------------------------------
    @include respond-to(767) { margin-top: 20px; }
    //-----------------------------------
  }
  //-------------------------------------
}

/////////////////////////////////////////
/*--------------Company----------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-company1
---------------------------------------*/
.p-company1 {
  position: relative;
  display: block;
  padding: 53px 0 135px;
  //-------------------------------------
  @include respond-to(767) { padding: 25px 15px 25px; }
  //-------------------------------------
}

/////////////////////////////////////////
/*-------------Interview---------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-interview1
---------------------------------------*/
.p-interview1 {
  position: relative;
  display: block;
  padding: 23px 0 138px;
  //-------------------------------------
  @include respond-to(767) { padding: 25px 15px 25px; }
  //-------------------------------------
  &__list1 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    //-------------------------------------
    .c-card1 {
      box-sizing: border-box;
      width: 332px;
      margin-left: 84px;
      margin-bottom: 100px;
      text-decoration: none;
      color: $black;
      //-------------------------------------
      @include respond-to(767) {
        width: 50%;
        min-width: 288px;
        padding: 10px;
        margin: 0 0 10px;
      }
      //-------------------------------------
      @include respond-to(605) { margin: 0 auto 10px; }
      //-------------------------------------
      &:nth-child(3n + 1) {
        margin-left: 0;
        //-----------------------------------
        @include respond-to(767) { margin-left: auto; }
        //-----------------------------------
      }
      //-------------------------------------
      .c-card1__text1 { padding: 13px 0 0; }
      //-------------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  &__title1 h2 {
    margin-bottom: 85px;
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: bold;
    //-----------------------------------
    @include respond-to(767) {
      margin-bottom: 35px;
      font-size: 1.6rem;
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__listbtn1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 26px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ccc;
    //------------------------------------
    @include respond-to(767) {
      flex-wrap: wrap;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
    //------------------------------------
    .btn__tab1 {
      position: relative;
      //----------------------------------
      @include respond-to(767) {
        box-sizing: border-box;
        width: 50%;
        //--------------------------------
        &:nth-child(2n) { a { margin-right: 0; } }
        //--------------------------------
      }
      //----------------------------------
      a {
        margin-right: 21px;
        padding: 4px 25px;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        text-decoration: none;
        color: #000;
        border: 2px solid black;
        border-radius: 20px;
        cursor: pointer;
        //-------------------------------
        @include respond-to(767) {
          display: block;
          margin-right: 15px;
          margin-bottom: 10px;
          padding: 4px 10px;
          font-size: 1.3rem;
        }
        //-------------------------------
        &:hover {
          color: $white;
          background: $green1;
          border-color: $green1;
        }
        //-------------------------------
      }
      //---------------------------------
      &:last-child {
        //-------------------------------
        a { margin-right: 0;}
        //-------------------------------
      }
      //---------------------------------
    }
    //-----------------------------------
    .active { display: block; }
    //-----------------------------------
  }
  //-------------------------------------
  &__tab1 {
    display: none;
    //-----------------------------------
    @include respond-to(767) { margin-bottom: 35px; }
    //-----------------------------------
    &.active { display: block; }
    //-----------------------------------
  }
  //-------------------------------------
}

/////////////////////////////////////////
/*---------------About-----------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-about1
---------------------------------------*/
.p-about1 {
  position: relative;
  padding-bottom: 105px;
  background: #e4f8f8;
  @include respond-to(767) { padding-bottom: 35px; }
  //--------------------------------------
  &__title1 {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #000;
    z-index: 1;
    //------------------------------------
    h2 {
      position: relative;
      font-size: 3.2rem;
      font-weight: bold;
      //----------------------------------
      @include respond-to(767) { font-size: 1.8rem; }
      //----------------------------------
      &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        width: 100%;
        height: 14px;
        background: url(../img/about/line.png);
        z-index: -1;
        //--------------------------------
        @include respond-to(767) { height: 7px; }
        //--------------------------------
      }
      //----------------------------------
    }
    //------------------------------------
    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 13px;
      //----------------------------------
      @include respond-to(767) {
        margin-bottom: 7px;
        font-size: 1.3rem;
      }
      //----------------------------------
    }
    //------------------------------------
  }
  //--------------------------------------
  &__img1 {
    position: relative;
    margin-top: 50px;
    //------------------------------------
    @include respond-to(767) {
      padding: 0 15px;
      margin-top: 25px;
    }
    //------------------------------------
    img { @include respond-to(767) { width: 100%; } }
    //------------------------------------
  }
  //--------------------------------------
  &__box1 {
    position: relative;
    padding-top: 74px;
    //------------------------------------
    @include respond-to(767) { padding-top: 35px; }
    //------------------------------------
  }
  //--------------------------------------
}

/*---------------------------------------
 p-about2
---------------------------------------*/
.p-about2 {
  position: relative;
  padding: 42px 0 178px;
  //--------------------------------------
  @include respond-to(767) { padding: 0 0 60px; }
  //--------------------------------------
  &__box1 {
    display: flex;
    flex-direction: row-reverse;
    //------------------------------------
    @include respond-to(767) { display: block; }
    //------------------------------------
    .box1__content1 {
      width: 50%;
      height: 484px;
      background: url(../img/about/concept01_sp.png) no-repeat;
      background-size: cover;
      //------------------------------------
      @include respond-to(767) {
        width: 100%;
        height: 250px;
      }
      //------------------------------------
    }
    //--------------------------------------
    .box1__content2 {
      width: 50%;
      @include cf;
      //------------------------------------
      @include respond-to(767) { width: 100%; }
      //------------------------------------
      .content2__text1 {
        box-sizing: border-box;
        width: 382px;
        margin-right: 27px;
        float: right;
        line-height: 1.8;
        text-align: justify;
        font-size: 1.5rem;
        //------------------------------------
        @include respond-to(767) {
          width: 100%;
          margin-right: 0;
          padding: 25px 15px 0;
          font-size: 1.3rem;
        }
        //----------------------------------
        h2 {
          margin-bottom: 20px;
          font-size: 2.0rem;
          //--------------------------------
          @include respond-to(767) {
            margin-bottom: 15px;
            font-size: 1.6rem;
          }
          //--------------------------------
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
    &--reverse {
      flex-direction: unset;
      //------------------------------------
      .box1__content1 {
        height: 536px;
        background: url(../img/about/concept02.jpg) no-repeat;
        background-size: cover;
        //----------------------------------
        @include respond-to(767) { height: 250px; }
        //----------------------------------
      }
      //------------------------------------
      .box1__content2 {
        //----------------------------------
        .content2__text1 {
          float: left;
          margin: 0 0 0 28px;
          //--------------------------------
          @include respond-to(767) {
            float: none;
            margin: 0;
          }
          //--------------------------------
        }
        //----------------------------------
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //--------------------------------------
  &--mb1 {
    margin-bottom: 101px;
    //-----------------------------------
    @include respond-to(767) { margin-bottom: 35px; }
    //-----------------------------------
  }
  //-------------------------------------
}

/*---------------------------------------
 p-about3
---------------------------------------*/
.p-about3 {
  position: relative;
  display: block;
  padding-bottom: 100px;
  //-----------------------------------------
  @include respond-to(767) { padding-bottom: 20px; }
  //-----------------------------------------
  .c-title2 {
    margin-bottom: 96px;
    //-----------------------------------------
    @include respond-to(767) { margin-bottom: 50px; }
    //-----------------------------------------
  }
  //-----------------------------------------
  .p-about3__table1 {
    box-sizing: border-box;
    width: 782px;
    margin: 0 auto;
    @include respond-to(767) {
      width: 100%;
      padding: 0 15px;
    }
  }
  //-----------------------------------------
}

/////////////////////////////////////////
/*---------Company Single--------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-comsingle1
---------------------------------------*/
.p-comsingle1 {
  padding-bottom: 63px;
  background: url(../img/bg2.jpg) repeat;
  @include respond-to(767) { padding-bottom: 35px; }
  //-------------------------------------
  &__box1 {
    position: relative;
    padding: 35px 0 0;
    @include cf;
    @include respond-to(767) { padding: 25px 0 0; }
    //-----------------------------------
    .comsingle1__box1 {
      position: relative;
      float: left;
      width: 680px;
      @include respond-to(767) {
        float: none;
        width: 100%;
        margin-bottom: 60px;
      }
      //---------------------------------
      .custom__title1 {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: left;
        padding: 25px 10px;
        color: #fff;
        background: #1cbbb4;
        font-size: 1.8rem;
        @include respond-to(767) {
          padding: 20px 8px;
          font-size: 1.4rem;
        }
      }
      //----------------------------------
    }
    //-----------------------------------
    .comsingle1__slider1 {
      position: relative;
      //---------------------------------
      img {
        width: 100%;
        @include respond-to(767) {height: auto;}
      }
      //---------------------------------
      .custom__imgbox1 {
        position: relative;
        display: block;
      }
      //---------------------------------
      .slick-dots {
        position: absolute;
        bottom: -36px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        //--------------------------------------
        @include respond-to(767) { bottom: -28px; }
        //-----------------------------------
        li {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 0px 18px 0 0;
          padding: 0;
          cursor: pointer;
          //------------------------------------
          @include respond-to(767) {
            width: 10px;
            height: 10px;
          }
          //------------------------------------
          &:last-child {
            margin-right: 0;
          }
          //------------------------------------
          button {
            font-size: 0;
            line-height: 0;
            display: block;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            //-------------------------------
            &:before {
              font-size: 6px;
              line-height: 20px;
              position: absolute;
              top: 2px;
              left: 0;
              width: 12px;
              height: 12px;
              content: '';
              background: $green1;
              text-align: center;
              border-radius: 90px;
              //-----------------------------
              @include respond-to(767) {
                width: 9px;
                height: 9px;
              }
              //-----------------------------
            }
            //-------------------------------
          }
          //---------------------------------
        }
        //-----------------------------------
        .slick-active {
          //---------------------------------
          button {
            position: relative;
            top: 2px;
            width: 12px;
            height: 12px;
            padding: 0;
            background: black;
            border-radius: 10px;
            //-------------------------------
            @include respond-to(767) {
              top: 0px;
              width: 9px;
              height: 9px;
              border-radius: 20px;
            }
            //-------------------------------
            &:before {
              content: "";
              top: -5px;
              left: -5px;
              font-size: 1.3rem;
              width: 20px;
              height: 20px;
              background: none;
              border: 1px solid #000;
              //-----------------------------
              @include respond-to(767) {
                top: -5px;
                left: -5px;
                width: 17px;
                height: 17px;
              }
              //-----------------------------
            }
            //-------------------------------
          }
          //---------------------------------
        }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
    .comsingle1__box2 {
      box-sizing: border-box;
      position: absolute;
      right: 0;
      width: 533px;
      padding: 25px 30px 44px;
      top: 9%;
      line-height: 1.7;
      box-sizing: border-box;
      text-align: left;
      background: $white;
      @include respond-to(767) {
        position: relative;
        top: auto;
        width: 92%;
        margin: 0 auto;
        padding: 20px 15px 30px;
      }
      //---------------------------------
      .custom {
        //---------------------------------
        &__box1 {
          display: block;
          position: relative;
          //-------------------------------
          .datepost {
            font-size: 1.4rem;
            @include respond-to(767) { font-size: 1.2rem; }
          }
          //-------------------------------
        }
        //---------------------------------
        &__title1 {
          margin: 9px 0;
          font-size: 3.0rem;
          @include respond-to(767) {
            margin: 7px 0;
            font-size: 1.6rem;
          }
        }
        //---------------------------------
        &__location1 {
          margin-bottom: 14px;
          font-size: 1.4rem;
          @include respond-to(767) {
            margin-bottom: 10px;
            font-size: 1.2rem;
          }
        }
        //---------------------------------
        &__mess1 {
          position: relative;
          color: $green1;
          font-weight: bold;
          font-size: 2.4rem;
          @include respond-to(767) { font-size: 1.8rem; }
        }
        //---------------------------------
        &__content1 {
          position: relative;
          line-height: 2.2;
          @include respond-to(767) {
            line-height: 1.7;
            font-size: 1.2rem;
          }
        }
        //---------------------------------
      }
      //-----------------------------------
      .tag1 {
        display: inline-block;
        margin: 7px 0 23px;
        text-decoration: none;
        color: #000;
        padding: 5px 20px;
        font-size: 1.2rem;
        background: #ccc;
        border-radius: 19px;
        @include respond-to(767) {
          margin-bottom: 15px;
          padding: 2px 10px;
          font-size: 1.1rem;
        }
      }
      //---------------------------------
    }
    //-----------------------------------
  }
  //-------------------------------------
}

/*---------------------------------------
 p-comsingle2
---------------------------------------*/
.p-comsingle2 {
  position: relative;
  padding: 39px 0 137px;
  @include respond-to(767) { padding: 35px 15px 60px; }
  //---------------------------------------
  &__box1 {
    display: flex;
    justify-content: flex-start;
    @include respond-to(767) { display: block; }
    //-------------------------------------
    .comsingle2__data1 {
      position: relative;
      box-sizing: border-box;
      width: 191px;
      text-align: center;
      padding: 0 20px;
      color: white;
      background: #f8b616;
      border-radius: 8px 0 0 8px;
      //-----------------------------------
      @include respond-to(767) {
        width: 100%;
        padding: 30px 0;
        border-radius: 8px 8px 0 0;
      }
      //-----------------------------------
      h1, h2, h3, h4, h5, h6 {
        font-size: 2.0rem;
        @include respond-to(767) { font-size: 1.6rem; }
      }
      //-----------------------------------
      .pos-1 {
        position: absolute;
        top: 47%;
        left: 0;
        right: 0;
        @include respond-to(767) {
          position: relative;
          top: 0;
        }
      }
      //-----------------------------------
    }
    //-------------------------------------
    .comsingle2__content1 {
      position: relative;
      box-sizing: border-box;
      width: 969px;
      padding: 35px 19px;
      text-align: left;
      background: #efefef;
      @include respond-to(767) {
        width: 100%;
        padding: 20px 15px;
      }
    }
    //-------------------------------------
    .content1__row1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 28px;
      @include respond-to(767) { padding: 0 0 18px; }
      //-----------------------------------
      h4 {
        font-weight: bold;
        font-size: 2.0rem;
        @include respond-to(767) { font-size: 1.6rem; }
      }
      //-----------------------------------
      .row1__link1 {
        margin-left: 91px;
        text-align: left;
        font-size: 1.4rem;
        font-weight: bold;
        color: #1cbbb4;
        text-decoration: none;
        @include respond-to(767) {
          margin-left: 30px;
          font-size: 1.3rem;
        }
        //---------------------------------
        .fa-external-link-alt {
          margin-left: 4px;
          font-size: 1.0rem;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .content1__row2 {
      display: flex;
      justify-content: flex-start;
      font-size: 1.3rem;
      @include respond-to(767) {
        display: block;
        font-size: 1.1rem;
      }
      //-----------------------------------
      .row2--mr1 {
        margin-right: 3px;
        @include respond-to(767) { margin-right: 0 }
      }
      //-----------------------------------
      .row2--mr2 {
        margin-right: 70px;
        @include respond-to(767) { margin-right: 0 }
      }
      //-----------------------------------
      .row2__box1,
      .row2__box2,
      .row2__box3 {
        display: block;
        position: relative;
      }
      //-----------------------------------
      .row2__box1 {
        box-sizing: border-box;
        width: 430px;
        @include respond-to(767) { width: 100%; }
      }
      //-----------------------------------
      .row2__box2 {
        box-sizing: border-box;
        width: 212px;
        @include respond-to(767) { width: 100%; }
      }
      //-----------------------------------
      .row2__box3 {
        box-sizing: border-box;
        width: 172px;
        @include respond-to(767) { width: 100%; }
      }
      //-----------------------------------
      .row2__form-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        //---------------------------------
        label {
          box-sizing: border-box;
          width: 82px;
          margin-right: 20px;
          padding: 2px 0;
          text-align: center;
          color: #000;
          background: #fff;
          border-radius: 20px;
          @include respond-to(767) {
            width: 70px;
            margin-right: 15px;
          }
        }
        //---------------------------------
        .form-info1 {
          max-width: 76%;
          @include respond-to(767) { width: 100%; }
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .content1__row3 {
      position: relative;
      display: block;
      margin-top: 10px;
      //-----------------------------------
      .row3__form-group {
        display: flex;
        justify-content: flex-start;
        //---------------------------------
        .title1 {
          width: 125px;
          padding: 13px 14px;
          background: #e3f8f8;
          box-sizing: border-box;
          text-align: center;
          font-size: 1.5rem;
          color: #1cbbb4;
          @include respond-to(767) {
            width: 138px;
            padding: 14px 8px;
            font-size: 1.3rem;
          }
        }
        //---------------------------------
        .content1 {
          width: 92%;
          box-sizing: border-box;
          padding: 10px 14px;
          background: #fff;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*---------------------------------------
 p-comsingle3
---------------------------------------*/
.p-comsingle3 {
  display: block;
  position: relative;
  padding-bottom: 138px;
  @include respond-to(767) { padding: 0 15px 70px; }
  //-------------------------------------
  &__inner {
    position: relative;
    box-sizing: border-box;
    width: 780px;
    margin: 0 auto;
    @include respond-to(767) { width: 100%; }
  }
  //-------------------------------------
  &__box1 {
    display: block;
    position: relative;
    margin-bottom: 87px;
    @include respond-to(767) { margin-bottom: 60px; }
    //-----------------------------------
    .c-title2 {
      width: 61%;
      margin-bottom: 77px;
      @include respond-to(767) {
        width: 50%;
        margin-bottom: 50px;
      }
    }
    //-----------------------------------
    .comsingle3__strengh1 {
      position: relative;
      display: block;
      text-align: left;
      line-height: 1.9;
      margin-bottom: 48px;
      font-size: 1.6rem;
      @include respond-to(767) {
        margin-bottom: 20px;
        line-height: 1.6;
        font-size: 1.4rem;
      }
      //---------------------------------
      &:last-child { margin-bottom: 0; }
      //---------------------------------
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 16px;
        font-size: 2.0rem;
        color: #00ada0;
        @include respond-to(767) {
          margin-bottom: 10px;
          font-size: 1.6rem;
        }
      }
      //---------------------------------
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__box2 {
    display: block;
    position: relative;
    //-----------------------------------
    .c-title2 {
      width: 62%;
      margin-bottom: 78px;
      @include respond-to(767) {
        width: 50%;
        margin-bottom: 60px
      }
    }
    //-----------------------------------
    .comsingle3__service1 {
      position: relative;
      display: block;
    }
    //-----------------------------------
    .service1__box1 {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
      //---------------------------------
      @include respond-to(767) {
        display: block;
        margin-bottom: 20px;
      }
      //---------------------------------
      &:last-child { margin-bottom: 0; }
      //---------------------------------
    }
    //-----------------------------------
    .service1__text1 {
      font-size: 1.4rem;
      text-align: left;
      @include respond-to(767) {
        padding: 10px 0 0;
        font-size: 1.3rem;
      }
      //---------------------------------
      h3 {
        margin-bottom: 17px;
        font-size: 2.0rem;
        color: #00ada0;
        @include respond-to(767) {
          margin-bottom: 10px;
          font-size: 1.6rem;
        }
      }
      //---------------------------------
    }
    //-----------------------------------
    .service1__img1 {
      margin-right: 15px;
      @include respond-to(767) { margin-right: 0; }
      //---------------------------------
      img { width: 100%; }
      //---------------------------------
    }
    //-----------------------------------
  }
  //-------------------------------------
}

/*---------------------------------------
 p-comsingle4
---------------------------------------*/
.p-comsingle4 {
  padding-bottom: 69px;
  background: url(../img/company/bg2.jpg) no-repeat;
  background-size: cover;
  @include respond-to(767) { padding-bottom: 30px; }
  //-------------------------------------
  &__title1 {
    position: relative;
    display: block;
    margin-bottom: 55px;
    @include respond-to(767) { margin-bottom: 30px; }
    //-----------------------------------
    .img1 {
      position: relative;
      top: -28px;
      //---------------------------------
      @include respond-to(767) { top: -24px }
      //---------------------------------
      img { @include respond-to(767) { width: 180px; } }
      //---------------------------------
    }
    //-----------------------------------
    .text1 {
      margin-top: -4px;
      font-size: 1.5rem;
      @include respond-to(767) {
        margin-top: -10px;
        font-size: 1.3rem;
      }
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__list1 {
    position: relative;
    display: block;
    @include respond-to(767) { padding: 0 15px; }
  }
  //-------------------------------------
}

/*---------------------------------------
 p-comsingle5
---------------------------------------*/
.p-comsingle5 {
  display: block;
  position: relative;
  padding: 70px 0 85px;
  @include respond-to(767) { padding: 35px 15px 35px; }
  //-------------------------------------
  &__title1 {
    display: block;
    padding-bottom: 60px;
    @include respond-to(767) { padding-bottom: 35px; }
    //-----------------------------------
    h1, h2, h3, h4, h5, h6 {
      font-size: 2.4rem;
    }
    //-----------------------------------
  }
  //-------------------------------------
  .l-btn1 {
    margin-top: 70px;
    @include respond-to(767) { margin-top: 10px; }
  }
  //-------------------------------------
}

/////////////////////////////////////////
/*----------Interview Single-----------*/
/////////////////////////////////////////

/*---------------------------------------
 p-insingle1
---------------------------------------*/
.p-insingle1 {
  position: relative;
  padding: 34px 0 96px;
  //--------------------------------------
  @include respond-to(767) { padding: 0 0 35px; }
  //--------------------------------------
  &__inner {
    display: flex;
    //------------------------------------
    @include respond-to(767) { display: block; }
    //------------------------------------
  }
  &__box1 {
    width: 50%;
    //------------------------------------
    @include respond-to(767) { width: 100%; }
    img {
      width: 100%;
      height: 653px;
      @include respond-to(767) { height: auto; }
    }
    //------------------------------------
  }
  //--------------------------------------
  &__box2 {
    position: relative;
    width: 50%;
    background: #edf9f8;
    @include cf;
    //------------------------------------
    @include respond-to(767) { width: 100%; }
    //------------------------------------
    .insingle1__content1 {
      position: absolute;
      top: 29%;
      padding-left: 39px;
      line-height: 1.8;
      text-align: justify;
      //----------------------------------
      @include respond-to(767) {
        position: relative;
        top: 0;
        box-sizing: border-box;
        width: 100%;
        margin-right: 0;
        padding: 25px 15px;
        font-size: 1.3rem;
      }
      //----------------------------------
    }
    //------------------------------------
    .content1__row1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      //----------------------------------
      @include respond-to(767) { margin-bottom: 15px; }
      //----------------------------------
      .datepost {
        position: relative;
        margin-right: 20px;
        font-size: 1.4rem;
        @include respond-to(767) {
          margin-right: 15px;
          font-size: 1.2rem;
        }
      }
      //----------------------------------
      .cate1 {
        padding: 5px 10px;
        font-size: 1.5rem;
        color: $white;
        background: $green1;
        @include respond-to(767) {
          padding: 4px 8px;
          font-size: 1.4rem;
        }
      }
      //----------------------------------
    }
    //------------------------------------
    .content1__row2 {
      display: block;
      align-items: center;
      margin-bottom: 30px;
      @include respond-to(767) { margin-bottom: 0; }
      //----------------------------------
      .custom__mess1 {
        display: block;
        margin-bottom: 14px;
        @include respond-to(767) { margin-bottom: 7px; }
        //--------------------------------
        h1, h2, h3, h4, h5, h6 {
          font-size: 3.0rem;
          font-weight: bold;
          line-height: 1.4;
          @include respond-to(767) {
            font-size: 2.0rem;
            line-height: 1.3;
          }
        }
        //--------------------------------
      }
      //----------------------------------
      .custom__mess2 {
        display: block;
        margin-bottom: 6px;
      }
      //----------------------------------
      .custom__name {
        display: block;
        margin-bottom: 4px;
        //--------------------------------
        h1, h2, h3, h4, h5, h6 {
          font-size: 2.4rem;
          font-weight: bold;
          line-height: 1.4;
          @include respond-to(767) {
            font-size: 1.6rem;
            line-height: 1.3;
          }
        }
        //--------------------------------
      }
      //----------------------------------
      .custom__profile {
        display: block;
        //--------------------------------
        .pro__address { margin-bottom: 4px; }
        //--------------------------------
      }
      //----------------------------------
    }
    //------------------------------------
  }
  //--------------------------------------
}

/*---------------------------------------
 p-insingle2
---------------------------------------*/
.p-insingle2 {
  display: block;
  position: relative;
  padding-bottom: 100px;
  //-------------------------------------
  @include respond-to(767) {
    padding: 0 15px 35px;
  }
  //-------------------------------------
  &__inner {
    position: relative;
    width: 780px;
    margin: 0 auto;
    //-----------------------------------
    @include respond-to(767) { width: 100%; }
    //-----------------------------------
  }
  //-------------------------------------
  &__content1 {
    position: relative;
    display: block;
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 45px;
    @include respond-to(767) {
      margin-bottom: 25px;
      font-size: 1.3rem;
      line-height: 1.5;
    }
    //-----------------------------------
    h3 {
      margin-bottom: 14px;
      color: #00ada0;
      font-size: 2.0rem;
      line-height: 1.4;
      @include respond-to(767) {
        margin-bottom: 7px;
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
    //-----------------------------------
    .con--mt1 {
      margin-top: 42px;
      @include respond-to(767) { margin-top: 20px }
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__img1 {
    position: relative;
    display: block;
    margin-bottom: 53px;
    @include respond-to(767) {
      margin-bottom: 25px;
      //---------------------------------
      img { width: 100%; }
      //---------------------------------
    }
  }
  //-------------------------------------
  &__title1 {
    position: relative;
    margin-top: 163px;
    padding: 17px 0 16px;
    background-size: 100%;
    @include respond-to(767) {
      margin-top: 50px;
      padding: 12px 0 15px;
    }
    //-----------------------------------
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -35px;
      width: 100%;
      height: 31px;
      background: url(../img/interview/line1s.png) no-repeat;
      background-size: 100%;
      //-------------------------------------
      @include respond-to(767) {
        top: -20px;
        height: 14px;
        background-size: 100% 100%;
      }
      //-------------------------------------
    }
    //---------------------------------------
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -47px;
      height: 31px;
      background: url(../img/interview/line3.png) no-repeat;
      background-size: 100%;
      @include respond-to(767) {
        bottom: -20px;
        height:14px;
        background-size: 100% 100%;
      }
    }
    //-----------------------------------
    h3 {
      margin-bottom: 32px;
      font-size: 1.8rem;
      font-weight: bold;
      @include respond-to(767) {
        margin-bottom: 25px;
        font-size: 1.5rem;
      }
    }
    //-----------------------------------
    .title1__box1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //---------------------------------
      @include respond-to(767) { display: block; }
      //---------------------------------
      .box1__btn1 {
        position: relative;
        border-radius: 30px;
        //-------------------------------
        &:not(:last-child) {
          @include respond-to(767) {
            margin-bottom: 20px;
          }
        }
        //-------------------------------
        a {
          box-sizing: border-box;
          display: block;
          width: 239px;
          padding: 16px 38px;
          text-align: center;
          text-decoration: none;
          color: #fff;
          font-size: 1.8rem;
          @include respond-to(767) {
            width: 100%;
            text-align: center;
            font-size: 1.4rem;
          }
          //------------------------------
          &:hover { opacity: 0.7; }
          //------------------------------
        }
        //-------------------------------
        &--bg1 { background: #3b5998; }
        //-------------------------------
        &--bg2 { background: $blue2; }
        //-------------------------------
        &--bg3 { background: $green2; }
        //-------------------------------
      }
      //---------------------------------
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__btn1 {
    margin-top: 172px;
    @include respond-to(767) { margin-top: 60px; }
  }
  //-------------------------------------
}

/////////////////////////////////////////
/*---------------Contact---------------*/
/////////////////////////////////////////

/*---------------------------------------
 p-contact1
---------------------------------------*/
.p-contact1 {
  position: relative;
  display: block;
  padding: 49px 0 130px;
  @include respond-to(767) { padding: 35px 15px 35px; }
  //-------------------------------------
  &__inner {
    width: 780px;
    margin: 0 auto;
    //-----------------------------------
    @include respond-to(767) { width: auto; }
    //-----------------------------------
  }
  //-------------------------------------
  &__box1 {
    position: relative;
    display: block;
    padding-bottom: 56px;
    text-align: left;
    @include respond-to(767) {
      padding-bottom: 35px;
    }
    //-----------------------------------
    .contact1__content1 {
      text-align: left;
      line-height: 2.0;
      @include respond-to(767) {
        line-height: 1.7;
        font-size: 1.2rem;
      }
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__title1 {
    margin-bottom: 29px;
    text-align: center;
    font-size: 2.4rem;
    //-----------------------------------
    @include respond-to(767) {
      margin-bottom: 14px;
      font-size: 1.8rem;
    }
    //-----------------------------------
  }
  //-------------------------------------
  &__btn1 {
    position: relative;
    margin-top: 48px;
    //-----------------------------------
    @include respond-to(767) {
      margin-top: 25px;
    }
    //-----------------------------------
  }
  //-------------------------------------
}
