* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 120%;
  background: #f8f8f8;
}

.header {
  width: 30%;
  margin: 50px auto 0;
  color: white;
  background: #5f9ea0;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

form, .content {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: white;
  border-radius: 0 0 10px 10px;
}

.input-group { margin: 10px 0 10px 0; }

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5f9ea0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  width: 92%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
