@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1201px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	@include respond-to(736) {
		min-width: 100%;
	}
}

#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*------------------------------------------------------------
  Layout eon page
------------------------------------------------------------*/
.l {
    &-inner {
      display: block;
      width:  1103px;
      margin:  0 auto;
      position:  relative;
      @include respond-to(736) {
        width: 100%;
      }
    }
    &-list {
      &-btn {
        display:  flex;
        margin-left: 9px;
        @include respond-to(736) {
            display: block;
            margin: 0;
        }
      }
      &-btn--ml7 {
        margin-left: 7px;
      }
    }
    &-btn1 {
      margin-right: 9px;
      @include respond-to(736) {
        margin: 0 0 7px;
      }
    }
    &-btn1, &-btn2 {
      @include respond-to(736) {
        img { width: 100%; }
      }
    }
    &-slide {
      width: 1200px;
      img { width: 100%; }
      @include respond-to(736) {
        width: 100%;
      }
    }
    &-mb0 { margin-bottom: 0; }
}

