/*
Theme Name: training
Theme URI: http://wordpress.org/;
Author: tho dang hoang
Author URI: http://wordpress.org/
Description: Create wordpress template using html files
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: dangtho
*/

.page-numbers.current {
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  background-color: #fff;
  border: 1px solid #90c132;
  text-align: center;
  background-color: #90c132;
  border: 1px solid #90c132;
  color: #fff;
}

.prev, .next {
  font-size: 24px;
  vertical-align: bottom;
}

.btn-pagi--mr1 { margin-right: 4px; }

.btn-pagi--ml1 { margin-left: 4px; }
