/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*--------------------------------------------------
  top.html
--------------------------------------------------*/
.p-top1 {
  position: relative;
  top: -31px;
  margin-bottom: 29px;
}

@media only screen and (max-width: 768px) {
  .p-top1 {
    top: 0;
    margin-top: -57px;
  }
  .p-top1 .c-list1 {
    display: block;
    width: 290px;
    margin: 0 auto;
  }
  .p-top1 .c-list1__card {
    margin-left: 0;
    margin-bottom: 16px;
  }
  .p-top1 .c-list1__img1 img {
    width: 290px;
  }
}

.p-top1__mtext1 {
  margin-bottom: 60px;
  padding: 17px 20px;
  text-align: left;
  background: #e9eff2;
}

@media only screen and (max-width: 768px) {
  .p-top1__mtext1 {
    width: 290px;
    margin: 0 auto 25px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: none;
  }
}

.p-top1__smtext1 {
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .p-top1__smtext1 {
    margin-right: 0 !important;
  }
}

.p-top1__smtext1:before {
  content: '';
  width: 1px;
  height: 13px;
  position: relative;
  background: #333333;
  margin: 0 17px 0 11px;
  display: inline-block;
  top: 2px;
}

@media only screen and (max-width: 768px) {
  .p-top1__smtext1:before {
    width: 0;
    height: 0;
    margin: 0;
  }
}

.p-top1 .c-sparrow2 {
  position: absolute;
  top: 26px;
  right: 13px;
}

.p-top1 .c-sparrow2 img {
  width: 17px;
}

.p-top2 {
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .p-top2 {
    margin-top: 45px;
  }
}

.p-top2 .c-mbanner2 {
  height: 561px;
  background: url(../img/i-bg1.jpg) no-repeat left top;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .p-top2 .c-mbanner2 {
    height: auto;
    background: none;
  }
  .p-top2 .c-mbanner2 .c-mbanner2-tit1 h2 img {
    width: 134px;
  }
}

.p-top2 .c-mbanner2__textimg {
  position: absolute;
  right: 0;
  top: 60px;
  width: 534px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 49px 57px;
  background: white;
}

@media only screen and (max-width: 768px) {
  .p-top2 .c-mbanner2__textimg {
    position: relative;
    width: 290px;
    margin: 0 auto;
    padding: 30px 0;
    top: -79px;
  }
}

.p-top2 .c-mbanner2-tit2 {
  margin: 30px 0 17px;
}

@media only screen and (max-width: 768px) {
  .p-top2 .c-mbanner2-tit2 {
    margin: 14px 0 11px;
  }
  .p-top2 .c-mbanner2-tit2 h2 > img {
    width: 180px;
  }
}

.p-top2 .c-btn1 {
  margin-top: 26px;
  margin-left: -10px;
}

@media only screen and (max-width: 768px) {
  .p-top2 .c-btn1 {
    margin-top: 3px;
    margin-left: 0;
  }
}

.p-top2 .u-text1--blue {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-top2 .u-text1--blue {
    font-size: 1.4rem;
  }
}

.p-top3 {
  padding: 60px 0;
  background: #e9eff2;
}

@media only screen and (max-width: 768px) {
  .p-top3 {
    margin-top: -80px;
    padding: 61px 0 45px;
  }
}

.p-top3__mtit1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .p-top3__mtit1 {
    margin-bottom: 14px;
  }
  .p-top3__mtit1 h2 {
    margin-bottom: 1px;
  }
  .p-top3__mtit1 h2 img {
    width: 130px;
  }
}

.p-top3 .c-list1 {
  margin-bottom: 26px;
}

@media only screen and (max-width: 768px) {
  .p-top3 .c-list1 {
    width: 290px;
    margin: 0 auto -3px;
  }
  .p-top3 .c-list1--col4 .c-list1__card:nth-child(4n+1) {
    margin: 0 auto 15px;
  }
  .p-top3 .c-list1--col4 .c-list1__card {
    width: 100%;
    margin: 0 auto 15px;
  }
  .p-top3 .c-list1__img1 img {
    width: 290px;
  }
}

.p-top3 .c-list1__text {
  padding: 15px 0 13px;
}

@media only screen and (max-width: 768px) {
  .p-top3 .c-list1__text {
    padding: 10px 0;
  }
}

.p-top3 .c-list1__info {
  color: black;
  font-weight: normal;
  font-size: 1.6rem;
  background: #ffffff;
}

.p-top3 .c-btn1 {
  margin-top: 28px;
  margin-left: -10px;
}

@media only screen and (max-width: 768px) {
  .p-top3 .c-btn1 {
    margin-top: 10px;
    margin-left: 0;
  }
}

.p-top5 iframe {
  width: 100%;
  height: 494px;
}

@media only screen and (max-width: 768px) {
  .p-top5 iframe {
    height: 250px;
  }
}

/*-------------------------------------------
  company.html
--------------------------------------------*/
.p-company1 .c-banner1 {
  background: url(../img/company/ban-bg1.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .p-company1 .c-banner1 {
    background: url(../img/company/sp-bg1.jpg) no-repeat;
    background-size: cover;
  }
}

.p-company2 {
  margin-bottom: 119px;
}

@media only screen and (max-width: 768px) {
  .p-company2 {
    width: 290px;
    margin: 38px auto 27px;
  }
  .p-company2 .l-grid1 {
    margin: 0 auto 14px !important;
  }
  .p-company2 .u-text--red {
    text-align: left;
    font-size: .9rem;
  }
}

.p-company2 h2 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .p-company2 h2 {
    margin-bottom: 25px;
  }
  .p-company2 h2 img {
    width: 55px;
  }
}

.p-company2 .l-grid1 {
  margin: 24px 0 30px;
}

.p-company3 {
  margin-bottom: 120px;
}

@media only screen and (max-width: 768px) {
  .p-company3 {
    margin-bottom: 0;
  }
}

.p-company3 .c-textdeco1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .p-company3 .c-textdeco1 {
    margin-bottom: 21px;
  }
  .p-company3 .c-textdeco1 img {
    width: 76px;
  }
}

.p-company4 {
  margin-bottom: 118px;
}

@media only screen and (max-width: 768px) {
  .p-company4 {
    margin-bottom: 0;
  }
}

.p-company4 .c-textdeco1 {
  margin-bottom: 33px;
}

@media only screen and (max-width: 768px) {
  .p-company4 .c-textdeco1 {
    margin-bottom: 27px;
  }
  .p-company4 .c-textdeco1 img {
    width: 76px;
  }
}

.p-company4 iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 28px;
}

.p-company4 .c-textdeco1:after {
  margin-top: 14px;
}

.p-company5 {
  margin-bottom: 121px;
}

@media only screen and (max-width: 768px) {
  .p-company5 {
    margin-bottom: 0;
  }
}

.p-company5 .c-textdeco1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .p-company5 .c-textdeco1 img {
    width: 76px;
  }
}

.p-company6 {
  margin-bottom: 59px;
}

@media only screen and (max-width: 768px) {
  .p-company6 {
    width: 290px;
    margin-bottom: -8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-company6 .c-textdeco1 {
  margin-bottom: 31px;
}

@media only screen and (max-width: 768px) {
  .p-company6 .c-textdeco1 {
    margin-bottom: 24px;
  }
  .p-company6 .c-textdeco1 img {
    width: 76px;
  }
}

.p-company6--mtb1 {
  margin: 59px 0 28px;
}

/*---------------------------
  company smartphone
---------------------------*/
@media only screen and (max-width: 768px) {
  .p-spcompany1 {
    background: url(../img/company/sp-bg2.jpg) no-repeat;
    background-size: cover;
  }
  .p-spcompany1 .c-banner1__title {
    padding-top: 58px;
  }
  .p-spcompany1 .c-banner1__title h2 img {
    width: 127px;
  }
}

.p-spcompany2 {
  margin-bottom: 34px;
  background: url(../img/company/sp-bg3.jpg) no-repeat;
  background-size: cover;
}

.p-spcompany2 .c-banner1__title {
  padding-top: 58px;
}

.p-spcompany2 .c-banner1__title h2 img {
  width: 134px;
}

.p-spcompany3-tit1 img {
  width: 265px;
}

.p-spcompany3-tit2 img {
  width: 93px;
}

.p-spcompany3-tit3 img {
  width: 213px;
}

.p-spcompany3-tit4 img {
  width: 110px;
}

.p-spcompany3-tit5 img {
  width: 111px;
}

.p-spcompany3-listbox {
  width: 290px;
  margin: 0 auto;
  text-align: left;
}

.p-spcompany3-listbox .c-mtitle__tit1 {
  margin-bottom: 9px;
}

.p-spcompany3-listbox .c-mtitle__tit1:nth-child(1) img {
  width: 185px;
}

.p-spcompany3-listbox .c-mtitle__tit1:nth-child(2) img {
  width: 217px;
}

.p-spcompany3-listbox .c-mtitle__tit1:nth-child(3) {
  margin-bottom: 0;
}

.p-spcompany3-listbox .c-mtitle__tit1:nth-child(3) img {
  width: 203px;
}

.p-spcompany4 {
  margin-bottom: 23px;
  background: url(../img/company/sp-bg4.jpg) no-repeat;
  background-size: cover;
}

.p-spcompany5 {
  margin-bottom: 32px;
  background: url(../img/company/sp-bg5.jpg) no-repeat;
  background-size: cover;
}

.p-spcompany5 .c-banner1__title {
  padding-top: 58px;
}

.p-spcompany5 .c-banner1__title h2 img {
  width: 109px;
}

/*-----------------------------
  business.html
-----------------------------*/
@media only screen and (max-width: 768px) {
  .p-business1 .c-banner1--mt10 {
    display: block;
    margin-top: 0px;
  }
}

.p-business1 .c-banner1 {
  background: url(../img/business/ban-bg1.jpg) no-repeat;
}

.p-business1 .c-banner1-title {
  margin-left: 11px;
}

@media only screen and (max-width: 768px) {
  .p-business1 .c-banner1 {
    background: url(../img/business/sp-bg1.jpg) no-repeat;
    background-size: cover;
  }
}

.p-business1 .c-banner1__title {
  margin-left: 9px;
}

@media only screen and (max-width: 768px) {
  .p-business1 .c-banner1__title {
    margin-left: 5px;
    padding-top: 57px;
  }
}

.p-business2 {
  margin: 65px 0 126px;
}

@media only screen and (max-width: 768px) {
  .p-business2 {
    margin: 45px 0;
  }
}

.p-business2-tit1 {
  margin-bottom: 54px;
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .p-business2-tit1 {
    margin-bottom: -23px;
    font-size: 1.6rem;
  }
  .p-business2-tit1 h2 img {
    width: 181px;
  }
}

.p-business2-tit1 .c-textdeco1 {
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .p-business2-tit1 .c-textdeco1 {
    margin-bottom: 15px;
  }
}

.p-business2-tit1 .c-textdeco1:after {
  margin-top: 18px;
}

@media only screen and (max-width: 768px) {
  .p-business2-tit1 .c-textdeco1:after {
    margin-top: 10px;
  }
}

.p-business3 {
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .p-business3 {
    margin-bottom: 30px;
  }
  .p-business3 .c-textdeco1 h2 img {
    width: 162px;
  }
}

.p-business3-tit1 {
  margin-bottom: 70px;
}

@media only screen and (max-width: 768px) {
  .p-business3-tit1 {
    margin-bottom: 30px;
  }
}

.p--mb1 {
  margin-bottom: 102px;
}

@media only screen and (max-width: 768px) {
  .p--mb1 {
    margin-bottom: 44px;
  }
}

.c-medal.l--flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*----------------------
  equipment.html
----------------------*/
.p-equipment1 .c-banner1 {
  background: url(../img/equipment/banner-bg1.jpg) no-repeat;
}

.p-equipment1 .c-banner1__title {
  margin-left: 4px;
  padding-top: 92px;
  padding-left: 5px;
}

.p-equipment2 {
  margin: 58px 0 60px;
  text-align: left;
}

.p-equipment2 h2 {
  font-weight: 500;
}

.p-equipment2--mb1 {
  margin-bottom: 117px;
}

.p-equipment2 .c-mtitle__tit2 {
  margin-bottom: 5px;
}

/*----------------------------
  strength.html
----------------------------*/
.p-strength1 .c-banner1 {
  background: url(../img/strength/ban-bg1.jpg) no-repeat;
}

.p-strength1 .c-banner1__title {
  margin-left: 42px;
  padding-top: 92px;
}

.p-strength2 {
  margin-bottom: 114px;
}

.p-strength2-box1 {
  margin-top: 33px;
}

.p-strength3 {
  margin-bottom: 76px;
}

.p-strength3 .c-textdeco1 {
  margin-bottom: 30px;
}

.p-strength3 .c-textdeco1:after {
  margin-top: 14px;
}

/*----------------------------
  employment.html
----------------------------*/
.p-employment1 .c-banner1 {
  background: url(../img/employment/ban-bg1.jpg) no-repeat;
}

.p-employment1 .c-banner1__title {
  padding-top: 92px;
}

.p-employment2 {
  margin-bottom: 118px;
}

.p-employment2 .c-textdeco1 {
  margin-bottom: 30px;
}

.p-employment2 p {
  margin-bottom: 22px;
}

.p-employment2 p:last-child {
  margin-bottom: 0;
}

.p-employment2-box1 {
  width: 617px;
  margin: 0 auto;
}

.p-employment2-tb1 .c-table1 th, .p-employment2-tb1 .c-table1 td {
  padding: 18px 20px 12px;
  line-height: 1.6;
}

.p-employment2-tb1 .c-table1 tr {
  vertical-align: middle;
}

.p-employment2--mt1 {
  margin-top: 30px;
}

.p-employment2--mb1 {
  margin-bottom: 120px;
}

.p-employment3 {
  margin-bottom: 57px;
}

.p-employment3 .c-textdeco1 {
  margin-bottom: 30px;
}

.p-employment3 p {
  margin-bottom: 25px;
}

.p-employment3-list1 {
  width: 657px;
  margin: 0 auto 10px;
}

/*---------------------------
  contact.html
---------------------------*/
.p-contact1 .c-banner1 {
  background: url(../img/contact/ban-bg1.jpg) no-repeat;
}

.p-contact1 .c-banner1__title {
  padding-top: 92px;
}

.p-contact-active {
  color: #4471c6 !important;
}

.p-contact-active .p-contact3-num {
  border-color: #4471c6;
}

.p-contact2 {
  margin-bottom: 82px;
}

.p-contact2 .c-textdeco1 {
  margin-bottom: 38px;
}

.p-contact2 p {
  margin-bottom: 22px;
}

.p-contact2 p:last-child {
  margin-bottom: 0;
}

.p-contact2-tb1 .c-table1 th, .p-contact2-tb1 .c-table1 td {
  padding: 18px 20px 12px;
  line-height: 1.6;
}

.p-contact2-tb1 .c-table1 tr {
  vertical-align: middle;
}

.p-contact2--mt1 {
  margin-top: 30px;
}

.p-contact2--mb1 {
  margin-bottom: 120px;
}

.p-contact3 {
  width: 319px;
  margin: 0 auto 23px 345px;
  position: relative;
}

.p-contact3-box1 {
  background: white;
  color: #bdbdbd;
}

.p-contact3-box1 p {
  font-size: 1.9rem;
}

.p-contact3-box1::after {
  width: 11px;
  height: 30px;
  background: #ccc;
  display: inline-block;
  position: absolute;
}

.p-contact3-num {
  width: 38px;
  height: 38px;
  padding-top: 3px;
  font-size: 1.8rem;
  border: 1px solid #bdbdbd;
  border-radius: 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 3px;
}

.p-contact4 {
  margin-bottom: 57px;
}

.p-contact4 .u-text--red {
  margin-bottom: 10px;
}

.p-contact4 .c-table1 th {
  vertical-align: middle;
}

.p-contact4 .c-btn1 {
  margin-top: 27px;
}
