@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*--------------------------------------------------
  Component index
----------------------------------------------------*/
.c {
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(768) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(768) { display: none!important; }
    }
    //-----------------------------------
  }
  //show on smartphone---------------------------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(768) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(768) { display: inline-block!important; }
    }
    //------------------------------------------
  }
  //-----------------------------------
  &-navi {
    margin-top: -4px;
    margin-left: -1px;
    //---------------------
    ul {
      display:  flex;
      width: 443px;
      align-items:  center;
    }
    //----------------------
    li {
      font-size: 1.6rem;
      font-weight: bold;
      margin-left:  30px;
      &:first-child { margin-left: 0; }
      &:last-child {
        margin-left: 41px;
        font-size: 1.4rem;
      }
    }
    //---------------------
    a {
      display:  block;
      color:  black;
      text-decoration:  none;
      img { vertical-align: middle; }
    }
    //---------------------
  }
  //-----------------------
  &-h {
    &--right {
      position:  relative;
      align-items:  center;
      right: -38px;
    }
    //--------------------
    &__img1 {
      position:  relative;
      left: -140px;
      @include respond-to(768) {
        left: 15px;
        margin: 0 auto;
        img { width:  107px; }
      }
    }
    //--------------------
    &__img2 {
      a:first-child { margin-right: 8px; }
    }
    //------------------
  }
  //--------------------
  &-banner {
    display:  block;
    padding:  46px 0;
    background: #e5e5e5;
    @include respond-to(768) {
      padding: 23px 0;
    }
    //------------------
    h1 {
      font-size: 2.7rem;
      font-weight: bold;
      @include respond-to(768) {
        font-size: 2.2rem;
      }
    }
    //------------------
    img {
      vertical-align:  middle;
      margin-right: 15px;
      //-----------------------
      @include respond-to(768) {
        width: 40px;
        margin-right: 10px;
      }
      //------------------------
    }
    //------------------
  }
  //--------------------
  &-listimgf1 {
    justify-content:  center;
    padding: 23px 0 33px;
    @include respond-to(768) { padding: 18px 0; }
    //------------------
    a {
      display:  inline-block;
      &:first-child {
        margin-right: 25px;
        @include respond-to(768) {
          margin-right: 12px;
        }
      }
    }
    //------------------
    img {
      width: 138px;
      height: 40px;
      @include respond-to(768) {
        width: 139px;
        height: auto;
      }
    }
  }
  //--------------------
  &-listimgf2 {
    position: relative;
    left: -5px;
    top: -2px;
  }
  //---------------------
  &-listimgf2 img:last-child {
    margin-right: -5px;
    margin-left: 6px;
  }
  //--------------------
  &-copyright {
    margin-top: 11px;
    font-size: 1.2rem;
    @include respond-to(768) {
      padding: 0 30px;
      font-size: 1.1rem;
    }
  }
  //--------------------
  &-rule2 {
    //------------------
    &__text1 {
      margin-bottom: 22px;
      line-height: 1.7;
      @include respond-to(768) {
        font-size: 1.2rem;
        &:last-child { margin-bottom: 5px; }
      }
      h4 {
        font-size:  1.4rem;
        font-weight:  bold;
        @include respond-to(768) { font-size: 1.2rem; }
      }
      //----------------
      h5 {
        margin: 5px 0;
        font-weight: 500;
      }
      //----------------
    }
  }
  //-------------------
  &-menuSP {
    position: fixed;
    top: 6px;
    left: 12px;
    width: 30px;
    height: 30px;
    //top: 11px;
    cursor: pointer;
    z-index: 9999;
    //--------------------
    &__1, &__2, &__3 {
      width: 100%;
      height: 5px;
      background: #000;
      margin: 6px auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
  }
  &-menulistSP {
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    display: none;
    background: rgba(255, 255, 255, 0.84);
    //----------------------------
    ul { margin-top: 102px; }
    li {
      //border-bottom: 1px solid #CCC;
    }
    //----------------------------
    a {
      text-decoration: none;
      display: block;
      color: #000000;
      font-size: 2.1rem;
      font-weight: bold;
      padding: 6px 10px;
      @include respond-to(768) {
        font-size: 1.5rem;
      }
    }
    //----------------------------
  }
  //------------------------------
  &-head {
    &-list1sp {
      position:  relative;
      left: -8px;
      img {
        width: 26px;
        &:last-child { margin-left: 12px; }
      }
      //-------------------------
    }
    //-------------------------
  }
  //-------------------------
  &-flist1 {
    @include respond-to(768) {
      margin: calc-size(58) auto calc-size(50);
      font-size: 1.3rem;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      //--------------------------
      @include respond-to(768) {
        width: 300px;
        margin: 0 auto;
      }
      //--------------------------
      li {
        margin-right: 15px;
        &:last-child { margin-right: 0; }
        &:hover a { text-decoration: underline; }
      }
      //--------------------------
      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
      //---------------------
    }
    //----------------------
  }
  //tab and css page Q&A-----------------------
  &-qa1 {
    //----------------------
    h2 {
    font-size:  2.1rem;
    font-weight: bold;
    text-align:  left;
    padding-bottom:  20px;
    border-bottom: 1px solid #e5e5e5;
    @include respond-to(768) {
      padding-bottom: 10px;
      font-size: 1.7rem;
    }
      //-----------------------
      img {
        width:  28px;
        height:  28px;
        vertical-align:  middle;
        margin-right: 5px;
      }
    //---------------------
    }
  }
  //------------------------
  &-tab1 {
    //---------------------------------
    &-btn1 {
      background:  white;
      text-align:  left;
      font-size:  1.6rem;
      padding: 18px 0 18px;
      position:  relative;
      cursor: pointer;
      border-bottom: 1px solid #e5e5e5;
    }
    //--------------------------------
    &-info1 {
      margin-top: 15px;
      font-size: 1.4rem;
      color: #989899;
      @include respond-to(768) {
        font-size: 1.2rem;
      }
      //----------------------------------
    }
    //--------------------------------
    &__tit1 {
      width: 711px;
      display: inline-block;
      line-height: 1.5;
      @include respond-to(768) {
        width: 80%;
        font-size: 1.4rem;
      }
    }
    //----------------------------
    &-link1 {
      color: #41ab9f;
      font-size: 1.6rem;
      display:  block;
      margin-bottom: 30px;
      @include respond-to(768) {
        margin-bottom: 24px;
        font-size: 1.4rem;
      }
    }
    //---------------------------
  }
  //Tab----------------------------
  &-menuTab {
    width: 20px;
    height: 20px;
    top: 29px;
    right: 19px;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s;
    @include respond-to(768) { right: 0; }
    //-----------------------------------------
    &__1, &__2 {
      width: 100%;
      height: 3px;
      background: #069d8f;
      margin: 6px auto;
      backface-visibility: hidden;
      transition: all 0.5s;
    }
    //-----------------------------------------
    &__2 { width: 0; }
    //-----------------------------------------
  }
  //link prev, next------------------------
  &-prev {
      //------------------
      .c-tab1-link1 {
        margin-left: 14px;
        margin-bottom: 0;
      }
      //------------------
      &:before {
        content:  url(../img/i-arrow1.jpg);
        display:  inline;
        position: absolute;
        left:  0;
      }
      //------------------
    }
    //----------------------
    &-next {
      //------------------
      .c-tab1-link1 {
        margin-right: 14px;
        margin-bottom: 0;
      }
      //------------------
      &:before {
        content: url(../img/i-arrow2.jpg);
        display: inline;
        position: absolute;
        right:  0;
      }
      //------------------
    }
  //top page--------------------
  &-thumb {
    text-align:  center;
    @include respond-to(768) {
      img { width: 97px; }
    }
    //------------------
    &__text1 {
      margin-top: 10px;
      font-size: 1.6rem;
      font-weight: bold;
      @include respond-to(768){ font-size: 1.2rem; }
    }
    //------------------
  }
  //--------------------
  &-pagetop {
    width:  100%;
    // height:  538px;
    height: 559px;
    background: url(../img/top-bg.jpg) no-repeat;
    background-size: 100% 100%;
    @include respond-to(768) {
      //background: url(../img/sp-hbg.jpg) no-repeat;
      //background-size: 100% 100%;
      background: none;
      height: auto;
      padding: 0;
    }
  }
  //---------------------
  &-scrollpy {
    position: relative;
    top: -323px;
    left: -512px;
  }
  //---------------------
  &-toplogo {
    display:  block;
    padding: 121px 0 0;
    @include respond-to(768) {
      padding-top: 28%;
      img {
        width: calc-size(482);
      }
    }
  }
  //----------------------
  &-slider {
    &__ele1 {
      width:  645px;
      margin:  0 auto;
      //--------------------
      .l--flex {
        justify-content: flex-start;
        @include respond-to(768) {
          display: block;
        }
      }
    }
    //----------------------
    &__info {
      width:  370px;
      text-align:  left;
      padding-top: 73px;
      padding-left: 13px;
      @include respond-to(768) {
        width: auto;
        text-align: center;
        padding-top: 30px;
        padding-left: 0;
        font-size: 1.4rem;
      }
    }
    //----------------------
    &-tit1 {
      //----------------------
      h3 {
        margin-bottom:  8px;
        display:  inline-block;
        @include respond-to(768) {
          margin-bottom: 12px;
          font-size: 1.6rem;
        }
      }
      //---------------------
      h4 {
        font-size:  2.7rem;
        font-weight:  bold;
        margin-bottom: 25px;
        @include respond-to(768) {
          margin-bottom: 21px;
          font-size: 1.7rem;
          img { display: inline-block; }
        }
      }
      //---------------------
    }
    //----------------------
    &__img {
      margin-right: 40px;
      @include respond-to(768) {
        margin: 0 auto;
        img {
          width: 178px;
          margin: 0 auto;
        }
      }
    }
    //----------------------
  }
  //----------------------
  &-box1 {
    &--botline { border-bottom: 1px solid #e5e5e5; }
  }
  //----------------------
  &-topbg {
    width: 100%;
    position: relative;
  }
  //------------------
  &-top1 {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 10px;
  }
  //--------------------
  &-h__img2 { width:  170px; }
  //scrollpy--------------------
  &-scrollpy {
    ul {
      display: block;
      position: absolute;
      top: 0;
      right: 49%;
    }
    //---------------------
    li {
      width: 15px;
      height: 15px;
      border: 2px solid transparent;
      border-radius: 22px;
      margin-bottom: 38px;
      &:after {
        content:  '';
        width: 1px;
        height: 25px;
        display: inline-block;
        color: black;
        background: #ccc;
        position: relative;
        top: 8px;
        //-----------------------
      }
      //-------------------
      &:last-child:after {
        width: 0;
        height: 0;
      }
    }
    //---------------------
    a {
      width: 10px;
      height: 11px;
      display: block;
      margin: 2px auto;
      display:  flex;
      vertical-align:  middle;
      background-color: #ccc;
      border-radius: 31px;
      align-items:  center;
    }
    //----------------------
  }
  //--------------------
  &-titimg__1 {
    width: auto!important;
    height: auto!important;
  }
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  //-----------------------------
  .c-menuSP__1 {
    transform: rotate(90deg);
  }
  //-----------------------------
  .c-menuSP__2 {
    width: 100%;
    margin-top: -25%;
  }
  //-----------------------------
}

.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(7px, 7px);}
  .c-menuSP__2 {;opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(4px, -4px);}
}




//slide-------------------------------------
.bx-wrapper {
  width: 624px;
  margin: 0 auto;
  border: none;
  background: none;
  box-shadow: none;
}

.bx-viewport { height: auto !important; }

.bx-wrapper .bx-controls-direction a {
  width: 37px;
  height: 64px;
}

.bx-wrapper .bx-prev {
  left: -80px;
  background: url(../img/arrow.png) no-repeat 0 2px;
  @include respond-to(768) {left: 10px;}
}
.bx-wrapper .bx-next {
  right: -80px;
  background: url(../img/arrow.png) no-repeat -45px 1px;
  @include respond-to(768) {right: 10px;}
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
  background-position: 0 2px;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: -45px 1px;
}

.bx-wrapper .bx-controls-direction a { top: 42%; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  // bottom: 20px;
  // left: 110px;
  bottom: 27px;
  width: auto;
  right: 160px;
  @include respond-to(768) {
    width: 100%;
    right: 0;
    bottom: -30px;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  //width: 12px;
  //height: 12px;
  margin: 0 6px;
  border-radius: 8px;
  background: #e2e2e2;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #a0a0a0;
}
