@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}
//------------------------------------
.c-wrap {
  display: block;
  width: 780px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) {
    width: 100%;
  }
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
//p-rule-------------------------------------
.p {
  &-rule0 {
    @include respond-to(768) {
      .c-titimg__1 { width: 120px!important; }
    }
  }
  &-rule1 {
    margin: 65px 0 54px;
    @include respond-to(768) {
      margin: 33px 0 0!important;
    }
  }
  //----------------------
  &-rule2 {
    display:  block;
    text-align:  justify;
    @include respond-to(768) { padding: 0 14px; }
    //------------------------
    &-writer {
      margin-top:  28px;
      padding-top: 35px;
      text-align:  right;
      line-height: 1.7;
      border-top: 1px solid #e5e5e5;
      @include respond-to(768) {
        margin-bottom: calc-size(42);
        padding-bottom: calc-size(42);
        font-size: 1.2rem;
      }
    }
    //------------------------
    &__text1 {
      padding-bottom: 42px;
      margin-bottom: 34px;
      font-size: 1.6rem;
      line-height: 1.6;
      border-bottom: 1px solid #e5e5e5;
      @include respond-to(768) {
        margin-bottom: calc-size(42);
        padding-bottom: calc-size(42);
        font-size: 1.4rem;
      }
    }
  }
  //------------------------
}

//p-q&a---------------------------------
.p {
  &-qa1 {
    @include respond-to(768) {
      .c-menuTab__1,
      .c-menuTab__2 { background: #c9c9c9; }
    }
  }
  //------------------------
  &-qa2 {
    margin-top: 70px;
    @include respond-to(768) { margin-top: 40px; }
    .c-menuTab__1, .c-menuTab__2 { background: #c9c9c9; }
  }
  //------------------------
  &-qa1, &-qa2 {
    @include respond-to(768) {
      padding: 0 14px;
      box-sizing:  border-box;
    }
    //-----------------------
  }
  //-----------------------
  &-qa3 {
    margin: 65px 0 83px;
    @include respond-to(768) {margin: 33px 0 40px;}
  }
  //-----------------------
  &-qa {
    h1 {
      margin-left: -8px;
      @include respond-to(768) {
        .c-titimg__1 {width: 63px!important;}
      }
    }
  }
}

// .p-qa h1 {
//     margin-left: -8px;
// }
//p-topic----------------------------
.p {
  //------------------------------
  &-topic {
    //----------------------------
    @include respond-to(768) {
      margin-bottom: 32px;
      padding: 0 14px;
      //--------------------------
    }
    //----------------------------
    &-ban {
      h1 {
        margin-left: -21px;
        @include respond-to(768) {
          margin-left: 0;
          .c-titimg__1 {
            width: 106px!important;
          }
        }
        //-------------------------
      }
      //-------------------------
    }
    //-------------------------
  }
  //------------------------------
  &-topic1 {
    text-align: justify;
    //----------------------------
    &__text1 {
      //padding-bottom: 42px;
      padding-bottom: 74px;
      font-size: 1.6rem;
      line-height: 1.6;
      border-bottom: 1px solid #e5e5e5;
      //------------------------
      @include respond-to(768) {
        padding-bottom: 52px;
        font-size: 1.4rem;
      }
      //------------------------
    }
    //--------------------------
  }
  //--------------------------
  &-topic2 {
    @include respond-to(768) {
      .c-menuTab__1, .c-menuTab__2 { background: #c9c9c9; }
    }
    //------------------------
    .c-tab1-info1 {
      font-size:  1.6rem;
      color:  black;
      @include respond-to(768) { font-size: 1.4rem; }
    }
    //------------------------
    .c-tab1__tit1 {
      display: flex;
      justify-content: flex-start;
    }
    //-------------------------
    .c-tab1-childtit1 {
      margin-left: 45px;
      @include respond-to(768) { margin-left: 7px; }
    }
    //-------------------------
    .c-menuTab { top: 26px; }
    //-------------------------
    &-list1 { margin-top: 20px; }
  }
  //------------------------
}
//p-top1---------------------------
.p {
  //------------------------
  &-top1 {
    //@extend %cf;
    //--------------------
    &-boximg1 {
      position: absolute;
      top: -113px;
      left: 0px;
      float: left;
    }
    //--------------------
    &-boxinfo1 {
      position: relative;
      left: 3px;
      top: 6px;
      float: right;
      color:  white;
      display:  block;
      width: 509px;
      text-align:  left;
      @extend %cf;
      @include respond-to(768) {
        width: 95%;
        float: none;
        margin: 0 auto;
        text-align: center;
      }
      h1 {
        margin: 17px  0 35px;
        font-size: 3.8rem;
        font-weight: bold;
        @include respond-to(768) {
          margin: 8px 0 22px;
          font-size: 2.7rem;
          img { width: 306px; }
        }
      }
      //-------------------
      h4 {
        font-size: 2.0rem;
        letter-spacing: 2px;
        @include respond-to(768) {
          font-size: 1.7rem;
        }
      }
      //-------------------
      .l--flex {
        width: 471px;
        box-sizing:  border-box;
        @include respond-to(768) {
          width: auto;
          max-width: 492px;
          margin: 0 auto;
        }
      }
      //-------------------
    }
    //---------------------
    &-banner {
      padding: 45px 0 91px;
      background: #49c8b2;
      margin-bottom: 65px;
      @extend %cf;
      @include respond-to(768) {
        padding: 20px 0;
        margin-bottom: 30px;
      }
    }
    //---------------------
  }
  //-----------------------
  &-top2 {
    margin-bottom:  65px;
    text-align:  left;
    font-size:  1.6rem;
    @include respond-to(768) {
      margin-bottom: 30px;
      font-size: 1.4rem;
    }
    //---------------------
    h2 {
      margin-bottom:  38px;
      text-align:  center;
      @include respond-to(768) {
        margin-bottom: 30px;
        img { width: 300px; }
      }
    }
    //---------------------
    p {
      line-height: 1.7;
      text-align: justify;
      @include respond-to(768) {padding: 0 14px;}
    }
    iframe {
      width: 620px;
      height: 350px;
      text-align: center;
      margin: 61px auto 0;
      display: block;
      @include respond-to(768) {
        width: 100%;
        margin-top: 30px;
        height: 211px;
      }
    }
    //---------------------
  }
  //-----------------------
  &-top3 {
    background:  #e5e5e5;
    padding: 65px 0;
    text-align:  left;
    font-size: 1.6rem;
    @include respond-to(768) {
      padding: 30px 14px;
      font-size: 1.4rem;
    }
    //--------------------
    h2 {
      margin-bottom: 35px;
      margin-left: 12px;
      text-align:  center;
      font-size:  2.5rem;
      font-weight: bold;
      @include respond-to(768) {
        margin-bottom: 20px;
        font-size: 2.2rem;
        .c-titimg__1 { width: 108px!important; }
      }
      //-------------------
      img {
        width:  45px;
        height:  43px;
        vertical-align:  middle;
        margin-right: 7px;
        @include respond-to(768) {
          width: 36px;
          height: auto;
        }
      }
      //-------------------
    }
    //---------------------
    &__text1 {
      margin-bottom: 25px;
      line-height: 1.7;
      font-weight: bold;
      text-align: justify;
      @include respond-to(768) { margin-bottom: 30px; }
    }
    //---------------------
    &-list1 {
      p {
        padding: 16px 0;
        border-top: 2px solid white;
        &:last-child { border-bottom: 2px solid white;}
        @include respond-to(768) {
          font-weight: bold;
        }
      }
    }
    //---------------------
    &-writer {
      margin-top: 20px;
      text-align: right;
      a { color: black; }
    }
    //----------------------
    &-top3 {
      &--ml42 {
        margin-left: 42px;
        @include respond-to(768) {
          margin-left: 12px;
        }
      }
    }
  }
  //-----------------------
  &-top4 {
    padding: 65px 0;
    @include respond-to(768) {
      padding: 30px 14px 60px;
    }
    //---------------------
    h2 {
      font-size: 3.0rem;
      font-weight:  bold;
      margin-bottom: 52px;
      @include respond-to(768) {
        font-size: 2.0rem;
        text-align: center;
        margin-bottom: 30px;
      }
      //------------------
      img {
        vertical-align: bottom;
        margin-right:  13px;
        position:  relative;
        bottom: -6px;
        @include respond-to(768) {
          width: 293px;
          display: block;
          text-align: center;
          margin: 0 auto 15px;
        }
      }
      //------------------
    }
    &__titimg1 {
      margin-right: 0!important;
      margin-left: 2px;
      @include respond-to(768) { margin-right: auto!important; }
    }
    //---------------------
    .c-box1--botline {
      margin-bottom: 45px;
      padding-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 11px;
        border-bottom: none;
      }
      @include respond-to(768) {
        margin-bottom: 30px;
        padding-bottom: 60px;
      }
    }
    //--------------------
  }
  //----------------------
  &-top5 {
    padding: 65px 0;
    background:  #e5e5e5;
    @include respond-to(768) {
      .l--flex {display: block;}
      img {
        width: 316px;
      }
    }
    //----------------------
    h2 {
      text-align:  center;
      font-size:  2.5rem;
      font-weight: bold;
      margin-bottom: 47px;
      @include respond-to(768) {font-size: 2.2rem;}
      //----------------------
      img {
        width:  45px;
        height:  43px;
        vertical-align:  middle;
        margin-right: 10px;
        @include respond-to(768) {
          width: 36px;
          height: auto;
          margin-right: 5px;
        }
      }
      //----------------------
      .c-titimg__1 {
        margin-right: -7px;
        margin-left: 4px;
        margin-top: 4px;
        @include respond-to(768) {width: 260px!important;}
      }
      //----------------------
    }
    //----------------------
    &-listimg {
      @include respond-to(768) {
        img {
          display: block;
          margin: 0 auto;
          &:first-child {margin-bottom: 18px;}
        }
        //----------------------
      }
      //----------------------
    }
    //----------------------
  }
  //-----------------------
  &-top6 {
    .c-listimgf1 { padding: 20px 0 33px; }
  }
}
//-----------------------------
.is-opentab {
  //-----------------------------
  .c-menuTab__1 {
    transform: rotate(90deg);
  }
  //-----------------------------
  .c-menuTab__2 {
    width: 100%;
    margin-top: -43%;
  }
  //-----------------------------
}
//-----------------------------
.active1 {
  border: 2px solid #069d8f!important;
}
//-----------------------------
.active2 {
  background: #069d8f!important;
}
