/*---------------------------------------
  Private element
---------------------------------------*/
/*----------------Top------------------*/
/*---------------------------------------
 p-top1
---------------------------------------*/
.p-top1 {
  display: block;
  position: relative;
  padding: 50px 0 86px;
  background: url(../img/bg1.jpg) repeat;
}

@media only screen and (max-width: 767px) {
  .p-top1 {
    padding: 35px 0 88px;
  }
}

.p-top1__title1 {
  display: block;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-top1__title1 {
    padding: 0 25px;
  }
}

.p-top1__title1 .title1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  height: 95px;
  margin: 0 auto 44px;
  padding: 14px 0;
  border: 2px solid #acdeda;
  border-radius: 2px;
}

@media only screen and (max-width: 767px) {
  .p-top1__title1 .title1 {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}

.p-top1__title1 .title1 h2 {
  color: #fff;
  font-size: 2.6rem;
}

@media only screen and (max-width: 767px) {
  .p-top1__title1 .title1 h2 {
    font-size: 1.6rem;
  }
}

.p-top1__title1 .title1__sm1 {
  display: block;
  margin-bottom: 11px;
  font-size: 2.0rem;
  font-weight: bold;
  color: #95d3cd;
}

@media only screen and (max-width: 767px) {
  .p-top1__title1 .title1__sm1 {
    font-size: 1.6rem;
    margin-bottom: 7px;
  }
}

.p-top1__box1 {
  position: relative;
  display: block;
}

.p-top1__list {
  position: relative;
}

.p-top1__list .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.p-top1__list .slick-slide {
  height: inherit !important;
}

.p-top1__list .slick-dots {
  position: absolute;
  bottom: -44px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .p-top1__list .slick-dots {
    bottom: -40px;
  }
}

.p-top1__list .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 15px 0 0;
  padding: 0;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-top1__list .slick-dots li {
    width: 10px;
    height: 10px;
  }
}

.p-top1__list .slick-dots li:last-child {
  margin-right: 0;
}

.p-top1__list .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.p-top1__list .slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  content: '';
  background: #fff;
  text-align: center;
  border-radius: 90px;
}

@media only screen and (max-width: 767px) {
  .p-top1__list .slick-dots li button:before {
    width: 9px;
    height: 9px;
  }
}

.p-top1__list .slick-dots .slick-active button {
  position: relative;
  top: 2px;
  width: 10px;
  height: 10px;
  padding: 0;
  background: black;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .p-top1__list .slick-dots .slick-active button {
    top: 0px;
    width: 9px;
    height: 9px;
    border-radius: 20px;
  }
}

.p-top1__list .slick-dots .slick-active button:before {
  content: "";
  top: -6px;
  left: -6px;
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid #000;
}

@media only screen and (max-width: 767px) {
  .p-top1__list .slick-dots .slick-active button:before {
    top: -5px;
    left: -5px;
    width: 17px;
    height: 17px;
  }
}

.p-top1__prev {
  position: absolute;
  top: 41%;
  left: 3%;
  width: 70px;
  height: 70px;
  z-index: 1;
  background: rgba(51, 51, 51, 0.85);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-top1__prev {
    display: none !important;
  }
}

.p-top1__prev:hover {
  opacity: 0.8;
}

.p-top1__next {
  position: absolute;
  top: 41%;
  right: 3%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: rgba(51, 51, 51, 0.85);
}

@media only screen and (max-width: 767px) {
  .p-top1__next {
    display: none !important;
  }
}

.p-top1__next:hover {
  opacity: 0.8;
}

.p-top1 .c-card1 {
  width: 332px;
  height: 100%;
  margin: 15px 7px;
}

@media only screen and (max-width: 767px) {
  .p-top1 .c-card1 {
    width: 230px;
  }
}

/*---------------------------------------
 p-top2
---------------------------------------*/
.p-top2 {
  display: block;
  position: relative;
  padding: 50px 0 77px;
  background: url(../img/bg2.jpg) repeat;
}

@media only screen and (max-width: 767px) {
  .p-top2 {
    width: auto;
    height: auto;
    padding: 35px 15px 41px;
  }
}

.p-top2__title1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-top2__title1 {
    padding: 0 15px;
  }
}

.p-top2__title1 .title1 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  height: 95px;
  margin: 0 auto 46px;
  padding: 14px 0;
  border: 2px solid #000;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .p-top2__title1 .title1 {
    width: auto;
    height: auto;
    margin-bottom: 30px;
    border: 1px solid #000;
  }
}

.p-top2__title1 .title1__sm {
  display: block;
  font-size: 2.0rem;
  font-weight: bold;
  color: #00aa9d;
  margin-bottom: 11px;
}

@media only screen and (max-width: 767px) {
  .p-top2__title1 .title1__sm {
    margin-bottom: 7px;
    font-size: 1.4rem;
  }
}

.p-top2__title1 .title1 h2 {
  font-size: 2.6rem;
}

@media only screen and (max-width: 767px) {
  .p-top2__title1 .title1 h2 {
    font-size: 1.6rem;
  }
}

.p-top2__text1 {
  width: 33%;
  text-align: justify;
  line-height: 1.6;
  margin: 0 auto 48px;
}

@media only screen and (max-width: 767px) {
  .p-top2__text1 {
    width: auto;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
}

.p-top2__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
}

.p-top2__list1 .list1__link1 {
  display: block;
  width: 49%;
  max-width: 567px;
  margin-left: 30px;
  margin-bottom: 35px;
  position: relative;
  text-align: left;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.p-top2__list1 .list1__link1:after {
  display: block;
  clear: both;
  content: "";
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__link1 {
    width: auto;
    margin: 0 auto 25px;
  }
}

.p-top2__list1 .list1__link1:hover {
  opacity: 0.8;
}

.p-top2__list1 .list1__link1:nth-child(2n + 1) {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__link1:nth-child(2n + 1) {
    margin-left: auto;
  }
}

.p-top2__list1 .list1__card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.p-top2__list1 .list1__card1 .card1__img1 {
  width: 53%;
  float: left;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__card1 .card1__img1 {
    display: block;
  }
  .p-top2__list1 .list1__card1 .card1__img1 img {
    width: 100%;
  }
}

.p-top2__list1 .list1__card1 .card1__box2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 287px;
  float: right;
  margin-top: -189px;
  color: #000;
  background: #fff;
  padding: 25px 17px 30px;
  -webkit-box-shadow: 0px 5px 11px #b6c6c6;
          box-shadow: 0px 5px 11px #b6c6c6;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__card1 .card1__box2 {
    width: 61%;
    min-height: 160px;
    float: right;
    margin-top: -30%;
    background: #fff;
    padding: 15px 10px 20px;
    -webkit-box-shadow: 3px 4px 7px #abb3b3;
            box-shadow: 3px 4px 7px #abb3b3;
  }
}

.p-top2__list1 .list1__card1 .card1__box2 h3, .p-top2__list1 .list1__card1 .card1__box2 h4, .p-top2__list1 .list1__card1 .card1__box2 h5, .p-top2__list1 .list1__card1 .card1__box2 h6 {
  font-size: 1.8rem;
  margin-bottom: 7px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__card1 .card1__box2 h3, .p-top2__list1 .list1__card1 .card1__box2 h4, .p-top2__list1 .list1__card1 .card1__box2 h5, .p-top2__list1 .list1__card1 .card1__box2 h6 {
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.3;
  }
}

.p-top2__list1 .list1__card1 .card1__box2 .small-text1 {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 9px;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__card1 .card1__box2 .small-text1 {
    margin-bottom: 7px;
    font-size: 1.1rem;
  }
}

.p-top2__list1 .list1__card1 .card1__box2 .tag1 {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 5px 11px;
  font-size: 1.2rem;
  background: #ccc;
  border-radius: 19px;
  margin-top: 27px;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__card1 .card1__box2 .tag1 {
    margin-top: 15px;
    padding: 2px 8px 3px;
    font-size: 1.1rem;
  }
}

.p-top2__list1 .list1__card1 .card1__text1 {
  font-weight: bold;
  color: #00aa9d;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .p-top2__list1 .list1__card1 .card1__text1 {
    font-size: 1.2rem;
  }
}

.p-top2 .p-mt1 {
  margin-top: -4px;
}

@media only screen and (max-width: 767px) {
  .p-top2 .p-mt1 {
    margin-top: 10px;
  }
}

/*---------------------------------------
 p-top3
---------------------------------------*/
.p-top3 {
  display: block;
  position: relative;
  padding: 50px 0 116px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .p-top3 {
    padding: 35px 15px 19%;
  }
}

.p-top3__inner {
  position: relative;
  width: 1416px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-top3__inner {
    width: 100%;
  }
}

.p-top3__box1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 780px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-top3__box1 {
    width: 100%;
  }
}

.p-top3 .book-bg {
  position: absolute;
  top: 93px;
  left: -23px;
}

@media only screen and (max-width: 767px) {
  .p-top3 .book-bg {
    display: none;
  }
}

.p-top3 .c-listpost {
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .p-top3 .c-listpost {
    margin-bottom: 35px;
  }
}

/*---------------------------------------
 p-top4
---------------------------------------*/
.p-top4 {
  display: block;
  position: relative;
  height: 401px;
  padding: 10px 0;
  background: #f8b616;
}

@media only screen and (max-width: 767px) {
  .p-top4 {
    height: auto;
    padding: 10px 0 45px;
  }
}

.p-top4__inner {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1416px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-top4__inner {
    width: auto;
  }
}

.p-top4__box1 {
  left: 28%;
  text-align: center;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .p-top4__box1 {
    left: auto;
  }
}

.p-top4__box1 .box1__text1 {
  margin-top: -31px;
  margin-bottom: 50px;
  font-size: 1.7rem;
}

@media only screen and (max-width: 767px) {
  .p-top4__box1 .box1__text1 {
    margin: -8% 0 25px;
    padding: 0 15px;
    font-size: 1.3rem;
    letter-spacing: -1px;
  }
}

.p-top4__btn1 {
  display: inline-block;
  position: absolute;
  top: 294px;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .p-top4__btn1 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: block;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top4__btn1 .btn1__inner {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.p-top4 .po-absolute {
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .p-top4 .po-absolute {
    position: relative;
  }
}

.p-top4 .box1__img1 {
  position: relative;
  top: -74px;
  left: -7px;
}

@media only screen and (max-width: 767px) {
  .p-top4 .box1__img1 {
    top: 0;
    left: auto;
    -webkit-transform: translate(0, -39%);
            transform: translate(0, -39%);
    width: 80%;
    margin: 0 auto;
  }
  .p-top4 .box1__img1 img {
    width: 100%;
  }
}

.p-top4__box2 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-top4__box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-top4__box2 .box2__img1 {
  left: 0;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .p-top4__box2 .box2__img1 {
    width: 50%;
  }
  .p-top4__box2 .box2__img1 img {
    width: 100%;
  }
}

.p-top4__box2 .box2__img2 {
  right: 0;
}

@media only screen and (max-width: 767px) {
  .p-top4__box2 .box2__img2 {
    right: auto;
    width: 50%;
  }
  .p-top4__box2 .box2__img2 img {
    width: 100%;
  }
}

/*----------------News-----------------*/
/*---------------------------------------
 p-news1
---------------------------------------*/
.p-news1 {
  position: relative;
  padding: 39px 0 132px;
}

@media only screen and (max-width: 767px) {
  .p-news1 {
    padding: 20px 0 35px;
  }
}

.p-news1__inner {
  position: relative;
  display: block;
}

.p-news1__box1 {
  position: relative;
  display: block;
  margin: 78px 0 0;
}

@media only screen and (max-width: 767px) {
  .p-news1__box1 {
    margin: 20px 0 0;
  }
}

.p-news1 .c-listpost {
  width: 780px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-news1 .c-listpost {
    width: auto;
    padding: 0 15px;
  }
}

.p-news1 .c-listpost__item:first-child {
  border-top: none;
}

.p-news1 .c-listpost__item:last-child {
  border-bottom: none;
}

/*------------News single--------------*/
/*---------------------------------------
 p-news-single1
---------------------------------------*/
.p-news-single1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 780px;
  margin: 0 auto;
  padding: 66px 0 132px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .p-news-single1 {
    width: 100%;
    padding: 29px 0 35px;
    font-size: 1.3rem;
  }
}

.p-news-single1__title1 {
  padding: 0 20px 30px;
  position: relative;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .p-news-single1__title1 {
    padding: 0 15px 25px;
  }
}

.p-news-single1__title1 h2 {
  font-size: 2.4rem;
}

@media only screen and (max-width: 767px) {
  .p-news-single1__title1 h2 {
    font-size: 1.8rem;
  }
}

.p-news-single1__title1 h4 {
  font-size: 1.5rem;
  color: #781111;
  font-weight: 500;
  margin-bottom: 11px;
}

@media only screen and (max-width: 767px) {
  .p-news-single1__title1 h4 {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
}

.p-news-single1__content1 {
  padding: 27px 20px 145px;
  text-align: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .p-news-single1__content1 {
    padding: 25px 15px 35px;
  }
}

.p-news-single1__content1 p {
  margin-bottom: 44px;
}

@media only screen and (max-width: 767px) {
  .p-news-single1__content1 p {
    margin-bottom: 15px;
  }
}

.p-news-single1__btn1 {
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .p-news-single1__btn1 {
    margin-top: 20px;
  }
}

/*--------------Company----------------*/
/*---------------------------------------
 p-company1
---------------------------------------*/
.p-company1 {
  position: relative;
  display: block;
  padding: 53px 0 135px;
}

@media only screen and (max-width: 767px) {
  .p-company1 {
    padding: 25px 15px 25px;
  }
}

/*-------------Interview---------------*/
/*---------------------------------------
 p-interview1
---------------------------------------*/
.p-interview1 {
  position: relative;
  display: block;
  padding: 23px 0 138px;
}

@media only screen and (max-width: 767px) {
  .p-interview1 {
    padding: 25px 15px 25px;
  }
}

.p-interview1__list1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-interview1__list1 .c-card1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 332px;
  margin-left: 84px;
  margin-bottom: 100px;
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .p-interview1__list1 .c-card1 {
    width: 50%;
    min-width: 288px;
    padding: 10px;
    margin: 0 0 10px;
  }
}

@media only screen and (max-width: 605px) {
  .p-interview1__list1 .c-card1 {
    margin: 0 auto 10px;
  }
}

.p-interview1__list1 .c-card1:nth-child(3n + 1) {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .p-interview1__list1 .c-card1:nth-child(3n + 1) {
    margin-left: auto;
  }
}

.p-interview1__list1 .c-card1 .c-card1__text1 {
  padding: 13px 0 0;
}

.p-interview1__title1 h2 {
  margin-bottom: 85px;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .p-interview1__title1 h2 {
    margin-bottom: 35px;
    font-size: 1.6rem;
  }
}

.p-interview1__listbtn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .p-interview1__listbtn1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.p-interview1__listbtn1 .btn__tab1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-interview1__listbtn1 .btn__tab1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
  }
  .p-interview1__listbtn1 .btn__tab1:nth-child(2n) a {
    margin-right: 0;
  }
}

.p-interview1__listbtn1 .btn__tab1 a {
  margin-right: 21px;
  padding: 4px 25px;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-interview1__listbtn1 .btn__tab1 a {
    display: block;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 4px 10px;
    font-size: 1.3rem;
  }
}

.p-interview1__listbtn1 .btn__tab1 a:hover {
  color: #fff;
  background: #00aa9d;
  border-color: #00aa9d;
}

.p-interview1__listbtn1 .btn__tab1:last-child a {
  margin-right: 0;
}

.p-interview1__listbtn1 .active {
  display: block;
}

.p-interview1__tab1 {
  display: none;
}

@media only screen and (max-width: 767px) {
  .p-interview1__tab1 {
    margin-bottom: 35px;
  }
}

.p-interview1__tab1.active {
  display: block;
}

/*---------------About-----------------*/
/*---------------------------------------
 p-about1
---------------------------------------*/
.p-about1 {
  position: relative;
  padding-bottom: 105px;
  background: #e4f8f8;
}

@media only screen and (max-width: 767px) {
  .p-about1 {
    padding-bottom: 35px;
  }
}

.p-about1__title1 {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #000;
  z-index: 1;
}

.p-about1__title1 h2 {
  position: relative;
  font-size: 3.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .p-about1__title1 h2 {
    font-size: 1.8rem;
  }
}

.p-about1__title1 h2:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  height: 14px;
  background: url(../img/about/line.png);
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .p-about1__title1 h2:after {
    height: 7px;
  }
}

.p-about1__title1 h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 13px;
}

@media only screen and (max-width: 767px) {
  .p-about1__title1 h3 {
    margin-bottom: 7px;
    font-size: 1.3rem;
  }
}

.p-about1__img1 {
  position: relative;
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .p-about1__img1 {
    padding: 0 15px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .p-about1__img1 img {
    width: 100%;
  }
}

.p-about1__box1 {
  position: relative;
  padding-top: 74px;
}

@media only screen and (max-width: 767px) {
  .p-about1__box1 {
    padding-top: 35px;
  }
}

/*---------------------------------------
 p-about2
---------------------------------------*/
.p-about2 {
  position: relative;
  padding: 42px 0 178px;
}

@media only screen and (max-width: 767px) {
  .p-about2 {
    padding: 0 0 60px;
  }
}

.p-about2__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 767px) {
  .p-about2__box1 {
    display: block;
  }
}

.p-about2__box1 .box1__content1 {
  width: 50%;
  height: 484px;
  background: url(../img/about/concept01_sp.png) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .p-about2__box1 .box1__content1 {
    width: 100%;
    height: 250px;
  }
}

.p-about2__box1 .box1__content2 {
  width: 50%;
}

.p-about2__box1 .box1__content2:after {
  display: block;
  clear: both;
  content: "";
}

@media only screen and (max-width: 767px) {
  .p-about2__box1 .box1__content2 {
    width: 100%;
  }
}

.p-about2__box1 .box1__content2 .content2__text1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 382px;
  margin-right: 27px;
  float: right;
  line-height: 1.8;
  text-align: justify;
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .p-about2__box1 .box1__content2 .content2__text1 {
    width: 100%;
    margin-right: 0;
    padding: 25px 15px 0;
    font-size: 1.3rem;
  }
}

.p-about2__box1 .box1__content2 .content2__text1 h2 {
  margin-bottom: 20px;
  font-size: 2.0rem;
}

@media only screen and (max-width: 767px) {
  .p-about2__box1 .box1__content2 .content2__text1 h2 {
    margin-bottom: 15px;
    font-size: 1.6rem;
  }
}

.p-about2__box1--reverse {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

.p-about2__box1--reverse .box1__content1 {
  height: 536px;
  background: url(../img/about/concept02.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .p-about2__box1--reverse .box1__content1 {
    height: 250px;
  }
}

.p-about2__box1--reverse .box1__content2 .content2__text1 {
  float: left;
  margin: 0 0 0 28px;
}

@media only screen and (max-width: 767px) {
  .p-about2__box1--reverse .box1__content2 .content2__text1 {
    float: none;
    margin: 0;
  }
}

.p-about2--mb1 {
  margin-bottom: 101px;
}

@media only screen and (max-width: 767px) {
  .p-about2--mb1 {
    margin-bottom: 35px;
  }
}

/*---------------------------------------
 p-about3
---------------------------------------*/
.p-about3 {
  position: relative;
  display: block;
  padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .p-about3 {
    padding-bottom: 20px;
  }
}

.p-about3 .c-title2 {
  margin-bottom: 96px;
}

@media only screen and (max-width: 767px) {
  .p-about3 .c-title2 {
    margin-bottom: 50px;
  }
}

.p-about3 .p-about3__table1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 782px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-about3 .p-about3__table1 {
    width: 100%;
    padding: 0 15px;
  }
}

/*---------Company Single--------------*/
/*---------------------------------------
 p-comsingle1
---------------------------------------*/
.p-comsingle1 {
  padding-bottom: 63px;
  background: url(../img/bg2.jpg) repeat;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1 {
    padding-bottom: 35px;
  }
}

.p-comsingle1__box1 {
  position: relative;
  padding: 35px 0 0;
}

.p-comsingle1__box1:after {
  display: block;
  clear: both;
  content: "";
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 {
    padding: 25px 0 0;
  }
}

.p-comsingle1__box1 .comsingle1__box1 {
  position: relative;
  float: left;
  width: 680px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box1 {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }
}

.p-comsingle1__box1 .comsingle1__box1 .custom__title1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 25px 10px;
  color: #fff;
  background: #1cbbb4;
  font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box1 .custom__title1 {
    padding: 20px 8px;
    font-size: 1.4rem;
  }
}

.p-comsingle1__box1 .comsingle1__slider1 {
  position: relative;
}

.p-comsingle1__box1 .comsingle1__slider1 img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__slider1 img {
    height: auto;
  }
}

.p-comsingle1__box1 .comsingle1__slider1 .custom__imgbox1 {
  position: relative;
  display: block;
}

.p-comsingle1__box1 .comsingle1__slider1 .slick-dots {
  position: absolute;
  bottom: -36px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__slider1 .slick-dots {
    bottom: -28px;
  }
}

.p-comsingle1__box1 .comsingle1__slider1 .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 18px 0 0;
  padding: 0;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__slider1 .slick-dots li {
    width: 10px;
    height: 10px;
  }
}

.p-comsingle1__box1 .comsingle1__slider1 .slick-dots li:last-child {
  margin-right: 0;
}

.p-comsingle1__box1 .comsingle1__slider1 .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.p-comsingle1__box1 .comsingle1__slider1 .slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  background: #00aa9d;
  text-align: center;
  border-radius: 90px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__slider1 .slick-dots li button:before {
    width: 9px;
    height: 9px;
  }
}

.p-comsingle1__box1 .comsingle1__slider1 .slick-dots .slick-active button {
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
  padding: 0;
  background: black;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__slider1 .slick-dots .slick-active button {
    top: 0px;
    width: 9px;
    height: 9px;
    border-radius: 20px;
  }
}

.p-comsingle1__box1 .comsingle1__slider1 .slick-dots .slick-active button:before {
  content: "";
  top: -5px;
  left: -5px;
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid #000;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__slider1 .slick-dots .slick-active button:before {
    top: -5px;
    left: -5px;
    width: 17px;
    height: 17px;
  }
}

.p-comsingle1__box1 .comsingle1__box2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 533px;
  padding: 25px 30px 44px;
  top: 9%;
  line-height: 1.7;
  box-sizing: border-box;
  text-align: left;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box2 {
    position: relative;
    top: auto;
    width: 92%;
    margin: 0 auto;
    padding: 20px 15px 30px;
  }
}

.p-comsingle1__box1 .comsingle1__box2 .custom__box1 {
  display: block;
  position: relative;
}

.p-comsingle1__box1 .comsingle1__box2 .custom__box1 .datepost {
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box2 .custom__box1 .datepost {
    font-size: 1.2rem;
  }
}

.p-comsingle1__box1 .comsingle1__box2 .custom__title1 {
  margin: 9px 0;
  font-size: 3.0rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box2 .custom__title1 {
    margin: 7px 0;
    font-size: 1.6rem;
  }
}

.p-comsingle1__box1 .comsingle1__box2 .custom__location1 {
  margin-bottom: 14px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box2 .custom__location1 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}

.p-comsingle1__box1 .comsingle1__box2 .custom__mess1 {
  position: relative;
  color: #00aa9d;
  font-weight: bold;
  font-size: 2.4rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box2 .custom__mess1 {
    font-size: 1.8rem;
  }
}

.p-comsingle1__box1 .comsingle1__box2 .custom__content1 {
  position: relative;
  line-height: 2.2;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box2 .custom__content1 {
    line-height: 1.7;
    font-size: 1.2rem;
  }
}

.p-comsingle1__box1 .comsingle1__box2 .tag1 {
  display: inline-block;
  margin: 7px 0 23px;
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  font-size: 1.2rem;
  background: #ccc;
  border-radius: 19px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle1__box1 .comsingle1__box2 .tag1 {
    margin-bottom: 15px;
    padding: 2px 10px;
    font-size: 1.1rem;
  }
}

/*---------------------------------------
 p-comsingle2
---------------------------------------*/
.p-comsingle2 {
  position: relative;
  padding: 39px 0 137px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2 {
    padding: 35px 15px 60px;
  }
}

.p-comsingle2__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 {
    display: block;
  }
}

.p-comsingle2__box1 .comsingle2__data1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 191px;
  text-align: center;
  padding: 0 20px;
  color: white;
  background: #f8b616;
  border-radius: 8px 0 0 8px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .comsingle2__data1 {
    width: 100%;
    padding: 30px 0;
    border-radius: 8px 8px 0 0;
  }
}

.p-comsingle2__box1 .comsingle2__data1 h1, .p-comsingle2__box1 .comsingle2__data1 h2, .p-comsingle2__box1 .comsingle2__data1 h3, .p-comsingle2__box1 .comsingle2__data1 h4, .p-comsingle2__box1 .comsingle2__data1 h5, .p-comsingle2__box1 .comsingle2__data1 h6 {
  font-size: 2.0rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .comsingle2__data1 h1, .p-comsingle2__box1 .comsingle2__data1 h2, .p-comsingle2__box1 .comsingle2__data1 h3, .p-comsingle2__box1 .comsingle2__data1 h4, .p-comsingle2__box1 .comsingle2__data1 h5, .p-comsingle2__box1 .comsingle2__data1 h6 {
    font-size: 1.6rem;
  }
}

.p-comsingle2__box1 .comsingle2__data1 .pos-1 {
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .comsingle2__data1 .pos-1 {
    position: relative;
    top: 0;
  }
}

.p-comsingle2__box1 .comsingle2__content1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 969px;
  padding: 35px 19px;
  text-align: left;
  background: #efefef;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .comsingle2__content1 {
    width: 100%;
    padding: 20px 15px;
  }
}

.p-comsingle2__box1 .content1__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 28px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row1 {
    padding: 0 0 18px;
  }
}

.p-comsingle2__box1 .content1__row1 h4 {
  font-weight: bold;
  font-size: 2.0rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row1 h4 {
    font-size: 1.6rem;
  }
}

.p-comsingle2__box1 .content1__row1 .row1__link1 {
  margin-left: 91px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  color: #1cbbb4;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row1 .row1__link1 {
    margin-left: 30px;
    font-size: 1.3rem;
  }
}

.p-comsingle2__box1 .content1__row1 .row1__link1 .fa-external-link-alt {
  margin-left: 4px;
  font-size: 1.0rem;
}

.p-comsingle2__box1 .content1__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.3rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 {
    display: block;
    font-size: 1.1rem;
  }
}

.p-comsingle2__box1 .content1__row2 .row2--mr1 {
  margin-right: 3px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 .row2--mr1 {
    margin-right: 0;
  }
}

.p-comsingle2__box1 .content1__row2 .row2--mr2 {
  margin-right: 70px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 .row2--mr2 {
    margin-right: 0;
  }
}

.p-comsingle2__box1 .content1__row2 .row2__box1,
.p-comsingle2__box1 .content1__row2 .row2__box2,
.p-comsingle2__box1 .content1__row2 .row2__box3 {
  display: block;
  position: relative;
}

.p-comsingle2__box1 .content1__row2 .row2__box1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 430px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 .row2__box1 {
    width: 100%;
  }
}

.p-comsingle2__box1 .content1__row2 .row2__box2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 212px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 .row2__box2 {
    width: 100%;
  }
}

.p-comsingle2__box1 .content1__row2 .row2__box3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 172px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 .row2__box3 {
    width: 100%;
  }
}

.p-comsingle2__box1 .content1__row2 .row2__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.p-comsingle2__box1 .content1__row2 .row2__form-group label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 82px;
  margin-right: 20px;
  padding: 2px 0;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 20px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 .row2__form-group label {
    width: 70px;
    margin-right: 15px;
  }
}

.p-comsingle2__box1 .content1__row2 .row2__form-group .form-info1 {
  max-width: 76%;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row2 .row2__form-group .form-info1 {
    width: 100%;
  }
}

.p-comsingle2__box1 .content1__row3 {
  position: relative;
  display: block;
  margin-top: 10px;
}

.p-comsingle2__box1 .content1__row3 .row3__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p-comsingle2__box1 .content1__row3 .row3__form-group .title1 {
  width: 125px;
  padding: 13px 14px;
  background: #e3f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
  color: #1cbbb4;
}

@media only screen and (max-width: 767px) {
  .p-comsingle2__box1 .content1__row3 .row3__form-group .title1 {
    width: 138px;
    padding: 14px 8px;
    font-size: 1.3rem;
  }
}

.p-comsingle2__box1 .content1__row3 .row3__form-group .content1 {
  width: 92%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 14px;
  background: #fff;
}

/*---------------------------------------
 p-comsingle3
---------------------------------------*/
.p-comsingle3 {
  display: block;
  position: relative;
  padding-bottom: 138px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3 {
    padding: 0 15px 70px;
  }
}

.p-comsingle3__inner {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 780px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__inner {
    width: 100%;
  }
}

.p-comsingle3__box1 {
  display: block;
  position: relative;
  margin-bottom: 87px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box1 {
    margin-bottom: 60px;
  }
}

.p-comsingle3__box1 .c-title2 {
  width: 61%;
  margin-bottom: 77px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box1 .c-title2 {
    width: 50%;
    margin-bottom: 50px;
  }
}

.p-comsingle3__box1 .comsingle3__strengh1 {
  position: relative;
  display: block;
  text-align: left;
  line-height: 1.9;
  margin-bottom: 48px;
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box1 .comsingle3__strengh1 {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.4rem;
  }
}

.p-comsingle3__box1 .comsingle3__strengh1:last-child {
  margin-bottom: 0;
}

.p-comsingle3__box1 .comsingle3__strengh1 h1, .p-comsingle3__box1 .comsingle3__strengh1 h2, .p-comsingle3__box1 .comsingle3__strengh1 h3, .p-comsingle3__box1 .comsingle3__strengh1 h4, .p-comsingle3__box1 .comsingle3__strengh1 h5, .p-comsingle3__box1 .comsingle3__strengh1 h6 {
  margin-bottom: 16px;
  font-size: 2.0rem;
  color: #00ada0;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box1 .comsingle3__strengh1 h1, .p-comsingle3__box1 .comsingle3__strengh1 h2, .p-comsingle3__box1 .comsingle3__strengh1 h3, .p-comsingle3__box1 .comsingle3__strengh1 h4, .p-comsingle3__box1 .comsingle3__strengh1 h5, .p-comsingle3__box1 .comsingle3__strengh1 h6 {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

.p-comsingle3__box2 {
  display: block;
  position: relative;
}

.p-comsingle3__box2 .c-title2 {
  width: 62%;
  margin-bottom: 78px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box2 .c-title2 {
    width: 50%;
    margin-bottom: 60px;
  }
}

.p-comsingle3__box2 .comsingle3__service1 {
  position: relative;
  display: block;
}

.p-comsingle3__box2 .service1__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box2 .service1__box1 {
    display: block;
    margin-bottom: 20px;
  }
}

.p-comsingle3__box2 .service1__box1:last-child {
  margin-bottom: 0;
}

.p-comsingle3__box2 .service1__text1 {
  font-size: 1.4rem;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box2 .service1__text1 {
    padding: 10px 0 0;
    font-size: 1.3rem;
  }
}

.p-comsingle3__box2 .service1__text1 h3 {
  margin-bottom: 17px;
  font-size: 2.0rem;
  color: #00ada0;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box2 .service1__text1 h3 {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

.p-comsingle3__box2 .service1__img1 {
  margin-right: 15px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle3__box2 .service1__img1 {
    margin-right: 0;
  }
}

.p-comsingle3__box2 .service1__img1 img {
  width: 100%;
}

/*---------------------------------------
 p-comsingle4
---------------------------------------*/
.p-comsingle4 {
  padding-bottom: 69px;
  background: url(../img/company/bg2.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .p-comsingle4 {
    padding-bottom: 30px;
  }
}

.p-comsingle4__title1 {
  position: relative;
  display: block;
  margin-bottom: 55px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle4__title1 {
    margin-bottom: 30px;
  }
}

.p-comsingle4__title1 .img1 {
  position: relative;
  top: -28px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle4__title1 .img1 {
    top: -24px;
  }
}

@media only screen and (max-width: 767px) {
  .p-comsingle4__title1 .img1 img {
    width: 180px;
  }
}

.p-comsingle4__title1 .text1 {
  margin-top: -4px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .p-comsingle4__title1 .text1 {
    margin-top: -10px;
    font-size: 1.3rem;
  }
}

.p-comsingle4__list1 {
  position: relative;
  display: block;
}

@media only screen and (max-width: 767px) {
  .p-comsingle4__list1 {
    padding: 0 15px;
  }
}

/*---------------------------------------
 p-comsingle5
---------------------------------------*/
.p-comsingle5 {
  display: block;
  position: relative;
  padding: 70px 0 85px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle5 {
    padding: 35px 15px 35px;
  }
}

.p-comsingle5__title1 {
  display: block;
  padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle5__title1 {
    padding-bottom: 35px;
  }
}

.p-comsingle5__title1 h1, .p-comsingle5__title1 h2, .p-comsingle5__title1 h3, .p-comsingle5__title1 h4, .p-comsingle5__title1 h5, .p-comsingle5__title1 h6 {
  font-size: 2.4rem;
}

.p-comsingle5 .l-btn1 {
  margin-top: 70px;
}

@media only screen and (max-width: 767px) {
  .p-comsingle5 .l-btn1 {
    margin-top: 10px;
  }
}

/*----------Interview Single-----------*/
/*---------------------------------------
 p-insingle1
---------------------------------------*/
.p-insingle1 {
  position: relative;
  padding: 34px 0 96px;
}

@media only screen and (max-width: 767px) {
  .p-insingle1 {
    padding: 0 0 35px;
  }
}

.p-insingle1__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__inner {
    display: block;
  }
}

.p-insingle1__box1 {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box1 {
    width: 100%;
  }
}

.p-insingle1__box1 img {
  width: 100%;
  height: 653px;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box1 img {
    height: auto;
  }
}

.p-insingle1__box2 {
  position: relative;
  width: 50%;
  background: #edf9f8;
}

.p-insingle1__box2:after {
  display: block;
  clear: both;
  content: "";
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 {
    width: 100%;
  }
}

.p-insingle1__box2 .insingle1__content1 {
  position: absolute;
  top: 29%;
  padding-left: 39px;
  line-height: 1.8;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .insingle1__content1 {
    position: relative;
    top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    padding: 25px 15px;
    font-size: 1.3rem;
  }
}

.p-insingle1__box2 .content1__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .content1__row1 {
    margin-bottom: 15px;
  }
}

.p-insingle1__box2 .content1__row1 .datepost {
  position: relative;
  margin-right: 20px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .content1__row1 .datepost {
    margin-right: 15px;
    font-size: 1.2rem;
  }
}

.p-insingle1__box2 .content1__row1 .cate1 {
  padding: 5px 10px;
  font-size: 1.5rem;
  color: #fff;
  background: #00aa9d;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .content1__row1 .cate1 {
    padding: 4px 8px;
    font-size: 1.4rem;
  }
}

.p-insingle1__box2 .content1__row2 {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .content1__row2 {
    margin-bottom: 0;
  }
}

.p-insingle1__box2 .content1__row2 .custom__mess1 {
  display: block;
  margin-bottom: 14px;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .content1__row2 .custom__mess1 {
    margin-bottom: 7px;
  }
}

.p-insingle1__box2 .content1__row2 .custom__mess1 h1, .p-insingle1__box2 .content1__row2 .custom__mess1 h2, .p-insingle1__box2 .content1__row2 .custom__mess1 h3, .p-insingle1__box2 .content1__row2 .custom__mess1 h4, .p-insingle1__box2 .content1__row2 .custom__mess1 h5, .p-insingle1__box2 .content1__row2 .custom__mess1 h6 {
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 1.4;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .content1__row2 .custom__mess1 h1, .p-insingle1__box2 .content1__row2 .custom__mess1 h2, .p-insingle1__box2 .content1__row2 .custom__mess1 h3, .p-insingle1__box2 .content1__row2 .custom__mess1 h4, .p-insingle1__box2 .content1__row2 .custom__mess1 h5, .p-insingle1__box2 .content1__row2 .custom__mess1 h6 {
    font-size: 2.0rem;
    line-height: 1.3;
  }
}

.p-insingle1__box2 .content1__row2 .custom__mess2 {
  display: block;
  margin-bottom: 6px;
}

.p-insingle1__box2 .content1__row2 .custom__name {
  display: block;
  margin-bottom: 4px;
}

.p-insingle1__box2 .content1__row2 .custom__name h1, .p-insingle1__box2 .content1__row2 .custom__name h2, .p-insingle1__box2 .content1__row2 .custom__name h3, .p-insingle1__box2 .content1__row2 .custom__name h4, .p-insingle1__box2 .content1__row2 .custom__name h5, .p-insingle1__box2 .content1__row2 .custom__name h6 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.4;
}

@media only screen and (max-width: 767px) {
  .p-insingle1__box2 .content1__row2 .custom__name h1, .p-insingle1__box2 .content1__row2 .custom__name h2, .p-insingle1__box2 .content1__row2 .custom__name h3, .p-insingle1__box2 .content1__row2 .custom__name h4, .p-insingle1__box2 .content1__row2 .custom__name h5, .p-insingle1__box2 .content1__row2 .custom__name h6 {
    font-size: 1.6rem;
    line-height: 1.3;
  }
}

.p-insingle1__box2 .content1__row2 .custom__profile {
  display: block;
}

.p-insingle1__box2 .content1__row2 .custom__profile .pro__address {
  margin-bottom: 4px;
}

/*---------------------------------------
 p-insingle2
---------------------------------------*/
.p-insingle2 {
  display: block;
  position: relative;
  padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .p-insingle2 {
    padding: 0 15px 35px;
  }
}

.p-insingle2__inner {
  position: relative;
  width: 780px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__inner {
    width: 100%;
  }
}

.p-insingle2__content1 {
  position: relative;
  display: block;
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.9;
  margin-bottom: 45px;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__content1 {
    margin-bottom: 25px;
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

.p-insingle2__content1 h3 {
  margin-bottom: 14px;
  color: #00ada0;
  font-size: 2.0rem;
  line-height: 1.4;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__content1 h3 {
    margin-bottom: 7px;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.p-insingle2__content1 .con--mt1 {
  margin-top: 42px;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__content1 .con--mt1 {
    margin-top: 20px;
  }
}

.p-insingle2__img1 {
  position: relative;
  display: block;
  margin-bottom: 53px;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__img1 {
    margin-bottom: 25px;
  }
  .p-insingle2__img1 img {
    width: 100%;
  }
}

.p-insingle2__title1 {
  position: relative;
  margin-top: 163px;
  padding: 17px 0 16px;
  background-size: 100%;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__title1 {
    margin-top: 50px;
    padding: 12px 0 15px;
  }
}

.p-insingle2__title1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -35px;
  width: 100%;
  height: 31px;
  background: url(../img/interview/line1s.png) no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__title1::before {
    top: -20px;
    height: 14px;
    background-size: 100% 100%;
  }
}

.p-insingle2__title1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -47px;
  height: 31px;
  background: url(../img/interview/line3.png) no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__title1::after {
    bottom: -20px;
    height: 14px;
    background-size: 100% 100%;
  }
}

.p-insingle2__title1 h3 {
  margin-bottom: 32px;
  font-size: 1.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__title1 h3 {
    margin-bottom: 25px;
    font-size: 1.5rem;
  }
}

.p-insingle2__title1 .title1__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__title1 .title1__box1 {
    display: block;
  }
}

.p-insingle2__title1 .title1__box1 .box1__btn1 {
  position: relative;
  border-radius: 30px;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__title1 .title1__box1 .box1__btn1:not(:last-child) {
    margin-bottom: 20px;
  }
}

.p-insingle2__title1 .title1__box1 .box1__btn1 a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 239px;
  padding: 16px 38px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__title1 .title1__box1 .box1__btn1 a {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
}

.p-insingle2__title1 .title1__box1 .box1__btn1 a:hover {
  opacity: 0.7;
}

.p-insingle2__title1 .title1__box1 .box1__btn1--bg1 {
  background: #3b5998;
}

.p-insingle2__title1 .title1__box1 .box1__btn1--bg2 {
  background: #00a9e8;
}

.p-insingle2__title1 .title1__box1 .box1__btn1--bg3 {
  background: #00df1f;
}

.p-insingle2__btn1 {
  margin-top: 172px;
}

@media only screen and (max-width: 767px) {
  .p-insingle2__btn1 {
    margin-top: 60px;
  }
}

/*---------------Contact---------------*/
/*---------------------------------------
 p-contact1
---------------------------------------*/
.p-contact1 {
  position: relative;
  display: block;
  padding: 49px 0 130px;
}

@media only screen and (max-width: 767px) {
  .p-contact1 {
    padding: 35px 15px 35px;
  }
}

.p-contact1__inner {
  width: 780px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .p-contact1__inner {
    width: auto;
  }
}

.p-contact1__box1 {
  position: relative;
  display: block;
  padding-bottom: 56px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .p-contact1__box1 {
    padding-bottom: 35px;
  }
}

.p-contact1__box1 .contact1__content1 {
  text-align: left;
  line-height: 2.0;
}

@media only screen and (max-width: 767px) {
  .p-contact1__box1 .contact1__content1 {
    line-height: 1.7;
    font-size: 1.2rem;
  }
}

.p-contact1__title1 {
  margin-bottom: 29px;
  text-align: center;
  font-size: 2.4rem;
}

@media only screen and (max-width: 767px) {
  .p-contact1__title1 {
    margin-bottom: 14px;
    font-size: 1.8rem;
  }
}

.p-contact1__btn1 {
  position: relative;
  margin-top: 48px;
}

@media only screen and (max-width: 767px) {
  .p-contact1__btn1 {
    margin-top: 25px;
  }
}
