@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 990px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.5rem;
	text-align: center;
  @include respond-to(767) {
		min-width: 100%;
    font-size: 1.3rem;
	}
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
button:hover, a:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	//---------------------------------
  h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
  //---------------------------------
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  &-wrap {
    display: block;
    width: 990px;
    height: auto;
    margin: 0 auto;
    position: relative;
    @include respond-to(768) { width: 100%;}
  }
  //------------------------------
  &--hidden { overflow: hidden; }
  //------------------------------
  &-flexbox {
    display: flex;
    justify-content: space-between;
    //----------------------------
    &--acenter {align-items: center;}
    //----------------------------
    &--reverse { flex-direction: row-reverse; }
    //----------------------------
    &--flexstart { justify-content: flex-start; }
    //----------------------------
    &--center { justify-content: center; }
    //----------------------------
    &--wrap { flex-wrap: wrap; }
    //----------------------------
    &--spblock {
      @include respond-to(768) {display: block;}
    }
    //----------------------------
  }
  //------------------------------
  &-box {
    &--posRelative { position: relative; }
  }
  //------------------------------
}

@keyframes updown {
  0%{transform: translateY(-17px);}
  100%{transform: translateY(0);}
}

@keyframes zoom {
  0%{transform: scale(1, 1);}
  100%{transform: scale(1.01, 1.06);}
}

@keyframes zoomdemo {
  0%{transform: scale(1, 1);}
  100%{transform: scale(3, 3);}
}

@keyframes rotate{
  to{
    transform: rotate(360deg);
  }
}

@keyframes swinging{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(-15deg)}
  100%{transform: rotate(0deg);}
}


