@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u {
  //-------------------------------
  &-text1 {
    &--orange {color: #f15024;}
    &--blue {color: #3d61b2;}
    &--green {color: #62a836;}
    &--pink {color: #e0aab7;}
  }
  //-------------------------------
  &-elephant1 {
    width: 148px;
  }
  //-------------------------------
}

/*---------------------------------
img Top
----------------------------------*/
.u {
  &-Top4 {
    //----------------------------------
    &__img1 {
      width: 126px;
    }
    //----------------------------------
    &__img2 {
      width: 200px;
    }
    //----------------------------------
    &__img3 {
      width: 164px;
    }
    //----------------------------------
    &__img4 {
      width: 181px;
    }
    //----------------------------------
    &__img5 {
      width: 139px;
    }
    //----------------------------------
    &__img6 {
      width: 62px;
    }
    //----------------------------------
    &__img7 {
      width: 70px;
    }
    //----------------------------------
    &__img8 {
      width: 214px;
    }
    //----------------------------------
  }
}
