@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*---------------------------------
*index.html
---------------------------------*/
.p {
  //-------------------------------
  &-top1 {
    position: relative;
    padding-top: 29px;
    height: 570px;
    overflow: hidden;
    box-sizing: border-box;
    background: url(../img/i-bgball1.jpg) no-repeat left top;
    background-size: 100%;
    @include respond-to(767) {
      margin-top: 30px;
      padding: 15px 10px 0;
      height: auto;
    }
    //-----------------------------
    h2 {
      font-size: 3.2rem;
      line-height: 52px;
      margin-bottom: 26px;
      letter-spacing: 2px;
      //---------------------------
      @include respond-to(767) {
        margin-bottom: 13px;
        font-size: 2.4rem;
        line-height: 30px;
      }
      //---------------------------
    }
    //-----------------------------
    &-boxinfo1 {
      //font-size: 1.6rem;
      line-height: 30px;
      //---------------------------
      &--mb1 {
        margin-bottom: 30px;
        @include respond-to(767) { margin-bottom: 15px; }
      }
      //---------------------------
      &--mb2 {
        margin-bottom: 29px;
        @include respond-to(767) { margin-bottom: 15px; }
      }
      //---------------------------
    }
    //-----------------------------
    &-btn1 {
      width: 275px;
      box-sizing: border-box;
      margin-left: -1px;
      border: 1px solid #e74857;
      //---------------------------
      @include respond-to(767) {
        width: 250px;
        margin-left: 0;
      }
      //---------------------------
      a {
        padding: 7px 0;
        color: #e74857;
      }
      //---------------------------
    }
    //-----------------------------
    &--absolute {
      position: absolute;
      z-index: 1;
    }
    //-----------------------------
    &__ball1 {
      top: -13px;
      left: -279px;
      animation: updown ease-in-out 1.1s infinite alternate;
    }
    //-----------------------------
    &__ball2 {
      bottom: -60px;
      left: -88px;
      animation: updown ease-in-out 1s infinite alternate;
    }
    //-----------------------------
    &__ball3 {
      bottom: -135px;
      left: -301px;
      animation: updown ease-in-out .7s infinite alternate;
    }
    //-----------------------------
    &__ball4 {
      top: -16px;
      right: -306px;
      animation: updown ease-in-out .9s infinite alternate;
    }
    //-----------------------------
    &__ball5 {
      bottom: -136px;
      right: -124px;
      animation: updown ease-in-out .8s infinite alternate;
    }
    //-----------------------------
  }
  //end top1-----------------------
  &-top2 {
    margin-top: -56px;
    margin-bottom: 70px;
    overflow: hidden;
    //-----------------------------
    @include respond-to(767) {
      margin-top: 30px;
      margin-bottom: 35px;
      //---------------------------
      &__img1 {
        img { width: 300px; }
      }
      //---------------------------
      &__info { background: rgba(177, 231, 225, 0.82); }
      //---------------------------
    }
    //-----------------------------
    &-box1 {
      margin-left: -302px;
      //---------------------------
      @include respond-to(767) {
        margin-left: 0;
        //-------------------------
        &>.l-flexbox {
          display: block;
        }
        //-------------------------
      }
      //---------------------------
    }
    //-----------------------------
    &__guildCard {
      width: 242px;
      min-width: 239px;
      padding: 50px 0 10px;
      color: #ffffff;
      box-sizing: border-box;
      background: #41c9e3;
      //---------------------------
      @include respond-to(767) {
        width: auto;
        padding: 24px 0;
        margin-bottom: 20px;
      }
      //---------------------------
    }
    //-----------------------------
    &__mainTitle {
      position: relative;
      left: 100px;
      width: 90px;
      text-align: left;
      writing-mode: vertical-rl;
      //---------------------------
      @include respond-to(767) {
        position: relative;
        left: 0;
        text-align: center;
        width: auto;
        writing-mode: horizontal-tb;
      }
      //---------------------------
      @include ie() {
        height: 176px;
        //display: inline-block;
        //-------------------------
        @include respond-to(767) {
          height: auto;
          //display: block;
        }
        //-------------------------
      }
      //---------------------------
      h2 { font-size: 2.5rem; }
      //---------------------------
      .p-point {
         font-size: 1.5rem;
         color: #8bdef0;
         margin-left: 12px;
         //------------------------
         @include respond-to(767) {
          margin-left: 0;
        }
         //------------------------
       }
      //---------------------------
    }
    //-----------------------------
    &__guildText {
      position: relative;
      display: inline-block;
      margin-top: 108px;
      margin-left: 27px;
      @include ie() {
        //top: 118px;
        //margin-left: 14px;
      }
      //---------------------------
      &:after {
        content: url(../img/i-arrow1.png);
        position: absolute;
        top: 14px;
        left: 0;
      }
      //---------------------------
    }
    //-----------------------------
    &__info {
      //---------------------------
      &--topline1 { border-top: 3px solid #f15024; }
      //---------------------------
      &--topline2 { border-top: 3px solid #3d61b2; }
      //---------------------------
      &--topline3 { border-top: 3px solid #62a836; }
      //---------------------------
      &--topline4 { border-top: 3px solid #f091a9; }
      //---------------------------
      &__text1 {
        height: 142px;
        box-sizing: border-box;
        padding: 19px 17px;
        text-align: left;
        //-------------------------
        h2 {
          line-height: 1.3;
          margin-bottom: 10px;
        }
        //-------------------------
        &--pb1 { padding-bottom: 31px; }
        //-------------------------
        &--pb2 { padding-bottom: 30px; }
        //-------------------------
        &--pb3 { padding-bottom: 33px; }
      }
      //---------------------------
    }
    //-----------------------------
    &__label {
      padding: 8px 0;
      color: #fff;
      text-align: left;
      background: #98d1b8;
      //---------------------------
      &--bg1 { background: #9da9cb; }
      //---------------------------
      &--bg2 { background: #e0aab7; }
      //---------------------------
      &--bg3 { background: #e7cc6d; }
      //---------------------------
    }
    //-----------------------------
    &__smallImg1 {
      width: 39px;
      height: 39px;
      //---------------------------
    }
    &__smallImg--ml1 { margin-right: 10px; }
    //-----------------------------
    &__card {
      box-sizing: border-box;
      position: relative;
      @include respond-to(767) {
        width: 300px;
        margin: 0 auto 14px;
      }
      //---------------------------
    }
    //-----------------------------
  }
  //end top2-----------------------
  &-top3 {
    position: relative;
    margin-bottom: 140px;
    //-----------------------------
    @include respond-to(767) {
      margin-bottom: 70px;
      //---------------------------
      &__img1 { img {width: 230px} }
      //---------------------------
    }
    //-----------------------------
    &-box1 {
      padding: 0 16px;
      //-----------------------------
      @include respond-to(767) {
        padding: 0;
        .l-flexbox { display: block; }
      }
      //-----------------------------
    }
    //-----------------------------
    &--mb1 {
      margin-top: 73px;
      //-----------------------------
      @include respond-to(767) {
        margin-top: 35px;
      }
      //-----------------------------
    }
    &__img1 {
      margin-bottom: 20px;
    }
    //-----------------------------
    &__info1 {
      padding: 0 18px;
      text-align: left;
      line-height: 24px;
      //---------------------------
      @include respond-to(767) { padding: 0 9px; }
      //---------------------------
    }
    //-----------------------------
    &__labelBox1 {
      position: relative;
      margin-top: 20px;
      font-size: 1.4rem;
      //-----------------------------
      @include respond-to(767) {
        margin-top: 10px;
        font-size: 1.3rem;
      }
      //---------------------------
      &--mtl1 {
        margin-top: 45px;
        margin-left: 3px;
        //-------------------------
        @include respond-to(767) {
          margin-top: 22px;
        }
        //-------------------------
      }
      //---------------------------
      p { margin-bottom: 5px; }
      //---------------------------
    }
    //-----------------------------
    &__card1 {
      box-sizing: border-box;
      width: 300px;
      //-----------------------------
      @include respond-to(767) {
        margin: 0 auto 35px;
      }
      //-----------------------------
    }
    //-----------------------------
    &__label1 {
      padding: 3px 7px;
      background: #b6dc5c;
      color: #fff;
      font-size: 1.5rem;
      margin-right: 16px;
      border-radius: 5px;
      //---------------------------
      &--bg2 { background: #9da9cb; }
      //---------------------------
    }
    //-----------------------------
  }
  //end top3-----------------------
  &-top4 {
    padding-bottom: 67px;
    margin-bottom: 73px;
    border-bottom: 1px solid #dddddd;
    //-----------------------------
    @include respond-to(767) {
      padding-bottom: 33px;
      margin-bottom: 36px;
    }
    //-----------------------------
    &-list1 {
      padding: 0 84px;
      margin-top: -2px;
      //---------------------------
      @include respond-to(767) {
        width: 300px;
        box-sizing: border-box;
        padding: 0;
        margin: 0 auto;
        //-------------------------
        &>.l-flexbox {
          display: block;
        }
        //-------------------------
        a {
          display: block;
          margin-bottom: 20px;
        }
        //-------------------------
      }
    }
    //-----------------------------
    &-link1 {
      //---------------------------
      &--mt1 {
        margin-top: 31px;
      }
      //---------------------------
      &--mr1 {
        margin-right: 49px;
        //-------------------------
        @include respond-to(767) {
          margin-right: 0;
        }
        //-------------------------
      }
      //---------------------------
      &--mr2 {
        margin-right: 48px;
        //-------------------------
        @include respond-to(767) {
          margin-right: 0;
        }
        //-------------------------
      }
    }
    //-----------------------------
    &--mt1 {
      margin-top: 80px;
      @include respond-to(767) {
        margin-top: 40px;
      }
    }
    //-----------------------------
  }
  //end top4-----------------------
  &-top5 {
    margin-bottom: 70px;
    //-----------------------------
    @include respond-to(767) {
      margin-bottom: 45px;
    }
    //-----------------------------
    &-list1 {
      padding: 0 3px;
      //---------------------------
      @include respond-to(767) {
        .c-list2 {
          display: block;
        }
      }
      //---------------------------
      &--mt1 {
        margin-top: 58px;
        //-------------------------
        @include respond-to(767) {
          margin-top: 29px;
        }
        //-------------------------
      }
      //---------------------------
    }
    //-----------------------------
    &--mt1 {
      margin-top: 80px;
      //-------------------------
      @include respond-to(767) {
        margin-top: 30px;
      }
      //-------------------------
    }
    //-----------------------------
    &__imgbox {
      position: relative;
      //---------------------------
      @include respond-to(767) {
        width: 183px;
        margin: 0 auto 10px;
      }
      //---------------------------
      &:hover {
        .p-top5__img, .p-top5__img1 {
          animation: zoom 3s ease-in-out alternate;
          animation-fill-mode: forwards;
        }
      }
      //---------------------------
    }
    //-----------------------------
    &__img {
      width: 181px;
      height: 171px;
      margin-left: 1px;
    }
    //-----------------------------
    &__img1 {
      width: 180px;
      height: 172px;
      margin-left: 1px;
    }
    //-----------------------------
    &__frame1 {
      width: 186px;
      position: absolute;
      top: -8px;
      left: 0px;
    }
    //-----------------------------
    &__info {
      margin-top: -6px;
      margin-left: 15px;
      padding-right: 20px;
      //---------------------------
      @include respond-to(767) {
        margin-top: 0;
        margin-left: 0;
        padding-right: 0;
      }
      //---------------------------
      h2 {
        font-size: 1.6rem;
        margin: 17px 0;
      }
      //---------------------------
      p { letter-spacing: 1px; }
      //---------------------------
    }
    //-----------------------------
    &__card {
      width: 493px;
      //---------------------------
      @include respond-to(767) {
        width: auto;
        padding: 0 10px;
        margin-bottom: 35px;
        //-------------------------
        &>.l-flexbox {
          display: block;
        }
        //-------------------------

        //-------------------------
      }
      //---------------------------
    }
    //-----------------------------
  }
  //end top5-----------------------
  &-top6 {
    position: relative;
    height: 400px;
    background: #ccc;
    //-----------------------------
    iframe {
      width: 100%;
      height: 100%;
    }
    //-----------------------------
    .l-wrap {
      height: 100%;
    }
    //-----------------------------
    &-flower1 {
      position: absolute;
      top: -48px;
      left: -255px;
    }
    //-----------------------------
  }
  //end top6-----------------------
  &-top7 {
    margin: 68px 0;
    //-----------------------------
    @include respond-to(767) {
      margin: 45px 0;
      //---------------------------
      &-box1 {
        .l-flexbox {
          display: block;
        }
      }
      //---------------------------
    }
    //-----------------------------
    &-dt1 {
      margin-right: 40px;
    }
    //-----------------------------
    &-list1 {
      //---------------------------
      @include respond-to(767) {
        width: 300px;
        margin: 0 auto;
      }
      //---------------------------
      dl {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 13px 0 0;
      }
      //--------------------------
    }
    //-----------------------------
    &-smbox1 { padding-left: 5px; }
    //-----------------------------
    &-smbox2 {
      position: relative;
      left: -5px;
      //---------------------------
      @include respond-to(767) {
        left: 0;
        max-width: 489px;
        margin: 20px auto 0;
        img {width: 100%;}
      }
      //---------------------------
    }
    //-----------------------------
    &__title1 {
      display: flex;
      align-items: baseline;
      margin-bottom: 13px;
      //---------------------------
      @include respond-to(767) {
        width: 300px;
        margin: 0 auto 6px;
      }
      //---------------------------
      h2 {
        font-size: 2.5rem;
        //-------------------------
        @include respond-to(767) {
          font-size: 1.8rem;
        }
        //-------------------------
      }
      //---------------------------
    }
    //-----------------------------
    &__new {
      color: #72cbe3;
      margin-left: 22px;
      //---------------------------
      @include respond-to(767) {
        margin-left: 29px;
      }
      //---------------------------
    }
    //-----------------------------
    &__guildtext1 {
      margin-left: 142px;
      //---------------------------
       @include respond-to(767) {
        margin-left: 51px;
      }
      //---------------------------
      &:after {
        content: "\f105";
        font-family: FontAwesome;
        color: #72cbe3;
        margin-left: 10px;
      }
      //---------------------------
    }
    //-----------------------------
  }
  //end top7-----------------------
}

/*---------------------------------
*about.html
---------------------------------*/
.p {
  &-about1 {
    //---------------------------------
    .c-banner1 {
      background: url(../img/about/i-banner.jpg) no-repeat;
      //-------------------------------
      @include respond-to(767) {
        background-size: 100% 100%!important;
        height: 150px;
      }
      //-------------------------------
    }
    //---------------------------------

    //---------------------------------
  }
  //---------------------------------
  &-about2 {
    position: relative;
    padding-bottom: 191px;
    overflow: hidden;
    //-------------------------------
    @include respond-to(767) {
      padding-bottom: 45px;
    }
    //-------------------------------
    &-link1 {
      @include respond-to(767) {
        display: inline-block;
        &>a {
          display: inline-block;
          margin-bottom: 10px;
        }
      }
      //-----------------------------
      a {
        text-decoration: none;
        color: #878787;
      }
      //-----------------------------
      &--ml1 {
        margin-right: 60px;
        //---------------------------
        @include respond-to(767) {
          margin-right: 30px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &--absolute {
      position: absolute;
      z-index: -1;
    }
    //-------------------------------
    &--bg1 {
      top: 0;
      left: -307px;
    }
    //-------------------------------
    &--bg2 {
      right: -248px;
      top: 164px;
    }
    //-------------------------------
    &--bg3 {
      bottom: 11px;
      left: -255px;
    }
    //-------------------------------
    &-content1 {
      display: flex;
      justify-content: flex-start;
      //-----------------------------
      @include respond-to(767) {
        display: block;
      }
      //-----------------------------
    }
    //-------------------------------
    &-infoContent1 {
      margin-left: 40px;
      text-align: left;
      padding-top: 79px;
      font-size: 1.6rem;
      @include respond-to(767) {
        margin-left: 0;
        padding: 20px 10px 0;
        font-size: 1.4rem;
      }
      //-----------------------------
      h2 {
        font-size: 3.2rem;
        line-height: 55px;
        letter-spacing: 3px;
        text-indent: -16px;
        @include respond-to(767) {
          font-size: 1.8rem;
          text-align: center;
          line-height: 1.7;
        }
        //---------------------------
      }
      //-----------------------------
      p { line-height: 1.8; }
      //-----------------------------
      &--mb1 {
        margin-bottom: 30px;
        //---------------------------
        @include respond-to(767) {
          margin-bottom: 15px;
        }
        //---------------------------
      }
      //-----------------------------
      &--mtb1 {
        margin: 33px 0 10px;
        //---------------------------
        @include respond-to(767) { margin: 17px 0 10px; }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &__mtitle {
      margin-top: 21px;
      margin-bottom: 17px;
      padding: 0 10px;
      //-----------------------------
      h2 {
        text-align: left;
        font-size: 2.5rem;
        margin-bottom: 11px;
        letter-spacing: -1px;
        //---------------------------
        @include respond-to(767) {
          text-align: center;
          font-size: 2.1rem;
          margin-bottom: 5px;
        }
        //---------------------------
      }
      //-----------------------------
    }
    //-------------------------------
    &__imgContent1 {
      margin-left: 4px;
      //-----------------------------
      @include respond-to(767) {
        margin-left: 0;
        img { width: 154px; }
      }
      //-----------------------------
    }
    //-------------------------------
    &__arrow1:before {
      content: "\f103";
      font-family: FontAwesome;
      color: #72cbe3;
      margin-right: 10px;
    }
    //-------------------------------
  }
  //end about2-----------------------
  &-about3 {
    position: relative;
    padding: 80px 0 82px;
    //-------------------------------
    @include respond-to(767) {
      padding: 40px 0 41px;
    }
    //-------------------------------
    &-box1 {
      margin: 0 5px;
      background: #e3f4f9;
      @include respond-to(767) {
        margin: 0;
      }
    }
    //-------------------------------
    &__text1 {
      text-align: left;
      padding: 44px 35px 30px 39px;
      line-height: 1.97;
      letter-spacing: -1px;
      //-----------------------------
      @include respond-to(767) {
        padding: 22px 18px 15px 20px;
        line-height: 1.7;
      }
      //-----------------------------
      h2 {
        font-size: 2.1rem;
        padding-bottom: 10px;
        border-bottom: 3px solid #fff;
        margin-bottom: 25px;
        letter-spacing: -1px;
        //----------------------------
        @include respond-to(767) {
          font-size: 2.0rem;
          padding-bottom: 5px;
          margin-bottom: 13px;
        }
        //----------------------------
      }
      //-----------------------------
      &--mb1 {
        margin-bottom: 17px;
        @include respond-to(767) {
          margin-bottom: 9px;
        }
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //end about3-----------------------
}
