@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-text1--ml1 {
  margin-left: 50px;
}

@media only screen and (max-width: 768px) {
  .u-top__mtitle1 {
    width: 200px;
  }
  .u-top__mtitle2 {
    width: 86px;
  }
  .u-top__community1 {
    width: 200px;
  }
  .u-top__community2 {
    width: 120px;
  }
  .u-top__mtitle3 {
    width: 150px;
  }
  .u-top__gallery {
    width: 90px;
  }
  .u-top__mtitle4 {
    width: 190px;
  }
  .u-top__info {
    width: 80px;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1160px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
    font-size: 1.2rem;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

img:hover, button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l--hidden {
  overflow: hidden;
}

.l-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flexbox--acenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flexbox--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.l-flexbox--flexstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-flexbox--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-flexbox--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .l-flexbox--spblock {
    display: block;
  }
}

.l-box--posRelative {
  position: relative;
}

/*--------------------------------------------------
  bsxSlider css
--------------------------------------------------*/
.c-slider1--type1 .bx-wrapper {
  width: 1460px !important;
  max-width: none !important;
}

@media only screen and (max-width: 768px) {
  .c-slider1--type1 .bx-wrapper {
    width: auto !important;
    max-width: 100% !important;
    margin-left: 0;
  }
}

.bx-prev, .bx-next {
  display: none;
}

.bx-wrapper {
  border: none;
  background: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background: #22963c;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 6px;
    height: 6px;
    margin: 0 5px;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #22963c;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover:after,
.bx-wrapper .bx-pager.bx-default-pager a.active:after,
.bx-wrapper .bx-pager.bx-default-pager a:focus:after {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #22963a;
  position: absolute;
  border-radius: 10px;
  left: -4px;
  top: -4px;
}

@media only screen and (max-width: 768px) {
  .bx-wrapper .bx-pager.bx-default-pager a:hover:after,
  .bx-wrapper .bx-pager.bx-default-pager a.active:after,
  .bx-wrapper .bx-pager.bx-default-pager a:focus:after {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    left: -7px;
    top: -2px;
  }
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -21px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .bx-wrapper {
    margin-bottom: 25px;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-wrap {
  display: block;
  width: 1160px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-wrap {
    width: 100%;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-menuSP {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  cursor: pointer;
  background: #616366;
  border-radius: 4px;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 15px;
  height: 2px;
  background: #fff;
  margin: 5px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  display: none;
  background: rgba(97, 99, 102, 0.7);
}

.c-menulistSP li {
  position: relative;
  border-top: 1px solid #a9acb3;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 19px 15px;
}

@media only screen and (max-width: 768px) {
  .c-menulistSP a {
    font-size: 1.3rem;
  }
}

.c-menulistSP-arrows {
  position: absolute;
  top: 36%;
  right: 26px;
}

.c-menulistSP-arrows img {
  width: 15px;
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: middle;
  text-align: left;
  font-size: 13px;
  border: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 228px;
  background: #f6f6f6;
  font-weight: bold;
  border-right: 1px solid #d4d4d4;
}

.c-table1 table tr > th, .c-table1 table tr td {
  padding: 2px 7px;
}

.c-table1 table tr td {
  line-height: 1.7;
  color: #545454;
}

.c-table1-smallcell1 {
  width: 141px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-table1-smallcell2 {
  width: 48px !important;
  border-left: 1px solid #d4d4d4;
}

.c-table1-td--pb1 {
  padding-bottom: 112px !important;
}

/*-----------------------------------
  header
-----------------------------------*/
.c-h {
  position: relative;
  padding: 0 0 36px;
}

@media only screen and (max-width: 768px) {
  .c-h {
    padding: 0 0 18px;
    border-bottom: 1px solid #ccc;
  }
  .c-h-logo1 {
    margin-left: 10px;
  }
  .c-h-logo1 img {
    width: 150px;
  }
}

.c-h .c-h-boxSmallTitle {
  background: #f8f8f8;
  padding: 4px 0 4px;
}

@media only screen and (max-width: 768px) {
  .c-h .c-h-boxSmallTitle {
    padding: 2px 0;
  }
}

.c-h-smallTitle {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .c-h-smallTitle {
    padding: 0 10px 3px;
    border-bottom: 1px solid #ccc;
  }
}

.c-h-smallTitle--mb1 {
  margin-bottom: 28px;
}

@media only screen and (max-width: 768px) {
  .c-h-smallTitle--mb1 {
    margin-bottom: 14px;
  }
}

/*-----------------------------------
  menu pc
-----------------------------------*/
.c-menu1 {
  padding: 5px 4px 0 0;
}

.c-menu1-list1 {
  position: relative;
}

.c-menu1-list1 a {
  display: block;
  text-decoration: none;
  padding: 0 0 5px;
  font-weight: bold;
  color: #000000;
}

.c-menu1-list1 .span {
  background: #888888;
  height: 4px;
  display: block;
  position: absolute;
  width: 50px;
  left: 0;
  bottom: 0;
}

.c-menu1-list1 li {
  margin-right: 22px;
}

.c-menu1-list1 li:last-of-type {
  margin-right: 0;
}

.c-menu1--mr0 {
  margin-right: 0 !important;
}

/*-----------------------------------
  main title
-----------------------------------*/
.c-mtitle1--mb1 {
  margin-bottom: 49px;
}

@media only screen and (max-width: 768px) {
  .c-mtitle1--mb1 {
    margin-bottom: 25px;
  }
}

.c-mtitle1-h2--mb2 {
  margin-bottom: 12px;
}

@media only screen and (max-width: 768px) {
  .c-mtitle1-h2--mb2 {
    margin-bottom: 8px;
  }
}

.c-mtitle2 h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .c-mtitle2 h2 {
    font-size: 2.4rem;
  }
}

.c-mtitle2 h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #b6b6b6;
}

@media only screen and (max-width: 768px) {
  .c-mtitle2 h3 {
    font-size: 1.2rem;
  }
}

.c-mtitle2-h2--mb2 {
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .c-mtitle2-h2--mb2 {
    margin-bottom: 4px;
  }
}

.c-mtitle2--mb1 {
  margin-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .c-mtitle2--mb1 {
    margin-bottom: 24px;
  }
}

.c-list1 {
  display: grid;
  grid-template-columns: 371px 371px 371px;
  grid-column-gap: 24px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .c-list1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .c-list1__card {
    width: 371px;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 768px), only screen and (-ms-high-contrast: none) and (max-width: 768px) {
  .c-list1 {
    display: block;
  }
  .c-list1__card {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .c-list1 {
    grid-template-columns: auto;
  }
  .c-list1__card {
    width: 320px;
    margin: 0 auto;
  }
  .c-list1__card--mbSP1 {
    margin-bottom: 15px;
  }
  .c-list1__img1 img {
    width: 300px;
    margin: 0 auto;
  }
  .c-list1__info {
    padding: 0 10px;
    font-size: 1.2rem;
  }
}

.c-list1__tit1 {
  padding: 16px 0 11px;
  text-align: left;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .c-list1__tit1 {
    padding: 10px 0 11px;
    font-size: 1.3rem;
  }
}

.c-list1__text {
  text-align: left;
}

/*-----------------------------------
  top component
-----------------------------------*/
.c-top5-boximg1 {
  position: relative;
  display: block;
  padding: 29px 0 30px;
}

@media only screen and (max-width: 768px) {
  .c-top5-boximg1 {
    padding: 15px 10px;
  }
  .c-top5-boximg1 .l-flexbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-top5-boximg1--linebottom {
  border-bottom: 1px solid #939393;
}

.c-top5__img {
  margin-right: 24px;
}

@media only screen and (max-width: 768px) {
  .c-top5__img {
    margin-right: 0;
  }
  .c-top5__img img {
    width: 300px;
  }
}

.c-top5-link1 {
  text-decoration: none;
  text-align: left;
  display: block;
}

@media only screen and (max-width: 768px) {
  .c-top5-link1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
  }
}

.c-top5__text1 {
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .c-top5__text1 {
    margin-top: 10px;
  }
}

.c-top5__text1 h2 {
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .c-top5__text1 h2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.c-top5__text1 h5 {
  font-size: 1.3rem;
  color: #888888;
}

@media only screen and (max-width: 768px) {
  .c-top5__text1 h5 {
    font-size: 1.1rem;
  }
}

.c-top5__text1 p {
  line-height: 1.7;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .c-top5__text1 p {
    font-size: 1.3rem;
  }
}

.c-top5__text1--mtb1 {
  margin: 14px 0 16px;
}

@media only screen and (max-width: 768px) {
  .c-top5__text1--mtb1 {
    margin: 7px 0 8px;
  }
}

.c-top5-arrows1 {
  position: absolute;
  right: 4%;
  top: 47%;
}

@media only screen and (max-width: 768px) {
  .c-top5-arrows1 {
    display: none;
  }
}

/*------------------------------------
  about.html
------------------------------------*/
.c-about1-mtitle2--mb1 {
  margin-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .c-about1-mtitle2--mb1 {
    margin-bottom: 24px;
  }
}

.c-about3__text1 {
  padding: 0 10px;
  line-height: 1.6;
  font-size: 1.8rem;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-about3__text1 {
    font-size: 1.4rem;
  }
}

.c-about3__text1 h2 {
  margin-bottom: 17px;
}

@media only screen and (max-width: 768px) {
  .c-about3__text1 h2 {
    margin-bottom: 9px;
  }
}

.c-about3__text1--mb1 {
  margin-bottom: 33px;
}

@media only screen and (max-width: 768px) {
  .c-about3__text1--mb1 {
    margin-bottom: 16px;
  }
}

.c-about4-listInfo li {
  margin-bottom: 1px;
}

.c-about4-listInfo__special li {
  text-indent: -.5em;
  margin-left: 32px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 768px) {
  .c-about4-listInfo__special li {
    margin-left: 17px;
  }
}

.c-about4-listInfo__special li:before {
  content: '◇';
  margin-right: 5px;
  display: inline-block;
}

/*-----------------------------------
  community component
-----------------------------------*/
@media only screen and (max-width: 768px) {
  .c-community1-box1 .l-flexbox {
    display: block;
  }
}

.c-community1__text1 {
  position: relative;
  text-align: left;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .c-community1__text1 {
    max-width: 560px;
    margin: 45px auto 0 !important;
    padding: 0 10px;
  }
}

.c-community1__text1 h2 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .c-community1__text1 h2 {
    font-size: 1.5rem;
  }
}

.c-community1__text1--ml1 {
  margin-left: 37px;
}

@media only screen and (max-width: 768px) {
  .c-community1__text1--ml1 {
    margin-left: 0;
  }
}

.c-community1-h2--mb1 {
  margin-bottom: 13px;
}

.c-community1-h2--mtb1 {
  margin: 11px 0 12px;
}

.c-community1-h2--mtb2 {
  margin: 25px 0 12px;
}

.c-community1-btn1 {
  width: 100%;
}

.c-community1-btn1 a {
  display: block;
  padding: 3px 0;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.c-community1-btn1--gray {
  background: #888888;
}

.c-community1-btn1--orange {
  background: #e2750c;
}

.c-community1-btn1--pos1 {
  position: absolute;
  bottom: 14%;
}

@media only screen and (max-width: 768px) {
  .c-community1-btn1--pos1 {
    margin-top: 15px;
    position: relative;
  }
}

.c-community1-btn1--pos2 {
  position: absolute;
  bottom: 25%;
}

@media only screen and (max-width: 768px) {
  .c-community1-btn1--pos2 {
    position: relative;
    margin-top: 15px;
  }
}

.c-community2-btnlink1--pad1 {
  padding: 0 28px;
}

/*-------------------------------------
  workplace component
-------------------------------------*/
.c-workplace1__card {
  width: 270px;
  margin: 0 0 40px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-workplace1__card {
    margin: 0 auto 25px;
    padding: 0 10px;
  }
}

.c-workplace1__boximg {
  position: relative;
}

.c-workplace1__info {
  text-align: left;
  padding-top: 15px;
}

.c-workplace1__title1 {
  font-size: 1.6rem;
}

.c-workplace1__title1--mb1 {
  margin-bottom: 9px;
}

/*-----------------------------------
  member component
-----------------------------------*/
.c-member1-table1 th {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-member1-table1 {
    max-width: 560px;
    margin: 45px auto 30px;
    padding: 0 10px;
  }
  .c-member1-table1 .c-table1-td--pb1 {
    padding-bottom: 50px !important;
  }
}

.c-member1__mtitle1 {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-member1__mtitle1 {
    text-align: center;
  }
}

.c-member1__mtitle1 h2 {
  font-size: 2.0rem;
  letter-spacing: 2px;
}

.c-member1__mtitle1 h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #bcbcbc;
}

.c-member1__mtitle1-h2--mt1 {
  margin-top: 8px;
}

.c-member1__mtitle1--mb1 {
  margin-bottom: 18px;
}

.c-member1-btnlink1--pad1 {
  padding: 0 20px;
}

.c-member1__text1--ml1 {
  margin-left: 37px;
}

@media only screen and (max-width: 768px) {
  .c-member1__text1--ml1 {
    margin-left: auto;
  }
}

/*-----------------------------------
recruitment component
-----------------------------------*/
.c-recruit1-btn1--mlr1 {
  margin: 0 9px 0 13px;
}

.c-recruit2 {
  margin-top: 97px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-recruit2 {
    margin-top: 47px;
  }
  .c-recruit2 .l-flexbox {
    display: block;
  }
  .c-recruit2 .c-recruit2__img img {
    width: 300px;
  }
}

.c-recruit2__text1 {
  text-align: left;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .c-recruit2__text1 {
    padding: 0 10px;
    font-size: 1.3rem;
    line-height: 1.6;
  }
}

.c-recruit2__text1--mb1 {
  margin-bottom: 50px;
}

.c-recruit2__text1-h2--mb1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.c-recruit2-btn1 {
  width: 100px;
  height: 22px;
  background: #555555;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 10px;
}

.c-recruit2-btn1 a {
  font-size: 1.3rem;
  color: #ffffff;
}

@media only screen and (-ms-high-contrast: active) and (max-width: 768px), only screen and (-ms-high-contrast: none) and (max-width: 768px) {
  .c-recruit2-btn2 {
    position: relative;
    top: 7px;
  }
}

.c-recruit2-listbtn-mt1 {
  margin-top: 26px;
}

.c-recruit2-boximg1 {
  position: relative;
}

.c-recruit2-table1 {
  width: 560px;
}

@media only screen and (max-width: 768px) {
  .c-recruit2-table1 {
    width: 300px;
    margin: 25px auto 0;
    padding: 0 10px;
  }
}

.c-recruit2-table1 tr {
  border-bottom: 1px solid #737473 !important;
  border-top: 1px solid #737473 !important;
  border-left: none !important;
  border-right: none !important;
}

.c-recruit2-table1 th {
  width: 90px !important;
  border-right: none !important;
  background: #eaf1eb !important;
  padding: 13px 10px !important;
}

.c-recruit2-table1-td--ptb1 {
  padding: 30px 10px !important;
}

@media only screen and (max-width: 768px) {
  .c-recruit2-box2 {
    max-width: 560px;
    margin: 0 auto;
  }
  .c-recruit2-box2 .c-recruit2__card {
    margin: 0 auto 20px auto;
  }
}

.c-recruit2-box2--mt1 {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .c-recruit2-box2--mt1 {
    margin-top: 25px;
  }
}

/*-----------------------------------
  sitemap component
-----------------------------------*/
.c-sitemap1-box1 {
  width: 550px;
  text-align: left;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .c-sitemap1-box1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    font-size: 1.3rem;
  }
}

.c-sitemap1-title1 {
  padding: 8px 0;
  cursor: pointer;
}

.c-sitemap1-title1--botline1 {
  border-bottom: 1px solid #ccc;
}

.c-sitemap1-title1 a {
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .c-sitemap1-title1 a {
    font-size: 1.5rem;
  }
}

.c-sitemap1-title1 .c__link1 img {
  width: 20px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .c-sitemap1-title1 .c__link1 img {
    width: 15px;
  }
}

.c-sitemap1-listlink1 {
  padding: 27px 0 0;
}

@media only screen and (max-width: 768px) {
  .c-sitemap1-listlink1 {
    padding: 18px 0;
  }
}

.c-sitemap1-listlink1 a {
  text-decoration: none;
  color: #000000;
}

.c-sitemap1-listlink1 li {
  margin-bottom: 10px;
}

.c-sitemap1-listlink1 li:last-child {
  margin-bottom: 0;
}

.c-sitemap1-sublink1 li {
  margin: 0 0 2px 29px;
}

.c-sitemap1-sublink1 a {
  font-size: 1.4rem;
}

/*-----------------------------------
  topics component
-----------------------------------*/
.c-topics1-mb1 {
  margin-bottom: 8px;
}

.c-topics1-h2--mb1 {
  margin-bottom: 15px;
}

.c-topics1__text1 {
  width: 555px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-topics1__text1 {
    width: 100%;
    max-width: 560px;
    padding: 0 10px;
    margin: 45px auto 0;
  }
}

.c-topics1__maintext {
  height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 17px;
  font-size: 1.3rem;
  color: #ffffff;
  background: #51c571;
  cursor: pointer;
}

.c-topics1__maintext--color1 {
  background: #f78d6c;
}

.c-topics1__content1 {
  font-size: 1.3rem;
  line-height: 1.8;
  text-align: left;
}

.c-topics1__content1--pt1 {
  padding-top: 28px;
}

@media only screen and (max-width: 768px) {
  .c-topics1__content1--pt1 {
    padding-top: 14px;
  }
}

.c-topics1__content1 h2 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .c-topics1-box1 {
    margin-top: 30px;
  }
}

.c-topics1-box1--mtb1 {
  margin: 102px 0 17px;
}

@media only screen and (max-width: 768px) {
  .c-topics1-box1--mtb1 {
    margin-top: 50px;
  }
}

.c-topics1-box1--mtb2 {
  margin: -3px 0 15px;
}

@media only screen and (max-width: 768px) {
  .c-topics1-box1--mtb2 {
    margin: 10px 0 15px;
  }
}

/*-----------------------------------
  brand component
-----------------------------------*/
.c-brand1-btn1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  padding: 9px 0;
  letter-spacing: 3px;
  background: #888888;
}

@media only screen and (max-width: 768px) {
  .c-brand1-btn1 {
    width: 100%;
    max-width: 370px;
    margin-bottom: 10px;
  }
}

.c-brand1-btn1--green {
  background: #51c571;
}

.c-brand1-btn1 a {
  color: #ffffff;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .c-brand2-box1--mb1, .c-brand2-box1--mb2, .c-brand2-box1--mb3, .c-brand2-box1--mb4, .c-brand2-box1--mb5, .c-brand2-box1--mb6 {
    margin-bottom: 36px !important;
  }
}

.c-brand2-box1--mb1 {
  margin-bottom: 66px;
}

.c-brand2-box1--mb2 {
  margin-bottom: 38px;
}

.c-brand2-box1--mb3 {
  margin-bottom: 37px;
}

.c-brand2-box1--mb4 {
  margin-bottom: 62px;
}

.c-brand2-box1--mb5 {
  margin-bottom: 42px;
}

.c-brand2-box1--mb6 {
  margin-bottom: 72px;
}

.c-brand2--font13 {
  font-size: 1.3rem;
}

.c-brand2__text1 {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .c-brand2__text1 {
    margin-top: 15px;
    padding: 10px;
    font-size: 1.4rem;
  }
}

.c-brand2__text1--mr1 {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .c-brand2__text1--mr1 {
    margin-right: 0;
  }
}

.c-brand2__content1 h2 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .c-brand2__content1 h2 {
    font-size: 1.5rem;
  }
}

.c-brand2__content1--mt1 {
  margin-top: 10px;
}

.c-brand2__content1--mt2 {
  margin-top: 28px;
}

.c-brand2__content1--mt3 {
  margin-top: 21px;
}

.c-brandSecond1__text1--mb1 {
  margin-bottom: 16px;
}

/*-----------------------------------
  photogallery1 component
-----------------------------------*/
.c-galleryFirst1__img1 > img {
  width: 265px;
}

/*-----------------------------------
  recipe component
-----------------------------------*/
.c-recipe1-table1 {
  width: 621px;
}

.c-recipe1-table1-tr {
  font-size: 1.4rem !important;
}

.c-recipe1-table1-th--width1 {
  width: 265px !important;
}

.c-recipe1-table1-th--width2 {
  width: 160px !important;
}

.c-recipe1-table1-td {
  line-height: 1.1 !important;
  border-right: 1px solid #d4d4d4 !important;
}

.c-recipe1-table1-th, .c-recipe1-table1-td {
  padding: 7px 5px 6px !important;
}

.c-recipe1__mtitle1 {
  font-size: 1.6rem;
  padding: 12px 0;
  background: #f6f0d5;
}

.c-recipe1__mtitle1--mb1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .c-recipe1__mtitle1--mb1 {
    margin-bottom: 15px;
  }
}

.c-recipe1__mtitle1--mb2 {
  margin-bottom: 16px;
}

.c-recipe1__mtitle1--mb3 {
  margin-bottom: 20px;
}

.c-recipe1__mtitle1--mb4 {
  margin-bottom: 21px;
}

.c-recipe1__step {
  text-align: justify;
}

.c-recipe1__step h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .c-recipe1__step h2 {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
}

.c-recipe1__colortext1 {
  color: #e68b45;
}

@media only screen and (max-width: 768px) {
  .c-recipe2-list1.c-list2 {
    max-width: 484px;
    padding: 0;
  }
}

.c-recipe2-list1 .c-list2__card {
  width: 221px;
  margin-bottom: 23px;
}

@media only screen and (max-width: 768px) {
  .c-recipe2-list1 .c-list2__card {
    width: 242px;
    padding: 0 10px;
    margin: 0 auto 18px;
  }
}

.c-recipe2-box1--mb1 {
  margin-bottom: 73px;
}

@media only screen and (max-width: 768px) {
  .c-recipe2-box1--mb1 {
    margin-bottom: 35px;
  }
}

.c-recipe2__thumb {
  cursor: pointer;
  border: 1px solid #e6e6e6;
}

.c-recipe2__info {
  text-align: left;
  font-size: 1.3rem;
  padding: 10px 10px;
}

/*-----------------------------------
  links component
-----------------------------------*/
.c-links1-list1 {
  position: relative;
  width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-links1-list1 {
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.c-links1-list1 li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  margin-bottom: 20px;
  background: #dddddd;
}

@media only screen and (max-width: 768px) {
  .c-links1-list1 li {
    height: auto;
    margin-bottom: 10px;
  }
}

.c-links1-list1 a {
  display: block;
  padding: 5px 12px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

/*-----------------------------------
  pagination component
-----------------------------------*/
.c-pagi-btn1 {
  border: 1px solid #888888;
  background: #888888;
}

.c-pagi-btn1--mlr1 {
  margin: 0 7px;
}

.c-pagi-btn1 a {
  color: white;
}

.c-pagi-btn1--width1 {
  width: 35px;
  height: 35px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-pagi-btn1--width2 {
  width: 165px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
}

.c-pagi-btn1--active {
  background: #ffffff;
}

.c-pagi-btn1--active a {
  color: #000000;
}

.c-pagi-btn1__maintext--color1 {
  background: #f78d6c;
}

/*-----------------------------------
 button
-----------------------------------*/
.c-btn {
  display: inline-block;
}

.c-btn a {
  display: block;
  text-decoration: none;
}

.c-btn-f1 {
  width: 159px;
  background: #888888;
  text-align: center;
}

.c-btn-f1 a {
  padding: 10px 0;
  color: white;
}

@media only screen and (max-width: 768px) {
  .c-btn-f1 a {
    padding: 5px 0;
  }
}

@media only screen and (max-width: 768px) {
  .c-btn-f1 {
    width: 132px;
    display: block;
    margin: 0 auto;
  }
}

.c-btnlink1 {
  background: #1d2088;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 3px;
}

.c-btnlink1--pos1 {
  position: absolute;
  top: 30px;
  left: 31px;
}

.c-btnlink1--pos2 {
  position: absolute;
  top: 137px;
  left: 31px;
}

.c-btnlink1--pos3 {
  position: absolute;
  top: 121px;
  right: 21px;
}

.c-btnlink1--pos4 {
  position: absolute;
  top: 33px;
  left: 32px;
}

.c-btnlink1--pos5 {
  position: absolute;
  top: 13px;
  left: 8px;
}

.c-btnlink1--pos6 {
  position: absolute;
  top: 18px;
  left: 14px;
}

.c-btnlink1--pos7 {
  position: absolute;
  top: 14px;
  right: 21px;
}

.c-btnlink1--pad1 {
  padding: 0 20px;
}

.c-btnlink1--pad2 {
  padding: 0 54px;
}

.c-btnlink1-type1 {
  border: 1px solid #ffffff;
  font-size: 1.6rem;
}

/*-----------------------------------
  footer component
-----------------------------------*/
.c-f {
  padding: 20px 0 38px;
  letter-spacing: 1px;
  line-height: 1.7;
  border-top: 1px solid #555555;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-f {
    padding: 10px 10px 16px;
  }
  .c-f .l-flexbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-f-box1, .c-f-box2 {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .c-f-listlink1 .l-flexbox {
    display: block;
  }
  .c-f-listlink1 li {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .c-f-listlink1 .l-flexbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-f-listbtn {
  margin-top: 14px;
}

@media only screen and (max-width: 768px) {
  .c-f-listbtn {
    margin-top: 8px;
  }
}

.c-f-listbtn .c-btn-ml1 {
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .c-f-listbtn .c-btn-ml1 {
    margin: 10px auto 10px;
  }
}

.c-f-listlink1 li:after {
  content: '|';
  margin: 0 4px 0 2px;
}

.c-f-listlink1 a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.c-f-listlink1 li:last-child:after {
  content: '';
  margin: 0;
}

/*-----------------------------------
  other
-----------------------------------*/
.c-line1 {
  margin-bottom: 0;
  color: #939393;
}

.c-slider1--type1 {
  margin: 0 auto;
  overflow: hidden;
}

.c-slider1--ml1 {
  margin-left: -155px;
}

@media only screen and (max-width: 768px) {
  .c-slider1--ml1 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .c-slider2-box1 {
    padding: 0 10px;
  }
}

.c-slider2-box1 .bx-wrapper {
  width: 560px;
}

@media only screen and (max-width: 768px) {
  .c-slider2-box1 .bx-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.c__link1 {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .c__link1 {
    font-size: 1.2rem;
  }
}

.c__link1 img {
  width: 15px;
  vertical-align: middle;
  margin-left: 5px;
}

.c__text1--font15 {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .c__text1--font15 {
    padding: 0 10px;
    font-size: 1.3rem;
    line-height: 1.6;
  }
}

.c-listyear, .c-listphoto {
  padding: 5px 5px;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid #777777;
  border-left: none;
  border-right: none;
}

@media only screen and (max-width: 768px) {
  .c-listyear, .c-listphoto {
    font-size: 1.3rem;
  }
  .c-listyear .l-flexbox--flexstart, .c-listphoto .l-flexbox--flexstart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-listyear a, .c-listphoto a {
  color: #000000;
  text-decoration: none;
}

.c-listyear-li--mlr1, .c-listphoto-li--mlr1 {
  margin: 0 20px;
}

.c-listyear-li--mlr2, .c-listphoto-li--mlr2 {
  margin: 0 52px;
}

@media only screen and (max-width: 768px) {
  .c-listyear-li--mlr2, .c-listphoto-li--mlr2 {
    margin: 0 15px;
  }
}

.c-listyear--active, .c-listphoto--active {
  color: #888888;
}

.c-listyear--active a, .c-listphoto--active a {
  color: #888888;
  text-decoration: none;
}

.c-listyear--mb1, .c-listphoto--mb1 {
  margin-bottom: 56px;
}

@media only screen and (max-width: 768px) {
  .c-listyear--mb1, .c-listphoto--mb1 {
    margin-bottom: 28px;
  }
}

/*----------------------------------
  list
----------------------------------*/
.c-list2 {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-list2 {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.c-list2__card {
  width: 266px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .c-list2__card {
    width: 48%;
    margin-bottom: 18px;
  }
  .c-list2__card .c-list2__img1 > img {
    width: 100%;
  }
}

.c-list2__info1 {
  padding: 15px 10px;
  text-align: left;
  font-size: 1.3rem;
  background: #e6e6e6;
}

@media only screen and (max-width: 768px) {
  .c-list2__info1 {
    padding: 8px 5px;
    font-size: 1.1rem;
  }
}

/*-----------------------------------
  Boximg component.
  Use for list component(it is content
  in each card).
-----------------------------------*/
.c-boximg1 {
  padding: 5px;
  text-align: left;
  background: #a6ceff;
}

.c-boximg1__text1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.c-boximg1__text1 h2 {
  padding-bottom: 2px;
  font-size: 1.7rem;
  border-bottom: 1px solid #333834;
}

@media only screen and (max-width: 768px) {
  .c-boximg1__text1 h2 {
    display: inline-block;
    font-size: 1.5rem;
  }
}

.c-boximg1__text1--ml1 {
  margin-left: 12px;
}

@media only screen and (max-width: 768px) {
  .c-boximg1__text1--ml1 {
    margin-left: 6px;
  }
}

/*-----------------------------------
The Modal
-----------------------------------*/
.c-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.c-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

@media only screen and (max-width: 768px) {
  .c-modal-content {
    width: 90%;
  }
}

.c-caption, .c-modal-content {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.c-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.c-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-close:hover, .c-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}
