/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-top1 {
  margin: 13px 0 98px;
}

@media only screen and (max-width: 768px) {
  .p-top1 {
    padding: 0 14px;
    margin: 10px 0 45px;
  }
}

.p-top1-news {
  text-align: left;
}

.p-top1-news h2 {
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .p-top1-news h2 {
    font-size: 1.5rem;
  }
}

.p-top1-news h3 {
  margin-bottom: 6px;
  color: #bd0000;
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .p-top1-news h3 {
    font-size: 1.0rem;
  }
}

.p-top1__newsText {
  font-size: 1.3rem;
  margin-left: 21px;
}

@media only screen and (max-width: 768px) {
  .p-top1__newsText {
    font-size: 1.2rem;
    margin-left: 10px;
  }
}

.p-top1-list {
  margin-top: 15px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-top1-list {
    margin-top: 10px;
  }
}

.p-top1-list dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 2px 9px;
  border-top: 2px dotted #cfcfcf;
}

.p-top1-list dl:last-child {
  border-bottom: 2px dotted #cfcfcf;
}

.p-top1-list dl dd {
  font-size: 1.3rem;
  color: #7d7d7d;
}

@media only screen and (max-width: 768px) {
  .p-top1-list dl dd {
    font-size: 1.2rem;
  }
}

.p-top1-dt1 {
  width: 87px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .p-top1-dt1 {
    width: auto;
    font-size: 1.2rem;
  }
}

.p-top1-dt2 {
  width: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .p-top1-dt2 {
    width: 74px;
  }
}

.p-top1-label {
  display: inline-block;
  width: 74px;
  padding: 4px 1px;
  text-align: center;
  color: white;
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .p-top1-label {
    width: 55px;
    font-size: 0.9rem;
  }
}

.p-top1-label--color1 {
  background: #f78d6c;
}

.p-top1-label--color2 {
  background: #51c571;
}

.p-top1-label--color3 {
  background: #68b4ce;
}

.p-top2 {
  margin-bottom: 91px;
}

@media only screen and (max-width: 768px) {
  .p-top2 {
    margin-bottom: 45px;
  }
}

.p-top3 {
  margin-bottom: 92px;
}

@media only screen and (max-width: 768px) {
  .p-top3 {
    margin-bottom: 45px;
  }
}

.p-top4 {
  overflow: hidden;
  padding-bottom: 101px;
}

@media only screen and (max-width: 768px) {
  .p-top4 {
    padding-bottom: 45px;
  }
}

.p-top4-imgbox1 {
  margin-left: -150px;
}

@media only screen and (max-width: 768px) {
  .p-top4-imgbox1 {
    margin-left: 0;
  }
  .p-top4-imgbox1 img {
    width: 100%;
  }
}

.p-top4-imgbox1--mb1 {
  margin-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .p-top4-imgbox1--mb1 {
    margin-bottom: 12px;
  }
}

.p-top5 {
  padding-bottom: 74px;
}

@media only screen and (max-width: 768px) {
  .p-top5 {
    padding-bottom: 45px;
  }
}

.p-top5-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 54px;
  height: 17px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #bd0000;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .p-top5-label {
    padding: 4px 0;
  }
}

.p-top5-label--ml1 {
  margin-left: 53px;
}

@media only screen and (max-width: 768px) {
  .p-top5-label--ml1 {
    margin-left: 30px;
  }
}

/*-----------------------------------
  about.html
-----------------------------------*/
.p-about1 {
  margin: 57px 0 103px;
}

@media only screen and (max-width: 768px) {
  .p-about1 {
    margin: 26px 0 51px;
  }
  .p-about1-box1 {
    padding: 0 10px;
  }
  .p-about1-box1 .l-flexbox {
    display: block;
  }
}

.p-about1__img {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .p-about1__img {
    margin: 0 auto 15px;
  }
  .p-about1__img img {
    width: 300px;
    margin: 0 auto;
  }
}

.p-about1__text {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8;
  text-indent: 20px;
}

@media only screen and (max-width: 768px) {
  .p-about1__text {
    font-size: 1.3rem;
  }
}

.p-about1__author {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .p-about1__author {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}

.p-about2 {
  margin-bottom: 87px;
}

@media only screen and (max-width: 768px) {
  .p-about2 {
    margin-bottom: 43px;
  }
  .p-about2__img img {
    width: 100%;
  }
}

.p-about2__imgbox1 {
  position: relative;
}

.p-about2-box1 p {
  margin-top: 20px;
  text-align: left;
  line-height: 1.8;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .p-about2-box1 p {
    padding: 0 10px;
    font-size: 1.3rem;
  }
}

.p-about2-btnlink1--pad {
  padding: 0 20px;
}

.p-about3 {
  margin-bottom: 96px;
}

@media only screen and (max-width: 768px) {
  .p-about3 {
    margin-bottom: 48px;
  }
}

.p-about3 .p-about3-box1 {
  padding: 28px 0 25px;
  border: 1px solid #888888;
}

@media only screen and (max-width: 768px) {
  .p-about3 .p-about3-box1 {
    margin: 0 10px;
    padding: 14px 0 12px;
  }
}

.p-about3__mtext {
  padding-bottom: 25px;
  text-align: left;
  text-indent: 13px;
  font-size: 1.5rem;
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .p-about3__mtext {
    padding: 0 10px 12px;
    font-size: 1.3rem;
  }
}

.p-about3__mtext--mb1 {
  margin-bottom: 29px;
}

@media only screen and (max-width: 768px) {
  .p-about3__mtext--mb1 {
    margin-bottom: 20px;
  }
}

.p-about3-line1 {
  background: #a8a8a8;
}

.p-about3-line1--mt1 {
  margin-top: 23px;
}

.p-about4 {
  margin-bottom: 96px;
}

@media only screen and (max-width: 768px) {
  .p-about4 {
    margin-bottom: 50px;
  }
  .p-about4 .p-about4__blockSP {
    width: 320px;
    margin: 0 auto;
  }
  .p-about4 .p-about4__blockSP .l-flexbox {
    display: block;
  }
}

.p-about4_content {
  font-size: 1.5rem;
  text-align: left;
}

.p-about4-box1, .p-about4-box2 {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .p-about4-box1, .p-about4-box2 {
    width: 100%;
    padding: 0 10px;
  }
}

.p-about4-box1--mb1 {
  margin-bottom: 15px;
}

.p-about4-btnlink1--pad {
  padding: 0 10px;
}

.p-about5 {
  margin-bottom: 101px;
}

@media only screen and (max-width: 768px) {
  .p-about5 {
    margin-bottom: 50px;
  }
  .p-about5 .p-about5__img img {
    width: 100%;
  }
}

.p-about5-btnlink1--pad {
  padding: 0 45px;
}

.p-about6-box1 {
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .p-about6-box1 {
    margin-bottom: 50px;
  }
  .p-about6-box1 .l-flexbox {
    display: block;
  }
  .p-about6-box1 .p-about6__img img {
    width: 300px;
  }
}

.p-about6__text {
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-about6__text {
    width: 320px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 10px auto 0;
    padding: 0 10px;
    font-size: 1.3rem;
  }
}

.p-about6__link1 {
  margin-top: 18px;
}

@media only screen and (max-width: 768px) {
  .p-about6__link1 {
    margin-top: 10px;
  }
}

/*------------------------------------
  agriculture.html
------------------------------------*/
.p-agriculture1 {
  display: block;
  margin: 56px 0 89px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-agriculture1 {
    margin: 28px 0 44px;
  }
}

.p-agriculture1-banner {
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .p-agriculture1-banner img {
    width: 100%;
  }
}

.p-agriculture1-banner--mb1 {
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .p-agriculture1-banner--mb1 {
    margin-bottom: 15px;
  }
}

.p-agriculture1__text1 {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .p-agriculture1__text1 {
    padding: 0 10px;
    font-size: 1.3rem;
    line-height: 1.6;
  }
}

.p-agriculture1__text1 p {
  text-indent: 16px;
  line-height: 1.8;
}

.p-agriculture1__text1--mt1 {
  margin-top: 29px;
}

@media only screen and (max-width: 768px) {
  .p-agriculture1__text1--mt1 {
    margin-top: 19px;
  }
}

.p-agriculture1__text1--mb1 {
  margin-bottom: 17px;
}

@media only screen and (max-width: 768px) {
  .p-agriculture1__text1--mb1 {
    margin-bottom: 12px;
  }
}

.p-agriculture1__text1--mb2 {
  margin-bottom: 12px;
}

.p-agriculture2 {
  margin-bottom: 43px;
}

@media only screen and (max-width: 768px) {
  .p-agriculture2-box1 .l-flexbox {
    display: block;
  }
}

.p-agriculture2-btnlink1--pad1 {
  padding: 0 20px;
}

.p-agriculture2__text1 {
  margin-left: 40px;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .p-agriculture2__text1 {
    margin: 35px 0 0 0;
    padding: 0 10px;
    font-size: 1.3rem;
    line-height: 1.6;
  }
}

.p-agriculture2__text1 p {
  padding-bottom: 13px;
}

.p-agriculture2__text1 p:last-child {
  padding-bottom: 0;
}

/*------------------------------------
  community.html
------------------------------------*/
.p-community1 {
  margin-top: 58px;
}

@media only screen and (max-width: 768px) {
  .p-community1 {
    margin-top: 45px;
  }
}

.p-community2 {
  margin-top: 65px;
}

@media only screen and (max-width: 768px) {
  .p-community2 {
    margin-top: 45px;
  }
}

.p-community3 {
  margin: 65px 0 62px;
}

@media only screen and (max-width: 768px) {
  .p-community3 {
    margin: 45px 0;
  }
}

.p-community3__text1--pad1 {
  padding-right: 40px;
}

@media only screen and (max-width: 768px) {
  .p-community3__text1--pad1 {
    padding-right: 0;
  }
}

.p-community3__text1--ml1 {
  margin-left: 30px;
}

/*-----------------------------------
  workplace.html
-----------------------------------*/
.p-workplace1 {
  margin: 81px 0 46px;
}

@media only screen and (max-width: 768px) {
  .p-workplace1 {
    margin: 40px 0 46px;
  }
  .p-workplace1-box1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 586px;
    margin: 0 auto;
  }
}

.p-workplace1-btnlink1--pad1 {
  padding: 0 21px;
}

/*-----------------------------------
  member.html
-----------------------------------*/
.p-member1 {
  margin: 56px 0 60px;
}

@media only screen and (max-width: 768px) {
  .p-member1 {
    margin: 45px 0;
  }
}

.p-member1-box1--mt1 {
  margin-top: 18px;
}

/*-----------------------------------
  recruit.html
-----------------------------------*/
.p-recruit1 {
  margin-top: 60px;
}

@media only screen and (max-width: 768px) {
  .p-recruit1 {
    margin-top: 45px;
  }
}

.p-recruit1-text1 {
  display: block;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .p-recruit1-text1 {
    padding: 0 10px;
    font-size: 1.3rem;
    line-height: 1.6;
  }
}

.p-recruit1-text1 h2 {
  font-size: 1.6rem;
}

.p-recruit1-text1--mb1 {
  margin-bottom: 16px;
}

.p-recruit1-text1--mtb1 {
  margin: 21px 0 13px;
}

@media only screen and (max-width: 768px) {
  .p-recruit1-text1--mtb1 {
    margin: 10px 0 6px;
  }
}

.p-recruit4 {
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .p-recruit4 {
    margin-bottom: 45px;
  }
}

/*-----------------------------------
  sitemap.html
-----------------------------------*/
.p-sitemap1 {
  margin-top: 59px;
}

@media only screen and (max-width: 768px) {
  .p-sitemap1 {
    margin-top: 45px;
  }
}

.p-sitemap1-content1 {
  margin-top: -6px;
  /*-----------------------------
      *padding, margin
      -----------------------------*/
}

@media only screen and (max-width: 768px) {
  .p-sitemap1-content1--pb2, .p-sitemap1-content1--pb3, .p-sitemap1-content1--pb4, .p-sitemap1-content1--pb5, .p-sitemap1-content1--pb6 {
    padding-bottom: 36px !important;
  }
}

.p-sitemap1-content1--pb1 {
  padding-bottom: 36px;
}

.p-sitemap1-content1--pb2 {
  padding-bottom: 42px;
}

.p-sitemap1-content1--pb3 {
  padding-bottom: 175px;
}

.p-sitemap1-content1--pb4 {
  padding-bottom: 160px;
}

.p-sitemap1-content1--pb5 {
  padding-bottom: 179px;
}

.p-sitemap1-content1--pb6 {
  padding-bottom: 93px;
}

/*-----------------------------------
  topics.html
-----------------------------------*/
.p-topics1 {
  margin: 60px 0 132px;
}

@media only screen and (max-width: 768px) {
  .p-topics1 {
    margin: 30px 0 60px;
  }
}

.p-topics1__text1 {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .p-topics1__text1 {
    padding: 0 10px;
  }
}

.p-topics1__text1--mtb1 {
  margin: -15px 0 98px;
}

@media only screen and (max-width: 768px) {
  .p-topics1__text1--mtb1 {
    margin: 10px 0 46px;
  }
}

/*-----------------------------------
  access.html
-----------------------------------*/
.p-access1 {
  margin: 56px 0 103px;
}

@media only screen and (max-width: 768px) {
  .p-access1 {
    margin: 45px 0 60px;
  }
}

.p-access1-map1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 581px;
  height: 415px;
}

@media only screen and (max-width: 768px) {
  .p-access1-map1 {
    width: 100%;
    max-width: 560px;
    height: 208px;
    margin: 0 auto;
  }
}

.p-access1-map1 iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .p-access1__text1 {
    margin-top: 20px;
    text-align: center;
  }
}

.p-access1__text1 h2 {
  margin-bottom: 15px;
}

.p-access1__text1--mb1 {
  margin-bottom: 25px;
}

.p-access1__text1--mr1 {
  margin-right: 21px;
}

@media only screen and (max-width: 768px) {
  .p-access1__text1--mr1 {
    margin-right: 0;
  }
}

/*-----------------------------------
  links.html
-----------------------------------*/
.p-links1 {
  margin: 61px 0 480px;
}

@media only screen and (max-width: 768px) {
  .p-links1 {
    margin: 45px 0 60px;
  }
}

/*-----------------------------------
  ja_kyosai.html, bank.html
-----------------------------------*/
.p-kyosai1, .p-bank1 {
  margin: 57px 0 495px;
}

@media only screen and (max-width: 768px) {
  .p-kyosai1, .p-bank1 {
    margin: 45px 0 60px;
  }
}

.p-kyosai1-box1, .p-bank1-box1 {
  margin-top: 54px;
  font-weight: 600;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .p-kyosai1-box1, .p-bank1-box1 {
    margin-top: 27px !important;
  }
}

.p-kyosai1--mb1, .p-bank1--mb1 {
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .p-kyosai1--mb1, .p-bank1--mb1 {
    margin-bottom: 15px;
  }
}

/*-----------------------------------
  privacy.html
-----------------------------------*/
.p-privacy1 {
  margin: 56px 0 100px;
}

@media only screen and (max-width: 768px) {
  .p-privacy1 {
    margin: 45px 0 60px;
  }
}

.p-privacy1-box1--mb0 {
  margin-top: -5px;
}

.p-privacy1-box1--mb1 {
  margin-bottom: 23px;
}

@media only screen and (max-width: 768px) {
  .p-privacy1-box1--mb1 {
    margin-bottom: 14px;
  }
}

.p-privacy1-box1--mb2 {
  margin-bottom: 49px;
}

@media only screen and (max-width: 768px) {
  .p-privacy1-box1--mb2 {
    margin-bottom: 24px;
  }
}

.p-privacy1-link1 {
  font-weight: bold;
}

.p-privacy1-link1 .c-arrowimg {
  margin-left: 10px;
}

/*-----------------------------------
  regular.html
-----------------------------------*/
.p-regular1 {
  margin: 56px 0 100px;
}

@media only screen and (max-width: 768px) {
  .p-regular1 {
    margin: 45px 0 60px !important;
  }
}

.p-regular1-tr1 {
  vertical-align: text-top !important;
  font-size: 1.6rem !important;
  border: 1px solid #727272 !important;
}

@media only screen and (max-width: 768px) {
  .p-regular1-tr1 {
    font-size: 1.3rem !important;
  }
}

.p-regular1-th1, .p-regular1-td1 {
  padding: 18px 29px !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .p-regular1-th1, .p-regular1-td1 {
    text-align: left !important;
  }
}

@media only screen and (max-width: 768px) {
  .p-regular1-th1, .p-regular1-td1 {
    padding: 9px 14px !important;
  }
}

.p-regular1-th1 {
  background: #e6e6e6 !important;
  border-right: none !important;
}

@media only screen and (max-width: 768px) {
  .p-regular1-th1 {
    width: 119px !important;
  }
}

.p-regular1-td1 {
  color: #000000 !important;
  line-height: 1.6 !important;
}

.p-regular1-td1--color1 {
  color: #8d8d8d !important;
}

.p-regular1-td1--linebottom {
  text-decoration: underline;
}

/*-----------------------------------
  brand1.html
-----------------------------------*/
.p-brand1 {
  margin: 56px 0 98px;
}

@media only screen and (max-width: 768px) {
  .p-brand1 {
    margin: 45px 0 49px;
  }
}

@media only screen and (max-width: 768px) {
  .p-brand1-box1 {
    padding: 0 10px;
  }
}

.p-brand1-box1--mtb1 {
  margin: 0 0 45px;
}

@media only screen and (max-width: 768px) {
  .p-brand1-box1--mtb1 {
    margin-bottom: 22px;
  }
}

.p-brand1-text1 {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .p-brand1-text1 {
    font-size: 1.3rem;
  }
}

.p-brand2 {
  margin-bottom: 65px;
}

@media only screen and (max-width: 768px) {
  .p-brand2 {
    margin-bottom: 45px;
  }
  .p-brand2 .c-brand2__text1--mr1 {
    margin-right: 0;
  }
}

/*-----------------------------------
  brand2.html
-----------------------------------*/
.p-brandSecond1 {
  margin: 56px 0 42px;
}

@media only screen and (max-width: 768px) {
  .p-brandSecond1 {
    margin: 45px 0 45px;
  }
}

.p-brandSecond1__text1 h2 {
  font-size: 1.6rem;
}

.p-brandSecond1__text1--mb1 {
  margin-bottom: 21px;
}

.p-brandSecond2 {
  margin-bottom: 66px;
}

@media only screen and (max-width: 768px) {
  .p-brandSecond2 {
    margin-bottom: 33px;
  }
}

/*-----------------------------------
  brand3.html
-----------------------------------*/
.p-brandThird2 {
  margin-bottom: 67px;
}

@media only screen and (max-width: 768px) {
  .p-brandThird2 {
    margin-bottom: 50px;
  }
}

.p-brandThird2-h2--mb1 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .p-brandThird2-h2--mb1 {
    margin-bottom: 10px;
  }
}

.p-brandThird2-h2--mb2 {
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .p-brandThird2-h2--mb2 {
    margin-bottom: 12px;
  }
}

.p-brandThird2-box1 {
  margin-top: 31px;
  font-size: 13px;
}

.p-brandThird2-box1 h2 {
  margin-bottom: 7px;
}

@media only screen and (max-width: 768px) {
  .p-brandThird2-box1 {
    margin-top: 15px;
  }
}

/*-----------------------------------
  book.html
-----------------------------------*/
.p-book1 {
  margin: 56px 0 69px;
}

@media only screen and (max-width: 768px) {
  .p-book1 {
    margin: 45px 0 60px;
  }
}

/*-----------------------------------
  youth.html
-----------------------------------*/
.p-youth1 {
  margin: 56px 0 65px;
}

@media only screen and (max-width: 768px) {
  .p-youth1 {
    margin: 45px 0 60px;
  }
}

@media only screen and (max-width: 768px) {
  .p-youth1-list1 .c-list2__card {
    width: 266px;
    margin: 0 auto 18px;
  }
}

/*-----------------------------------
  senior.html
-----------------------------------*/
.p-senior1 {
  margin: 56px 0 69px;
}

@media only screen and (max-width: 768px) {
  .p-senior1 {
    margin: 45px 0 60px;
  }
}

/*-----------------------------------
  senior.html
-----------------------------------*/
.p-woman1 {
  margin: 56px 0 69px;
}

@media only screen and (max-width: 768px) {
  .p-woman1 {
    margin: 45px 0 60px;
  }
}

/*-----------------------------------
  photogallery1.html.
  photogallery2.html.
  photogallery3.html.
-----------------------------------*/
.p-galleryFirst1 {
  margin: 56px 0 50px;
}

@media only screen and (max-width: 768px) {
  .p-galleryFirst1 {
    margin: 45px 0;
  }
}

.p-galleryFirst1-list1 .c-list2__card {
  margin-bottom: 52px;
}

@media only screen and (max-width: 768px) {
  .p-galleryFirst1-list1 .c-list2__card {
    margin-bottom: 18px;
  }
}

/*-----------------------------------
  recipe.html
-----------------------------------*/
.p-recipe1 {
  margin: 55px 0 73px;
}

@media only screen and (max-width: 768px) {
  .p-recipe1 {
    margin: 45px 0 40px;
  }
}

.p-recipe1-box1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 510px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-recipe1-box1 {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.p-recipe1-list1--mb1 {
  margin-bottom: 43px !important;
}

@media only screen and (max-width: 768px) {
  .p-recipe1-list1--mb1 {
    margin-bottom: 18px !important;
  }
}

.p-recipe1-list1 .c-list2__card {
  width: 360px;
  margin: 0 0 25px 32px;
}

.p-recipe1-list1 .c-list2__card:nth-of-type(3n+1) {
  margin-left: 0;
}

@media only screen and (max-width: 768px) {
  .p-recipe1-list1 .c-list2__card {
    width: 100%;
    margin: 0 0 16px 0;
  }
}

.p-recipe1--mt1 {
  margin-top: 39px;
}

.p-recipe1__mtitle1 {
  margin-bottom: 16px;
  text-align: left;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .p-recipe1__mtitle1 {
    font-size: 1.4rem;
    text-align: center;
  }
}

.p-recipe1__mtitle1 h2 {
  font-size: 2.0rem;
}

@media only screen and (max-width: 768px) {
  .p-recipe1__mtitle1 h2 {
    font-size: 1.8rem;
  }
}

.p-recipe1__mtitle1--mb1 {
  margin-bottom: 4px;
}

.p-recipe1__img1 img {
  width: 100%;
}

.p-recipe1__text1 {
  text-align: left;
}

.p-recipe1__text1 p {
  line-height: 1.7;
}

.p-recipe1__label1 {
  display: inline-block;
  padding: 3px 19px 2px;
  color: #ffffff;
  background: #e2750c;
}

.p-recipe1__label1--mtb1 {
  margin: 14px 0 8px;
}

.p-recipe2 {
  margin-bottom: 71px;
}

@media only screen and (max-width: 768px) {
  .p-recipe2 {
    margin-bottom: 60px;
  }
}
