@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1440px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.4rem;
	text-align: center;
  @include respond-to(768) {
		min-width: 100%;
		font-size: 1.2rem;
	}
}

/*----------------------------------------------
	Headline
----------------------------------------------*/
.l-wrap {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) { width: 100%; }
}

/*------------------------------------------------
  flex
------------------------------------------------*/
.l {
  //------------------------------
  &-flex { @extend %tb-flex; }
  //------------------------------
}

/*------------------------------------------------
@layout header
------------------------------------------------*/
.l-header_top {
	//-------------------------
	.c-logo {
		margin-bottom: 78px;
		@include respond-to(767) {
			margin-bottom: 59px;
		}
	}
	//-------------------------
	.c-text1 {
		margin-bottom: 80px;
		//-----------------------
		h1 {
			margin-bottom: 50px;
		}
		//-----------------------
	}
	//-------------------------
}

.l-header_sweets {
	//-------------------------
	.c-logo {
		margin-bottom: 80px;
		@include respond-to(767) {
			margin-bottom: 59px;
		}
	}
	//-------------------------
	.c-text1 {
		margin-bottom: 80px;
		//-----------------------
		h1 {
			margin-bottom: 50px;
		}
		//-----------------------
	}
	//-------------------------
}

/*------------------------------------------------
@layout for main title
------------------------------------------------*/
.l-main-title1 {
	margin-bottom: 41px;
	@include respond-to(767) { margin-bottom: 43px; }
}

/*------------------------------------------------
@layout component c-top3
------------------------------------------------*/
.l-top3 {
  //-----------------------------------
  .c-main-btn1 {
    width: 30%;
		margin-top: 35px;
		//---------------------------------
		@include respond-to(767) {
			box-sizing: border-box;
			width: 100%;
			margin-top: 26px;
		}
		//----------------------------------
  }
  //-----------------------------------
  .c-top3__title1 {
		margin-bottom: 20px;
  }
	//-----------------------------------
	.mid {
		margin: 0 42px;
		//---------------------------------
		@include respond-to(767) {
			margin: 0;
		}
		//---------------------------------
	}
	//-----------------------------------
	.c-top3__box1 {
		@include respond-to(767) {
			margin-bottom: 38px;
			&:last-child { margin-bottom: 0; }
		}
	}
	//-----------------------------------
}
