@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-

/*---------------------------------------------
  Component show following divice size.
---------------------------------------------*/
.c-pc {
  //-------------------------------------------
  @include respond-to(768) { display: none; }
  //-------------------------------------------
}

//show on smartphone---------------------------
.c-sp {
  display: none;
  //-----------------------------------
  @include respond-to(768) { display: block; }
  //---------------------------------------
  &--inline {
    display: none;
    //-----------------------------------
    @include respond-to(768) { display: inline-block; }
  }
  //---------------------------------------
}

/*-----------------------------------------
  menu Smartphone
-----------------------------------------*/
.c {
  //---------------------------------------
  &-menuSP {
    box-sizing: border-box;
    position: fixed;
    top: 20px;
    right: 28px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 9999;
    //-------------------------------------
    &__1, &__2, &__3 {
      width: 28px;
      height: 2px;
      background: $brown1;
      margin: 7px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //-------------------------------------
  }
  //---------------------------------------
  &-menulistSP {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 999;
    display: none;
    background: rgba(255, 255, 255, 0.84);
    //-------------------------------------
    ul { margin-top: 102px; }
    //-------------------------------------
    li {
      position: relative;
    }
    //-------------------------------------
    a {
      text-decoration: none;
      display: block;
      text-align: center;
      color: $brown1;
      font-size: 1.8rem;
      padding: 17px 15px;
    }
    //-------------------------------------
    .c-nav__child {
      display: flex;
      justify-content: space-between;
      width: 42%;
      margin: 24px auto 0;
      li {
        //---------------------------------
        img {
          width: 34px;
          height: 34px;
        }
        //---------------------------------
      }
      //-----------------------------------
      a { padding: 0; }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(3px, 2px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(11px, -10px);}
}

/*-----------------------------------------------
@Table
-----------------------------------------------*/
.c {
  &-table1 {
    //-------------------------------------------
    table {
      width:  100%;
      height:  auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse:  collapse;
      tr {
        width: 100%;
        vertical-align: text-top;
        border: 1px solid #d4d4d4;
        &>th {
          width: 209px;
          background: #f6f6f6;
          font-weight: normal;
          border-right: 1px solid #d4d4d4;
        }
        &>th,td { padding: 19px 20px 18px; }
      }
    }
    //------------------------------------------
  }
  //--------------------------------------------
}

/*---------------------------------------------
*Header for all pages
---------------------------------------------*/
.c-header {
  //-------------------------------------------
  &__inner {
    position: relative;
    display: block;
  }
  //-------------------------------------------
}

/*-------------------------------------------
@header for page Top
-------------------------------------------*/
.c-header__top {
  //-----------------------------------------
  .c-slider {
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
    //---------------------------------------
    @include respond-to(767) {
      height: auto;
      padding: 0;
    }
    //---------------------------------------
    img {
      width: 100%;
      height: 100%;
    }
  }
  //-------------------------------------------
  .c-content {
    position: absolute;
    display: block;
    width: 1000px;
    margin: 13% auto 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    //---------------------------------------
    @include respond-to(767) {
      width: 100%;
      margin: 36% auto 0;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-text1 {
    font-size: 1.4rem;
    color: #fff;
    //---------------------------------------
    h1 {
      font-size: 3.6rem;
      letter-spacing: 7px;
      font-family: Yu Mincho;
    }
    //---------------------------------------
    img.c-sp__img1 {
      @include respond-to(767) {
        width: 87%;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-logo {
    @include respond-to(767) {
      img { width: 110px; }
    }
  }
  //-------------------------------------------
}

/*-------------------------------------------
@header for page Sweets
-------------------------------------------*/
.c-header__sweets {
  //-----------------------------------------
  .c-header__inner {
    height: 518px;
    background: url(../img/sweets/header_sweets.jpg) no-repeat left top;
    background-size: cover;
    //-----------------------------------------
    @include respond-to(767) {
      height: 314px;
      background: url(../img/sweets/header_sweets2.jpg) no-repeat left top;
      background-size: cover;
    }
    //-----------------------------------------
  }
  //-------------------------------------------
  .c-content {
    position: absolute;
    display: block;
    width: 1000px;
    margin: 120px auto 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    //---------------------------------------
    @include respond-to(767) {
      width: 100%;
      margin: 86px auto 0;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-logo {
    @include respond-to(767) {
      img { width: 110px; }
    }
  }
  //-------------------------------------------
}

/*-------------------------------------------
@navigation
-------------------------------------------*/
.c-main-nav {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  width: 66%;
  margin: 0 auto;
  //------------------------------------------
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  //------------------------------------------
  a {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    transition: opacity ease-in-out 0.5s;
    //-----------------------------------------
    &:hover { opacity: 0.6; }
    //-----------------------------------------
    &:not(last-child) {
      margin-left: 10px;
    }
    //-----------------------------------------
    img {
      width: 36px;
      height: 36px;
    }
    //-----------------------------------------
  }
  //-------------------------------------------
  .c-nav__child {
    position: relative;
    left: 12px;
  }
  //-------------------------------------------
}

/*-------------------------------------------
@class for lists
-------------------------------------------*/
.c-list1 { display: flex; }

/*-------------------------------------------
@button class for all
-------------------------------------------*/
.c-btn1 {
  a {
    display: block;
    text-decoration: none;
  }
}

//--------------------------------------------
.c-main-btn1 {
  display: inline-block;
  width: 220px;
  text-align: center;
  //-----------------------------------------
  @include respond-to(767) { width: 100%; }
  //-----------------------------------------
  a {
    color: #fff;
    background: $brown1;
    padding: 4px 0;
    font-size: 1.6rem;
    border: 2px solid $brown1;
    transition: all ease 0.3s;
    //---------------------------------------
    @include respond-to(767) {
      padding: 7px 0;
      font-size: 1.5rem;
    }
    //---------------------------------------
    &:hover {
      color: $brown1;
      background: none;
    }
  }
  //-----------------------------------------
}

/*--------------------------------------------
@main title use for all page
--------------------------------------------*/
.c-main-title1 {
  //----------------------------------
  h2 {
    font-family: Yu Mincho;
    font-size: 3.6rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 17px;
    color: #642200;
    //--------------------------------
    @include respond-to(767) {
      font-size: 2.0rem;
      margin-bottom: 15px;
    }
    //--------------------------------
  }
  //----------------------------------
  h3 { 
    font-family: Myriad Pro;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #642200; 
  }
  //----------------------------------
}

/*-------------------------------------------
@copyright
-------------------------------------------*/
.c-copyright {
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
}

/*-------------------------------------------
@footer
-------------------------------------------*/
.c-footer {
  display: block;
  position: relative;
  padding: 70px 0 90px;
  background: url(../img/footer_about.jpg) no-repeat top left;
  background-size: cover;
  //-----------------------------------------
  @include respond-to(767) {
    padding: 50px 0 60px;
  }
  //-----------------------------------------
  &__inner { position: relative; }
  //-----------------------------------------
  .c-logo {
    //---------------------------------------
    img {
      width: 69px;
      height: 83px;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-contact {
    width: 50%;
    margin: 30px auto;
    font-size: 13px;
    color:  #fff;
    padding: 30px 0;
    line-height: 2.5;
    position: relative;
    //----------------------------------------
    @include respond-to(767) {
      width: 90%;
      padding: 25px 0;
    }
    //----------------------------------------
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      width: 50%;
      margin: 0 auto;
      height: 1px;
      background: #fff;
    }
    //----------------------------------------
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      width: 50%;
      margin: 0 auto;
      height: 1px;
      background: #fff;
    }
  }
  //----------------------------------------
  .c-links1 {
    //--------------------------------------
    margin-bottom: 33px;
    //--------------------------------------
    ul {
      display: flex;
      justify-content: center;
    }
    //---------------------------------------
    a {
      //-------------------------------------
      img {
        width: 36px;
        height: 36px;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .mid { margin: 0 10px; }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*-------------------------------------------
@component top1
-------------------------------------------*/
.c-top1 {
  display: flex;
  justify-content: space-between;
  //-----------------------------------------
  @include respond-to(767) {
    display: block;
  }
  //-----------------------------------------
  .c-box1 {
    width: 50%;
    height: 424px;
    display: block;
    position: relative;
    //---------------------------------------
    @include respond-to(767) {
      width: 100%;
      height: 281px;
    }
    //---------------------------------------
    &--bg1 {
      background: url(../img/bg_bake1.jpg) no-repeat center center;
      background-size: cover;
      //-------------------------------------
      @include respond-to(767) {
        background: url(../img/sp-bg_bake1.jpg) no-repeat center center;
        background-size: cover;
      }
      //-------------------------------------
    }
    //---------------------------------------
    &--bg2 {
      background: url(../img/bg_bake2.jpg) no-repeat center center;
      background-size: cover;
      //-------------------------------------
      @include respond-to(767) {
        background: url(../img/sp-bg_bake2.jpg) no-repeat center center;
        background: cover;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-content1 {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 520px;
    margin: 0 auto;
    padding: 35px 70px;
    text-align: left;
    color: #642200;
    transform: translate(0, 38%);
    background: rgba(249, 248, 247, 0.8);
    //---------------------------------------
    @include respond-to(767) {
      width: 90%;
      max-width: 275px;
      padding: 30px 20px;
      text-align: center;
      transform: translate(0, 17%);
    }
    //---------------------------------------
    h2 {
      margin: 20px 0 25px;
      font-size: 3.6rem;
      font-family: Yu Mincho;
      @include respond-to(767) {
        font-size: 2.0rem;
        line-height: 1.6;
        margin: 24px 0;
      }
    }
    //---------------------------------------
    h3 {
      @include respond-to(767) {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
    //---------------------------------------
    .img1 {
      position: absolute;
      top: -18px;
      right: 36px;
      //-------------------------------------
      @include respond-to(767) {
        display: none;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

/*-------------------------------------------
@component top3
-------------------------------------------*/
.c-top3 {
  //----------------------------------
  @include respond-to(767) {
    padding: 0 20px;
  }
  //----------------------------------
  &__flex {
    @extend %tb-flex;
    justify-content: space-between;
    @include respond-to(767) {
      display: block;
    }
  }
  //-----------------------------------
  &__title1 {
    //---------------------------------
    h3 {
      display: inline-block;
      padding-bottom: 4px;
      font-weight: 500;
      color: #642200;
      border-bottom: 1px solid;
    }
    //---------------------------------
  }
  //-----------------------------------
  &__list1 {
    //---------------------------------
    .c-top3__card1 {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      //align-items: stretch;
      margin-bottom: 20px;
      background:  #fff;
      //-------------------------------
      @include respond-to(767) {
        margin-bottom: 14px;
      }
      //-------------------------------
    }
    //---------------------------------
    .c-top3__img1 {
      @include respond-to(767) {
        width: 80px;
        text-align: left;
        //-----------------------------
        img {
          width: 100%;
          height: 100%;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    .c-top3__info {
      padding: 7px 15px 6px;
      text-align: left;
      //-------------------------------
      @include respond-to(767) {
        width: 62%;
        padding: 15px 14px;
      }
      //-------------------------------
    }
    //---------------------------------
    .date {
      color: #642200;
      margin-bottom: 10px;
    }
    //---------------------------------
  }
  //-----------------------------------
  &__box1 {
    position: relative;
    width: 30%;
    //---------------------------------
    @include respond-to(767) {
      box-sizing: border-box;
      width: 100%;
    }
    //---------------------------------
  }
  //-----------------------------------
}
