@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function

/*--------------------------------------------------
  Private element
--------------------------------------------------*/

/*-------------------------------------------
@private component page Index
-------------------------------------------*/
//p-top2-------------------------------------
.p-top2 {
  position: relative;
  padding: 90px 0;
  background: #fff3e1;
  //-----------------------------------------
  @include respond-to(767) {
    padding: 60px 0;
  }
  //-----------------------------------------
  &__special1 {
    position: relative;
    color: $brown1;
    text-align: left;
    writing-mode: vertical-rl;
    //---------------------------------------
    @include respond-to(767) {
      writing-mode: horizontal-tb;
      text-align: center;
      margin-bottom: 44px;
    }
    //---------------------------------------
    h2 {
      font-family: Yu Mincho;
      font-size: 3.6rem;
      font-weight: 400;
      letter-spacing: 10px;
      //-------------------------------------
      @include respond-to(767) {
        font-size: 2.0rem;
        letter-spacing: 5px;
        font-weight: bold;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .p-point {
      font-size: 1.4rem;
      margin-left: 12px;
      //-------------------------------------
      @include respond-to(767) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -26px;
        margin-left: auto;
        font-size: 11px;
        font-weight: bold;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-box1 {
    @extend %tb-flex;
    justify-content: space-between;
    //---------------------------------------
    @include respond-to(767) {
      display: block;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .c-content1 {
    display: block;
    position: relative;
    width: 86%;
    padding-top: 20px;
    text-align: left;
    //---------------------------------------
    @include respond-to(767) {
      box-sizing: border-box;
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
    }
    //---------------------------------------
    .c-text1 {
      margin-bottom: 20px;
      line-height: 2.1;
      color: $gray1;
    }
    //---------------------------------------
  }
  //-----------------------------------------

  //-----------------------------------------
}

//p-top3-------------------------------------
.p-top3 {
  position: relative;
  display: block;
  padding: 90px 0;
  background: #ff9c46;
  //-----------------------------------------
  @include respond-to(767) {
    padding: 60px 0;
  }
  //-----------------------------------------
}

/*-------------------------------------------
@private component page sweets
-------------------------------------------*/
//p-sweets1----------------------------------
.p-sweets1 {
  position: relative;
  padding: 84px 0 86px;
  //-----------------------------------------
  @include respond-to(767) {
    padding: 60px 20px 60px;
  }
  //-----------------------------------------
  .c-box1 {
    &>.l-flex {
      @include respond-to(767) {
        display: block;
      }
    }
    //---------------------------------------
    .c-img1 {
      //-------------------------------------
      @include respond-to(767) {
        img { width: 150px;}
      }
      //-------------------------------------
    }
    //---------------------------------------
    &--reverse {
      //-------------------------------------
      .l-flex {
        flex-direction: row-reverse;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .c-content1 {
      text-align: left;
      line-height: 2.2;
      //-------------------------------------
      @include respond-to(767) {
        line-height: 1.8;
      }
      //-------------------------------------
      h3 {
        font-size: 1.6rem;
        font-weight: bold;
        color: #642200;
        margin-bottom: 15px;
        line-height: 1.7;
        //-----------------------------------
        @include respond-to(767) {
          margin: 28px 0 20px;
          font-size: 1.5rem;
        }
        //-----------------------------------
      }
      //-------------------------------------
      &--pl1 {
        padding-left: 50px;
        @include respond-to(767) {
          padding: 0;
        }
      }
      //-------------------------------------
      &--pr1 {
        padding-right: 50px;
        @include respond-to(767) {
          padding: 0;
        }
      }
      //-------------------------------------
    }
    //---------------------------------------
    .c-main-btn1 {
      margin-top: 40px;
      //-------------------------------------
      @include respond-to(767) {
        margin-top: 29px;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .p-line {
    margin: 68px 0 67px;
    border: 0.7px solid #ccc;
    //---------------------------------------
    @include respond-to(767) { margin: 27px 0; }
    //---------------------------------------
  }
  //-----------------------------------------
}

//p-sweets2----------------------------------
.p-sweets2 {
  position: relative;
  padding: 87px 0 90px;
  background: #fafafa;
  //-----------------------------------------
  @include respond-to(767) {
    padding: 60px 20px 60px;
  }
  //-----------------------------------------
  .c-box1 {
    //---------------------------------------
    .c-img1 {
      img {
        width: 100%;
        height: 500px;
        //-----------------------------------------
        @include respond-to(767) {
          height: auto;
        }
        //-----------------------------------------
      }
    }
    //---------------------------------------
    h2 {
      margin-bottom: 9px;
      padding-bottom: 17px;
      font-size: 1.6rem;
      font-weight: bold;
      color: $brown1;
      border-bottom: 1px dotted $brown1;
      //-----------------------------------------
      @include respond-to(767) {
        margin-bottom: 14px;
        padding-bottom: 14px;
        font-size: 1.5rem;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .c-content1 {
      padding: 48px 80px 0;
      text-align: left;
      line-height: 2.0;
      //-------------------------------------
      @include respond-to(767) {
        padding: 28px 0 0;
        line-height: 1.8;
      }
      //-------------------------------------
      p:not(:last-child) {
        margin-bottom: 25px;
        //-----------------------------------
        @include respond-to(767) {
          margin-bottom: 0;
        }
      //-------------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

//p-sweets3----------------------------------
.p-sweets3 {
  padding: 90px 0;
  //-------------------------------------
  @include respond-to(767) {
    padding: 60px 20px 60px;
  }
  //-----------------------------------------
  .c-box1 {
    //---------------------------------------
    .c-list1__card1 {
      box-sizing: border-box;
      width: 32%;
      padding: 36px 16px;
      text-align: left;
      border: 1px solid #ccc;
      //-------------------------------------
      @include respond-to(767) {
        width: auto;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      //-------------------------------------
    }
    //---------------------------------------
    .c-list1 {
      justify-content: space-between;
      //-------------------------------------
      @include respond-to(767) {
        display: block;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .c-voice1 {
      text-align: center;
      //-------------------------------------
      img {
        width: 52px;
        height: 66px;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .c-info1 {
      line-height: 2.1;
      font-size: 1.4rem;
      //-------------------------------------
      h3 {
        margin: 30px 0 20px;
        padding-bottom: 20px;
        font-size: 1.6rem;
        font-weight: 500;
        color: #642200;
        border-bottom: 2px dotted #ccc;
      }
      //-------------------------------------
    }
    //---------------------------------------
    .c-main-btn1 {
      margin-top: 48px;
      //-------------------------------------
      @include respond-to(767) { margin-top: 25px; }
      //-------------------------------------
      a {
        padding: 6px 0;
        @include respond-to(767) { padding: 5px 0; }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}
