/*
Theme Name: training task_5
Theme URI: http://wordpress.org/;
Author: tho dang hoang
Author URI: http://wordpress.org/
Description: Create wordpress template using html files
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: dangtho
*/

#container-async .btn__tab1 .active {
  color: #fff;
  background: #00aa9d;
  border-color: #00aa9d;
}

.c-list1__card1 .card1__box2 h3 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

.c-list1__card1 .card1__box2 h4 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

.c-list1__card1 .card1__box2 h5 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

.c-list1__card1 .card1__box2 h6 {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

@media only screen and (max-width: 767px) {
  .c-list1__card1 .card1__box2 h3,
  .c-list1__card1 .card1__box2 h4,
  .c-list1__card1 .card1__box2 h5,
  .c-list1__card1 .card1__box2 h6 {
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.3;
  }
}
