@charset "UTF-8";
.c-f:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-text1 {
  font-size: 1.0rem;
}

.u-text1--gray {
  color: #666666;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 1280px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
    font-size: 1.3rem;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l--hidden {
  overflow: hidden;
}

.l-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flexbox--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .l-flexbox--spblock {
    display: block;
  }
}

.l-flexbox--acenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flexbox--flexstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-grid1 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-grid1 .c-top1-boximg1 {
    margin-bottom: 60px;
  }
  .l-grid1 .c-top1-boximg1:nth-of-type(4), .l-grid1 .c-top1-boximg1:nth-of-type(5), .l-grid1 .c-top1-boximg1:nth-of-type(6) {
    margin-bottom: 0;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 768px), only screen and (-ms-high-contrast: none) and (max-width: 768px) {
  .l-grid1 .c-top1-boximg1:nth-of-type(4), .l-grid1 .c-top1-boximg1:nth-of-type(5), .l-grid1 .c-top1-boximg1:nth-of-type(6) {
    margin-bottom: 10px;
  }
}

.l-grid2 {
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  grid-column-gap: 20px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-grid2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1281px) {
  .l-grid2 {
    grid-template-columns: 444px 444px 444px 443px;
    grid-column-gap: 22px;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.c-wrap {
  display: block;
  width: 961px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-wrap {
    width: 100%;
  }
}

.c-wrap--big1 {
  width: 1201px;
}

@media only screen and (min-width: 1281px) {
  .c-wrap--big1 {
    width: 1842px;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c-bodybigsize {
  min-width: 1920px;
}

@media only screen and (max-width: 1280px) {
  .c-bodybigsize {
    min-width: 1280px;
  }
}

.c-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-menuSP {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e8e8e8;
  top: 11px;
  right: 14px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 4px;
  background: #ffffff;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 15px;
  height: 2px;
  background: #0176a9;
  margin: 5px auto auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-left: 18px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  display: none;
  background: rgba(17, 26, 35, 0.79);
}

.c-menulistSP .c-bgmenuSP {
  height: 100%;
  background: white;
}

.c-menulistSP ul {
  background: white;
}

.c-menulistSP h2 {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #7998ce;
}

.c-menulistSP h2 img {
  width: 211px;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #000000;
  font-size: 1.4rem;
  padding: 19px 56px;
}

.c-menulistSP__img1 {
  width: 26px;
  vertical-align: middle;
  margin-right: 10px;
}

.c-menulistSP-arrow1 {
  position: absolute;
  right: 24px;
}

.c-menulistSP-arrow1 img {
  width: 20px;
}

.c-menulistSP li {
  position: relative;
}

.c-menulistSP li i {
  position: absolute;
  position: absolute;
  top: 17px;
  left: 20px;
}

.c-menulistSP-arrow2 {
  position: absolute;
  right: 31px;
}

.c-menulistSP-arrow2 img {
  vertical-align: middle;
}

.c-menulistSP--text1 a {
  font-size: 1.5rem;
  color: #003567;
}

/*---------------------------
  other
---------------------------*/
.c-body--bg1 {
  background: url(../img/body-bg.jpg) repeat;
}

.c-listlink h2 {
  margin-bottom: 16px;
}

.c-listlink li {
  margin-bottom: 5px;
}

.c-listlink a {
  color: #000000;
  text-decoration: none;
}

.c-listlink li:before {
  content: url(../img/i-arrow1.png);
  margin-right: 5px;
  margin-left: 4px;
}

.c-listlink--mb1 {
  margin-bottom: 38px;
}

.c-btn1 {
  display: inline-block;
}

.c-btn1 a {
  display: block;
}

.c-btn1--color1 a {
  color: white;
}

.c-btn1-type1 {
  height: 24px;
  border-radius: 5px;
}

.c-btn1-type1 a {
  padding: 3px 19px 3px;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}

.c-btn1--bg1 {
  background: #32b16c;
}

.c-btn1--bg2 {
  background: #7e6b5a;
}

.c-btn1--bg3 {
  background: #8957a1;
}

.c-btn1--bg4 {
  background: #0075a9;
}

.c-btn1--bg5 {
  background: #f39800;
}

.c-clock img {
  vertical-align: inherit;
  margin-right: 8px;
}

.c-imgbox1 {
  position: relative;
}

.c-imgbox1__info {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 21px 30px 18px;
  color: white;
  background: rgba(26, 30, 31, 0.59);
  border-radius: 0px 0px 5px 5px;
}

.c-imgbox1__info h3 {
  font-size: 1.6rem;
}

@media only screen and (min-width: 1281px) {
  .c-imgbox1__info h3 {
    line-height: 1.6;
  }
}

.c-imgbox1__info .c-btn1-type1 {
  margin-right: 5px;
}

.c-imgbox1__info:before {
  content: url(../img/i-scrossline1.png);
  position: absolute;
  top: -16px;
  left: 47%;
}

.c-imgbox1__smtext1 {
  font-size: 1.2rem;
}

/*---------------------------
  header component
---------------------------*/
.c-h {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1280px;
  height: 559px;
  margin: 0 auto;
  padding: 34px 40px;
  background: url(../img/h-bg1.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .c-h {
    width: 100%;
    height: 420px;
    padding: 21px 20px;
    background: url(../img/sp-hbg.png) no-repeat top center;
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 1281px) {
  .c-h {
    width: auto;
    height: 658px;
    background: url(../img/h-bigbg.jpg) no-repeat top center;
    background-size: cover;
  }
}

.c-h-telimg1 {
  margin-top: 10px;
}

.c-h-mtit2 {
  position: absolute;
  left: 0;
  top: 180px;
}

@media only screen and (max-width: 768px) {
  .c-h-mtit2 {
    top: 62px;
  }
  .c-h-mtit2 img {
    width: 300px;
  }
}

.c-h__mimg1 {
  margin-top: -5px;
}

@media only screen and (max-width: 768px) {
  .c-h__mimg1 img {
    width: 157px;
  }
}

.c-h--ml1 {
  margin-left: 21px;
}

/*---------------------------
  header component
---------------------------*/
/*------------------------------
 *l
------------------------------*/
.c-h1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1280px;
  height: 640px;
  margin: 0 auto;
  padding: 34px 40px;
  background: url(../img/transport/h-bg1.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1281px) {
  .c-h1 {
    width: auto;
    height: 960px;
    background: url(../img/transport/h-bigbg1.jpg) no-repeat top center;
    background-size: 100% 100%;
  }
}

.c-h1 .c-trans1__label1 {
  margin-top: 2px;
}

.c-menuPC-type2 {
  margin-top: 426px;
  border: none !important;
}

@media only screen and (min-width: 1281px) {
  .c-menuPC-type2 {
    margin-top: 743px;
  }
}

.c-menuPC-type2 ul {
  border-left: none !important;
}

.c-menuPC-type2 li {
  padding: 26px 0 22px !important;
  border-right: none !important;
}

.c-menuPC-type2 a p {
  margin-top: 10px !important;
}

/*-----------------------------
  main title component
-----------------------------*/
.c-mtext1 {
  font-size: 1.0rem;
  padding: 3px 9px 3px;
  font-weight: bold;
  border-radius: 4px;
}

.c-mtext1__type1 {
  width: 90px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffcc00;
}

.c-mtext1__type2 {
  width: 140px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #0075a9;
  color: white;
}

/*-----------------------------
  menupc
-----------------------------*/
.c-menuPC {
  margin-bottom: 79px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #0075a9;
}

.c-menuPC--bg1 {
  background: #ffffff;
}

.c-menuPC ul {
  border-left: 1px solid #e8e8e8;
}

.c-menuPC li {
  width: 161px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 0 18px;
  border-right: 1px solid #e8e8e8;
}

.c-menuPC a {
  display: block;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}

.c-menuPC a p {
  margin-top: 15px;
}

/*-----------------------------
  top component(index.html)
-----------------------------*/
.c-top1__info1 {
  position: relative;
  height: 124px;
  padding: 30px 0;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(64, 152, 191, 0.94);
  border-radius: 0px 0px 6px 6px;
}

.c-top1__info1 h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.c-top1__info1:before {
  content: url(../img/i-scrossline1.png);
  position: absolute;
  top: -16px;
  left: 140px;
}

.c-top1__info2 {
  padding: 18px 0;
}

.c-top1__info2 h3 {
  margin-bottom: 12px;
  color: #0068b7;
  font-size: 1.6rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .c-top1__img1 img {
    width: 280px;
  }
}

.c-top2-info1 {
  text-align: left;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .c-top2-info1 {
    font-size: 1.3rem;
  }
}

.c-top2-info1 h4 {
  margin-bottom: 10px;
  color: #0068b7;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .c-top2-info1 h4 {
    font-size: 1.1rem;
  }
}

.c-top2-info1 h4 span {
  color: #7f7f7f;
}

.c-top2--mb1 {
  margin-bottom: 33px;
}

.c-top2--mb2 {
  margin-bottom: 30px;
}

.c-top2__img1 {
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .c-top2__img1 {
    margin-right: 11px;
  }
  .c-top2__img1 img {
    width: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .c-top2__bgSP {
    background: white;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
  }
}

.c-top2-arrowSP1 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .c-top2-arrowSP1 {
    display: block;
    position: absolute;
    right: 7%;
    top: 47%;
  }
}

/*------------------------------
 Transport component
------------------------------*/
.c-trans1__mtit1 {
  font-size: 2.4rem;
  text-align: left;
}

.c-trans1__mtit1:before {
  content: url(../img/i-scrossline2.png);
  margin-right: 16px;
  position: relative;
  top: 10px;
}

.c-trans1__label1 {
  display: block;
  width: 100%;
  height: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px 0;
  font-size: 1.0rem;
  text-align: center;
  color: #ffffff;
  background: #0075a9;
  border-radius: 2px;
}

.c-trans2--mtb1 {
  margin: 16px 0 11px;
}

.c-trans2--mt1 {
  margin-top: 5px;
}

.c-trans2--lineheight1 {
  line-height: 1.7;
}

/*-----------------------------
  footer component
-----------------------------*/
.c-f {
  position: relative;
  background: #003567;
  padding-top: 60px;
}

@media only screen and (max-width: 768px) {
  .c-f {
    padding-top: 30px;
  }
  .c-f-arrow1 {
    width: 20px !important;
    position: absolute;
    top: 2px;
    right: 0;
  }
}

.c-f--color1 {
  color: #ffffff;
}

.c-f__linkSP1 {
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  .c-f__linelink {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
  }
  .c-f__linelink::before {
    content: '';
    width: 52px;
    height: 1px;
    background: #fff;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .c-f__logo1 {
    padding: 30px 0 30px;
    border-top: 1px solid #26537e;
  }
  .c-f__logo1 img {
    width: 160px;
  }
}

.c-f__contact1 .c-btn1 {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .c-f__contact1 .c-btn1 {
    width: 280px;
    margin: 0 auto;
  }
  .c-f__contact1 .c-btn1 img {
    width: 280px;
  }
}

.c-f__text1 {
  position: relative;
  width: 319px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .c-f__text1 {
    width: 280px;
    margin: 0 auto 23px !important;
  }
  .c-f__text1:last-child {
    margin-bottom: 0 !important;
  }
}

.c-f__text1 h2 {
  margin-bottom: 11px;
}

@media only screen and (max-width: 768px) {
  .c-f__text1 h2 {
    text-align: center;
    padding: 10px 0;
    border: 1px solid;
    border-radius: 5px;
  }
}

.c-f__text1 p {
  color: #95a6ba;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .c-f__text1 p {
    font-size: 1.1rem;
  }
}

.c-f__line1:after {
  content: '';
  width: 1px;
  height: 69px;
  background: #325d85;
  position: absolute;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
  right: -28px;
  top: -4px;
}

@media only screen and (max-width: 768px) {
  .c-f__line1:after {
    width: 0;
    height: 0;
    display: none;
  }
}

.c-f__logo2 {
  position: relative;
  top: -4px;
}

@media only screen and (max-width: 768px) {
  .c-f__logo2 {
    top: 26px;
  }
  .c-f__logo2 img {
    width: 60px;
  }
}

.c-f--mt1 {
  margin-top: 44px;
}

@media only screen and (max-width: 768px) {
  .c-f--mt1 {
    margin-top: 30px;
  }
}

.c-f--ml1 {
  margin-left: 72px;
}

@media only screen and (max-width: 768px) {
  .c-f--ml1 {
    margin-left: 0;
  }
}

.c-f__img2 {
  margin-top: 3px;
}

@media only screen and (max-width: 768px) {
  .c-f__img2 {
    width: 280px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 21px 20px;
    margin: 0 auto 10px;
    border: 2px solid white;
    border-radius: 5px;
  }
}

.c-f__img2 .c-h-telimg1 {
  position: relative;
  margin-top: 7px;
}

@media only screen and (max-width: 768px) {
  .c-f__img2 .c-h-telimg1 {
    text-align: left;
  }
  .c-f__img2 .c-h-telimg1 img {
    width: 208px;
  }
}

.c-copyright {
  margin-top: 56px;
  padding: 30px 0;
  font-size: 1.2rem;
  color: #9eaec0;
  border-top: 1px solid #26537e;
}

@media only screen and (max-width: 768px) {
  .c-copyright {
    padding: 20px 0;
    font-size: 1.0rem;
  }
}

.c-btntop {
  position: fixed;
  bottom: 27px;
  right: 20px;
}

@media only screen and (max-width: 768px) {
  .c-btntop {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  .c-btntop img {
    width: 40px;
  }
}

/*-----------------------------
  Table
------------------------------*/
.c-table1 table {
  width: 100%;
  height: auto;
  border-spacing: 0;
  border-bottom: 1px solid #d4d4d4;
  border-collapse: collapse;
}

.c-table1 table tr {
  width: 100%;
  vertical-align: text-top;
  border: 1px solid #d4d4d4;
}

.c-table1 table tr > th {
  width: 209px;
  background: #f6f6f6;
  font-weight: normal;
  border-right: 1px solid #d4d4d4;
}

.c-table1 table tr > th, .c-table1 table tr td {
  padding: 19px 20px 18px;
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}
