/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*--------------------------------------------------
  index.html
--------------------------------------------------*/
.p-top1 {
  margin-bottom: 55px;
}

@media only screen and (max-width: 768px) {
  .p-top1 {
    width: 280px;
    margin: 30px auto 30px;
  }
  .p-top1 .l-grid1 {
    display: block;
  }
  .p-top1 .c-top1-boximg1 {
    margin-bottom: 10px;
  }
  .p-top1 .c-top1-boximg1:last-child {
    margin-bottom: 0;
  }
  .p-top1--mtSP1 {
    margin-top: 30px;
  }
}

.p-top2 {
  margin-bottom: 77px;
}

@media only screen and (max-width: 768px) {
  .p-top2 {
    width: 280px;
    margin: 0 auto 30px;
  }
  .p-top2--mtSP1 {
    margin-top: 30px;
  }
  .p-top2 .c-top2--mb2 {
    margin-bottom: 0;
  }
}

.p-top2--ml1 {
  margin-left: 107px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .p-top2--ml1 {
    width: 730px;
  }
}

@media only screen and (-ms-high-contrast: active) and (max-width: 768px), only screen and (-ms-high-contrast: none) and (max-width: 768px) {
  .p-top2--ml1 {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .p-top2--ml1 {
    margin-left: 0;
  }
}

.p-top2--mb1 {
  margin-bottom: 36px;
}

@media only screen and (max-width: 768px) {
  .p-top2--mb1 {
    margin-bottom: 21px;
  }
}

.p-top2-btn1 {
  margin-top: 39px;
  margin-left: 27px;
}

@media only screen and (max-width: 768px) {
  .p-top2-btn1 {
    position: relative;
    display: block;
    padding: 20px 21px;
    margin-top: 0;
    margin-left: 0;
    text-align: left;
  }
  .p-top2-btn1 a {
    text-decoration: none;
    color: #333333;
  }
}

.p-top2-btn2 {
  margin-top: 37px;
  margin-left: -3px;
}

@media only screen and (max-width: 768px) {
  .p-top2-btn2 {
    position: relative;
    display: block;
    padding: 20px 21px;
    margin-top: 0;
    margin-left: 0;
    text-align: left;
  }
  .p-top2-btn2 a {
    text-decoration: none;
    color: #333333;
  }
}

.p-top2__mtit1 {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-top2__mtit1 {
    text-align: center;
  }
  .p-top2__mtit1 img {
    width: 198px;
  }
}

.p-top2__mtit1:before {
  content: url(../img/i-scrossline2.png);
  margin-right: 15px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-top2__mtit1:before {
    display: block;
    margin-right: 0;
    left: 0;
    zoom: 58%;
    -moz-transform: scale(0.58, 0.58);
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .p-top2__mtit1:before {
    margin-left: 31%;
  }
}

.p-top2__mtit2 {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .p-top2__mtit2 {
    text-align: center;
  }
  .p-top2__mtit2 img {
    width: 140px;
  }
}

.p-top2__mtit2:before {
  content: url(../img/i-scrossline2.png);
  margin-right: 14px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-top2__mtit2:before {
    display: block;
    left: 0;
    zoom: 58%;
    -moz-transform: scale(0.58, 0.58);
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .p-top2__mtit2:before {
    margin-left: 31%;
  }
}

.p-top2-link1 {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .p-top2-link1 {
    padding: 20px 41px 20px 21px;
    border-bottom: 1px solid #d6d6d6;
  }
  .p-top2-link1 .c-top2--mb1 {
    margin-bottom: 0;
  }
}

.p-top2--size1 {
  width: 568px;
}

@media only screen and (max-width: 768px) {
  .p-top2--size1 {
    width: auto;
  }
}

.p-top3 {
  text-align: left;
  padding: 58px 0 54px;
  border-top: 1px solid #0075a9;
  border-bottom: 1px solid #e8e8e8;
  background: #f8f8f8;
}

.p-top3 h2 {
  font-size: 1.5rem;
  color: #003567;
}

.p-top3--mb1 {
  margin-bottom: 36px;
}

.p-top3 .c-abstractionbox {
  margin-left: 62px;
}

.p-top3 .c-abstractionbox:first-child {
  margin-left: 0;
}

.p-top3--poleft1 {
  position: relative;
  left: 28px;
}

.p-top4 {
  padding: 40px 0 36px;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .p-top4 {
    padding: 30px 0;
    border-top: 2px solid #0075a9;
  }
  .p-top4 .c-linkimg {
    width: 280px;
    margin: 0 auto;
  }
  .p-top4 .c-linkimg .l-flexbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .p-top4 .c-linkimg li:nth-child(2n) {
    margin-bottom: 10px;
  }
  .p-top4 .c-linkimg li img {
    width: 135px;
  }
}

/*--------------------------------------------------
  transport.html
--------------------------------------------------*/
.p-trans1 {
  margin-top: 22px;
}

.p-trans1-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.p-trans1--mb1 {
  margin-bottom: 20px;
}

.p-trans1 .c-trans1__mtit1 {
  margin-bottom: 34px;
}

.p-trans1__posline1 .c-imgbox1__info:before {
  left: 49%;
}

@media only screen and (max-width: 1280px) {
  .p-trans1__img1bigpc {
    width: 590px;
    height: 286px;
  }
}

.p-trans1__img2bigpc {
  height: 445px;
}

@media only screen and (max-width: 1280px) {
  .p-trans1__img2bigpc {
    width: 285px;
    height: 286px;
  }
}

@media only screen and (max-width: 1280px) {
  .p-trans1__img3bigpc {
    width: 285px;
  }
}

.p-trans2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-trans2--mb1 {
  margin-bottom: 35px;
}

.p-trans2-btn1 {
  position: relative;
  top: 5px;
}

.p-trans2-btn2 {
  position: relative;
  top: 10px;
}

.p-trans3 {
  margin-bottom: 77px;
}

.p-trans4 {
  background: url(../img/transport/bg.jpg);
  padding: 41px 0 36px;
}

.p-trans4__boxphone {
  width: 232px;
  margin-left: 20px;
  text-align: right;
}

.p-trans4__boxphone .c-btn1 {
  margin-bottom: 4px;
}

.p-trans4__title1 h2 {
  font-size: 2.0rem;
}

.p-trans5--mt1 {
  margin-top: 20px;
}

.p-trans5--mb1 {
  margin-bottom: 22px;
}
