@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1422px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
  font-size: 1.3rem;
	text-align: center;
	background: url(../img/bg-layout.jpg) repeat;
  @include respond-to(767) {
		min-width: 100%;
		font-size: 1.2rem;
	}
}

/*--------------------------------------
  layout container
--------------------------------------*/
.l-container { @include wrap; }

/*--------------------------------------
  layout wrap
--------------------------------------*/
.l-wrap { @include wrap; }

/*---------------------------------------
  layout header
---------------------------------------*/
.l-header {
	//-------------------------------------
	.l-box1__child1 {
		//-----------------------------------
		.basket {
			margin-right: 50px;
			//---------------------------------
			@include respond-to(767) { margin-right: 0 }
			//---------------------------------
		}
		//-----------------------------------
		.select1:not(:last-child) { margin-right: 12px; }
		//-----------------------------------
	}
	//-------------------------------------
	.l-box2__child1 {
		//-----------------------------------
		.c-link1 {margin-bottom: 20px;}
		//-----------------------------------
	}
	//-------------------------------------
	//-------------------------------------
	.box2 { margin-top: 20px; }
	//-------------------------------------
	.c-navigation { margin-top: 71px; }
	//-------------------------------------
}

/*
*Layout main title
*/
.l-maintitle1 {
	margin-bottom: 35px;
	//-------------------------------------
	@include respond-to(767) { margin-bottom: 13px; }
	//-------------------------------------
}

/*
*Layout main contact
*/
.l-contact {
	//--------------------------------------
	.social-app {
		margin-left: 199px;
		//------------------------------------
		@include respond-to(767) {
			margin-left: 0;
			margin-top: 10px;
			text-align: left;
		}
		//------------------------------------
	}
	//--------------------------------------
}

@keyframes showNavmenu {
  from {opacity: 0;}
  to {opacity: 1;}
}
