@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-top1 {
  position: relative;
  display: block;
  padding: 30px 0 22px;
  //---------------------------------------
  @include respond-to(767) {
    padding: 20px 20px 30px;
  }
  //---------------------------------------
  .title1 {
    position: relative;
    padding-bottom: 30px;
    @include respond-to(767) {
      padding-bottom: 15px;
    }
    //-------------------------------------
    p {
      @include respond-to(767) {
        width: 80%;
        margin: 0 auto;
      }
      img {@include respond-to(767) {width: 100%;}}
    }
    //-------------------------------------
    &__logo {
      position: absolute;
      right: 0;
      top: 0;
      //-----------------------------------
      @include respond-to(767) {
        display: none;
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
  &__inner {
    display: flex;
    justify-content: space-between;
    //-------------------------------------
    @include respond-to(767) {
      display: block;
    }
    //-------------------------------------
    .box1 {
      position: relative;
      width: 48%;
      //-----------------------------------
      @include respond-to(767) {
        width: auto;
        margin-bottom: 15px;
      }
      //-----------------------------------
      .slick-list {z-index: -1;}
      //-----------------------------------
      .c-slider1__ele1 {img { width: 100%;}}
      //-----------------------------------
      .c-prev {
        @include prevNextBtnType1(46%, rgba(120, 115, 115, 0.788235294117647));
        //-----------------------------------
        @include respond-to(767) {
          width: 25px;
          height: 25px;
          left: 0;
        }
        //-----------------------------------
      }
      //-------------------------------------
      .c-next {
        @include prevNextBtnType1(46%, rgba(120, 115, 115, 0.788235294117647));
        right: 0px;
        cursor: pointer;
        //---------------------------------
        @include respond-to(767) {
          width: 25px;
          height: 25px;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
    //-------------------------------------
    .box2 {
      width: 50%;
      //-----------------------------------
      @include respond-to(767) {
        width: auto;
      }
      //-------------------------------------
      .c-list1 {
        flex-wrap: wrap;
        justify-content: space-between;
        //-----------------------------------
        &__card {
          position: relative;
          width: 343px;
          height: 220px;
          margin-bottom: 25px;
          transition: all ease 0.6s;
          //---------------------------------
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
          //---------------------------------
          @include respond-to(767) {
            box-sizing: border-box;
            width: 49%;
            min-width: 240px;
            height: auto;
            padding: 0 5px;
            margin: 0 auto 15px;
          }
          //---------------------------------
          &:nth-child(2n + 1) {
            margin-right: 24px;
            //-------------------------------
            @include respond-to(767) { margin-right: auto; }
            //-------------------------------
          }
          //---------------------------------
        }
        //-----------------------------------
        &__img { img {width: 100%;} }
        //-----------------------------------
        &__text1 {
          position: absolute;
          top: 6px;
          left: 7px;
          padding-right: 7px;
          text-align: left;
          //---------------------------------
          @include respond-to(767) {padding-right: 4px;}
          //---------------------------------
          img { width: 100%; }
          //---------------------------------
        }
        //-----------------------------------
        &__title1 {
          position: absolute;
          bottom: 12px;
          left: 13px;
          //---------------------------------
          h2 {
            //-------------------------------
            img {
              //-----------------------------
              @include respond-to(767) { width: 63px; }
              //-----------------------------
            }
            //-------------------------------
          }
          //---------------------------------
        }
        //-----------------------------------
        &__icon1 {
          position: absolute;
          bottom: 11px;
          right: 9px;
          //-------------------------------
          @include respond-to(767) {right: 14px;}
          //-------------------------------
          img {
            //-----------------------------
            @include respond-to(767) { width: 20px; }
            //-----------------------------
          }
          //-------------------------------      
        }
        //-----------------------------------
      } 
      //-------------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}

//top-2------------------------------------
.p-top2 {
  position: relative;
  display: block;
  padding-bottom: 60px;
  //---------------------------------------
  @include respond-to(767) {
    padding: 0 20px 20px;
  }
  //---------------------------------------
}

//top-3-------------------------------------
.p-top3 {
  position: relative;
  display: block;
  padding-bottom: 80px;
  //----------------------------------------
  @include respond-to(767) { padding: 0 20px 40px; }
  //----------------------------------------
  &__inner {
    display: flex;
    justify-content: space-between;
    //--------------------------------------
    @include respond-to(767) { display: block; }
    //--------------------------------------
    .box1 {
      position: relative;
      width: 814px;
      padding-bottom: 30px;
      border-bottom: 7px solid $brown;
      //--------------------------------------
      @include respond-to(767) {
        width: auto;
        border-bottom: 4px solid $brown; 
      }
      //--------------------------------------
    }
    //--------------------------------------
    .box2 {
      position: relative;
      width: 570px;
      padding-bottom: 30px;
      border-bottom: 7px solid $brown;
      //------------------------------------
      @include respond-to(767) {
        width: auto;
        margin-top: 50px;
        border-bottom: 4px solid $brown;
      }
      //------------------------------------
    }
    //--------------------------------------
  }
  //---------------------------------------
  &__list1 {
    @include customBoxCSSForScrollbar();
    justify-content: space-between;
    //--------------------------------------
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      border-radius: 10px;
      background-color: #969696;
    }
    //--------------------------------------
    &::-webkit-scrollbar {
      width: 7px;
      background-color: $brown;
    }
    //--------------------------------------
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: $brown;
    }
    //--------------------------------------
    .p-list1__card1 {
      box-sizing: border-box;
      width: 382px;
      display: flex;
      padding: 15px 0 20px;
      margin-right: 15px;
      border-bottom: 2px solid $brown;
      //------------------------------------
      @include respond-to(767) {
        width: 100%;
        padding: 10px 0;
      }
      //------------------------------------
      .p-img1__ad1 {
        @include respond-to(767) { width: 100%; }
        //--------------------------------
        img {
          @include respond-to(767) {width: 100%;}
          //--------------------------------
        }
        //--------------------------------
      }
      //------------------------------------
      .p-img1 {
        margin-right: 8px;
        //----------------------------------
        img {@include respond-to(767) {width: 100px;}}
        //----------------------------------
      }
      //------------------------------------
      .p-content {
        text-align: left;
        line-height: 1.7;
        //----------------------------------
        h3 {
          color: #663333;
          font-weight: bold;
          font-size: 1.4rem;
          margin-bottom: 3px;
        }
        //----------------------------------
      }
      //------------------------------------
    }
  }
  //---------------------------------------
  &__list2 {
    @include customBoxCSSForScrollbar();
    justify-content: flex-start;
    //--------------------------------------
    @include respond-to(767) {
      display: block;
    }
    //--------------------------------------
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      border-radius: 10px;
      background-color: #969696;
    }
    //--------------------------------------
    &::-webkit-scrollbar {
      width: 7px;
      background-color: $brown;
    }
    //--------------------------------------
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: $brown;
    }
    //--------------------------------------
    .p-list2__card1 {
      box-sizing: border-box;
      width: 255px;
      display: flex;
      padding: 21px 0;
      margin-right: 15px;
      border-bottom: 2px solid $brown;
      //------------------------------------
      @include respond-to(767) {
        width: auto;
      }
      //------------------------------------
      .p-img1 { margin-right: 8px; }
      //------------------------------------
      .p-content {
        text-align: left;
        line-height: 1.6;
        //----------------------------------
        h3 {
          color: $brown;
          font-weight: bold;
          font-size: 1.4rem;
          margin-bottom: 3px;
        }
        //----------------------------------
      }
      //------------------------------------
    }    
    //--------------------------------------
  }
  //----------------------------------------
}

//top-4-------------------------------------
.p-top4 {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 600px;
  margin-bottom: 80px;
  padding: 90px 0 67px;
  background: url(../img/bg-banner.jpg) no-repeat left top;
  background-size: cover;
  background-attachment: fixed;
  //-----------------------------------------
  @include respond-to(767) {
    height: auto;
    margin-bottom: 40px;
    padding: 45px 0 43px;
  }
  //-----------------------------------------
  .box1 {
    display: block;
    position: relative;
    text-align: left;
    //---------------------------------------
    .title1 {
      display: block;
      margin: 0 0 52px 14px;
      //-------------------------------------
      @include respond-to(767) {
        margin-bottom: 28px;
      }
      //-------------------------------------
      h2 {
        //-----------------------------------
        @include respond-to(767) {
          width: 70%;
          //---------------------------------
          img { width: 100%; }
          //---------------------------------
        }
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
    .img-text1 {
      //-------------------------------------
      @include respond-to(767) {
        width: 78%;
        margin-left: 10px;
      }
      //-------------------------------------
      img {
        @include respond-to(767) {width: 100%;}
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &__btn1 {
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    height: 70px;
    margin-top: 68px;
    text-align: center;
    background: $green;
    transition: opacity 0.1s ease;
    //-------------------------------------
    @include respond-to(767) {
      width: 125px;
      height: auto;
      margin: 34px auto 0 12px;
    }
    //-------------------------------------
    &:hover { opacity: 0.8; }
    //-------------------------------------
    a {
      display: block;
      color: #fff;
      padding: 19px;
      text-decoration: none;
      font-size: 2.2rem;
      //-------------------------------------
      @include respond-to(767) {
        padding: 9px;
        font-size: 1.2rem;
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}

//top-5-----------------------------------
.p-top5 {
  display: block;
  padding-bottom: 100px;
  //---------------------------------------
  @include respond-to(767) {
    padding: 0 20px 50px;
  }
  //---------------------------------------
  .p-many__text1 {
    padding-bottom: 36px;
    //-------------------------------------
    @include respond-to(767) {
      padding-bottom: 18px;
    }
    //-------------------------------------
  }
  //---------------------------------------
}
