@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	font-size: 1.4rem;
  line-height: 1.6;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	background-color:#ffffff;
	@include respond-to(768) {
		min-width: 100%;
	}
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
.l-main {
	font-size: 1.4rem;
	@include cf;
}
//-------------------------------
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}

a:hover { text-decoration: underline; }

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  border-bottom: 1px solid #ccc;
  .c-list1 {
    display: flex;
    li {
      margin-left: 20px;
    }
    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #333;
    }
  }
}

/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer { margin-top: 30px; }
/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  &-menu { height: 95px; }
  //--------------------------------------
  &--hidden { overflow: hidden; }
  //--------------------------------------
  &-bg {
    //--------------------------------------
    &--gray {
      width: 100%;
      height: 100%;
      background: #cacaca;
      position: absolute;
      opacity: 0.3;
    }
    //--------------------------------------
  }
  //---------------------------------------------
  &-list1 {
    &--flex {
      display: flex;
      z-index: 1;
      justify-content: space-around;
      @extend %cf !optional;
    }
    &--block {
      @include respond-to(768) { display: block; }
    }
  }
  //-----------------------------------------
  &--flex {
    display: flex;
    justify-content: space-between;
  }
  //--------------------------------------
  &--left {
    float: left;
    margin-bottom: 10px;
  }
  //-------------------------------------
  &-box1 {
    &--mt10 { margin-top: 36px; }
  }
  //----------------------------------
  &-arrow2 { margin: 0 8px 0 13px; }
  //----------------------------------
  &-main {
    width: 800px;
    margin-top: 50px;
    @include respond-to(767) {
      width: auto;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  //-----------------------------------
  &-btn1 {
    &--right {
      text-align: right;
    }
    &--center {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @include respond-to(767) {
        padding-left: 10px;
        padding-right: 10px;
        div { 
          width: 48%;
          &:last-child {
            margin-left: 2%;
          }
        }
        .c-btn1 {
          a { min-width: 100%; }
        }
      }
      .c-btn1:first-child {
        margin-right: 30px;
        @include respond-to(767) { margin-right: 0; }
      }
    }
    &--between {
      display: flex;
      justify-content: space-between;
      @include respond-to(767) {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        div { 
          width: 48% ;
          &:last-child {
            margin-left: 2%;
          }
        }
        .c-btn1 {
          a { min-width: 100%; }
        }
      }
    }
  }
  //-----------------------------------
  &-side {
    width: 220px;
    margin-top: 50px;
    @include respond-to(767) {
      width: auto;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  //-----------------------------------
  &-content {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    @include respond-to(767) {
      width: auto;
      display: block;
    }
  }
}
