@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
//----------------------------------------------------
.is-open {
  .c-menuSP__1 {transform: rotate(45deg) translate(7px, 7px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(8px, -8px);}
}

/*--------------------------------------------------
  Component index
----------------------------------------------------*/
.c {
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(768) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(768) { display: none!important; }
    }
    //-----------------------------------
  }
  //show on smartphone---------------------------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(768) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(768) { display: inline-block!important; }
    }
    //------------------------------------------
  }
  //--------------------------------------
}
//-----------------------------------
.c-menuSP {
  width: 30px;
  height: 30px;
  top: 11px;
  right: 10px;
  cursor: pointer;
  position: absolute;
  transition: all 0.5s;
}
//---------------------------------------
.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 100%;
  height: 5px;
  background: #000;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
//--------------------------------------------
.c-menulistSP {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  background: white;
}
//--------------------------------------------
.c-menulistSP li {
  border-bottom: 1px solid #CCC;
}
//--------------------------------------------
.c-menulistSP a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 10px 10px;
}
//--------------------------------------------
.c-list1__img2 {
  margin-right: 10px;
}

/*------------------------------------------
  navigation
-----------------------------------------*/
//---------------------------------------
.c-gnavi {
  border-bottom: 1px solid #ccc;
  //---------------------------------------
  ul {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #CCC;
  }
  //---------------------------------------
  li {
    width: 25%;
    border-right: 1px solid #CCC;
  }
  //---------------------------------------
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    font-size: 1.4rem;
    background: #EFEFEF;
    color: #333;
  }
  //---------------------------------------
}
//---------------------------------------
.c-breadcrumb1 {
  padding: 10px 10px;
  //---------------------------------------
  ul {
    width:  1050px;
    margin:  0 auto;
    display:  flex;
    justify-content:  flex-start;
    //---------------------------------------
    @include respond-to(767) {
      width: auto;
    }
    //---------------------------------------
  }
  //---------------------------------------
  li {
    line-height: 1;
    font-size: 1.2rem;
  }
  //---------------------------------------
  a {
    color: #333;
    //---------------------------------------
    &:after {
      content: "›";
      display:  inline-block;
      margin: 0 7px;
    }
    //---------------------------------------
  }
  //---------------------------------------
  &--botline {
    border-bottom: 1px solid #ccc;
  }
  //---------------------------------------
  &--topline { border-top: 1px solid #CCC; }
}
//---------------------------------------
.c {
  &-title1, &-title2, &-title3 {
    margin: 40px 0 20px 0;
    padding: 6px 0 6px 15px;
    text-align: left;
    line-height: 1;
    font-size: 1.3rem;
    border-radius: 5px;
  }
  //---------------------------------------
  &-title1 {
    font-size: 1.6rem;
    background: #000;
    color: #FFF;
  }
  //---------------------------------------
  &-title2 {
    background: #888;
    color: #FFF;
    padding-left: 30px;
  }
  //---------------------------------------
  &-title3 {
    background: #DDD;
    color: #000;
    padding-left: 35px;
  }
  //---------------------------------------
  &-title2, &-title3 {
    margin-top: 20px;
  }
  //---------------------------------------
  &-title4 {
    line-height: 1;
    border-bottom: 1px solid #ccc;
    //---------------------------------------
    @include respond-to(767) {
      padding: 0 10px;
    }
    //---------------------------------------
    .c-wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100px;
      //---------------------------------------
      @include respond-to(767) {
        height: 70px;
      }
      //---------------------------------------
    }
    //---------------------------------------
    h2 {
      font-size: 2.2rem;
      //---------------------------------------
      @include respond-to(767) {
        font-size: 1.6rem;
      }
      //---------------------------------------
    }
    //---------------------------------------
    p {
      margin-top: 8px;
      font-size: 1.4rem;
      //---------------------------------------
      @include respond-to(767) {
        font-size: 1.2rem;
      }
      //---------------------------------------
    }
    //---------------------------------------
  }
  //---------------------------------------
}

//-----------------------------------
.c-btn1 {
  //---------------------------------------
  a {
    display:  inline-block;
    min-width: 200px;
    padding: 13px 0;
    background: #FC6E51;
    border-radius: 30px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: #FFF;
  }
  //---------------------------------------
  &--color1 a{
    background: #37BC9B;
  }
  //---------------------------------------
  &--color2 a{
    background: #3BAFDA;
  }
  //---------------------------------------
}
//---------------------------------------
.c-h1 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding: 4px;
  padding-left: 15px;
  border-left: 8px solid #8CC152;
  //---------------------------------------
  &--color1 { border-left-color: #F6BB42; }
  &--color2 { border-left-color: #E9573F; }
  &--textcolor1 { color: #DA4453; }
  &--textcolor2 { color: #3BAFDA; }
  //---------------------------------------
}
//---------------------------------------
.c-h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  //---------------------------------------
  &--color1 {
    color: #8cc152;
    border-bottom-color: #8CC152;
  }
  //---------------------------------------
  @include respond-to(767) {
    font-size: 1.4rem;
  }
  //---------------------------------------
}
//---------------------------------------
.c-list2 {
  //---------------------------------------
  ul {
    display: flex;
    justify-content: space-between;
    //---------------------------------------
    @include respond-to(767) {
      flex-wrap: wrap;
    }
    //---------------------------------------
  }
  //---------------------------------------
  li {
    width: 180px;
    //---------------------------------------
    @include respond-to(767) {
      width: 49%;
      margin-left: 2%;
      margin-bottom: 10px;
      //---------------------------------------
      &:nth-child(2n + 1) { margin-left: 0; }
    }
    //---------------------------------------
  }
  //---------------------------------------
  a {
    justify-content: center;
    height: 38px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    background: #4FC1E9;
    color: #FFF;
    line-height: 1;
    display: flex;
    align-items: center;
    //---------------------------------------
    &:before {
      content: "";
      width: 5px;
      height: 5px;
      border-right: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      margin: -4px 7px 0 0;
      transform: rotate(45deg);
    }
  }
}
//--------------------------------------------
.c-boximg1 {
  display: flex;
  border: 1px solid #CCC;
  padding: 15px;
  //--------------------------------------------
  &__img1 {
    width: 150px;
    margin-right: 10px;
  }
  //--------------------------------------------
  &__text1 {
    flex: 1;
    p { font-size: 1.2rem; }
    h3 {
      font-size: 2.0rem;
      font-weight: normal;
    }
    //--------------------------------------------
  }
  //--------------------------------------------
  &--bg1 { background: #F5F7FA; }
  //--------------------------------------------
  &--round { border-radius: 10px; }
  //--------------------------------------------
  &--imgright {
    flex-direction: row-reverse;
    //--------------------------------------------
    .c-boximg1__img1 {
      margin-right: 0;
      margin-left: 10px;
    }
    //--------------------------------------------
  }
  //--------------------------------------------
}
//--------------------------------------------
.c-list3 {
  display: flex;
  flex-wrap: wrap;
  //--------------------------------------------
  &__card1 {
    width: 185px;
    margin-bottom: 20px;
    margin-left: 20px;
    //--------------------------------------------
    &:nth-child(4n+1) {
      margin-left: 0px;
    }
    //--------------------------------------------
    @include respond-to(767) {
      width: 49%;
      margin-left: 2%;
      //--------------------------------------------
      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }
  //--------------------------------------------
  &__info1 {
    display: flex;
    margin-top: 10px;
  }
  //--------------------------------------------
  &__img1 {
    @include respond-to(767) {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  //--------------------------------------------
  &__img2 {
    width: 50px;
    margin-right: 10px;
  }
  //--------------------------------------------
  &__text1 {
    flex: 1;
    h3 { font-size: 1.4rem; }
    p { font-size: 1.2rem; }
  }
  //--------------------------------------------
  &--col3 {
    //--------------------------------------------
    .c-list3__card1 {
      width: 253px;
      &:nth-child(4n + 1) { margin-left: 20px; }
      &:nth-child(3n + 1) { margin-left: 0; }
      //--------------------------------------------
      @include respond-to(767) {
        width: 49%;
        margin-left: 2%;
        &:nth-child(4n + 1) { margin-left: 2%; }
        &:nth-child(3n+1) { margin-left: 2%; }
        &:nth-child(2n+1) { margin-left: 0; }
      }
      //--------------------------------------------
    }
    //--------------------------------------------
  }
  //--------------------------------------------
}
//--------------------------------------------
.c-list4 {
  //--------------------------------------------
  ul {
    margin-left: 1.7rem;
    li {
      list-style-type: disc;
      font-size: 1.4rem;
    }
  }
  //--------------------------------------------
  ol {
    margin-left: 1.7rem;
    li {
      list-style-type: decimal;
      font-size: 1.4rem;
    }
  }
  //--------------------------------------------
}
//--------------------------------------------
.c-list5 {
  //--------------------------------------------
  ul {
    border-top: 1px solid #CCC;
    li { border-bottom: 1px solid #CCC; }
  }
  //--------------------------------------------
  a {
    text-decoration: none;
    display: block;
    padding: 12px 10px;
    font-size: 1.3rem;
  }
  //--------------------------------------------
}
//--------------------------------------------
.c-list6 {
  //--------------------------------------------
  li:first-child {
    margin-top: 0;
  }
  //--------------------------------------------
  li { margin-top: 15px; }
}
//--------------------------------------------
.c-table1 {
  //--------------------------------------------
  table {
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    width: 100%;
    border-collapse: collapse;
  }
  //--------------------------------------------
  thead th {
    background: #8CC152;
    color: #FFF;
    font-size: 1.4rem;
  }
  //--------------------------------------------
  th, td {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
  }
  //--------------------------------------------
  tbody {
    //--------------------------------------------
    th {
      font-weight: normal;
      font-size: 1.4rem;
      background: #E6E9ED;
    }
    //--------------------------------------------
    td {
      text-align: center;
      font-size: 1.4rem;
    }
    //--------------------------------------------
  }
  //--------------------------------------------
  &--sp {
    @include respond-to(767) {
      th, td {display: block;}
    }
  }
}
//--------------------------------------------
.c-line1 {
  position: relative;
  //--------------------------------------------
  hr {
    height: 0;
    border: 0;
    border-top: 1px solid #CCC;
    text-align: center;
    //--------------------------------------------
    &:after {
      content: '§';
      display: inline-block;
      position: absolute;
      margin-top: -0.7rem;
      margin-left: -0.7rem;
      padding: 0 10px;
      background: #FFF;
      color: #bbb;
      font-size: 1.4rem;
      left: 50%;
      top: 50%;
      line-height: 1;
    }
    //--------------------------------------------
  }
  //--------------------------------------------
}
//--------------------------------------------
.c-mess1 {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 30px 10px;
  //--------------------------------------------
  p {
    text-align: center;
    font-size: 1.4rem;
  }
  //--------------------------------------------
  &--color1 {
    border-color: #37BC9B;
    background: #48CFAD;
    color: white;
  }
  //--------------------------------------------
}
//--------------------------------------------
.c-frame1 {
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-bottom: 30px;
  //--------------------------------------------
  &__title1 {
    border-bottom: 1px solid #CCC;
    padding: 12px 10px;
    background: #E6E9ED;
    //--------------------------------------------
    p {
      font-size: 1.4rem;
      line-height: 1;
    }
    //--------------------------------------------
  }
  //--------------------------------------------
  &__body { padding: 13px 10px; }
}
//--------------------------------------------
.c-foot {
  border-top: 1px solid #CCC;
  background: #EFEFEE;
  padding: 30px 0;
  //--------------------------------------------
  @include respond-to(767) {
    padding: 15px 10px 5px 10px;
  }
  //--------------------------------------------
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    //--------------------------------------------
    @include respond-to(767) {
      flex-wrap: wrap;
      width: auto;
      //--------------------------------------------
      .c-foot__block {
        width: 48%;
        margin-bottom: 20px;
        margin-top:0;
      }
      //--------------------------------------------
    }
    //--------------------------------------------
  }
  //--------------------------------------------
  p {
    font-weight: bold;
    font-size: 1.4rem;
  }
  //--------------------------------------------
  li { margin-top: 6px; }
  //--------------------------------------------
  a {
    text-decoration: none;
    color: #000; }
}
//--------------------------------------------
.c-copyright {
  padding: 20px 0;
  border-top: 1px solid #CCC;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  @include respond-to(767) {
    font-size: 1.0rem;
    padding: 10px 0;
  }
}
//----------------------------------------
.c-headSP {
    border-bottom: 1px solid #CCC;
    background: #FFF;
    height: 60px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 10px;
    box-sizing: border-box;
}
