@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

.c-wrap {
  display: block;
  width: 1252px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) { width: 100%;}
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*--------------------------------------------------
  Component show following divice size.
----------------------------------------------------*/
.c {
  //show on pc-------------------------------------
  &-pc {
    display: block!important;
    //---------------------------------------------
    @include respond-to(768) { display: none!important; }
    //---------------------------------------------
    &--inline {
        display: inline-block!important;
        @include respond-to(768) { display: none!important; }
    }
    //-----------------------------------
  }
  //show on smartphone---------------------------
  &-sp {
    display: none!important;
    //-----------------------------------
    @include respond-to(768) { display: block!important; }
    //-----------------------------------
    &--inline {
        display: none!important;
        //-----------------------------------
        @include respond-to(768) { display: inline-block!important; }
    }
    //------------------------------------------
  }
  //-------------------
  &-menuSP {
    position: absolute;
    box-sizing: border-box;
    top: 11px;
    right: 14px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
    z-index: 9999;
    background: #4471c6;
    border-radius: 4px;
    //--------------------
    &__1, &__2, &__3 {
      width: 15px;
      height: 2px;
      background: #fff;
      margin: 5px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //---------------------------
  }
  //---------------------------
  &-menulistSP {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    display: none;
    background: rgba(68, 113, 198, 0.65);
    //----------------------------
    li {
      position: relative;
      border-top: 1px solid #7998ce;
    }
    //----------------------------
    a {
      text-decoration: none;
      display: block;
      text-align: left;
      color: #ffffff;
      font-size: 1.4rem;
      padding: 19px 15px;
      //---------------------------
      @include respond-to(768) {
        font-size: 1.5rem;
      }
      //---------------------------
    }
    //----------------------------
  }
  //-------------------------
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c {
  &-table1 {
    //-----------------------
    table {
      width:  100%;
      height:  auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse:  collapse;
      tr {
        width: 100%;
        vertical-align: text-top;
        border: 1px solid #d4d4d4;
        &>th {
          width: 209px;
          background: #f6f6f6;
          font-weight: normal;
          border-right: 1px solid #d4d4d4;
        }
        &>th,td { padding: 19px 20px 18px; }
      }
    }
    //-----------------------
  }
  //-----------------------
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(6px, 6px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(4px, -4px);}
}

/*-------------------------------------
  header
-------------------------------------*/
.c {
  //-----------------------------------
  &-h {
    position: relative;
    overflow: hidden;
    height: 799px;
    //---------------------------------
    &--bg {
      position: absolute;
      top: 0;
      left: -373px;
      z-index: -1;
    }
    //end background-------------------
    &-box1 {
      position: fixed;
      width: 100%;
      font-size: 18px;
      color: #dbe8df;
      background: rgba(122, 172, 159, 0.76);
      z-index: 1;
    }
    //---------------------------------
    &-contact1 {
      ul {display: flex;}
      //-------------------------------
      li {
        border-right: 1px solid #7aada0;
        //-----------------------------
        &:last-child {border-right: none;}
        //-----------------------------
        a {
          display: block;
          padding: 10px 20px 5px;
          background: #49917f;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    &-maintitle {
      h2 {
        font-family: "Noto Serif", serif;
        font-size: 37px;
        font-weight: 300;
        color: #49917f;
      }
      //-------------------------------
    }
    //---------------------------------
  }
  //end header-------------------------
}

/*-------------------------------------
  menu and contact
-------------------------------------*/
.c {
  //---------------------------------
  &-menu {
    //---------------------------------
    ul {
      display: flex;
      justify-content: center;
    }
    //---------------------------------
    li {
      margin-right: 30px;
      &:last-child {margin-right: 0;}
    }
    //---------------------------------
    a {
      display: block;
      color: #49907e;
      font-size: 16px;
      text-decoration: none;
    }
    //---------------------------------
  }
  //end menu---------------------------
  &-contact1 {
    position: relative;
    padding: 30px 0 144px;
    //---------------------------------
    h3 {
      padding: 50px 0;
      font-family: "Noto Serif", serif;
      font-weight: 400;
      font-size: 30px;
      letter-spacing: 3px;
      color: #49917f;
    }
    //---------------------------------
    &--bg1 {
      position: absolute;
      top: -61px;
      left: 144px;
    }
    //---------------------------------
  }
  //end contact------------------------
}


/*-------------------------------------
  footer
-------------------------------------*/
.c {
  //-----------------------------------
  &-f {
    padding-top: 67px;
    background: url(../img/f-bg1.jpg) no-repeat;
    background-size: cover;
    //---------------------------------
    h2 {
      font-weight: 300;
      font-size: 18px;
      color: #756a60;
      letter-spacing: 2px;
    }
    //---------------------------------
    &-list1 {
      width: 560px;
      margin: 66px auto 64px;
    }
    //---------------------------------
    &-item1Text1 {
      padding-top:  10px;
      font-size:  16px;
    }
    //---------------------------------
  }
  //-----------------------------------
}

/*-------------------------------------
  other
-------------------------------------*/
.c {
  //-----------------------------------
  &-copyright {
    padding: 11px 0;
    font-size: 12px;
    color: #f9fbfa;
    letter-spacing: 1px;
    background: rgba(149, 185, 177, 0.67);
  }
  //-----------------------------------
  &-btntop {
    position: absolute;
    top: -129px;
    right: 27px;
  }
  //-----------------------------------
}

/*-------------------------------------
  top4 component
-------------------------------------*/
.c {
  //-----------------------------------
  &-top4 {
    //---------------------------------
    &__maintitle1 {
      font-size: 13px;
      text-align:  left;
      color: #589887;
    }
    //---------------------------------
    &__maintitle2 {
      font-size: 15px;
      text-align: right;
      color: #589887;
    }
    //---------------------------------
    &__estheticImg1 {
      //-------------------------------
      img {
        width: 250px;
        height: 160px;
      }
      //-------------------------------
    }
    //---------------------------------
    &--estheticPtb1 {padding: 7px 0 30px;}
    //---------------------------------
    &__estheticText1 {
      font-size: 15px;
      text-align: left;
      color: #474338;
    }
    //---------------------------------
  }
  //-----------------------------------
}
