@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p {
  //------------------------------------
  &-top1 {
    position: relative;
    margin-bottom: 148px;;
    overflow: hidden;
  }
  //end top1---------------------------
  &-top2 {
    margin-bottom: 31px;
    //-------------------------------
    &-boxtext1 {
      //-----------------------------
      p {
        font-family: "Noto Serif", serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 2.5;
        letter-spacing: 3px;
        color: #393939;
      }
      //-----------------------------
    }
    //-------------------------------
    &-list1 {
      position: relative;
      width: 921px;
      margin-left: auto;
      margin-right: auto;
      //-----------------------------
      &--mt1 {margin-top: 64px;}
    }
    //-------------------------------
    &--mb1 {margin-bottom: 40px;}
    //end margin css-----------------
    &-bg1 {
      position: absolute;
      z-index: -1;
      top: -59px;
      left: -48px;
    }
    //end background-------------------
  }
  //end top2---------------------------
  &-top3 {
    width: 904px;
    box-sizing: border-box;
    margin: 0 auto 160px;
    padding: 51px 22px 40px 35px;
    background: url(../img/i-qcbg1.png) no-repeat top left;
    //---------------------------------
    &-listtext1 {
      margin-bottom: 10px;
      h2 {
        font: {
          family: "Noto Serif", serif;
          size: 34px;
        }
        //-----------------------------
      }
      //-------------------------------
    }
    //end listtext1--------------------
    &__maintext2 {
      padding: 3px 0;
      font-weight: 100;
      letter-spacing: 1px;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }
    //---------------------------------
    &__maintext3 {
      width: 302px;
      height: 29px;
      box-sizing:  border-box;
      padding: 2px 0;
      font-size: 16px;
      font-weight: 200;
      color: #dbe7e4;
      background: #49917f;
    }
    //---------------------------------
    &-listtext2 {
      margin-bottom: 26px;
      font-weight: 300;
      text-align: left;
      letter-spacing: 1px;
    }
    //---------------------------------
    &-listtext3 {
      margin-left: -8px;
      padding: 12px 22px 12px;
      background: #e9e9e9;
      //------------------------------
      li {
        //----------------------------
        &:after {
          content: url(../img/i-arrow1.png);
          position: relative;
          margin: 0 2px 0 4px;
          bottom: 0;
        }
        //-----------------------------
        &:last-child:after {content: '';}
      }
      //-------------------------------
    }
    //end listtext3--------------------
    &__typetext1 {
      position: relative;
      top: -19px;
      font-size: 18px;
      font-weight: 300;
      color: #4b4647;
    }
    //---------------------------------
    .u-text1--font13 {
      font-weight: 300;
      margin-top: 7px;
    }
  }
  //end top3---------------------------
  &-top4 {
    position: relative;
    overflow: hidden;
    padding-bottom: 120px;
    //---------------------------------
    &-mainbox {
      box-sizing: border-box;
      position: relative;
      width: 1200px;
      margin: 0 auto;
      padding: 81px 146px 80px;
      border: 5px solid #6c6969;
    }
    //mainbox--------------------------
    &__leaves1 {
      position: absolute;
      top: -135px;
      left: -230px;
      z-index: -1;
    }
    //---------------------------------
    &__leaves2 {
      position: absolute;
      top: 365px;
      right: -404px;
      z-index: -1;
    }
    //---------------------------------
    &-mtext1 {
      margin: 30px 0 115px;
      font-family: "Noto Serif", serif;
      font-size: 23px;
      letter-spacing: 2px;
    }
    //---------------------------------
    &-boxtitle1 {
      //-------------------------------
      &--mb1 {margin-bottom: 46px;}
      //-------------------------------
    }
    //end boxtitle1--------------------
    &-box2 {
      //-------------------------------
      &--mt1 { margin-top: 123px; }
      //-------------------------------
    }
    //---------------------------------
    &-tel1 {
      box-sizing: border-box;
      position: relative;
      width: 460px;
      margin: 90px auto 113px;
    }
    //---------------------------------
    &-telLabel1 {
      margin-bottom: 12px;
      padding: 6px 0;
      font-size: 16px;
      color: #614d40;
      border-bottom: 1px solid;
      border-top: 1px solid;
      letter-spacing: 1px;
    }
    //---------------------------------
    &__leaves3 {
      position: absolute;
      top: 1305px;
      right: -203px;
      z-index: -1;
    }
    //---------------------------------
    &__leaves4 {
      position: absolute;
      right: -189px;
      bottom: -174px;
      z-index: -1;
    }
    //---------------------------------
    &-ad {margin-left: -33px;}
    //---------------------------------
  }
  //end top4---------------------------
  &-top5 {
    margin-bottom: 83px;
    //---------------------------------
    &-map {
      width: 48%;
      height:  600px;
      box-sizing:  border-box;
      //-------------------------------
      iframe {
        width: 100%;
        height: 100%;
      }
      //-------------------------------
    }
    //---------------------------------
    &-access {
      width: 52%;
      box-sizing: border-box;
      padding: 96px 0 0 53px;
      text-align: left;
      background: url(../img/i-bggirl1.jpg) no-repeat;
      background-size: cover;
      //-------------------------------
      h3 {
        font-family: "Noto Serif", serif;
        font-size: 24px;
        color: #727064;
      }
      //-------------------------------
    }
    //end access-----------------------
    &--mbt1 {margin: 37px 0 61px;}
    //---------------------------------
    &-box1 {
      //-------------------------------
      h4 {
        font-size:  18px;
        color: #5c4e42;
        margin-bottom: 22px;
      }
      //-------------------------------
      p {
        margin-bottom: 22px;
        font-size: 16px;
        letter-spacing: 2px;
        color: #5c4e42;
        &:last-child {margin-bottom: 0;}
      }
      //-------------------------------
    }
    //---------------------------------
  }
  //end top5---------------------------
}
