@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
  Unity and button scroll top
------------------------------------------------------------*/
.u-num1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 736px) {
  .u-num1 {
    font-size: 3rem;
  }
}

.u-num2 {
  font-size: 2.4rem;
}

@media only screen and (max-width: 736px) {
  .u-num2 {
    font-size: 1.95rem;
    font-weight: bold;
  }
}

/*------------------------------------------------------------
  Unity text
------------------------------------------------------------*/
.u-text1 {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.u-text1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid red;
  height: 45%;
  height: calc(50% - 1px);
  width: 100%;
  -webkit-transform: rotateZ(-4deg);
          transform: rotateZ(-4deg);
}

.u-text2 {
  color: #ff5078;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 780px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
    font-size: 1.2rem;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  text-align: left;
}

.l-main {
  font-size: 1.4rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .l-main {
    display: block;
  }
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  padding: 10px 0;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  header {
    background: none;
    height: auto;
    overflow: unset;
  }
  header .l--flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer {
  position: relative;
  color: white;
  font-size: 1.5rem;
  background: #49c8b2;
  padding: 65px 0 65px;
}

footer h2 {
  font-size: 2.0rem;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  footer h2 {
    font-size: 2.2rem;
  }
}

footer .l--flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  footer .l--flex {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 42px 0;
  }
  footer .c-listimgf2 {
    display: none;
  }
}

/*------------------------------------------------
  layout
------------------------------------------------*/
.l--hidden {
  overflow: hidden;
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l--left {
  float: left;
}

.l-main {
  margin: 65px 0 65px;
}

@media only screen and (max-width: 768px) {
  .l-main {
    margin: 33px 0 0;
  }
}

.l--firstpace::first-letter {
  margin-left: 10px;
}

.l-rule--mt26 {
  margin-top: 26px !important;
}

.l--mt69 {
  margin-top: 69px;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*--------------------------------------------------
  Component index
----------------------------------------------------*/
.c-pc {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc {
    display: none !important;
  }
}

.c-pc--inline {
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .c-pc--inline {
    display: none !important;
  }
}

.c-sp {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp {
    display: block !important;
  }
}

.c-sp--inline {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .c-sp--inline {
    display: inline-block !important;
  }
}

.c-navi {
  margin-top: -4px;
  margin-left: -1px;
}

.c-navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-navi li {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 30px;
}

.c-navi li:first-child {
  margin-left: 0;
}

.c-navi li:last-child {
  margin-left: 41px;
  font-size: 1.4rem;
}

.c-navi a {
  display: block;
  color: black;
  text-decoration: none;
}

.c-navi a img {
  vertical-align: middle;
}

.c-h--right {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -38px;
}

.c-h__img1 {
  position: relative;
  left: -140px;
}

@media only screen and (max-width: 768px) {
  .c-h__img1 {
    left: 15px;
    margin: 0 auto;
  }
  .c-h__img1 img {
    width: 107px;
  }
}

.c-h__img2 a:first-child {
  margin-right: 8px;
}

.c-banner {
  display: block;
  padding: 46px 0;
  background: #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .c-banner {
    padding: 23px 0;
  }
}

.c-banner h1 {
  font-size: 2.7rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .c-banner h1 {
    font-size: 2.2rem;
  }
}

.c-banner img {
  vertical-align: middle;
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .c-banner img {
    width: 40px;
    margin-right: 10px;
  }
}

.c-listimgf1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 23px 0 33px;
}

@media only screen and (max-width: 768px) {
  .c-listimgf1 {
    padding: 18px 0;
  }
}

.c-listimgf1 a {
  display: inline-block;
}

.c-listimgf1 a:first-child {
  margin-right: 25px;
}

@media only screen and (max-width: 768px) {
  .c-listimgf1 a:first-child {
    margin-right: 12px;
  }
}

.c-listimgf1 img {
  width: 138px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .c-listimgf1 img {
    width: 139px;
    height: auto;
  }
}

.c-listimgf2 {
  position: relative;
  left: -5px;
  top: -2px;
}

.c-listimgf2 img:last-child {
  margin-right: -5px;
  margin-left: 6px;
}

.c-copyright {
  margin-top: 11px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .c-copyright {
    padding: 0 30px;
    font-size: 1.1rem;
  }
}

.c-rule2__text1 {
  margin-bottom: 22px;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .c-rule2__text1 {
    font-size: 1.2rem;
  }
  .c-rule2__text1:last-child {
    margin-bottom: 5px;
  }
}

.c-rule2__text1 h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .c-rule2__text1 h4 {
    font-size: 1.2rem;
  }
}

.c-rule2__text1 h5 {
  margin: 5px 0;
  font-weight: 500;
}

.c-menuSP {
  position: fixed;
  top: 6px;
  left: 12px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
}

.c-menuSP__1, .c-menuSP__2, .c-menuSP__3 {
  width: 100%;
  height: 5px;
  background: #000;
  margin: 6px auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.c-menulistSP {
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  display: none;
  background: rgba(255, 255, 255, 0.84);
}

.c-menulistSP ul {
  margin-top: 102px;
}

.c-menulistSP a {
  text-decoration: none;
  display: block;
  color: #000000;
  font-size: 2.1rem;
  font-weight: bold;
  padding: 6px 10px;
}

@media only screen and (max-width: 768px) {
  .c-menulistSP a {
    font-size: 1.5rem;
  }
}

.c-head-list1sp {
  position: relative;
  left: -8px;
}

.c-head-list1sp img {
  width: 26px;
}

.c-head-list1sp img:last-child {
  margin-left: 12px;
}

@media only screen and (max-width: 768px) {
  .c-flist1 {
    margin: 29px auto 25px;
    font-size: 1.3rem;
  }
}

.c-flist1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .c-flist1 ul {
    width: 300px;
    margin: 0 auto;
  }
}

.c-flist1 ul li {
  margin-right: 15px;
}

.c-flist1 ul li:last-child {
  margin-right: 0;
}

.c-flist1 ul li:hover a {
  text-decoration: underline;
}

.c-flist1 ul a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.c-qa1 h2 {
  font-size: 2.1rem;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .c-qa1 h2 {
    padding-bottom: 10px;
    font-size: 1.7rem;
  }
}

.c-qa1 h2 img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 5px;
}

.c-tab1-btn1 {
  background: white;
  text-align: left;
  font-size: 1.6rem;
  padding: 18px 0 18px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
}

.c-tab1-info1 {
  margin-top: 15px;
  font-size: 1.4rem;
  color: #989899;
}

@media only screen and (max-width: 768px) {
  .c-tab1-info1 {
    font-size: 1.2rem;
  }
}

.c-tab1__tit1 {
  width: 711px;
  display: inline-block;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .c-tab1__tit1 {
    width: 80%;
    font-size: 1.4rem;
  }
}

.c-tab1-link1 {
  color: #41ab9f;
  font-size: 1.6rem;
  display: block;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .c-tab1-link1 {
    margin-bottom: 24px;
    font-size: 1.4rem;
  }
}

.c-menuTab {
  width: 20px;
  height: 20px;
  top: 29px;
  right: 19px;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  .c-menuTab {
    right: 0;
  }
}

.c-menuTab__1, .c-menuTab__2 {
  width: 100%;
  height: 3px;
  background: #069d8f;
  margin: 6px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-menuTab__2 {
  width: 0;
}

.c-prev .c-tab1-link1 {
  margin-left: 14px;
  margin-bottom: 0;
}

.c-prev:before {
  content: url(../img/i-arrow1.jpg);
  display: inline;
  position: absolute;
  left: 0;
}

.c-next .c-tab1-link1 {
  margin-right: 14px;
  margin-bottom: 0;
}

.c-next:before {
  content: url(../img/i-arrow2.jpg);
  display: inline;
  position: absolute;
  right: 0;
}

.c-thumb {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .c-thumb img {
    width: 97px;
  }
}

.c-thumb__text1 {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .c-thumb__text1 {
    font-size: 1.2rem;
  }
}

.c-pagetop {
  width: 100%;
  height: 559px;
  background: url(../img/top-bg.jpg) no-repeat;
  background-size: 100% 100%;
}

@media only screen and (max-width: 768px) {
  .c-pagetop {
    background: none;
    height: auto;
    padding: 0;
  }
}

.c-scrollpy {
  position: relative;
  top: -323px;
  left: -512px;
}

.c-toplogo {
  display: block;
  padding: 121px 0 0;
}

@media only screen and (max-width: 768px) {
  .c-toplogo {
    padding-top: 28%;
  }
  .c-toplogo img {
    width: 241px;
  }
}

.c-slider__ele1 {
  width: 645px;
  margin: 0 auto;
}

.c-slider__ele1 .l--flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
  .c-slider__ele1 .l--flex {
    display: block;
  }
}

.c-slider__info {
  width: 370px;
  text-align: left;
  padding-top: 73px;
  padding-left: 13px;
}

@media only screen and (max-width: 768px) {
  .c-slider__info {
    width: auto;
    text-align: center;
    padding-top: 30px;
    padding-left: 0;
    font-size: 1.4rem;
  }
}

.c-slider-tit1 h3 {
  margin-bottom: 8px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .c-slider-tit1 h3 {
    margin-bottom: 12px;
    font-size: 1.6rem;
  }
}

.c-slider-tit1 h4 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .c-slider-tit1 h4 {
    margin-bottom: 21px;
    font-size: 1.7rem;
  }
  .c-slider-tit1 h4 img {
    display: inline-block;
  }
}

.c-slider__img {
  margin-right: 40px;
}

@media only screen and (max-width: 768px) {
  .c-slider__img {
    margin: 0 auto;
  }
  .c-slider__img img {
    width: 178px;
    margin: 0 auto;
  }
}

.c-box1--botline {
  border-bottom: 1px solid #e5e5e5;
}

.c-topbg {
  width: 100%;
  position: relative;
}

.c-top1 {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 10px;
}

.c-h__img2 {
  width: 170px;
}

.c-scrollpy ul {
  display: block;
  position: absolute;
  top: 0;
  right: 49%;
}

.c-scrollpy li {
  width: 15px;
  height: 15px;
  border: 2px solid transparent;
  border-radius: 22px;
  margin-bottom: 38px;
}

.c-scrollpy li:after {
  content: '';
  width: 1px;
  height: 25px;
  display: inline-block;
  color: black;
  background: #ccc;
  position: relative;
  top: 8px;
}

.c-scrollpy li:last-child:after {
  width: 0;
  height: 0;
}

.c-scrollpy a {
  width: 10px;
  height: 11px;
  display: block;
  margin: 2px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  background-color: #ccc;
  border-radius: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-titimg__1 {
  width: auto !important;
  height: auto !important;
}

/*---------------------------
  menu responsive
---------------------------*/
.is-open .c-menuSP__1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.is-open .c-menuSP__2 {
  width: 100%;
  margin-top: -25%;
}

.is-open {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.is-open .c-menuSP__2 {
  opacity: 0;
}

.is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

.bx-wrapper {
  width: 624px;
  margin: 0 auto;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bx-viewport {
  height: auto !important;
}

.bx-wrapper .bx-controls-direction a {
  width: 37px;
  height: 64px;
}

.bx-wrapper .bx-prev {
  left: -80px;
  background: url(../img/arrow.png) no-repeat 0 2px;
}

@media only screen and (max-width: 768px) {
  .bx-wrapper .bx-prev {
    left: 10px;
  }
}

.bx-wrapper .bx-next {
  right: -80px;
  background: url(../img/arrow.png) no-repeat -45px 1px;
}

@media only screen and (max-width: 768px) {
  .bx-wrapper .bx-next {
    right: 10px;
  }
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
  background-position: 0 2px;
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: -45px 1px;
}

.bx-wrapper .bx-controls-direction a {
  top: 42%;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 27px;
  width: auto;
  right: 160px;
}

@media only screen and (max-width: 768px) {
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    width: 100%;
    right: 0;
    bottom: -30px;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0 6px;
  border-radius: 8px;
  background: #e2e2e2;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #a0a0a0;
}
