@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 1440px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
  background-color:#ffffff;
	@include respond-to(768) {
		min-width: 100%;
	}
}
//-------------------------------
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}
//-------------------------------
.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
}
//-------------------------------
button:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a { margin-right: 5px; }
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*-----------------------------------------------
  header
-----------------------------------------------*/
header {
  position: relative;
  display: block;
  height: 800px;
  background: url(../img/i-slide.jpg) no-repeat top left;
  background-size: cover;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  //----------------------------------
  header {
    padding: 0;
    background: none;
    height: auto;
    overflow: unset;
  }
  //------------------------------------
}

/*-----------------------------------------------
  footer
-----------------------------------------------*/
footer {
  position: relative;
  background: #33c49d;
  color: white;
  font-size: 1.5rem;
  padding: 50px 0 60px;
  //-------------------------------
  @include respond-to(768) {
    padding: 30px 0;
    font-size: 1.2rem;
  }
  //-------------------------------
  img {
    max-width: 100%;
    width: 1300px;
  }
  //-------------------------------
  .c-farrows {
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 7px;
    @include respond-to(768) { margin: 0 0 12px 0; }
  }
  //-------------------------------
  p {
    width: 718px;
    margin:  0 auto;
    font-weight: 300;
    //-----------------------------
    @include respond-to(768) {
      width: auto;
      margin: 0 10px;
    }
    //-----------------------------
  }
  //-------------------------------
}
/*------------------------------------------------
  layout
------------------------------------------------*/
.l {
  &-menu { height: 95px; }
  //--------------------------------------
  &--hidden { overflow: hidden; }
  //--------------------------------------
  &-bg {
    //--------------------------------------
    &--gray {
      width: 100%;
      height: 100%;
      background: #cacaca;
      position: absolute;
      opacity: 0.3;
    }
    //--------------------------------------
  }
  //---------------------------------------------
  &-list1 {
    &--flex {
      display: flex;
      z-index: 1;
      justify-content: space-around;
      @extend %cf !optional;
    }
    &--block {
      @include respond-to(768) { display: block; }
    }
  }
  //-----------------------------------------
  &--flex {
    display: flex;
    justify-content: space-between;
  }
  //--------------------------------------
  &--left {
    float: left;
    margin-bottom: 10px;
  }
  //-------------------------------------
  &-box1 {
    &--mt10 { margin-top: 36px; }
  }
  //----------------------------------
  &-arrow2 { margin: 0 8px 0 13px; }
}

//------------------------------------
.copyright {
  background: #3c3c3c;
  padding: 13px 0;
  @include respond-to(768) {
    img { width: 280px; }
  }
}
