@charset "UTF-8";
@import "vars"; // 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
  Top page
------------------------------------------------------------*/
.sample {
  transform: scale(1);
  background-size: cover;
  display: flex;
}
//------------------------------------
.wrap {
  display: block;
  width: 1440px;
  height: auto;
  margin: 0 auto;
  position: relative;
  @include respond-to(768) {
    width: 100%;
  }
}
//wrap__inner1------------------------------------
.wrap__inner1 {
  width: 1068px;
  margin:  0 auto;
  display:  block;
  position:  relative;
  @include respond-to(768) { width: 100%; }
}
//------------------------------------------------
.wrap__index1 { z-index: 1; }

/*--------------------------------------------------
  Private element
--------------------------------------------------*/
.p-shin1 {
  position: relative;
  //background: url(../img/i-bg2.jpg) repeat-x;
  background: url(../img/bg.jpg) repeat;
  opacity: 1;
  display: block;
  padding: 60px 0 123px;
  //----------------------------------
  @include respond-to(768) {
    padding: 60px 0 50px;
    margin: -43px 0;
    //----------------------------------
    .wrap__index1 {
      width: 300px;
    }
    //----------------------------------
    &-spbox1 img { width: 300px; }
  }
  //---------------------------------
  &-list1 {
    display: flex;
    justify-content: space-between;
    .c-box1:first-child { margin: 0 10px; }
    //--------------------------------
    @include respond-to(768) {
      margin-top: 15px;
      //-----------------------------
      .c-box1 {
        img {width: 146px;}
        //---------------------------
        &:first-child { margin: 0; }
        //---------------------------
      }
      //---------------------------
    }
    //---------------------------
  }
  //---------------------------------
  .c-box1 { background: none; }
  //---------------------------------
  .c-btn1 {
    margin-top: 42px;
    //---------------------------
    @include respond-to(768) {
      //---------------------------
      img { width: 100%; }
    }
    //------------------------------
  }
  //-----------------------------------
}
//p-shin2------------------------------------------
.p-shin2 {
  margin-top: 120px;
  margin-bottom: 118px;
  .c-box1 {
    border: 1px solid #ccc;
  }
  //-------------------------------
  @include respond-to(768) {
    margin: 93px 0 31px;
    //----------------------------
    .c-box1 {
      border: none;
      background: none;
    }
    //----------------------------
    .l--flex { justify-content: space-around; }
    //----------------------------
    .l-arrow2 {
      width: 15px;
      margin: 14px auto 0 -18px;
    }
    //----------------------------
    .c-y1__text1 {
      margin: 15px 0 9px;
      img { width: 99px; }
    }
    //----------------------------
    .c-arrow1 {
      width: 137px;
      padding: 6px 0;
      font-size: 1.3rem;
    }
    //----------------------------
    .c-y1__img1 { width: 63px; }
  }
  //--------------------------------------
  .c-title1 {
    margin-bottom: 50px;
    @include respond-to(768) { margin-bottom: 28px; }
  }
  //-----------------------------------
  .c-table1 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    @include respond-to(768) {
      border-left: none;
      border-right: none;
    }
    tr {
      &:nth-child(even) {background: #f8f8f8;}
      &:nth-child(odd) {background: #FFF;}
      @include respond-to(768) {
        &:nth-child(even) {background: none;}
        &:nth-child(odd) {background: none;}
      }
    }
  }
  //-----------------------------------
  .wrap__inner1 {
    padding: 32px 0;
    //---------------------------------
    @include respond-to(768) {
      width: 302px;
      padding: 20px 0 30px;
    }
    //---------------------------------
  }
  //------------------------------------
  .c-y1:last-child { margin-right: 3px; }
  //------------------------------
  &-link1 {
    text-align:  left;
    margin-top: 25px;
    font-size:  1.5rem;
    font-weight:  200;
    //------------------------------
    @include respond-to(768) {
      margin: 15px auto 0;
      text-align: center;
      //---------------------------
      .c-btn2 {
        display: block;
        width: 280px;
        margin: 0 auto;
      }
      //---------------------------
      .p-shin2-link1__text1 {
        margin: 11px auto 15px;
        display: block;
        width: 261px;
        font-size: 1.2rem;
      }
      //---------------------------
    }
    //------------------------------
    .c-btn2--green {
      margin-right:  10px;
      @include respond-to(768) {
        margin: 0 auto;
      }
    }
    //------------------------------
    .c-btn2--blue {
      margin: 0 18px;
      @include respond-to(768) {
        margin: 0 auto;
      }
    }
  }
  //---------------------------------
  .c-tab1 .wrap__inner1 {
    width: 320px;
    padding-bottom: 0;
  }
}
//p-shin3-----------------------------------
.p-shin3 {
  position: relative;
  height: 786px;
  background: url(../img/i-rebg.png) no-repeat top;
  color: white;
  font-size: 18px;
  font-weight: 200;
  @include respond-to(768) {
    height: auto;
    background: none;
    background-size: contain;
    .c-shin1-btn1 { font-size: 1.4rem; }
  }
  //-------------------------------------
  .p-shin3-bg1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
  }

  //-------------------------------------
  .wrap {
    align-items:  center;
    vertical-align: middle;
    top: 180px;
    left: 23px;
    @include respond-to(768) {
      position: absolute;
      left: 0;
      top: 66px;
      margin-top: 0;
    }
  }
  //------------------------------------
  h1 {
    font-size: 4.8rem;
    font-weight: 400;
    margin-bottom: 54px;
    //-----------------------------
    @include respond-to(768) {
      margin-bottom: 28px;
      font-size: 2.8rem;
    }
    //------------------------------------
    img {
      margin-right: 13px;
      //-------------------------------
      @include respond-to(768){
        width: 165px;
        display: block;
        margin: 0 auto 10px;
      }
      //------------------------------
    }
    //----------------------------
  }
  //------------------------------------
  h3 {
    font-size: 3.2rem;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
    //-----------------------------------
    @include respond-to(768) {
      font-size: 1.6rem;
    }
    //--------------------------------
  }
  //------------------------------------
  .l--flex {
    align-items: flex-start;
    justify-content: space-between;
    //---------------------------------
    @include respond-to(768) {
      display: block;
    }
    //----------------------------------
  }
  //------------------------------------
  &--mb1 {
    margin-bottom: 26px;
    //-----------------------------------
    @include respond-to(768) {
      margin-bottom: 22px;
      padding: 0 10%;
      font-size: 1.2rem;
    }
    //-----------------------------------
  }
  //-------------------------------------
  &-btn1 {
    padding: 32px 125px;
    img {
      margin-right: 10px;
      vertical-align: bottom;
    }
    //----------------------------------
    @include respond-to(768) {
      padding: 15px 80px;
      img {
        width: 15px;
        margin-right: 6px!important;
      }
      //--------------------------------
    }
    //----------------------------------
  }
  //------------------------------------
  &-btn2 {
    padding: 21px 97px;
    margin-right: 43px;
    font-size: 1.5rem;
    img { margin-top: 8px; }
    //----------------------------------
    @include respond-to(768) {
      display: block;
      padding: 8px 83px;
      margin: 0 auto;
      //-------------------------------
      img {
        width: 115px;
       }
       //------------------------------
    }
    //---------------------------------
  }
  //------------------------------------
  .wrap__inner1 {
    width: 924px;
    //-----------------------------------
    p {
      margin-top: 12px;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 300;
      line-height: 18px;
      margin-left: -53px;
      //--------------------------------
      @include respond-to(768) {
        margin-left: 0;
        font-size: 1.0rem;
      }
      //-------------------------------
    }
    //---------------------------------
    @include respond-to(768) { width: auto; }
  }
  //------------------------------------
  &-box1 {
    @include respond-to(768) { margin-top: 10px; }
  }
  //------------------------------------
}
//p-shin4----------------------------------
.p-shin4 {
  margin-top: -20px;
  position: relative;
  display: block;
  //-------------------------------------
  @include respond-to(768) { margin-top: 40px; }
  .c-title1 {
    margin-bottom: 50px;
    //-----------------------------------
    img { margin-right: 8px; }
    //------------------------------------
    @include respond-to(768) {
      margin-bottom: 25px;
      //----------------------------------
      img {
        width: 181px;
        margin-right: 5px;
      }
      //----------------------------------
    }
    //------------------------------------
  }
  //-----------------------------------
  &-box1 {
    width: 1003px;
    padding: 30px 32px 37px;
    margin: 0 auto;
    background:  white;
    text-align:  left;
    font-size: 1.5rem;
    box-sizing:  border-box;
    border: 1px solid #ccc;
    //------------------------------------
    @include respond-to(768) {
      width: 91%;
      max-width: 350px;
      padding: 15px 16px;
      font-size: 1.2rem;
      border: none;
      //----------------------------------
      .l--flex { display: block }
      //----------------------------------
      .c-box1__img1 {
        //--------------------------------
        img {
          width: 135px;
          display: block;
          margin: 0 auto;
        }
        //---------------------------------
      }
      //-----------------------------------
    }
  }
  //-----------------------------------
  &__textb1 {
    display: block;
    font-weight: 300;
    margin-left: 29px;
    margin-top: 8px;
    //-----------------------------------
    @include respond-to(768) {
      margin: 0;
    }
    //------------------------------------
    h3 {
      margin-bottom: 14px;
      font-size: 1.8rem;
      //-----------------------------------
      @include respond-to(768) {
        text-align: center;
        color: #3c3c3c;
        margin: 15px 0;
        font-size: 1.6rem;
      }
      //---------------------------------
    }
    //-------------------------------------
  }
  //-----------------------------------
  &_textb2 {
    margin-top: 21px;
    background: #f0f0f0;
    padding: 19px 40px;
    box-sizing: border-box;
    //-------------------------------------
    @include respond-to(768) { padding: 13px 30px; }
    //---------------------------------
    li {
      text-indent: -.7em;
      margin-bottom:  10px;
      //---------------------------------
      &::before {
        content: "• ";
        margin-right: 2px;
        color: #33c49d;
      }
      //------------------------------
      &:last-child {
        margin-bottom: 0;
      }
      //-------------------------------------
    }
    //--------------------------------
  }
  //--------------------------------
}
//p-shin5---------------------------------------
.p-shin5 {
  margin: 118px 0 117px;
  font-size:  1.5rem;
  display:  block;
  //-------------------------------------
  @include respond-to(768) {
    margin: 50px 0;
    .c-list1 {
      width: 288px;;
      margin: 0 auto;
      flex-wrap: wrap;
    }
    .c-list1__img {
      width: 136px;
    }
    .c-list1__card1 {
      margin-bottom: 15px;
    }
    .c-list1__info p {
      margin: 42px 0;
      color: red;
      font-size: .9rem;
    }
  }
  //-------------------------------------
  .c-title1 {
    margin-bottom: 50px;
    //-------------------------------------
    @include respond-to(768) {
      margin-bottom: 25px;
      //-------------------------------------
      img {
        width: 126px;
        margin-right: 6px;
      }
      //-------------------------------------
    }
    //-------------------------------------
  }
  //-------------------------------------
}

//p-shin6---------------------------------------
.p-shin6 {
  height: 616px;
  font-size:  1.5rem;
  color:  white;
  text-align: left;
  //-------------------------------------
  .l--hidden { height: 616px; }
  //-------------------------------------
  @include respond-to(768) {
    height: auto;
    //-------------------------------------
    .l--hidden {
      height: auto;
      overflow: unset;
    }
    //-------------------------------------
    .wrap {
      width: 91%;
      max-width: 350px;
    }
    //-------------------------------------
  }
  //------------------------------------
  h2 {
    font-size: 5.7rem;
    color:  black;
    font-weight:  100;
    //-------------------------------------
    @include respond-to(768) {
      margin-bottom: 24px;
      font-size: 2.8rem;
      text-align: center;
    }
    //-------------------------------------
  }
  //------------------------------------
  table {
    width:  auto;
    color:  white;
    //-------------------------------------
    @include respond-to(768) {
      width: 95%;
      margin: 0 auto;
    }
    //--------------------------------
    tr {
      vertical-align: text-top;
      border-bottom: 1px solid #636f75;
      //-----------------------------
      td {
        padding: 9px 0;
        line-height: 21px;
        @include respond-to(768) {
          padding: 5px 0;
        }
      }
      //-----------------------------
      td {
        &:nth-of-type(2),
        // &:nth-of-type(3),
        // &:nth-of-type(4) 
        {
          text-align: left;
          border:  none;
          padding-left: 10px;
          @include respond-to(768) {
            padding-left: 0;
            font-size: 1.2rem;
            font-weight: 100;
          }
        }
        &:first-child {
          width: 154px;
          img { vertical-align: middle; }
          @include respond-to(768) {
            padding-bottom: 0;
            font-size: 1.4rem;
            width: auto;
          }
        }
      }
      //------------------------------
      @include respond-to(768) {
        //-------------------------------------
        td {
          display: block;
          text-align: center!important;
        }
        //-------------------------------------
        &:last-child { border-bottom: none; }
      }
    }
    //-----------------------------------
  }
  //-----------------------------------
  .c-map {
    position: absolute;
    left: -240px;
    top: 117px;
    //-------------------------------------
    iframe {
      width: 1106px;
      height: 480px;
    }
    //-------------------------------------
    @include respond-to(768) {
      position: relative;
      top: 0;
      left: 0;
      //-------------------------------------
      img { width: 100%; }
      //-------------------------------------
      iframe {
        width: 100%;
        height: 340px;
      }
    }
  }
  //------------------------------------
  .c-contact2 {
    position: relative;
    right: -901px;
    top: -41px;
    padding: 83px 60px 70px;
    //-------------------------------------
    @include respond-to(768) {
      width: 100%;
      right: 0;
      top: 0;
      padding: 25px 12px;
    }
    //-------------------------------------
  }
  //-------------------------------------
  .c-contact2--bg {
    content: url(../img/i-bgcontact.png);
    width: 760px;
    height: 417px;
    position: absolute;
    z-index: -1;
    top: 101px;
    left: 840px;
  }
  //------------------------------------
}

//p-shin7-------------------------------
.p-shin7 {
  margin-top: 77px;
  padding: 103px 0 97px;
  background: #eeeeee;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  @include respond-to(768) {
    margin-top: 40px;
    padding: 40px 0;
    font-size: 1.2rem;
    small {
      display: block;
      margin: 0 16px;
      text-align: center;
    }
  }
  //----------------------------------
  h2 {
    margin-bottom: 14px;
    @include respond-to(768) { 
      margin-bottom: 7px;
      img { width: 181px; }
    }
  }
  //----------------------------------
  h3 {
    font-size: 3.2rem;
    color:  #aeaeae;
    font-weight: 100;
    margin-bottom: 50px;
    @include respond-to(768) {
      margin-bottom: 22px;
      font-size: 1.6rem;
    }
  }
  //----------------------------------
}
