@charset "UTF-8";

@mixin fs($fontSize, $baseFontSize:10){
	font-size: #{$fontSize / $baseFontSize}rem;
}
// example:
// @include fs(15);
// @include fs(20, 13);

%cf {
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// example:
// @extend %cf;

@mixin cf{
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
// example:
// @extend cf;


//dang_tho
//extend class
%tb {
  //------------------------------------------
  &-flex { display: flex; }
  //------------------------------------------
}

//responsive
@mixin respond-to($media) {
  @media only screen and (max-width: $media + 'px') {
    @content;
  }
}

//responsive minwidth
@mixin respond-toSP($media) {
  @media only screen and (min-width: $media + 'px')
  and (orientation:landscape) {
    @content;
  }
}

//ie10->11
@mixin ie() {
  //----------------------------------------
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    @content;
  }
  //----------------------------------------
}

@mixin wrap {
  display: block;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

@mixin active {
  font-weight: bold;
  background: #fff;
  border: 1px solid #999;
  border-bottom: none;
}

@mixin multiple-line($fontSize, $lineHeight, $linesToShow) {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: $fontSize*$lineHeight*$linesToShow;
  font-size: $fontSize;
  line-height: $lineHeight;
  -webkit-line-clamp: $linesToShow;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin modal-button() {
  display: inline-block;
  height: 85px;
  position: absolute;
  top: 67%;
  bottom: 0;
  cursor: pointer;
  background: none;
}
