@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*----------------------------------------------
	Headline
----------------------------------------------*/
.l-wrap { @include wrap; }

/*---------------------------------------------
  Component show following divice size.
---------------------------------------------*/
.c-pc {
  //-------------------------------------------
  @include respond-to(768) { display: none; }
  //-------------------------------------------
}

//show on smartphone---------------------------
.c-sp {
  display: none;
  //-----------------------------------
  @include respond-to(768) { display: block; }
  //---------------------------------------
  &--inline {
    display: none;
    //-----------------------------------
    @include respond-to(768) { display: inline-block; }
  }
  //---------------------------------------
}

/*-----------------------------------------
  menu Smartphone
-----------------------------------------*/
.c {
  //---------------------------------------
  &-menuSP {
    position: absolute;
    box-sizing: border-box;
    top: 11px;
    right: 14px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
    z-index: 9999;
    background: #4471c6;
    border-radius: 4px;
    //-------------------------------------
    &__1, &__2, &__3 {
      width: 15px;
      height: 2px;
      background: #fff;
      margin: 5px auto auto;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    //-------------------------------------
  }
  //---------------------------------------
  &-menulistSP {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    display: none;
    background: rgba(68, 113, 198, 0.65);
    //-------------------------------------
    li {
      position: relative;
      border-top: 1px solid #7998ce;
    }
    //-------------------------------------
    a {
      text-decoration: none;
      display: block;
      text-align: left;
      color: #ffffff;
      font-size: 1.4rem;
      padding: 19px 15px;
      //-----------------------------------
      @include respond-to(768) {
        font-size: 1.5rem;
      }
      //-----------------------------------
    }
    //-------------------------------------
  }
  //---------------------------------------
}

/*-----------------------------------------
  menu responsive
-----------------------------------------*/
.is-open {
  transition: all 0.5s;
  .c-menuSP__1 {transform: rotate(45deg) translate(6px, 6px);}
  .c-menuSP__2 {opacity: 0;}
  .c-menuSP__3 {transform: rotate(-45deg) translate(4px, -4px);}
}

/*-----------------------------------------------
  Table
-----------------------------------------------*/
.c {
  &-table1 {
    //-------------------------------------------
    table {
      width:  100%;
      height:  auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse:  collapse;
      tr {
        width: 100%;
        vertical-align: text-top;
        border: 1px solid #d4d4d4;
        &>th {
          width: 209px;
          background: #f6f6f6;
          font-weight: normal;
          border-right: 1px solid #d4d4d4;
        }
        &>th,td { padding: 19px 20px 18px; }
      }
    }
    //------------------------------------------
  }
  //--------------------------------------------
}

/*-----------------------------------
*@header
-----------------------------------*/
.c-header {
  position: relative;
  display: block;
  padding: 30px 0 68px;
  //---------------------------------
  &__inner { @include wrap; }
  //---------------------------------
  h1 {
    padding: 40px 0;
    font-size: 3.8rem;
  }
  //---------------------------------
}

/*-----------------------------------
*@tab link
-----------------------------------*/
.c-tabs__link {
  margin:0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #999;
  @extend %cf;
  //---------------------------------
  li {
    float: left;
    border-bottom: none;
    //-------------------------------
    a {
      position: relative;
      display: block;
      padding:10px 20px;
      font-size: 16px;
      color: #000;
      text-decoration: none;
      //-----------------------------
      &:hover {
        background: #fff;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  .active {
    @include active;
    //-------------------------------
    a:hover { @include active;}
    //-------------------------------
    a:after {
      content: '';
      position: absolute;
      background-color: #fff;
      display: block;
      width: 100%;
      height: 9px;
      bottom: -3%;
      left: 0;
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
@Menu
-----------------------------------*/
.c-main-menu1 {
  //---------------------------------
  &:after { @extend %cf; }
  //---------------------------------
  li {
    float: left;
    //-------------------------------
    a {
      display: block;
      padding: 5px 10px 10px;
      font-size: 1.6rem;
      color: #000;
      text-align: center;
      text-decoration: none;
      transition: all ease 0.5s;
      //-----------------------------
      &:hover { border-bottom: 1px solid #000; }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
  .link-active {border-bottom: 1px solid #000; 
  }
  //---------------------------------
}

/*-----------------------------------
@Content
-----------------------------------*/
.c-tabs__content {
  //---------------------------------
  .c-ele1 {
    position: relative;
    padding: 20px 0 40px;
  }
  //---------------------------------
}

/*-----------------------------------
@List
-----------------------------------*/
.c-tabs__list1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  //---------------------------------
  .c-tabs__card1 {
    width: 30%;
    margin: 0 16px 20px;
    cursor: pointer;
    //-------------------------------
    .c-img1 img { width: 100%;}
    //-------------------------------
    .c-content1 {
      text-align: justify;
      padding: 10px 10px;
      //-----------------------------
      p {
        @include multiple-line(14, 1.6, 3);
        margin-bottom: 10px;
      }    
      //-----------------------------
    }
    //-------------------------------
    .c-tag {
      padding: 5px 0;
      background: #ccc;
      font-size: 1.5rem;
    }
    //-------------------------------
    .c-lug {
      //-----------------------------
      .fa-tag {
        color: #922310;
        margin-right: 6px;
        font-size: 1.6rem;
      }
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}

/*-----------------------------------
@Select box
-----------------------------------*/
.c-main-select {
  display: flex;
  align-items: center;
  //---------------------------------
  select {
    position: relative;
    width: 200px;
    margin-right: 20px;
    padding: 7px 20px;
    background-image: none;
    background: #fafafa no-repeat 90% 50%;
  }
  //---------------------------------
}

/*-----------------------------------
*@Modal
-----------------------------------*/
.show-modal {
  display: none;
  position: fixed;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 100%!important;
  height: 100%!important;
  background-color: rgba(0, 0, 0, 0.74);
  cursor: initial !important;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0, 0,.3, 1.6);
  //----------------------------------
  .modal-content {
    position: relative;
    top: 50%;
    width: 65%;
    max-width: 600px;
    margin: 100px 0;
    left: 50%;
    transform: translate(-50%, -43%);
    background-color: white;
  }
  //----------------------------------
  .modal-prev {
    @include modal-button;
    right: 75%;
    //--------------------------------
    .fa-chevron-left {
      font-size: 8.8rem;
      color: #fff;  
    }
    //--------------------------------
  }
  //----------------------------------
  .modal-next {
    @include modal-button;
    left: 75%;
    //--------------------------------
    .fa-chevron-right {
      font-size: 8.8rem;
      color: #fff;
    }
    //--------------------------------
  }
  //----------------------------------
  .close-button {
    position: absolute;
    display: inline-block;
    top: -54px;
    right: -1px;
    font-size: 39px;
    line-height: 1.0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: lightgray;
    //--------------------------------
    &:hover { background-color: darkgray; }
    //--------------------------------
  }
  //----------------------------------
  .c-img1 {
    display: block;
    width: 100%;
    height: 450px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  //-------------------------------
  .c-content1 {
    text-align: justify;
    padding: 10px 10px;
    //-----------------------------
    p {
      margin-bottom: 10px;
    }    
    //-----------------------------
  }
  //-------------------------------
  .c-tag {
    padding: 5px 0;
    background: #ccc;
    font-size: 1.5rem;
  }
  //-------------------------------
  .c-lug {
    //-----------------------------
    .fa-tag {
      color: #922310;
      margin-right: 6px;
      font-size: 1.6rem;
    }
    //-----------------------------
  }
  //----------------------------------
}
//------------------------------------
.modal-active { display: block; }
//------------------------------------


/*------------------------------------
*----------animation CSS3-------------
------------------------------------*/

//make effect for modal box-----------
@keyframes modalbox {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
