/*--------------------------------------------------
  Private element
--------------------------------------------------*/
/*----------------------------------------
* top-1
----------------------------------------*/
.p-top1 {
  position: relative;
  padding: 73px 0;
  background: #f1eae3;
}

@media only screen and (max-width: 767px) {
  .p-top1 {
    padding: 40px 20px 20px;
  }
}

.p-top1__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .p-top1__inner {
    display: block;
  }
}

.p-top1 .block1 {
  position: relative;
  width: 370px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 767px) {
  .p-top1 .block1 {
    width: auto;
    margin-bottom: 20px;
  }
}

.p-top1 .block1:hover {
  opacity: 0.8;
}

.p-top1 .block1__img img {
  width: 100%;
}

.p-top1 .block1__info1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: rgba(37, 28, 33, 0.79);
}

@media only screen and (max-width: 767px) {
  .p-top1 .block1__info1 {
    padding: 9px 0;
  }
  .p-top1 .block1__info1 img {
    width: 200px;
  }
}

.p-top1 .block1__info2 {
  position: absolute;
  top: 37%;
  left: 18px;
}

.p-top1 .block1__info3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 36%;
}

/*----------------------------------------
* top-2
----------------------------------------*/
.p-top2 {
  display: block;
  position: relative;
  padding: 72px 0;
}

@media only screen and (max-width: 767px) {
  .p-top2 {
    padding: 40px 20px 40px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top2 .c-top2__box1 {
    margin-bottom: 40px;
  }
}

/*----------------------------------------
* top-3
----------------------------------------*/
.p-top3 {
  display: block;
  position: relative;
  padding-bottom: 46px;
}

@media only screen and (max-width: 767px) {
  .p-top3 {
    padding: 0 20px 40px;
  }
}

.p-top3 .line {
  margin-top: 73px;
  width: 100%;
  height: 1px;
  background: #f1eae3;
}

@media only screen and (max-width: 767px) {
  .p-top3 .line {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top3 .c-list2__card:not(:last-child) {
    margin-bottom: 20px;
  }
}

/*-----------------------------------------
 p-top4
-----------------------------------------*/
.p-top4 {
  display: block;
  position: relative;
  padding: 73px 0 69px;
  background: url(../img/bg2.jpg) no-repeat left top;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
  .p-top4 {
    padding: 40px 20px;
  }
}

.p-top4__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .p-top4__inner {
    display: block;
  }
}

.p-top4__box1 {
  width: 869px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 34px 48px 35px;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .p-top4__box1 {
    width: auto;
    padding: 24px 24px;
    margin-bottom: 30px;
  }
}

.p-top4__box1 .box1__title1 {
  position: relative;
}

.p-top4__box1 .box1__title1 h2 {
  display: inline-block;
  padding-bottom: 30px;
  border-bottom: 1px solid #c7b299;
  font-size: 1.8rem;
  font-weight: 500;
  color: #362f2d;
}

@media only screen and (max-width: 767px) {
  .p-top4__box1 .box1__title1 h2 {
    padding-bottom: 13px;
    font-size: 1.6rem;
  }
}

.p-top4__box2 {
  position: relative;
  display: block;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-bottom: none;
}

.p-top4__box2 .box2-list1__card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 271px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 0;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-top4__box2 .box2-list1__card1 {
    width: auto;
    padding: 14px 0;
  }
}

.p-top4__box2 .box2-list1__card1 .icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .p-top4__box2 .box2-list1__card1 .icon {
    width: 15%;
  }
}

.p-top4__box2 .box2-list1__card1 .icon img {
  position: relative;
  top: -4px;
  left: 11px;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .p-top4__box2 .box2-list1__card1 .icon img {
    top: -4px;
    left: 0;
  }
}

.p-top4__box2 .box2-list1__card1 .info {
  width: 73%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 8px;
}

@media only screen and (max-width: 767px) {
  .p-top4__box2 .box2-list1__card1 .info {
    width: 85%;
  }
}

.p-top4__slider1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .p-top4__slider1 {
    margin-top: 12px;
  }
}

.p-top4__slider1 .slider1__img1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  height: 97px;
  margin: 10px 35px;
  padding: 25px 0;
  border: 1px solid #c7b299;
}

.p-top4__slider1 .slider1__img1 img {
  margin: 0 auto;
}

.p-top4__slider1 .slick-arrow {
  display: inline-block;
  background: no-repeat;
  height: auto;
}

.p-top4__slider1 .slick-arrow .fas {
  font-size: 3.0rem;
  color: #362f2d;
}

.p-top4__slider1 .slick-prev {
  position: relative;
  left: -36px;
}

@media only screen and (max-width: 767px) {
  .p-top4__slider1 .slick-prev {
    left: -16px;
  }
}

.p-top4__slider1 .slick-next {
  position: relative;
  right: -34px;
}

@media only screen and (max-width: 767px) {
  .p-top4__slider1 .slick-next {
    right: -16px;
  }
}
