@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	width: 100%;
	min-width: 960px;
	max-width: 1920px;
	font-size: 14px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}

#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}

.l-main {
	@include cf;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		font-size: 1.1rem;
		font-weight: normal;
	}
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}

/*------------------------------------------------------------
  Layout Shouwa project
------------------------------------------------------------*/

.l {
  &--left { float: left; }
  &--right { float: right; }
  &--posright0 {
    position: absolute;
    right: 0;
  }
  &--posleft0 {
    position: absolute;
    left: 0;
  }
  &--flex {
    display:  flex;
    justify-content: space-between;
    margin-bottom: 12px;
    &--start { justify-content: flex-start; }
  }
  //----------------------------------
  &-content {
    display:  grid;
    grid-template-columns: 220px auto;
    position:  relative;
    //-------------------------
    @include ie() {
      display: flex;
    }
    //-------------------------
  }
  //---------------------------
  &-leftmenu {
    display: block;
    background: #1085b0;
    height: 99.7%;
    position: relative;
    z-index: 9999;
    &--fullheight { height: auto; }
    //-------------------------
    @include ie() {
      width: 220px;
      flex-shrink: 0;
      height: auto;
      flex-grow: 0;
    }
    //-------------------------
  }
  //---------------------------
  &-main {
    @include ie() {
      flex-grow: 10;
    }
  }
  //---------------------------
  &--ml1 { margin-left: 10px; }
}
