@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/

.c-wrap {
  display:  block;
  width: 960px;
  height: auto;
  margin: 0 auto;
  z-index: 999;
  position: relative;
  @include cf;
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/

/*------------------------------------------------------------
  Component index
------------------------------------------------------------*/

.c {
  //--------------------------
  &-index {
    //------------------------
    &__img {
      position: relative;
      left: -374px;
      top: -147px;
      float: left;
      img {width: 919px;}
    }
    //------------------------
    &-boxtext1 {
      position: absolute;
      right: 0;
      width: 415px;
      height: 370px;
      text-align: left;
      z-index: 1;
      line-height: 1.7;
    }
    //main title----------------------------
    &-maintit {
      margin-bottom: -7px;
      //------------------------
      .l--flex {
        justify-content:  flex-start;
        padding: 48px 0 20px;
      }
      //------------------------
    }
    //------------------------
    &-titletext { margin-left: 15px; }
    //----------------------
    &-boxtext1 {
      //-----------------------
      p {
        color:  #fff;
        font-size:  14px;
      }
      //-----------------------
      .c-btnmore1 {
        display:  inline-block;
        width: 212px;
        margin-top: 28px;
        padding: 10px 0;
      }
    }
    //-----------------------
  }
  //index banner-------------------------
  &-mbanner {
    background: url(../img/h-bg1.jpg) no-repeat;
    background-size: cover;
    height: 1036px;
    &--bg {
      position:  relative;
      width: 100%;
    }
    //---------------------------
    &-content {
      h2 { padding-top: 280px; }
    }
  }
  //-----------------------------
  &-boxmenu1 {
    //---------------------------
    &__bgwhite {
      background:  #ffffff;
      padding: 18px 18px 20px;
    }
    //---------------------------
  }
  //---------------------------
  &-h {
    //-------------------------
    &_text1 {
      padding-bottom:  18px;
      margin-bottom: 18px;
      text-align: left;
      font-size:  11px;
      border-bottom: 1px solid #269eca;
    }
    //------------------------
  }
  //---------------------------
  &-menu {
    //--------------------------
    &-list {
      padding-top:  31px;
      font-size: 17px;
      //-----------------------
      li {
        margin-bottom:  21px;
        display:  block;
        //-----------------------
        &:last-child { margin-bottom: 0; }
      }
      //-----------------------
      a {
        color:  #fff;
        text-decoration:  none;  
      }
    }
    //--------------------------
    &-info {
      margin-top: 466px;
      background: #269eca;
      padding: 18px 0 16px;
      //-------------------------
      @include ie() {
        margin-top: 462px;
      }
      //-------------------------
      h3 { margin-bottom: 20px; }
    }
    //-------------------------
    &-listimg {
      li {
        margin-bottom: 9px;
        &:last-child {margin-bottom: 0;} 
      }
      //------------------
    }
    //---------------------
  }
  //index3--------------------------
  &-index3 {
    //--------------------------
    &__boxtext {
      width: 216px;
      margin-left: 18px;
      padding-top: 7px;
      color:  white;
      text-align:  left;
      font-size: 14px;
      //----------------------
      h3 {
        font-size:  22px;
        margin-bottom: 10px;
        span {
          margin-left: -3px;
          font-size: 15px;
        }
      }
      //------------------------
      p { line-height: 1.7; }
    }
    //--------------------------
  }
  //--------------------------
  &-btnmore1 {
    margin-top: 17px;
    padding: 6px 0;
    border: 1px solid white;
    text-align: center;
    //------------------------
    a {
      display: block;
      font-size:  14px;
      color: white;
      text-decoration: none;
      //----------------------
      img {
        vertical-align:  middle;
        margin-left: 5px;
      }
      //----------------------
    }
    //------------------------
  }
  //------------------------
  &-footer {
    color: #fff;
    background: #269eca;
    padding: 40px 0 22px;
    text-align: left;
    &-boxtext {
      //--------------------
      p {
        margin-top: 21px;
        font-size: 12px;
      }
      //--------------------
    }
    //----------------------
    .c-menu-listimg {
      margin: 0 40px 0 43px;
      li { margin-bottom: 5px; }
    }
    //----------------------
    &-list1 {
      margin-right: 28px;
      font-size: 13px;
      //---------------------
      a {
        color: white;
        text-decoration: none;
        //---------------------
        img {
          vertical-align:  middle;
          margin-right: 5px;
        }
        //---------------------
      }
      //---------------------
    }
    //---------------------
  }
  //-------------------------
  &-copyright {
    font-size:  12px;
    color: #666666;
    padding: 15px 0 24px;
  }
  //---------------------
  &-btnscroll {
    position: absolute;
    bottom: -537px;
    left: 462px;
  }
  //-----------------------
  &-btn1 {
    a { display: block; }
  }
  //------------------------
  &-banner {
    display:  block;
    position:  relative;
    height:  300px;
  }
  //------------------------
  &-title1 { padding-top: 73px; }
  //breadcrumb1------------------------
  &-breadcrumb1 {
    padding: 30px 0 41px;
    ul { display: flex; }
    //---------------------
    li {
      line-height: 1;
      font-size: 1.2rem;
      //-------------------
      &:after {
        content: ">";
        display: inline-block;
        margin: 0 5px;
      }
      &:last-child:after { content: ""; }
      //-------------------
      a {color: #1085b0;}
      //-------------------
    }
    //---------------------
  }
  //------------------------
  &-h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    position:  relative;
    &:before {
      content:  '';
      display:  block;
      width: 60px;
      height:  5px;
      position: relative;
      background: #269eca;
      margin:  0 auto;
      margin-bottom: 30px;
    }
  }
  //------------------------
  &-imgtext1 {
    display: flex;
    //------------------
    &__img { margin-right: 29px; }
    //------------------
    &__text {
      font-size:  14px;
      text-align:  left;
      line-height: 1.7;
      flex: 1;
      //--------------------
      h3 {
        font-size:  20px;
        font-weight:  bold;
        color: #269eca;
        margin-bottom:  13px;
      }
      //--------------------
    }
    //-----------------
  }
  //list1-----------------------
  &-list1 {
    display: flex;
    flex-wrap: wrap;
    &--col3 {
      .c-list1__card:nth-child(4n+1) { margin-left: 30px; }
      .c-list1__card:nth-child(3n+1) { margin-left: 0px; }
    }
    //-------------------------
    &__card {
      margin-bottom: 30px;
      margin-left: 30px;
    }
    //-------------------------
    &:nth-child(4n+1) {margin-left: 0;}
    &__img1 { position: relative; }
    //-------------------------
    &--lookup {
      position:  absolute;
      z-index: 1;
      bottom: 11px;
      right: 15px;
    }
    //---------------------
    &__tit1 {
      padding: 15px 0;
      background: #269eca;
      //-------------------
      h3 {
        font-size:  20px;
        color:  white;
      }
      //-------------------
    }
    //---------------------
    &__text {
      padding: 14px 0;
      line-height: 1.7;
      color: #333333;
      background: #e0f4fc;
    }
    //-------------------
  }
  //boxflow1-----------------------
  &-boxflow1 {
    //----------------------
    &-tit1 {
      text-align:  left;
      font-size:  20px;
      color: #269eca;
      h2 { margin-bottom: 6px; }
      //--------------------
      img {
        vertical-align:  middle;
        margin-right:  10px;
      }
      //-------------------
      &:after {
        content: url(../img/flow/i-arrow.png);
        position: absolute;
        left: 15px;
        margin-top: 8px;
      }
      //---------------------
    }
    //end tit1----------------------
    &--relative {
      position: relative;
      left: 79px;
      width: 880px;
      box-sizing:  border-box;
      justify-content:  flex-start;
    }
    //---------------------------
    &__img1 { margin-right: 28px; }
    //---------------------------
    &__text1 { text-align:  left; }
  }
  //end boxflow1----------------------
  &-commit3 {
    position:  relative;
    @include cf;
    //----------------------------
    &__text1 {
      width: 400px;
      padding: 40px;
      top: 38px;
      line-height: 1.7;
      box-sizing: border-box;
      text-align:  left;
      background: #e0f4fc;
      //-----------------------
      h4 {
        font-size: 20px;
        color: #269eca;
        margin-bottom: 25px;
        text-align:  justify;
      }
      //------------------------
      p {
        margin-bottom:  40px;
        &:last-child { margin-bottom: 0; }
      }
    }
    //end text1----------------------------
    &--padbt1 { padding-bottom: 91px; }
    //end padbt1----------------------------
    &--padbt2 { padding-bottom: 117px; }
    //end padbt2----------------------------
    &--padbt3 { padding-bottom: 78px; }
    //end padbt3----------------------------
  }
  //end commit3----------------------------
  &-input1--width1 { width: 150px!important; }
  //---------------------------
}

/*-----------------------------------------------
Table
-----------------------------------------------*/

.c {
  &-table1 {
    table {
      width:  100%;
      height:  auto;
      border-spacing: 0;
      border-bottom: 1px solid #d4d4d4;
      border-collapse:  collapse;
      //------------------------
      tr {
        width: 100%;
        vertical-align: text-top;
        border-top: 1px solid #d4d4d4;
        //------------------------
        &>th {
          width: 159px;
          background: #e0f4fc;
          font-weight: normal;
          padding: 18px 0 20px 20px;
        }
        //------------------------
        td {
          padding-left: 21px;
          padding-bottom: 16px;
          line-height: 1.7;
        }
        //-------------------------
      }
      //-------------------------
    }
    //------------------------
  }
}

/*-----------------------------------------------------
  form
-----------------------------------------------------*/

.c {
  //-------------------------------------
  &-form1 {
    //------------------------------------------------
    table {
      border-bottom: 1px solid #e5e5e5;
      //------------------------------------------------
      tr {
        border-top: 1px solid #e5e5e5;
        //------------------------------------------------
        &>th {
          vertical-align: top;
          width: 210px;
          box-sizing: border-box;
          padding: 20px;
        }
      }
      //------------------------------------------------
      td {
        padding: 21px 21px 14px 21px !important;
        //------------------------------------------------
        input[type="text"] {
          width:  100%;
          box-sizing:  border-box;
          height:  29px;
          padding: 9px 10px;
          font-size: 1.4rem;
          margin-bottom: 5px;
          border: 1px solid #dddddd;
        }
        //----------------------------------------------
        select {
          width: 150px;
          box-sizing:  border-box;
          height:  29px;
          padding: 0 17px;
          font-size: 1.4rem;
          margin-bottom: 5px;
          border: none;
          background: url(../img/contact/arrow.png) no-repeat 134px 10px;
          appearance: none;
          color: #a0a0a0;
          background-color: white;
          border: 1px solid #dddddd;
          //----------------------------------
          &::-ms-expand {display: none;}
          //----------------------------------
        }
        //----------------------------------------------
        //&:last-child { padding-left: 0 !important; }
      }
      //------------------------------------------------
      textarea {
        width: 100%;
        box-sizing:  border-box;
        resize: none;
        border: 1px solid #dddddd;
      }
    }
  }
  //-------------------------------------
  &-btn2 {
    display: inline-block;
    background: #d66363;
    font-size: 11px;
    color: white;
    padding: 1px 5px;
    text-decoration: none;
    &--gray { background: #999999; }
  }
  //----------------------------
  &-btn3 {
    display: inline-block;
    text-align:  center;
    margin: 50px auto 0;
  }
  //-----------------------------
}
